@using IgniteUI.Blazor.Controls

<div class="sample center">
  <section class="wrapper">
    <header>
      <IgbAvatar Initials="TO" Shape="AvatarShape.Circle" />
      <IgbBadge Outlined="true" Variant="@StyleVariant.Danger" />
    </header>
    <span>Terrance Orta</span>
  </section>
</div>

@code {

}
