@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<body>
    <div id="root">
        <div class="sample center">
            <IgbBadge Outlined="true" />
        </div>
    </div>
</body>

@code {

    protected override void OnInitialized()
    {
        IgbBadgeModule.Register(IgniteUIBlazor);        
    }
}