@using IgniteUI.Blazor.Controls

<div class="sample center">
  <div class="wrapper">
    <div>
      <IgbAvatar Initials="TO" Shape="AvatarShape.Circle" />
      <IgbBadge Outlined="true" Variant="@StyleVariant.Danger" />
    </div>
    <span>Terrance Orta</span>
  </div>
</div>

@code {

}