@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

    <div class="igContainer">    
        <div class="igComponent">
            @if (CountryNames != null)
            {
                <MultiColumnComboBox Height="50px" Width="400px"
                    DataSource="CountryNames"
                    TextField="Country"
                    Placeholder="Choose a country"/>
            }    
        </div>
    </div>

@code {


    protected List<CountryInfo> CountryNames;

    protected override void OnInitialized()
    {
        MultiColumnComboBoxModule.Register(IgniteUIBlazor);

        this.CountryNames = SampleComboData.Create().ToList();
            
    }
}
