@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
	<div class="igOptions">
        <span class="igLegend-title">Wind Speed</span>
        <div class="igLegend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="igComponent">

        <DataChart Height="100%" Width="100%"
                   Legend=Legend
                   SubtitleTopMargin="10"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">
            <NumericAngleAxis Name="angleAxis" StartAngleOffset="-90"
                              Interval="30"
                              MinimumValue="0"
                              MaximumValue="360" />
            <NumericRadiusAxis Name="radiusAxis"
                               RadiusExtentScale="0.9"
                               InnerRadiusExtentScale="0.1"
                               Interval="25"
                               MinimumValue="0"
                               MaximumValue="100" />

            <PolarLineSeries Name="series1"
                             DataSource="@DataSource"
                             AngleAxisName="angleAxis"
                             AngleMemberPath="Direction"
                             RadiusMemberPath="WindSpeed"
                             RadiusAxisName="radiusAxis"
                             ShowDefaultTooltip="true"
                             Thickness="1"
                             Title="Wind Speed"
                             MarkerType="@MarkerType.Circle" />
            <PolarLineSeries Name="series2"
                             DataSource="@DataSource"
                             AngleAxisName="angleAxis"
                             AngleMemberPath="Direction"
                             RadiusMemberPath="BoatSpeed"
                             RadiusAxisName="radiusAxis"
                             ShowDefaultTooltip="true"
                             Thickness="1"
                             Title="Boat Speed"
                             MarkerType="@MarkerType.Circle"/>
        </DataChart>

    </div>
</div>

@code {

    private List<SamplePolarItem> DataSource;
	private Legend _Legend;
    private Legend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    protected override void OnInitialized()
    {
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartPolarModule.Register(IgniteUIBlazor);
        DataChartPolarCoreModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
		LegendModule.Register(IgniteUIBlazor);

        DataSource = SamplePolarData.Create();
    }

}