@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igComponent">
        <GeographicMap Height="100%" Width="100%" Zoomable="true">
            <GeographicShapeSeries ShapefileDataSource="Data"
                                   Brush="rgba(146, 146, 146, 0.3)"
                                   Outline="Black"
                                   Thickness="1"/>
        </GeographicMap>
    </div>
</div>

@code {

    private ShapeDataSource Data;

    protected override void OnInitialized()
    {
        GeographicMapModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);

        Data = new ShapeDataSource()
        {
            ShapefileSource = "https://static.infragistics.com/xplatform/shapes/WorldCountries.shp",
            DatabaseSource = "https://static.infragistics.com/xplatform/shapes/WorldCountries.dbf"
        };
    }
}