
@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">

    <div class="container vertical">

        @if (Data != null)
        {
            <FinancialChart Width="100%"
                Height="100%"
                ChartType=FinancialChartType.Line
                Thickness=2
                DataSource="Data"
                ChartTitle="Stock Prices 1900-2020"
                Subtitle="1.1M data points"
                />
        }

    </div>
</div>

@code {

    List<StockItem> Data;
    public string Title { get; set; }
    public string SubTitle { get; set; }
    protected override void OnInitialized()
    {
        FinancialChartModule.Register(IgniteUIBlazor);
        InitData();
    }

    public void InitData()
    {
        var dateStart = DateTime.Now.AddYears(-5);
        var dateEnd = DateTime.Now.Date;

        StocksUtility.intervalDays = 0;
        StocksUtility.intervalHours = 1;
        StocksUtility.intervalMinutes = 0;
        this.Data = StocksUtility.GetStocksBetween(dateStart, dateEnd);
        Title = "Stock Prices " + dateStart.Year + "-" + dateEnd.Year;
        Console.WriteLine("DataItems " + this.Data.Count);
        SubTitle = StocksUtility.ToShortString(this.Data.Count) + " data points";
    }
}