
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div style="width: 500px; border: 1px solid gainsboro;">
        <IgbCalendar>
            @*TODO selection="range" header-orientation="vertical"*@
            <span slot="title">Trip dates</span>
        </IgbCalendar>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        IgbCalendarModule.Register(IgniteUIBlazor);
    }
}