
@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <style>
        igc-ripple {
            --color: olive;
        }
    </style>
    <div>
        <IgbButton>
            Ripple Color
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
</div>

@code {

}