@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options horizontal">
        <span class="options-item">Annotations: </span>
        <label class="options-item">
            <input type="checkbox" checked="true" @onchange="OnFinalValueCheckboxChange"/>Final Value
        </label>
        <label class="options-item">
            <input type="checkbox" checked="true" @onchange="OnCrosshairsCheckboxChange"/>Crosshairs
        </label>
        @*<label class="options-item">
            <input type="checkbox" checked="true" @onchange="OnValueOverlayCheckboxChange"/>Value Overlay
        </label>*@
    </div>

    <div class="container vertical">
        @if (Data != null)
        {
            <IgbDataChart Height="100%" Width="100%" IsVerticalZoomEnabled="true" IsHorizontalZoomEnabled="true" @ref="Chart">
                <IgbCategoryXAxis Name="xAxis" DataSource="Data" Label="Label" Interval="1"/>
                <IgbNumericYAxis Name="yAxis" Interval="20" MinimumValue="70" MaximumValue="110"
                              LabelLocation="AxisLabelsLocation.OutsideRight" />

                <IgbColumnSeries XAxisName="xAxis" YAxisName="yAxis" DataSource="Data" ValueMemberPath="Temperature"/>

                <IgbCrosshairLayer IsAxisAnnotationEnabled="true" YAxisAnnotationInterpolatedValuePrecision="0" @ref="CrosshairRef"/>
                <IgbFinalValueLayer @ref="FinalValueRef"/>
                <IgbValueOverlay AxisName="yAxis" Thickness="3" Brush="Orange" IsAxisAnnotationEnabled="true" Value="85" @ref="ValueOverlayRef"/>

            </IgbDataChart>
        }
    </div>
</div>

@code {

    private List<TemperatureItem> Data;
    private IgbDataChart Chart;
    private IgbCrosshairLayer CrosshairRef;
    private IgbFinalValueLayer FinalValueRef;
    private IgbValueOverlay ValueOverlayRef;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryModule.Register(IgniteUIBlazor);
        IgbDataChartAnnotationModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbCrosshairLayerModule.Register(IgniteUIBlazor);
        IgbFinalValueLayerModule.Register(IgniteUIBlazor);
        IgbValueOverlayModule.Register(IgniteUIBlazor);
        IgbAnnotationLayerProxyModule.Register(IgniteUIBlazor);

        this.InitData();
    }

    private void InitData()
    {
        int year = new DateTime().Year;

        this.Data = new List<TemperatureItem>() {
            new TemperatureItem(){Label = "JAN", Temperature= 74, Date= new DateTime(year, 1, 1) },
            new TemperatureItem(){Label = "FEB", Temperature= 74, Date= new DateTime(year, 2, 1) },
            new TemperatureItem(){Label = "MAR", Temperature= 76, Date= new DateTime(year, 3, 1) },
            new TemperatureItem(){Label = "APR", Temperature= 78, Date= new DateTime(year, 4, 1) },
            new TemperatureItem(){Label = "MAY", Temperature= 83, Date= new DateTime(year, 5, 1) },
            new TemperatureItem(){Label = "JUN", Temperature= 87, Date= new DateTime(year, 6, 1) },
            new TemperatureItem(){Label = "JUL", Temperature= 94, Date= new DateTime(year, 7, 1) },
            new TemperatureItem(){Label = "AUG", Temperature= 97, Date= new DateTime(year, 8, 1) },
            new TemperatureItem(){Label = "SEP", Temperature= 93, Date= new DateTime(year, 9, 1) },
            new TemperatureItem(){Label = "OCT", Temperature= 86, Date= new DateTime(year, 10, 1) },
            new TemperatureItem(){Label = "NOV", Temperature= 81, Date= new DateTime(year, 11, 1) },
            new TemperatureItem(){Label = "DEC", Temperature= 79, Date= new DateTime(year, 12, 1) }
        };
    }

    private void OnFinalValueCheckboxChange(ChangeEventArgs e)
    {
        bool val = (bool)e.Value;
        if (val)
        {
            this.Chart.ActualSeries.Add(this.FinalValueRef);
        }
        else
        {
            this.Chart.ActualSeries.Remove(this.FinalValueRef);
        }
    }

    private void OnCrosshairsCheckboxChange(ChangeEventArgs e)
    {
        bool val = (bool)e.Value;
        if (val)
        {
            this.Chart.ActualSeries.Add(this.CrosshairRef);
        }
        else
        {
            this.Chart.ActualSeries.Remove(this.CrosshairRef);
        }

    }

    private void OnValueOverlayCheckboxChange(ChangeEventArgs e)
    {
        bool val = (bool)e.Value;
        if (val)
        {
            this.Chart.ActualSeries.Add(this.ValueOverlayRef);
        }
        else
        {
            this.Chart.ActualSeries.Remove(this.ValueOverlayRef);
        }
    }

    private class TemperatureItem
    {
        public double Temperature { get; set; }
        public DateTime Date { get; set; }
        public string Label { get; set; }
    }
}
