@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div style="width: 400px; border: 1px solid gainsboro;">
        <IgbCalendar ShowWeekNumbers="true"></IgbCalendar>
    </div>
</div>

@code {

}