@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div style="width: 15.625rem; border: 1px solid gainsboro;">
        <IgbCalendar ShowWeekNumbers="true"></IgbCalendar>
    </div>
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbCalendarModule.Register(IgniteUIBlazor);
    }
}