@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Population Demographic for Selected Continents </span>
        <div class="legend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="container vertical">

        <DataChart Height="100%" Width="100%"
                   Legend="Legend"
                   IsHorizontalZoomEnabled="true"
                   IsVerticalZoomEnabled="true">

            <NumericXAxis Name="xAxis" Title="Death Rate (per 1,000 people)" MinimumValue="5" MaximumValue="16" Interval="1" />
            <NumericYAxis Name="yAxis" Title="Birth Rate (per 1,000 people)" MinimumValue="5" MaximumValue="45" Interval="5" />

            <ScatterSeries XAxisName="xAxis"
                           YAxisName="yAxis"
                           DataSource="AfricaData"
                           XMemberPath="DeathRate"
                           YMemberPath="BirthRate"
                           MarkerType="MarkerType.Circle"
                           Title="Africa">
            </ScatterSeries>

            <ScatterSeries XAxisName="xAxis"
                           YAxisName="yAxis"
                           DataSource="EuropeData"
                           XMemberPath="DeathRate"
                           YMemberPath="BirthRate"
                           MarkerType="MarkerType.Circle"
                           Title="Europe">
            </ScatterSeries>
        </DataChart>

    </div>
</div>

@code {

    private Legend _legend;
    public Legend Legend
    {
        get { return _legend; }
        set
        {
            _legend = value;
            StateHasChanged();
        }
    }

    private List<BirthAndDeathRateInfo> AfricaData;
    private List<BirthAndDeathRateInfo> EuropeData;

    protected override void OnInitialized()
    {
        LegendModule.Register(IgniteUIBlazor);
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartScatterModule.Register(IgniteUIBlazor);
        DataChartScatterCoreModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        NumberAbbreviatorModule.Register(IgniteUIBlazor);

        var data = new BirthAndDeathRateData();
        this.AfricaData = data.Where(d => d.Continent == "Africa").ToList();
        this.EuropeData = data.Where(d => d.Continent == "Europe").ToList();
    }
}