

<div class="container vertical">
    <div class="container vertical fill">
        <IgbSparkline
        Name="chart"
        @ref="chart"
        DataSource="SparklineMixedData"
        DisplayType="SparklineDisplayType.Column"
        LabelMemberPath="Label"
        ValueMemberPath="Value">
        </IgbSparkline>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var chart = this.chart;

    }

    private IgbSparkline chart;

    private SparklineMixedData _sparklineMixedData = null;
    public SparklineMixedData SparklineMixedData
    {
        get
        {
            if (_sparklineMixedData == null)
            {
                _sparklineMixedData = new SparklineMixedData();
            }
            return _sparklineMixedData;
        }
    }

}