/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

@tailwind utilities;

.container.sample {
    display: flex;
    place-content: center;
    place-items: center;
}

.dashboard-card {
    border-radius: 8px;
    overflow: hidden;
}
