@page "/DockManagerOverview"

@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;

<div class="igContainer">
    <div class="igComponent">
        <igc-dockmanager @ref="dockManagerRef" id="dockManager" height="100%" width="100%">
            <div slot="content1">Content 1</div>
            <div slot="content2">Content 2</div>
            <div slot="content3">Content 3</div>
            <div slot="content4">Content 4</div>
            <div slot="content5">Content 5</div>
            <div slot="content6">Content 6</div>
            <div slot="content7">Content 7</div>
            <div slot="content8">Content 8</div>
            <div slot="content9">Content 9</div>
        </igc-dockmanager>
    </div>
</div>

@code {

    ElementReference dockManagerRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("HIT THIS!!");
            await JSRuntime.InvokeVoidAsync("jsInterop.initDockManager", dockManagerRef);
        }
    }
}
