
@using IgniteUI.Blazor.Controls

<style>
    .parent {
        display: flex;
        justify-content: space-between;
    }

    .content {
        width: 45%;
        padding: 20px;
    }

    .withInset {
        --inset: 100px;
        --color: red;
    }

    h4 {
        margin-top: 0;
    }

    p {
        margin-top: 0;
    }

    .mt {
        margin-top: 16px;
        margin-bottom: 0;
    }

    .mb {
        margin-bottom: 16px;
    }
</style>

<div class="container sample center">
    <div class="parent">
        <div class="content">
            <h4 class="mb">Both sides inset.</h4>
            <IgbDivider class="withInset" Middle="true"></IgbDivider>
            <p class="mt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias at consectetur dolor magnam maiores nihil quasi quod repudiandae similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, culpa delectus eius fuga ipsa iste laborum nemo, numquam omnis perferendis soluta sunt. Animi asperiores aspernatur assumenda doloribus eligendi.</p>
        </div>
        <div class="content">
            <h4 class="mb">Left side only(default).</h4>
            <IgbDivider class="withInset"></IgbDivider>
            <p class="mt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias at consectetur dolor magnam maiores nihil quasi quod repudiandae similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, culpa delectus eius fuga ipsa iste laborum nemo, numquam omnis perferendis soluta sunt. Animi asperiores aspernatur assumenda doloribus eligendi.</p>
        </div>
    </div>
</div>
