@using IgniteUI.Blazor.Controls

@inject IJSRuntime JS

<div class="container vertical">

    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="AthletesDataExtended"
        Name="grid"
        @ref="grid"
        Id="grid">
            <IgbPinningConfig
            Columns="ColumnPinningPosition.End">
            </IgbPinningConfig>

            <IgbGridToolbar
            >
                <IgbGridToolbarTitle
                >
                </IgbGridToolbarTitle>

                <IgbGridToolbarActions
                >
                    <IgbGridToolbarPinning
                    >
                    </IgbGridToolbarPinning>

                </IgbGridToolbarActions>

            </IgbGridToolbar>

            <IgbColumn
            Field="CountryFlag"
            Header="Team"
            BodyTemplateScript="WebGridImageCellTemplate"
            Name="column1"
            @ref="column1">
            </IgbColumn>

            <IgbColumn
            Field="Avatar"
            BodyTemplateScript="WebGridAvatarCellTemplate"
            Name="column2"
            @ref="column2">
            </IgbColumn>

            <IgbColumn
            Field="Name">
            </IgbColumn>

            <IgbColumn
            Field="AthleteNumber"
            Header="Athlete Number"
            DataType="GridColumnDataType.Number">
            </IgbColumn>

            <IgbColumn
            Field="BeatsPerMinute"
            Header="Beats Per Minute">
            </IgbColumn>

            <IgbColumn
            Field="TopSpeed"
            Header="Top Speed">
            </IgbColumn>

            <IgbColumn
            Field="RegistrationDate"
            Header="Registration Date"
            DataType="GridColumnDataType.Date">
            </IgbColumn>

            <IgbColumn
            Field="Birthday"
            DataType="GridColumnDataType.Date">
            </IgbColumn>

            <IgbColumn
            Field="Sponsor">
            </IgbColumn>

            <IgbColumn
            Field="Agent">
            </IgbColumn>

            <IgbColumn
            Field="AgentContact"
            Header="Agent Contact">
            </IgbColumn>

            <IgbColumn
            Field="AgentPhone"
            Header="Agent Phone">
            </IgbColumn>

            <IgbColumn
            Field="FirstPlaces"
            Header="Gold"
            Pinned="true">
            </IgbColumn>

            <IgbColumn
            Field="SecondPlaces"
            Header="Silver"
            Pinned="true">
            </IgbColumn>

            <IgbColumn
            Field="ThirdPlaces"
            Header="Bronze"
            Pinned="true">
            </IgbColumn>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;
        var column1 = this.column1;
        var column2 = this.column2;

    }

    private IgbGrid grid;
    private IgbColumn column1;
    private IgbColumn column2;

    private AthletesDataExtended _athletesDataExtended = null;
    public AthletesDataExtended AthletesDataExtended
    {
        get
        {
            if (_athletesDataExtended == null)
            {
                _athletesDataExtended = new AthletesDataExtended();
            }
            return _athletesDataExtended;
        }
    }

}