@layer theme, base, components, utilities;

igc-badge { --ig-size: var(--ig-size-small); }
igc-avatar { --size: 40px; --ig-avatar-background: var(--ig-gray-400); --ig-avatar-color: var(--ig-gray-800); }
igc-avatar igc-icon { color: var(--ig-gray-800); }
.badge-close { --ig-badge-background-color: var(--ig-error-500); }
.badge-volume { --ig-badge-background-color: #8B5BB1; }
.badge-remove { --ig-badge-background-color: var(--ig-gray-900); }
.badge-check { --ig-badge-background-color: var(--ig-success-600); }
.badge-style { position: absolute; inset-block-end: -4px; inset-inline-end: -4px; }
.badge-style::part(base) { border-radius: 50%; }
.badge-style igc-icon { color: var(--ig-gray-50); }
.badge-parent { display: flex; align-items: center; justify-content: center; gap: 3rem; min-height: 6rem; }
.badge-item { position: relative; display: flex; }
