@*<Samples.Pages.CategoryChartOverview />*@
@*<Samples.Pages.DataGridBindingLocalData />*@
@*<Samples.Pages.DataGridFetchedData />*@
@*<Samples.Pages.DoughnutChartSelection />*@
@*<Samples.Pages.MapDisplayImageryOSM />*@
@*<Samples.Pages.PieChartSelection />*@
@*<Samples.Pages.RadialGaugeTypeColumn />*@
@*<Samples.Pages.SparklineDisplayTypes />*@

@*NOTE uncomment one of above line to load just sample OR
    use below router to load all samples:*@

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
