@using IgniteUI.Blazor.Controls

<div class="container sample vertical">
    <IgbChip class="size-medium" Selectable=true Removable=true> Chip
    </IgbChip>
</div>

@code {

    private IgbIcon RegisterIconRef { get; set; }

}