@using IgniteUI.Blazor.Controls


<style>
    igc-chip::part(base) {
    background: #011627;
    color: #ECAA53;
    }

    igc-chip::part(suffix) {
        color: #B7B6C2;
    }
</style>

<div class="container sample vertical">
    <IgbChip Size="SizableComponentSize.Medium" Selectable=true Removable=true> Chip
    </IgbChip>
</div>

@code {

    private IgbIcon RegisterIconRef { get; set; }

}