@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igOptions" >
        <span>X-Axis Overlap: @XAxisOverlapValue</span>
        <input type="range" min="0" max="1" step="0.1" value="1" @oninput="OnXAxisOverlapChange"/>
    </div>
    <div class="igOptions">
        <span class="igLegend-title">Highest Grossing Film Franchises and Series Worldwide as of April 2020</span>
        <div class="igLegend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="igComponent">
        @if (Data != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           Legend="Legend"
                           DataSource="Data"
                           ChartType="CategoryChartType.Column"
						   IsHorizontalZoomEnabled="false"
                           IsVerticalZoomEnabled="false"
                           XAxisInterval="1"
                           XAxisOverlap="@XAxisOverlapValue">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private Legend _Legend;
    private Legend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    private double XAxisOverlapValue = 1;

    private List<FilmFranchiseRevenueInfo> Data = new FilmFranchiseRevenueData();

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
    }

    private void OnXAxisOverlapChange(ChangeEventArgs args)
    {
        this.XAxisOverlapValue = double.Parse(args.Value.ToString());
    }
}
