@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
	    <div class="options vertical">
        <IgbPropertyEditorPanel
        
        DescriptionType="CategoryChart"
        IsHorizontal="true"
        IsWrappingEnabled="true"
        Name="propertyEditorPanel1"
        @ref="propertyEditorPanel1">
            <IgbPropertyEditorPropertyDescription
            PropertyPath="XAxisOverlap"
            Label="X Axis - Overlap"
            ValueType="PropertyEditorValueType.Slider"
            ShouldOverrideDefaultEditor="true"
            PrimitiveValue="0"
            Min="0"
            Max="1"
            Step="0.1"
            Name="XAxisOverlap"
            @ref="xAxisOverlap">
            </IgbPropertyEditorPropertyDescription>
        </IgbPropertyEditorPanel>
    </div>
	
	    <div class="legend-title">
        Highest Grossing Movie Franchises
    </div>
    
	     <div class="legend">
        <IgbLegend
        Orientation="LegendOrientation.Horizontal"
        Name="Legend"
        @ref="legend">
        </IgbLegend>
    </div>
	
    <div class="container vertical fill">
        <IgbCategoryChart
        ChartType="CategoryChartType.Column"
        XAxisInterval="1"
        XAxisOverlap="1"
        DataSource="HighestGrossingMovies"
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false"
        CrosshairsSnapToData="true"
        Name="chart"
        @ref="chart">
        </IgbCategoryChart>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }

	private Action BindElements { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		var legend = this.legend;
		var propertyEditorPanel1 = this.propertyEditorPanel1;
		var xAxisOverlap = this.xAxisOverlap;
		var chart = this.chart;

        this.BindElements = () => {
            propertyEditorPanel1.Target = this.chart;
        };
        this.BindElements();
	}

	private IgbLegend legend;
	private IgbPropertyEditorPanel propertyEditorPanel1;
	private IgbPropertyEditorPropertyDescription xAxisOverlap;
	private IgbCategoryChart chart;


    private HighestGrossingMovies _highestGrossingMovies = null;
    public HighestGrossingMovies HighestGrossingMovies
    {
        get
        {
            if (_highestGrossingMovies == null)
            {
                _highestGrossingMovies = new HighestGrossingMovies(); 
            }
            return _highestGrossingMovies;
        }
    }
    
}