@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">

    <div class="options vertical">
        <span class="legend-title">Highest Grossing Film Franchises</span>
        <div class="legend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>

        <div class="options vertical overlay-top-right" >
            <div class="options horizontal" >
                <label>X-Axis Overlap:</label>
                <label class="options-value" >@AxisOverlapValue</label>
            </div>
            <input type="range" min="0" max="1" step="0.1" value="1" @oninput="OnXAxisOverlapChange"/>
        </div>
    </div>
    <div class="container vertical">
        @if (Data != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           Legend="Legend"
                           DataSource="Data"
                           ChartType="CategoryChartType.Column"
						   IsHorizontalZoomEnabled="false"
                           IsVerticalZoomEnabled="false"
                           XAxisInterval="1"
                           XAxisOverlap="AxisOverlapValue">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private Legend _Legend;
    private Legend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    private double AxisOverlapValue = 1;

    private List<FilmFranchiseRevenueInfo> Data = new FilmFranchiseRevenueData();

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
    }

    private void OnXAxisOverlapChange(ChangeEventArgs args)
    {
        this.AxisOverlapValue = double.Parse(args.Value.ToString());
    }
}
