@using IgniteUI.Blazor.Controls

<div class="container sample center">
    <div class="search-bar">
        <IgbInput Label="Search" ValueChanging="OnValueChanging">
            <IgbIconButton slot="suffix" Variant="IconButtonVariant.Flat" IconName="navigate_before" Collection="internal" @onclick="Prev"></IgbIconButton>
            <IgbIconButton slot="suffix" Variant="IconButtonVariant.Flat" IconName="navigate_next" Collection="internal" @onclick="Next"></IgbIconButton>
            <p slot="helper-text">@helperText</p>
        </IgbInput>
    </div>
    <IgbDivider></IgbDivider>
    <IgbHighlight @ref="HighlightRef" SearchText="@searchText">
        <h1>Document Object Model</h1>
        <IgbExpansionPanel Open="true">
            <h2 slot="title">Overview</h2>
            <section>
                <p>
                    The Document Object Model (DOM) is a cross-platform and
                    language-independent interface that treats an HTML or XML document
                    as a tree structure wherein each node is an object representing a
                    part of the document. The DOM represents a document with a logical
                    tree. Each branch of the tree ends in a node, and each node
                    contains objects. DOM methods allow programmatic access to the
                    tree; with them one can change the structure, style or content of
                    a document. Nodes can have event handlers (also known as event
                    listeners) attached to them. Once an event is triggered, the event
                    handlers get executed.
                </p>
                <p>
                    The principal standardization of the DOM was handled by the World
                    Wide Web Consortium (W3C), which last developed a recommendation
                    in 2004. WHATWG took over the development of the standard,
                    publishing it as a living document. The W3C now publishes stable
                    snapshots of the WHATWG standard.
                </p>
                <p>In HTML DOM (Document Object Model), every element is a node:</p>
                <ul>
                    <li>A document is a document node.</li>
                    <li>All HTML elements are element nodes.</li>
                    <li>All HTML attributes are attribute nodes.</li>
                    <li>Text inserted into HTML elements are text nodes.</li>
                    <li>Comments are comment nodes.</li>
                </ul>
            </section>
        </IgbExpansionPanel>
    </IgbHighlight>
</div>

@code {
    private IgbHighlight HighlightRef { get; set; }
    private string searchText = "";
    private string helperText = "";
    private bool reapplySearch = false;

    private void OnValueChanging(string newValue)
    {
        searchText = newValue;
        reapplySearch = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (reapplySearch && HighlightRef != null)
        {
            reapplySearch = false;

            await HighlightRef.EnsureReady();
            HighlightRef.SearchText = searchText;
            await HighlightRef.SearchAsync();
            await UpdateStatus();

            StateHasChanged();
        }
    }

    private async Task UpdateStatus()
    {
        if (HighlightRef == null || string.IsNullOrWhiteSpace(searchText))
        {
            helperText = "";
            return;
        }

        var size = (int)await HighlightRef.GetSizeAsync();

        if (size == 0)
        {
            helperText = "";
            return;
        }

        var current = (int)await HighlightRef.GetCurrentAsync();
        helperText = $"{current + 1} of {size} match{(size == 1 ? "" : "es")}";
    }

    private async Task Prev()
    {
        if (HighlightRef != null)
        {
            await HighlightRef.PreviousAsync(new IgbHighlightNavigation { PreventScroll = true });
            await UpdateStatus();
            StateHasChanged();
        }
    }

    private async Task Next()
    {
        if (HighlightRef != null)
        {
            await HighlightRef.NextAsync(new IgbHighlightNavigation { PreventScroll = true });
            await UpdateStatus();
            StateHasChanged();
        }
    }
}