@* this namespace is required for Infragistics controls *@
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor
@* NOTE use this HTML code to design a sample *@
<div class="igContainer">

    <div class="igOptions" style="font-weight: bold;">
        <span class="igLegend-title">Renewable Electricity Generated: </span>
        <div>
            <Legend @ref="LegendRef" Orientation="LegendOrientation.Horizontal">
            </Legend>
        </div>
    </div>
    <div class="igComponent">
        @if (DataSource != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           Legend="@LegendRef"
                           IncludedProperties="@(new string[] { "Year", "Europe" })"
                           ChartType="CategoryChartType.StepArea"
                           DataSource="DataSource"
                           YAxisTitle="TWh"
                           ToolTipType="ToolTipType.Category"
                           IsTransitionInEnabled="true">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<EnergyRenewableInfo> DataSource = new EnergyRenewableData();
    private Legend legend;
    private Legend LegendRef
    {
        get { return legend; }
        set
        {
            legend = value;
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
    }
}