@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="container vertical">
        <h3>Actions</h3>
        <IgbDateRangePicker Mode="PickerMode.Dialog" @ref="ActionsDateRange">
            <IgbButton slot="actions" @onclick="() => ActionsDateRange.ShowWeekNumbers = !ActionsDateRange.ShowWeekNumbers">Toggle week numbers</IgbButton>
        </IgbDateRangePicker>

        <h3>Custom separator</h3>
        <IgbDateRangePicker UseTwoInputs="true">
            <span slot="separator">till</span>
        </IgbDateRangePicker>

        <h3>Helper text</h3>
        <IgbDateRangePicker>
            <span slot="helper-text">Helper text goes here.</span>
        </IgbDateRangePicker>

        <h3>Prefix & Suffix</h3>
        <IgbDateRangePicker>
            <IgbIcon @ref="DropDownIcon" slot="prefix" IconName="dropdown" Collection="material"></IgbIcon>
            <IgbIcon @ref="UploadIcon" slot="suffix" IconName="upload" Collection="material"></IgbIcon>
        </IgbDateRangePicker>

        <h3>Clear & Calendar icons</h3>
        <IgbDateRangePicker>
            <IgbIcon slot="clear-icon" @ref="ClearIcon" IconName="bin" Collection="material"></IgbIcon>
            <IgbIcon slot="calendar-icon" @ref="CalendarIcon" IconName="apps" Collection="material"></IgbIcon>
        </IgbDateRangePicker>

        <h3>Custom calendar header + title</h3>
        <IgbDateRangePicker Mode="PickerMode.Dialog">
            <span slot="title">Custom calendar title goes here.</span>
            <span slot="header-date">Custom content instead of date goes here.</span>
        </IgbDateRangePicker>
    </div>
</div>

@code {
    public IgbDateRangePicker ActionsDateRange { get; set; }
    private IgbIcon DropDownIcon { get; set; }
    private IgbIcon UploadIcon { get; set; }
    private IgbIcon ClearIcon { get; set; }
    private IgbIcon CalendarIcon { get; set; }

    // Register custom icons
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (this.DropDownIcon != null && firstRender)
        {
            string ddIcon = "<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#e3e3e3'><path d='M480-360 280-560h400L480-360Z'/></svg>";

            this.DropDownIcon.EnsureReady().ContinueWith(new Action<Task>((e) =>
               {
                   this.DropDownIcon.RegisterIconFromText("dropdown", ddIcon, "material");
               }));
        }

        if (this.UploadIcon != null && firstRender)
        {
            string upload = "<svg xmlns=\'http://www.w3.org/2000/svg\' height=\'24px\' viewBox=\'0 -960 960 960\' width=\'24px\' fill=\'#e3e3e3\'><path d=\'M440-200h80v-167l64 64 56-57-160-160-160 160 57 56 63-63v167ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z\'/></svg>";

            this.UploadIcon.EnsureReady().ContinueWith(new Action<Task>((e) =>
               {
                   this.UploadIcon.RegisterIconFromText("upload", upload, "material");
               }));
        }

        if (this.CalendarIcon != null && firstRender)
        {
            string apps = "<svg xmlns=\'http://www.w3.org/2000/svg\' height=\'24px\' viewBox=\'0 -960 960 960\' width=\'24px\' fill=\'#e3e3e3\'><path d=\'M240-160q-33 0-56.5-23.5T160-240q0-33 23.5-56.5T240-320q33 0 56.5 23.5T320-240q0 33-23.5 56.5T240-160Zm240 0q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm240 0q-33 0-56.5-23.5T640-240q0-33 23.5-56.5T720-320q33 0 56.5 23.5T800-240q0 33-23.5 56.5T720-160ZM240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400ZM240-640q-33 0-56.5-23.5T160-720q0-33 23.5-56.5T240-800q33 0 56.5 23.5T320-720q0 33-23.5 56.5T240-640Zm240 0q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Zm240 0q-33 0-56.5-23.5T640-720q0-33 23.5-56.5T720-800q33 0 56.5 23.5T800-720q0 33-23.5 56.5T720-640Z\'/></svg>";
            this.CalendarIcon.EnsureReady().ContinueWith(new Action<Task>((e) =>
              {
                  this.CalendarIcon.RegisterIconFromText("apps", apps, "material");
              }));
        }

        if (this.ClearIcon != null && firstRender)
        {
            string bin = "<svg xmlns=\'http://www.w3.org/2000/svg\' height=\'24px\' viewBox=\'0 -960 960 960\' width=\'24px\' fill=\'#e3e3e3\'><path d=\'M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z\'/></svg>";
            this.ClearIcon.EnsureReady().ContinueWith(new Action<Task>((e) =>
             {
                 this.ClearIcon.RegisterIconFromText("bin", bin, "material");
             }));  
        }
    }
}
