@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">

        <IgbDataChart Height="100%" Width="100%"
                   ChartTitle="Total Olympic Medals"
                   Subtitle="United States vs China vs Russia"
                   TitleTopMargin="10"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <IgbCategoryXAxis Name="xAxis" Title="Olympic Years" Label="Year" DataSource="Data"/>
            <IgbNumericYAxis Name="yAxis" Title="Olympic Medals" TitleLeftMargin="10"/>

            <IgbAreaSeries XAxisName="xAxis"
                        YAxisName="yAxis"
                        DataSource="Data"
                        ValueMemberPath="USA" Title="USA"
                        AreaFillOpacity="1"
                        ShowDefaultTooltip="true"
                        IsTransitionInEnabled="true"
                        MarkerType=MarkerType.Circle>
            </IgbAreaSeries>
            <IgbAreaSeries XAxisName="xAxis"
                        YAxisName="yAxis"
                        DataSource="Data"
                        ValueMemberPath="CHN" Title="China"
                        AreaFillOpacity="1"
                        ShowDefaultTooltip="true"
                        IsTransitionInEnabled="true"
                        MarkerType=MarkerType.Circle>
            </IgbAreaSeries>
            <IgbAreaSeries XAxisName="xAxis"
                        YAxisName="yAxis"
                        DataSource="Data"
                        ValueMemberPath="RUS" Title="Russia"
                        AreaFillOpacity="1"
                        ShowDefaultTooltip="true"
                        IsTransitionInEnabled="true"
                        MarkerType=MarkerType.Circle>
            </IgbAreaSeries>
        </IgbDataChart>

    </div>
</div>

@code {

    private List<SampleCategoryItem> Data;

    protected override void OnInitialized()
    {
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);

        Data = SampleCategoryData.Create();


    }
}