@* this namespace is required for Infragistics controls *@
@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igComponent">

        @if (DataSource != null)
        {
            <FinancialChart Width="100%"
                Height="100%"
                ChartType=FinancialChartType.Candle
                Thickness=2
                DataSource="DataSource"
                ChartTitle="Tesla vs Amazon vs Microsoft Changes"
                Subtitle="Between 2013 and 2017"
                YAxisMode="FinancialChartYAxisMode.PercentChange"
                YAxisTitle="Percent Changed Since 2013"
                NegativeOutlines="rgb(213, 94, 0)"
                NegativeBrushes="Transparent"
                Brushes="Transparent"
                ZoomSliderType="FinancialChartZoomSliderType.None"/>
        }
    </div>
</div>

@code {

    protected List<StockPrice[]> DataSource;

    protected override async Task OnInitializedAsync()
    {
        FinancialChartModule.Register(IgniteUIBlazor);
        this.DataSource = await StocksHistory.GetMultipleStocks();
    }
}