@page "/"
@page "/home"
@page "/index"
@page "/samples"
@page "/samples/home"
@page "/samples/index"

@inject Samples.Shared.Services.SampleBrowser SB

<div class="igContainer">
    <div class="igOptions-horizontal">
        igOptions-horizontal
    </div>
    <div class="igComponent">
        This web application demostrates samples for Inragistics Blazor Controls on server-side
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("SB Home");
        //SB.HomeTitle = "Welcome to Blazor Samples on Server-Side";

        await Task.Delay(1);
    }
}
