@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="container vertical">
        <IgbDatePicker @ref="DatePicker"/>
    </div>
</div>

@code {

    public IgbDatePicker DatePicker { get; set; }
}
