@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;

<div class="container vertical">
    <div class="dateRanges">
        <span class="caption">From:  </span>
        <IgbDatePicker Height="50px" Width="220px" Value="@FromDate" ValueChanged="FromDateValueChanged"/>
        <span class="caption">  To:  </span>
        <IgbDatePicker Height="50px" Width="220px" Value="@ToDate" ValueChanged="ToDateValueChanged"/>
    </div>
</div>

<style>
    .dateRanges {
        display: flex;
    }

    .caption {
        align-self: center;
        margin-left: 25px;
        margin-right: 10px;
        margin-top: 8px;
    }
</style>

@code {

    public DateTime FromDate { get; set; }
    public DateTime ToDate { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        IgbDatePickerModule.Register(IgniteUIBlazor);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            this.FromDate = DateTime.Today;
            this.ToDate = DateTime.Today.AddDays(1);
            StateHasChanged();
        }
    }

    public void FromDateValueChanged(IgbValueChangedEventArgs e)
    {
        FromDate = e.NewValue;
        if(this.FromDate > this.ToDate)
        {
            this.ToDate = this.FromDate.AddDays(1);
            StateHasChanged();
        }
    }

    public void ToDateValueChanged(IgbValueChangedEventArgs e)
    {
        this.ToDate = e.NewValue;
        if (this.ToDate < this.FromDate)
        {
            this.FromDate = e.NewValue.AddDays(-1);
            StateHasChanged();
        }
    }
}
