@page "/samples/charts/sparkline-display-winloss"
@page         "/charts/sparkline-display-winloss"

@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor;

<div class="igContainer"> 

    <div class="igComponent">

        @if (DataSource != null)
        {
            <section>Revenue Sparkline</section>
            <Sparkline Height="100%"
                       Width="100%"
                       DataSource="@DataSource"
                       DisplayType="SparklineDisplayType.WinLoss "
                       ValueMemberPath="Value"
                       LabelMemberPath="Angle"
                       Minimum="-1" Maximum="1">
            </Sparkline>

            <section>Income Sparkline</section>
            <Sparkline Height="100%"
                       Width="100%"
                       DataSource="@DataSource"
                       DisplayType="SparklineDisplayType.WinLoss "
                       ValueMemberPath="Income"
                       LabelMemberPath="Angle"
                       Minimum="-1" Maximum="1">
            </Sparkline>

            <section>Expanse Sparkline</section>
            <Sparkline Height="100%"
                       Width="100%"
                       DataSource="@DataSource"
                       DisplayType="SparklineDisplayType.WinLoss "
                       ValueMemberPath="Expanse"
                       LabelMemberPath="Angle"
                       Minimum="-1" Maximum="1">
            </Sparkline>
           
        }

    </div>
</div>


@code {

    private List<SparklineData.DataItem> DataSource;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        SparklineModule.Register(InfragisticsBlazor);

        DataSource = SparklineData.getData ();
    }


}

