@using IgniteUI.Blazor.Controls
;

<div class="container vertical">

    <div class="container vertical">

        @if (Employees != null)
        {
            <IgbDataGrid Height="33%" Width="100%"
                      DataSource="Employees"
                      AutoGenerateColumns="false"
                      ActivationMode="GridActivationMode.Cell">

                <IgbTextColumn Field="ID" />
                <IgbTextColumn Field="Name" />
                <IgbTextColumn Field="Street" />
                <IgbTextColumn Field="City" />
                <IgbImageColumn IsEditable="false" Field="Photo" />
                <IgbDateTimeColumn Field="Birthday" />
                <IgbNumericColumn Field="Salary" PositivePrefix="$"
                               ShowGroupingSeparator="true"
                               MaxFractionDigits="0"
                               MinFractionDigits="0" />
            </IgbDataGrid>
        }

        @if (Sales != null)
        {
            <IgbDataGrid Height="33%" Width="100%"
                      DataSource="Sales"
                      AutoGenerateColumns="false"
                      ActivationMode="GridActivationMode.Cell">

                <IgbTextColumn Field="ID" />
                <IgbTextColumn Field="ProductName" />
                <IgbNumericColumn Field="ProductPrice" />
                <IgbTextColumn Field="City" />
                <IgbTextColumn Field="Country" />
                <IgbImageColumn IsEditable="false" Field="CountryFlag" />
                <IgbDateTimeColumn Field="OrderDate" />
                <IgbNumericColumn Field="Profit" PositivePrefix="$"
                               ShowGroupingSeparator="true"
                               MaxFractionDigits="0"
                               MinFractionDigits="0" />
            </IgbDataGrid>
        }

        @if (RealEstates != null)
        {
            <IgbDataGrid Height="33%" Width="100%"
                      DataSource="RealEstates"
                      AutoGenerateColumns="false"
                      ActivationMode="GridActivationMode.Cell">

                <IgbTextColumn Field="ID" />
                <IgbTextColumn Field="Property" />
                <IgbTextColumn Field="Rooms" />
                <IgbTextColumn Field="Baths" />
                <IgbTextColumn Field="Built" />
                <IgbNumericColumn Field="Price" PositivePrefix="$"
                               ShowGroupingSeparator="true"
                               MaxFractionDigits="0"
                               MinFractionDigits="0" />
                <IgbTextColumn Field="City" />
                <IgbTextColumn Field="Country" />
            </IgbDataGrid>
        }

    </div>
</div>

@code {

    private List<Employee> Employees;
    private List<Sale> Sales;
    private List<RealEstate> RealEstates;

    protected override void OnInitialized()
    {
        this.Employees = EmployeeData.Create(200, false);
        this.Sales = SalesData.Create(200);
        this.RealEstates = RealEstateData.Create(200);
    }

}
