
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div style="width: 600px; border: 1px solid gainsboro;">
        <IgbCalendar>
            @*TODO visible-months="2" hide-outside-days*@
        </IgbCalendar>
    </div>
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbCalendarModule.Register(IgniteUIBlazor);
    }
}