@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div style="width: 37.5rem; border: 1px solid gainsboro;">
        <IgbCalendar VisibleMonths="2" HideOutsideDays="true"/>
    </div>
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbCalendarModule.Register(IgniteUIBlazor);
    }
}