@using IgniteUI.Blazor.Controls

<style>
    igc-combo::part(label),
    igc-combo::part(empty),
    igc-combo::part(group-header) {
        color: #2b3a55;
    }

    igc-combo::part(native-input),
    igc-combo::part(list-wrapper) {
        background-color: #f2e5e5;
    }

    igc-combo::part(item selected) {
        background: #e8c4c4;
    }

    igc-combo::part(item selected active),
    igc-combo::part(item selected):hover {
        background: #ce7777;
    }

    igc-combo::part(prefix),
    igc-combo::part(suffix),
    igc-combo::part(case-icon) {
        color: #f2e5e5;
        background-color: #2b3a55;
    }

    igc-combo::part(checkbox checked)::after {
        background: #2b3a55;
        box-shadow: none;
    }
</style>

<div class="container sample center">
    <IgbCombo 
        Label="Destinations" 
        Data="Data" 
        ValueKey="Id"
        DisplayKey="Name"
        GroupKey="Country"
        CaseSensitiveIcon>
        <span slot="helper-text">Choose the desired place</span>
        <IgbIcon @ref="locationIconRef" slot="prefix" name="place" collection="material"></IgbIcon>
    </IgbCombo>
</div>

@code {
    private List<City> Data;
    private IgbIcon locationIconRef { get; set; }
    private string placeSvg = "<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 12c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-1.8C18 6.57 15.35 4 12 4s-6 2.57-6 6.2c0 2.34 1.95 5.44 6 9.14 4.05-3.7 6-6.8 6-9.14zM12 2c4.2 0 8 3.22 8 8.2 0 3.32-2.67 7.25-8 11.8-5.33-4.55-8-8.48-8-11.8C4 5.22 7.8 2 12 2z'/></svg>";

    protected override void OnInitialized() {
        this.Data = SampleData.Cities;
    }

    protected override void OnAfterRender(bool firstRender) {
        if (firstRender) {
            this.locationIconRef.EnsureReady().ContinueWith(new Action<Task>((e) => {
                this.locationIconRef.RegisterIconFromTextAsync("place", placeSvg, "material");
            }));
        }
    }
}
