@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Ronaldo vs. Messi Player Stats</span>
        <div class="legend">
            <IgbLegend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="container vertical">
        <IgbDataChart Height="100%" Width="100%"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false"
                   Legend="Legend">
            <IgbCategoryAngleAxis Name="angleAxis" DataSource="Data"
                               Label="Attribute" />
            <IgbNumericRadiusAxis Name="radiusAxis"
                               InnerRadiusExtentScale="0.1"
                               MinimumValue="0" MaximumValue="10" Interval="2" />

            <IgbRadialColumnSeries DataSource="Data"
                              AngleAxisName="angleAxis"
                              ValueMemberPath="RonaldoValue"
                              ValueAxisName="radiusAxis"
                              ShowDefaultTooltip="true"
                              AreaFillOpacity="0.8"
                              Title="Ronaldo" />

            <IgbRadialColumnSeries DataSource="Data"
                              AngleAxisName="angleAxis"
                              ValueMemberPath="MessiValue"
                              ValueAxisName="radiusAxis"
                              ShowDefaultTooltip="true"
                              AreaFillOpacity="0.8"
                              Title="Messi" />
        </IgbDataChart>

    </div>
</div>

@code {

    private List<PlayerStatsInfo> Data = new PlayerStatsData();

    private IgbLegend _Legend;
    private IgbLegend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    protected override void OnInitialized()
    {
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartRadialModule.Register(IgniteUIBlazor);
        IgbDataChartRadialCoreModule.Register(IgniteUIBlazor);

        IgbDataChartExtendedAxesModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbLegendModule.Register(IgniteUIBlazor);
    }

}