
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igComponent">
        @if (DataSource != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           IncludedProperties="@(new string[] { "Year", "Europe" })"
                           ChartType="CategoryChartType.StepArea"
                           ChartTitle="Renewable Electricity Generated"
                           TitleAlignment="HorizontalAlignment.Left"
                           TitleLeftMargin="25"
                           TitleTopMargin="10"
                           TitleBottomMargin="10"
                           DataSource="DataSource"
                           YAxisTitle="TWh"
                           ToolTipType="ToolTipType.Category"
                           IsTransitionInEnabled="true"
						   IsHorizontalZoomEnabled="false"
						   IsVerticalZoomEnabled="false">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<EnergyRenewableInfo> DataSource = new EnergyRenewableData();

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
    }
}