
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        @if (Data != null)
        {
            <IgbCategoryChart Height="100%" Width="100%"
                           IncludedProperties="@(new string[] { "Year", "Europe" })"
                           ChartType="CategoryChartType.StepArea"
                           ChartTitle="Renewable Electricity Generated"
                           TitleAlignment="HorizontalAlignment.Left"
                           TitleLeftMargin="25"
                           TitleTopMargin="10"
                           TitleBottomMargin="10"
                           DataSource="Data"
                           YAxisTitle="TWh"
                           ToolTipType="ToolTipType.Category"
                           IsTransitionInEnabled="true"
						   IsHorizontalZoomEnabled="false"
						   IsVerticalZoomEnabled="false">
            </IgbCategoryChart>
        }
    </div>
</div>

@code {

    private List<EnergyRenewableInfo> Data = new EnergyRenewableData();

    protected override void OnInitialized()
    {
        IgbCategoryChartModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbLegendModule.Register(IgniteUIBlazor);
    }
}