@using IgniteUI.Blazor.Controls

<style>
    igc-button-group {
        width: 200px;
    }

    igc-ripple {
        --color: gray;
    }

    igc-toggle-button::part(toggle) {
        color: #fdfdfd;
        background: #2f4d6a;
    }

    igc-toggle-button::part(toggle):hover {
        color: #fdfdfd;
        background: #1f3347;
    }

    igc-toggle-button[disabled]::part(toggle) {
        color: gray;
        background: lightgray;
    }

    igc-toggle-button[selected]::part(toggle) {
        color: #fdfdfd;
        background: #1f3347;
    }
</style>

<div class="container sample">
    <IgbButtonGroup Alignment="ButtonGroupAlignment.Vertical">
        <IgbToggleButton Value="sofia">
            Sofia
            <IgbRipple />
        </IgbToggleButton>
        <IgbToggleButton Value="london">
            London
            <IgbRipple />
        </IgbToggleButton>
        <IgbToggleButton Value="new york">
            New York
            <IgbRipple />
        </IgbToggleButton>
        <IgbToggleButton Value="tokyo" Disabled="true">
            Tokyo
            <IgbRipple />
        </IgbToggleButton>
    </IgbButtonGroup>
</div>

 @code {

}