@using IgniteUI.Blazor.Controls


<div class="container sample center">
    <IgbTextarea Label="Resize: none" Resize="TextareaResize.None">
        <p slot="helper-text">This textarea does not resize and uses a scroll bar to show overflow text.</p>
    </IgbTextarea>
    <IgbTextarea Label="Resize: vertical (default)" Resize="TextareaResize.Vertical">
        <p slot="helper-text">This textarea lets the user resize vertically.</p>
    </IgbTextarea>
    <IgbTextarea Label="Resize: auto" Resize="TextareaResize.Auto">
        <p slot="helper-text">This textarea shows all the user input at once. Overflow text wraps onto a new line and expands the text area.</p>
    </IgbTextarea>
</div>

@code {

}