@using IgniteUI.Blazor.Controls

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>

<div class="container center">
    <IgbTextarea Label="Resize: none" Resize="TextareaResize.None">
        <span slot="helper-text">This textarea does not resize and uses a scroll bar to show overflow text.</span>
    </IgbTextarea>
    <IgbTextarea Label="Resize: vertical (default)" Resize="TextareaResize.Vertical">
        <span slot="helper-text">This textarea lets the user resize vertically.</span>
    </IgbTextarea>
    <IgbTextarea Label="Resize: auto" Resize="TextareaResize.Auto">
        <span slot="helper-text">This textarea shows all the user input at once. Overflow text wraps onto a new line and expands the text area.</span>
    </IgbTextarea>
</div>

@code {

}