@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer-vertical">
    <div class="igOptions-horizontal" >
        <div class="igOptions-vertical">
            <span class="igLegend-title">Global Electricity Demand by Energy Use</span>
            <div class="igLegend">
                <ItemLegend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
            </div>
        </div>
        <label style="width: auto; text-align: right; position: absolute; top: 0rem; right: 1.0rem;">
               Selected Slice: @SelectedSlice
        </label>
    </div>

    <div class="igComponent">
        @if (DataSource != null)
        {
            <DoughnutChart Height="100%" Width="100%"
                           @ref="Chart"
                           AllowSliceSelection="true"
                           SliceClick="OnSliceClick"
                           SelectedSliceStroke="White"
                           SelectedSliceFill="Gray"
                           SelectedSliceStrokeThickness="1"
                           SelectedSliceOpacity="0.75">
                <RingSeries DataSource="@DataSource"
                            LabelMemberPath="Summary"
                            LabelsPosition="LabelsPosition.OutsideEnd"
                            LabelExtent="30"
                            ValueMemberPath="Value"
                            LegendLabelMemberPath="Category"
                            RadiusFactor="0.6"
                            StartAngle="30">
                </RingSeries>
            </DoughnutChart>
        }

    </div>
</div>

@code {

    public List<DataItem> DataSource;
    public string SelectedSlice = "None";
    public ItemLegend Legend;
    public DoughnutChart Chart;

    protected override void OnInitialized()
    {
        DoughnutChartModule.Register(IgniteUIBlazor);
        ItemLegendModule.Register(IgniteUIBlazor);

        var dataItems = new List<DataItem>();
        dataItems.Add(new DataItem { Value = 25, Category = "Residential Appliance", });
        dataItems.Add(new DataItem { Value = 12, Category = "Heating", });
        dataItems.Add(new DataItem { Value = 8,  Category = "Lighting", });
        dataItems.Add(new DataItem { Value = 18, Category = "Other Services", });
        dataItems.Add(new DataItem { Value = 37, Category = "Space Cooling", });

        this.DataSource = dataItems;
    }

    public class DataItem
    {
        public bool IsSelected { get; set; }
        public string Category { get; set; }
        public double Value { get; set; }
        public string Summary { get { return Category + " " + Value + "%"; } }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        this.Chart.ActualSeries[0].Legend = Legend;
    }

    protected void OnSliceClick(SliceClickEventArgs e)
    {
        Console.WriteLine("OnSliceClick " + this.DataSource[e.Index].Category);

        if (e.IsSelected)
        {
            this.SelectedSlice = this.DataSource[e.Index].Category;
        }
        else
        {
            this.SelectedSlice = "None";
        }
    }
}