@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igOptions-vertical">
        <span class="igLegend-title">Renewable Electricity Generated</span>
        <div class="igLegend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>

    <div class="igComponent">
        @if (Data != null)
        {
            // note MarkerTypes property is set in code-behind
            <CategoryChart @ref="Chart" Height="100%" Width="100%"
                           DataSource="Data"
                           ChartType="CategoryChartType.Area"
                           Legend="Legend"
                           MarkerOutlines="#8ce7d9, #ee5879, #735656"
                           MarkerBrushes="white"
                           Brushes="#8ce7d9, #ee5879, #735656"
                           Outlines="#8ce7d9, #ee5879, #735656"
                           YAxisTitle="TWh"
                           YAxisTitleLeftMargin="10"
                           YAxisLabelLeftMargin="0"
                           ToolTipType="ToolTipType.Category"
                           Thickness="2"
						   IsHorizontalZoomEnabled="false"
                           IsVerticalZoomEnabled="false">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<EnergyRenewableInfo> Data = new EnergyRenewableData();

    private CategoryChart Chart;

    private Legend _Legend;
    private Legend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (this.Chart != null && firstRender)
        {
            this.Chart.MarkerTypes.Clear();
            this.Chart.MarkerTypes.Add(MarkerType.Triangle);
        }
    }

}