@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="legend-title">
        Ronaldo vs Messi Player Stats
    </div>
    <div class="legend">
        <IgbLegend
        Orientation="LegendOrientation.Horizontal"
        Name="Legend"
        @ref="legend">
        </IgbLegend>

    </div>

    <div class="container vertical fill">
        <IgbDataChart
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false"
        Brushes="#8ce7d9 #ee5879"
        Outlines="#8ce7d9 #ee5879"
        MarkerBrushes="white"
        MarkerOutlines="#8ce7d9 #ee5879"
        Name="chart"
        @ref="chart">
            <IgbCategoryAngleAxis
            DataSource="FootballPlayerStats"
            Label="Attribute"
            Name="angleAxis"
            @ref="angleAxis">
            </IgbCategoryAngleAxis>

            <IgbNumericRadiusAxis
            InnerRadiusExtentScale="0.1"
            MinimumValue="0"
            MaximumValue="10"
            Interval="2"
            Name="radiusAxis"
            @ref="radiusAxis">
            </IgbNumericRadiusAxis>

            <IgbRadialAreaSeries
            ValueMemberPath="Ronaldo"
            AngleAxisName="angleAxis"
            ValueAxisName="radiusAxis"
            MarkerType="MarkerType.Circle"
            DataSource="FootballPlayerStats"
            Thickness="3"
            AreaFillOpacity="0.5"
            ShowDefaultTooltip="true"
            Title="Ronaldo"
            Name="RadialAreaSeries1"
            @ref="radialAreaSeries1">
            </IgbRadialAreaSeries>

            <IgbRadialAreaSeries
            DataSource="FootballPlayerStats"
            AngleAxisName="angleAxis"
            ValueAxisName="radiusAxis"
            ValueMemberPath="Messi"
            ShowDefaultTooltip="true"
            AreaFillOpacity="0.5"
            Thickness="3"
            Title="Messi"
            MarkerType="MarkerType.Circle"
            Name="RadialAreaSeries2"
            @ref="radialAreaSeries2">
            </IgbRadialAreaSeries>

        </IgbDataChart>

    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var legend = this.legend;
        var chart = this.chart;
        var angleAxis = this.angleAxis;
        var radiusAxis = this.radiusAxis;
        var radialAreaSeries1 = this.radialAreaSeries1;
        var radialAreaSeries2 = this.radialAreaSeries2;

        this.BindElements = () => {
            chart.Legend = this.legend;
        };
        this.BindElements();


    }

    private IgbLegend legend;
    private IgbDataChart chart;
    private IgbCategoryAngleAxis angleAxis;
    private IgbNumericRadiusAxis radiusAxis;
    private IgbRadialAreaSeries radialAreaSeries1;
    private IgbRadialAreaSeries radialAreaSeries2;

    private FootballPlayerStats _footballPlayerStats = null;
    public FootballPlayerStats FootballPlayerStats
    {
        get
        {
            if (_footballPlayerStats == null)
            {
                _footballPlayerStats = new FootballPlayerStats();
            }
            return _footballPlayerStats;
        }
    }

}