/* 
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css//samples/
*/

.chatCustom {
        igc-chat {
            --message-actions-color: var(--ig-warn-900);
            background: var(--ig-warn-50);
        }

        igc-chat::part(header) {
            background-color: var(--ig-gray-800);
            color: var(--ig-warn-400);
        }

        igc-chat::part(message-container) {
            background: var(--ig-warn-200);
            color: var(--ig-warn-200-contrast);
        }

        igc-chat::part(message-sent) {
            background: var(--ig-warn-500);
            color: var(--ig-warn-500-contrast);
        }

        igc-chat::part(message-header) {
            color: var(--ig-warn-A700);
        }

        igc-chat::part(attachment-header) {
            background: var(--ig-warn-100);
        }

        igc-chat::part(attachment-icon) {
            color: var(--ig-warn-500);
        }

        igc-chat::part(suggestion) {
            background-color: var(--ig-warn-500);
            color: var(--ig-warn-500-contrast);
        }

        igc-chat::part(suggestions-header) {
            color: var(--ig-success-300);
        }

        igc-chat::part(input-area) {
            border-color: var(--ig-surface-700);
        }

        igc-chat::part(text-input) {
            --box-background: var(--ig-warn-100);
            --box-background-hover: var(--ig-warn-100);
            --box-background-focus: var(--ig-warn-200);
            --idle-button-line-color: var(--ig-surface-700);
            --hover-bottom-line-color: var(--ig-surface-700);
            --focused-bottom-line-color: var(--ig-warn-300);
        }

        igc-chat::part(send-button) {
            --background: var(--ig-warn-400);
            --foreground: var(--ig-warn-400-contrast);
            --hover-background: var(--ig-warn-400);
            --hover-foreground: var(--ig-warn-400-contrast);
            --disabled-background: var(--ig-gray-300);
            --disabled-foreground: var(--ig-gray-700);
        }
}
