
@using IgniteUI.Blazor.Controls


<div class="container vertical" style="display: block; align-items: center; width: 25rem; height: 2rem; border: 1px solid gainsboro">
    <IgbIcon @ref="IconRef" Size="SizableComponentSize.Small" IconName="build" Collection="material" />
    <IgbIcon Size="SizableComponentSize.Medium" IconName="build" Collection="material" />
    <IgbIcon Size="SizableComponentSize.Large" IconName="build" Collection="material" />
</div>

@code {

    public IgbIcon IconRef { get; set; }

    const string buildIcon = "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9-2-2-5-2.4-7.4-1.3L9 6 6 9 1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4z'/></svg>";
    protected override void OnAfterRender(bool firstRender)
    {
        if (this.IconRef != null && firstRender)
        {
            this.IconRef.EnsureReady().ContinueWith(new Action<Task>((e) =>
            {
            //this.SmallIcon.RegisterIcon("build", "https://unpkg.com/material-design-icons@3.0.1/action/svg/production/ic_build_24px.svg", "material");
                this.IconRef.RegisterIconFromText("build", buildIcon, "material");
            }));
        }
    }
}