# BUILD
/build
/bin
/obj
/**/bin
/**/obj
/**/node_modules

# IDE 
*.user
/.vscode
/.vs
/**/.vscode
/**/.vs
# !.vscode/settings.json

# SAMPLES 
/samples/excel
/samples/**/shared
/samples/**/wwwroot/css
/samples/**/.gitignore
/samples/**/*Home.razor

# BROWSER
/tests
/browsers
/browser
/browser-gulp
/browser.app
/browser.shared
/templates/shared


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local