# BUILD
/build
/bin
/obj
/**/bin
/**/obj
/**/node_modules

# IDE 
*.user
/.vscode
/.vs
/**/.vscode
/**/.vs
# !.vscode/settings.json

# SAMPLES 
/samples/**/shared
/samples/**/wwwroot/css
/samples/**/wwwroot/js/*bundle.js
/samples/**/.gitignore
/samples/**/*Home.razor

# BROWSER
/tests
/templates/shared
/browser/IgBlazorSamples.Gulp/Samples
/browser/IgBlazorSamples.Client/Pages/**
/browser/IgBlazorSamples.Server/Pages/**
/browser/IgBlazorSamples.Client/Services/*.*
/browser/IgBlazorSamples.Server/Services/*.*
/browser/IgBlazorSamples.Client/wwwroot/toc.json
/browser/IgBlazorSamples.Server/wwwroot/toc.json
/browser/IgBlazorSamples.Client/output
/browser/IgBlazorSamples.Server/output
/browser/IgBlazorSamples.Client/Components/**
/browser/IgBlazorSamples.Server/Components/**
/browser/IgBlazorSamples.Client/wwwroot/*.js
/browser/IgBlazorSamples.Server/wwwroot/*.js
/browser/IgBlazorSamples.Client/wwwroot/js/*bundle.js
/browser/IgBlazorSamples.Server/wwwroot/js/*bundle.js

! /browser/IgBlazorSamples.Client/Pages/_Home.razor
! /browser/IgBlazorSamples.Server/Pages/_Home.razor
! /browser/IgBlazorSamples.Server/Pages/_Host.cshtml

/browser/IgBlazorSamples.Server/PagesOLD/**
/browser/IgBlazorSamples.Client/SharedOLD/**
/browser/IgBlazorSamples.Server/SharedOLD/**

/browser/Tests

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local