@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
	
	
	
    <div class="container vertical fill">
        <IgbSparkline
        DataSource="SparklineMixedData"
        ValueMemberPath="Value"
        LabelMemberPath="Label"
        DisplayType="SparklineDisplayType.Area"
        Name="chart"
        @ref="chart">
        </IgbSparkline>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }

	private Action BindElements { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		var chart = this.chart;

        this.BindElements = () => {
        };
        this.BindElements();
	}

	private IgbSparkline chart;


    private SparklineMixedData _sparklineMixedData = null;
    public SparklineMixedData SparklineMixedData
    {
        get
        {
            if (_sparklineMixedData == null)
            {
                _sparklineMixedData = new SparklineMixedData(); 
            }
            return _sparklineMixedData;
        }
    }
    
}