@inject NavigationManager NavManager
@inject Samples.Shared.Services.SampleBrowser SB

<div class="sb-sidebar-header">
    <div>Blazor Samples</div>
</div>

<div id="sb-sidebar-list">
    @*<NavLink class="sb-sidebar-link" href="/samples" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span>Home
    </NavLink>*@

    @*SB == null ||  ||
        SB.SampleGroups.Length == 0*@

    @if (SB.IsLoading)
    {
        @* <p><em>Loading...</em></p> *@
        <img class="sb-progress" src="_content/Samples.Shared/images/progress.gif" />
    }
    else
    {
        @foreach (var group in SB.SampleGroups)
        {
             
                <span class="sb-sidebar-group">
                    @* <span class="oi oi-list-rich" aria-hidden="true"></span> *@
                    @group.Name
                </span>
             

           
        }

    }
</div>

@code {

    public void OnClickComponent(string name)
    {
        SB.ToggleComponent(name);
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("SB.Nav Menu");
        //await SB.LoadTOC();
        SB.SamplesLoaded += OnSamplesLoaded;
        //StateHasChanged();
        await Task.Delay(1);
    }

    public void OnSamplesLoaded(object sender, EventArgs arg)
    {
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //Console.WriteLine("SB.Nav Menu OnAfter");
            StateHasChanged();
        }
    }
}
