@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">

        <IgbDataChart Height="100%" Width="100%"
                   Subtitle="Countries GDP vs. Population"
                   SubtitleTopMargin="10"
                   IsHorizontalZoomEnabled="true"
                   IsVerticalZoomEnabled="true">

            <IgbNumericXAxis() Name="xAxis" IsLogarithmic="true"
                          AbbreviateLargeNumbers="true"
                          TitleBottomMargin="10"
                          Title="Population">
            </IgbNumericXAxis()>
            <IgbNumericYAxis Name="yAxis" IsLogarithmic="true"
                          AbbreviateLargeNumbers="true"
                          TitleLeftMargin="10"
                          Title="GDP per Capita">
            </IgbNumericYAxis>

            <IgbBubbleSeries XAxisName="xAxis"
                          YAxisName="yAxis"
                          Title="Large Countrie"
                          DataSource="CountriesWithLargePop"
                          XMemberPath="Population"
                          YMemberPath="GdpTotal"
                          RadiusMemberPath="GdpPerCapita"
                          RadiusScale="@SizeScale"
                          ShowDefaultTooltip="true"
                          MarkerType=MarkerType.Circle>
            </IgbBubbleSeries>

            <IgbBubbleSeries XAxisName="xAxis"
                          YAxisName="yAxis"
                          Title="Small Countrie"
                          DataSource="CountriesWithSmallPop"
                          XMemberPath="Population"
                          YMemberPath="GdpTotal"
                          RadiusMemberPath="GdpPerCapita"
                          RadiusScale="@SizeScale"
                          ShowDefaultTooltip="true"
                          MarkerType=MarkerType.Circle>
            </IgbBubbleSeries>

        </IgbDataChart>

    </div>
</div>

@code {

    private List<Country> CountriesWithSmallPop;
    private List<Country> CountriesWithLargePop;
    private IgbSizeScale SizeScale;

    protected override void OnInitialized()
    {
        IgbLegendModule.Register(IgniteUIBlazor);
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartScatterModule.Register(IgniteUIBlazor);
        IgbDataChartScatterCoreModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbNumberAbbreviatorModule.Register(IgniteUIBlazor);

        this.SizeScale = new IgbSizeScale();
        this.SizeScale.MinimumValue = 10;
        this.SizeScale.MaximumValue = 50;

        CountriesWithSmallPop = SampleScatterStats.GetCountriesWithSmallPop();
        CountriesWithLargePop = SampleScatterStats.GetCountriesWithLargePop();


    }
}