@using IgniteUI.Blazor.Controls


<div class="root">

    <style>
        igc-circular-progress {
            margin: 20px;
            --diameter: 50px;
        }

        igc-circular-progress::part(gradient_end),
        igc-circular-progress::part(gradient_start) {
            stop-color: #72da67;
        }

        igc-circular-progress::part(track) {
            stroke: rgb(216, 211, 211);
        }
    </style>

    <IgbCircularProgress Indeterminate=true/>
</div>

@code {

}