@using IgniteUI.Blazor.Controls


<style>
igc-slider {
    padding: 30px 30px  0px 30px;
}
</style>

<div class="container sample center">
     <IgbSlider
        Max="1000"
        Min="100"
        LowerBound="200"
        UpperBound="800"
        Value="400"
        PrimaryTicks="2">
     </IgbSlider>
</div>

@code {


}
