@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igOptions-horizontal">
        <span class="igLegend-title">Continent: </span>
        <div class="igLegend">
            <Legend @ref="LegendRef" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="igComponent">

        <DataChart Height="100%" Width="100%"
                   Legend="LegendRef"                   
                   IsHorizontalZoomEnabled="true"
                   IsVerticalZoomEnabled="true">

            <NumericXAxis Name="xAxis" Title="Death Rate, crude (per 1,000 people)" MinimumValue="5" MaximumValue="16" Interval="1" />
            <NumericYAxis Name="yAxis" Title="Birth Rate, crude (per 1,000 people)" MinimumValue="5" MaximumValue="45" Interval="5" />

            <ScatterSeries XAxisName="xAxis"
                           YAxisName="yAxis"
                           DataSource="@AfricaDataSource"
                           XMemberPath="DeathRate"
                           YMemberPath="BirthRate"
                           MarkerType="MarkerType.Circle"
                           Title="Africa">
            </ScatterSeries>

            <ScatterSeries XAxisName="xAxis"
                           YAxisName="yAxis"
                           DataSource="@EuropeDataSource"
                           XMemberPath="DeathRate"
                           YMemberPath="BirthRate"
                           MarkerType="MarkerType.Circle"
                           Title="Europe">
            </ScatterSeries>
        </DataChart>

    </div>
</div>

@code {

    private Legend _legend;
    public Legend LegendRef
    {
        get { return _legend; }
        set
        {
            _legend = value;
            StateHasChanged();
        }
    }

    private List<BirthAndDeathRateInfo> AfricaDataSource = new BirthAndDeathRateData().Where(d => d.Continent == "Africa").ToList();
    private List<BirthAndDeathRateInfo> EuropeDataSource = new BirthAndDeathRateData().Where(d => d.Continent == "Europe").ToList();

    protected override void OnInitialized()
    {
        LegendModule.Register(IgniteUIBlazor);
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartScatterModule.Register(IgniteUIBlazor);
        DataChartScatterCoreModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        NumberAbbreviatorModule.Register(IgniteUIBlazor);
    }
}