@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor

<div class="igContainer">
    <div class="igComponent">
        <GeographicMap Height="100%" Width="100%" Zoomable="true">
            <GeographicPolylineSeries ShapefileDataSource="@DataSource"
                                      ShapeFilterResolution="0.0"
                                      ShapeStrokeThickness="3"
                                      ShapeStroke="rgb(82, 82, 82, 0.4)"/>
        </GeographicMap>
    </div>
</div>

@code {

    private ShapeDataSource DataSource;

    protected override void OnInitialized()
    {
        GeographicMapModule.Register(InfragisticsBlazor);

        this.DataSource = new ShapeDataSource()
        {
            ShapefileSource = "https://static.infragistics.com/xplatform/shapes/WorldCableRoutes.shp",
            DatabaseSource = "https://static.infragistics.com/xplatform/shapes/WorldCableRoutes.dbf"
        };
    }
}