@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
	
	<div class="legend-title">
        Olympic Medals By Country
    </div>
	
    <div class="container vertical fill">
        <IgbCategoryChart
        ChartType="CategoryChartType.Line"
        XAxisInterval="1"
        XAxisGap="0.125"
        XAxisOverlap="0"
        YAxisInterval="25"
        YAxisMinimumValue="50"
        YAxisMaximumValue="150"
        YAxisMinorInterval="5"
        XAxisLabelTopMargin="5"
        YAxisLabelRightMargin="0"
        XAxisLabelTextColor="gray"
        YAxisLabelTextColor="gray"
        YAxisTitleLeftMargin="5"
        XAxisTitleTextColor="gray"
        YAxisTitleTextColor="gray"
        XAxisLabelTextStyle="9pt Verdana"
        YAxisLabelTextStyle="9pt Verdana"
        XAxisTitleTextStyle="10pt Verdana"
        YAxisTitleTextStyle="10pt Verdana"
        XAxisMajorStroke="gray"
        YAxisMajorStroke="black"
        XAxisMajorStrokeThickness="0.5"
        YAxisMajorStrokeThickness="1"
        YAxisMinorStrokeThickness="0.5"
        XAxisTickLength="10"
        YAxisTickLength="10"
        XAxisTickStroke="black"
        YAxisTickStroke="black"
        XAxisTickStrokeThickness="0.5"
        YAxisTickStrokeThickness="0.5"
        XAxisTitle="Olympic Games"
        YAxisTitle="Total Medals"
        YAxisMinorStroke="gray"
        XAxisTitleAngle="0"
        YAxisTitleAngle="90"
        YAxisLabelLocation="YAxisLabelLocation.OutsideRight"
        DataSource="OlympicMedalsTopCountries"
        Thickness="3"
        ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series"
        Name="chart"
        @ref="chart">
        </IgbCategoryChart>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }

	private Action BindElements { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		var chart = this.chart;

        this.BindElements = () => {
        };
        this.BindElements();
	}

	private IgbCategoryChart chart;


    private OlympicMedalsTopCountries _olympicMedalsTopCountries = null;
    public OlympicMedalsTopCountries OlympicMedalsTopCountries
    {
        get
        {
            if (_olympicMedalsTopCountries == null)
            {
                _olympicMedalsTopCountries = new OlympicMedalsTopCountries(); 
            }
            return _olympicMedalsTopCountries;
        }
    }
    
}