@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <div class="legend-title">
        Olympic Medals By Country
    </div>

    <div class="container vertical fill">
        <IgbCategoryChart
        Name="chart"
        @ref="chart"
        DataSource="OlympicMedalsTopCountries"
        ChartType="CategoryChartType.Line"
        Thickness="3"
        ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series"
        XAxisLabelTextStyle="9pt Verdana"
        XAxisLabelTopMargin="5"
        XAxisLabelTextColor="gray"
        YAxisLabelLocation="YAxisLabelLocation.OutsideRight"
        YAxisLabelTextStyle="9pt Verdana"
        YAxisLabelRightMargin="0"
        YAxisLabelTextColor="gray"
        XAxisTitle="Olympic Games"
        XAxisTitleTextColor="gray"
        XAxisTitleTextStyle="10pt Verdana"
        XAxisTitleAngle="0"
        YAxisTitle="Total Medals"
        YAxisTitleTextStyle="10pt Verdana"
        YAxisTitleTextColor="gray"
        YAxisTitleAngle="90"
        YAxisTitleLeftMargin="5"
        XAxisTickLength="10"
        XAxisTickStrokeThickness="0.5"
        XAxisTickStroke="black"
        YAxisTickLength="10"
        YAxisTickStrokeThickness="0.5"
        YAxisTickStroke="black"
        YAxisMinimumValue="50"
        YAxisMaximumValue="150"
        XAxisInterval="1"
        XAxisMajorStroke="gray"
        XAxisMajorStrokeThickness="0.5"
        YAxisInterval="25"
        YAxisMajorStroke="black"
        YAxisMajorStrokeThickness="1"
        YAxisMinorInterval="5"
        YAxisMinorStroke="gray"
        YAxisMinorStrokeThickness="0.5"
        XAxisGap="0.125"
        XAxisOverlap="0">
        </IgbCategoryChart>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var chart = this.chart;

    }

    private IgbCategoryChart chart;

    private OlympicMedalsTopCountries _olympicMedalsTopCountries = null;
    public OlympicMedalsTopCountries OlympicMedalsTopCountries
    {
        get
        {
            if (_olympicMedalsTopCountries == null)
            {
                _olympicMedalsTopCountries = new OlympicMedalsTopCountries();
            }
            return _olympicMedalsTopCountries;
        }
    }

}