@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container horizontal">
    <div class="container vertical">
        <IgbGeographicMap Height="100%" Width="100%" Zoomable="true" @ref="GeoMap">
        </IgbGeographicMap>
    </div>

    <div class="overlay-border overlay-bottom-right" >
        <label class="overlay-label">Select Map Region</label>
        <select @onchange="OnMapRegionSelectionChanged">
            <option>Australia</option>
            <option>Caribbean</option>
            <option>Egypt</option>
            <option>European</option>
            <option>Hawaii</option>
            <option>Japan</option>
            <option>Poland</option>
            <option>SouthAfrica</option>
            <option>UnitedKingdom</option>
            <option>UnitedStates</option>
            <option>Uruguay</option>
        </select>
        <label class="overlay-label">Map Geographic Rect</label>
        <div class="overlay-row">
            <label class="overlay-field">Top:</label>
            <label class="overlay-value">@MapUtils.ToLat(MapRegionRect.Top)</label>
        </div>
        <div class="overlay-row">
            <label class="overlay-field">Left:</label>
            <label class="overlay-value">@MapUtils.ToLng(MapRegionRect.Left)</label>
        </div>
        <div class="overlay-row">
            <label class="overlay-field">Height:</label>
            <label class="overlay-value">@MapUtils.ToLat(MapRegionRect.Height)</label>
        </div>
        <div class="overlay-row">
            <label class="overlay-field">Width:</label>
            <label class="overlay-value">@MapUtils.ToLng(MapRegionRect.Width)</label>
        </div>
    </div>    
</div>

@code {

    private IgbGeographicMap GeoMap;
    private Rect MapRegionRect;

    Dictionary<MapRegion, Rect> regions;

    protected override void OnInitialized()
    {
        IgbGeographicMapModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);

        regions = MapUtils.GetRegions();
        this.MapRegionRect = regions[MapRegion.Australia];
    }

    public void OnMapRegionSelectionChanged(ChangeEventArgs args)
    {
        MapRegion region = (MapRegion)Enum.Parse(typeof(MapRegion), args.Value.ToString());
        this.MapRegionRect = regions[region];
        MapUtils.NavigateTo(this.GeoMap, region);
    }
}