/*
CSS styles are loaded from the shared CSS file located at:
https://static.infragistics.com/xplatform/css/samples/
*/

.allergensFont {
    color: royalblue !important;
}

.upPrice {
    color: red !important;
}

.downPrice {
    color: green !important;
}

