
@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <style>
        igc-button::part(base) {
            background-color: #e99221;
            color: #011627;
            padding: 18px;
        }
    </style>
    <div>
        <IgbButton Variant="ButtonVariant.Contained">Contained</IgbButton>
    </div>

</div>

@code {

}