/*
CSS styles are loaded from the shared CSS file located at:
https://static.infragistics.com/xplatform/css/samples/
*/

#grid {
    --cell-selected-text-color: green;
    --cell-active-border-color: #0578c4;
    --cell-selected-background: #0578c4;
}

