@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <IgbbulletGraph Height="120px" Width="100%"
                     Orientation="LinearScaleOrientation.Horizontal"
                     BackingBrush="transparent"
                     BackingOutline="transparent"
                     TransitionDuration="500"
                     MinorTickCount="4"
                     Value="90"
                     ValueBrush="#10B401"
                     ValueOutline="#10B401"
                     TargetValue="80"
                     MinimumValue="0"
                     MaximumValue="100"
                     Interval="5"
                     LabelInterval="5"
                     LabelExtent="0.1"
                     FormatLabel="FormatGaugeLabel"
                     ScaleBackgroundBrush="transparent"
                     ScaleBackgroundOutline="transparent"
                     ScaleStartExtent="0.05"
                     ScaleEndExtent="0.95"
                     ValueInnerExtent="0.3"
                     ValueOuterExtent="0.85"
                     MinorTickBrush="transparent"
                     TickBrush="Gray"
                     TickStartExtent="0.3"
                     TickEndExtent="0.2"
                     TickStrokeThickness="1">
            <LinearGraphRange StartValue="0"
                              EndValue="100"
                              Brush="#E0DFDF"
                              Outline="#E0DFDF"
                              InnerStartExtent="0.3"
                              InnerEndExtent="0.3"
                              OuterStartExtent="0.85"
                              OuterEndExtent="0.85">
            </LinearGraphRange>
        </IgbbulletGraph>
        <IgbbulletGraph Height="120px" Width="100%"
                     Orientation="LinearScaleOrientation.Horizontal"
                     BackingBrush="transparent"
                     BackingOutline="transparent"
                     TransitionDuration="500"
                     MinorTickCount="4"
                     Value="70"
                     ValueBrush="#FDB417"
                     ValueOutline="#FDB417"
                     TargetValue="80"
                     MinimumValue="0"
                     MaximumValue="100"
                     Interval="5"
                     LabelInterval="5"
                     LabelExtent="0.1"
                     ScaleBackgroundBrush="transparent"
                     ScaleBackgroundOutline="transparent"
                     ScaleStartExtent="0.05"
                     ScaleEndExtent="0.95"
                     ValueInnerExtent="0.3"
                     ValueOuterExtent="0.85"
                     MinorTickBrush="transparent"
                     TickBrush="Gray"
                     TickStartExtent="0.3"
                     TickEndExtent="0.2"
                     TickStrokeThickness="1">
            <LinearGraphRange StartValue="0"
                              EndValue="100"
                              Brush="#E0DFDF"
                              Outline="#E0DFDF"
                              InnerStartExtent="0.3"
                              InnerEndExtent="0.3"
                              OuterStartExtent="0.85"
                              OuterEndExtent="0.85">
            </LinearGraphRange>
        </IgbbulletGraph>
        <IgbbulletGraph Height="120px" Width="100%"
                     Orientation="LinearScaleOrientation.Horizontal"
                     BackingBrush="transparent"
                     BackingOutline="transparent"
                     TransitionDuration="500"
                     MinorTickCount="4"
                     Value="50"
                     ValueBrush="#FF0000"
                     ValueOutline="#FF0000"
                     TargetValue="80"
                     MinimumValue="0"
                     MaximumValue="100"
                     Interval="5"
                     LabelInterval="5"
                     LabelExtent="0.1"
                     ScaleBackgroundBrush="transparent"
                     ScaleBackgroundOutline="transparent"
                     ScaleStartExtent="0.05"
                     ScaleEndExtent="0.95"
                     ValueInnerExtent="0.3"
                     ValueOuterExtent="0.85"
                     MinorTickBrush="transparent"
                     TickBrush="Gray"
                     TickStartExtent="0.3"
                     TickEndExtent="0.2"
                     TickStrokeThickness="1">
            <LinearGraphRange StartValue="0"
                              EndValue="100"
                              Brush="#E0DFDF"
                              Outline="#E0DFDF"
                              InnerStartExtent="0.3"
                              InnerEndExtent="0.3"
                              OuterStartExtent="0.85"
                              OuterEndExtent="0.85">
            </LinearGraphRange>
        </IgbbulletGraph>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        IgbBulletGraphModule.Register(IgniteUIBlazor);
    }

    private void FormatGaugeLabel(IgbFormatLinearGraphLabelEventArgs args)
    {

    }
}