/*
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css/samples/shared.v6.css
*/

#treeGrid {
    --ig-grid-edit-mode-color: #FFA500;
    --ig-grid-cell-active-border-color: #AAFF00;
    --ig-grid-cell-editing-background: #ADD8E6;
}

