/*
CSS styles are loaded from the shared CSS file located at:
https://static.infragistics.com/xplatform/css/samples/
*/

#treeGrid {
    --cell-editing-background: #4567bb;
    --cell-active-border-color: #4567bb;
    --cell-edited-value-color: #fff;
}

