@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <IgbDateTimeInput @ref="DateTimeInputRef" MinValue="@MinDate" MaxValue="@MaxDate">
        <IgbIcon IconName="clear" Collection="myIcons" slot="prefix" @onclick="OnClear"></IgbIcon>
    </IgbDateTimeInput>
    <IgbIcon @ref="RegisterIconRef"/>
</div>

@code {
    IgbDateTimeInput? DateTimeInputRef;
    IgbIcon? RegisterIconRef;

    DateTime MinDate = new DateTime(2021, 1, 1);
    DateTime MaxDate = new DateTime(2022, 1, 1);

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender && RegisterIconRef != null)
        {
            await RegisterIconRef.EnsureReady();
            var clearIcon = "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\"><path d=\"M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z\"/></svg>";
            await RegisterIconRef.RegisterIconFromTextAsync("clear", clearIcon, "myIcons");
        }
    }

    public async void OnClear()
    {
        await DateTimeInputRef?.ClearAsync();
    }
}