
@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="container vertical">
        <IgbRadialGauge Height="100%" Width="100%"
            MinimumValue="0"
            MaximumValue="100"
            Value="30"
            Interval="10"
            LabelInterval="10"
            LabelExtent="0.65"         
            IsHighlightNeedleDraggingEnabled=true
            HighlightValueDisplayMode=HighlightedValueDisplayMode.Overlay
            HighlightValue="50"
            HighlightLabelText="Test"
            HighlightLabelDisplaysValue=true
            HighlightLabelSnapsToNeedlePivot=true>
        </IgbRadialGauge>

    </div>
</div>

@code {

}