@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">

        <div class="options vertical">
            <span class="legend-title">Distribution of Magnetic Field</span>
        </div>

        @if (Data != null)
        {
            <DataChart Height="100%" Width="100%"
                       GridMode="@GridMode.BeforeSeries"
                       IsHorizontalZoomEnabled="true"
                       IsVerticalZoomEnabled="true">

                @* primary axes required for scatter-contour-series *@
                <NumericXAxis Name="xAxis1" LabelLocation="AxisLabelsLocation.OutsideBottom"  Title="Longitude" MinimumValue="-180" MaximumValue="180" />
                <NumericYAxis Name="yAxis1" LabelLocation="AxisLabelsLocation.OutsideLeft" Title="Latitude"  MinimumValue="-90" MaximumValue="90"/>

                @* optional axes that provide more context for displayed data *@
                <NumericXAxis Name="xAxis2" LabelLocation="AxisLabelsLocation.OutsideTop"  Title="Longitude" MinimumValue="-180" MaximumValue="180" />
                <NumericYAxis Name="yAxis2" LabelLocation="AxisLabelsLocation.OutsideRight" Title="Latitude"  MinimumValue="-90" MaximumValue="90"/>

                <ScatterContourSeries XAxisName="xAxis1"
                                      YAxisName="yAxis1"
                                      DataSource="Data"
                                      XMemberPath="X"
                                      YMemberPath="Y"
                                      Thickness="2"
                                      ValueMemberPath="Z"
                                      FillScale="@BrushScale"
                                      ShowDefaultTooltip="true">
                </ScatterContourSeries>

            </DataChart>
        }
    </div>
</div>

@code {

    private List<SampleScatterPoint> Data;
    private ValueBrushScale BrushScale;

    protected override void OnInitialized()
    {
        LegendModule.Register(IgniteUIBlazor);
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartScatterModule.Register(IgniteUIBlazor);
        DataChartScatterCoreModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        ScatterContourSeriesModule.Register(IgniteUIBlazor);

        this.BrushScale = new ValueBrushScale();
        this.BrushScale.MinimumValue = - 2;
        this.BrushScale.MaximumValue = 2;
        this.BrushScale.Brushes = "#8670CB, #4AC4FF, #B5CC2E, #FC8612, #ED4840";

        Data = SampleScatterData.Create();

    }
}