
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical" style="width: 26.875rem; height: 1.5rem; border: 1px solid gainsboro">
    <IgbRadioGroup Alignment="RadioGroupAlignment.Horizontal">
        <IgbRadio>Apple</IgbRadio>
        <IgbRadio Checked="true">Banana</IgbRadio>
        <IgbRadio>Mango</IgbRadio>
        <IgbRadio>Orange</IgbRadio>
    </IgbRadioGroup>
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbRadioGroupModule.Register(IgniteUIBlazor);
        IgbRadioModule.Register(IgniteUIBlazor);
    }
}