@using IgniteUI.Blazor.Controls

@inject IJSRuntime JS

<div class="container vertical ig-typography">
    <div class="options vertical">
        <IgbPropertyEditorPanel
        Name="PropertyEditor"
        @ref="propertyEditor"

        DescriptionType="WebHierarchicalGrid"
        IsHorizontal="true"
        IsWrappingEnabled="true">
            <IgbPropertyEditorPropertyDescription
            Name="SizeEditor"
            @ref="sizeEditor"
            Label="Grid Size:"
            ValueType="PropertyEditorValueType.EnumValue"
            DropDownNames="@(new string[] { "Small", "Medium", "Large" })"
            DropDownValues="@(new string[] { "Small", "Medium", "Large" })"
            ChangedScript="WebHierarchicalGridSetGridSize">
            </IgbPropertyEditorPropertyDescription>

        </IgbPropertyEditorPanel>

    </div>
    <div class="container vertical fill">
        <IgbHierarchicalGrid
        AutoGenerate="false"
        Data="HierarchicalCustomers"
        Name="hierarchicalGrid"
        @ref="hierarchicalGrid"
        Id="hierarchicalGrid"
        AllowFiltering="true">
            <IgbColumn
            Field="CustomerID"
            DataType="GridColumnDataType.String">
            </IgbColumn>

            <IgbColumn
            Field="Company"
            DataType="GridColumnDataType.String">
            </IgbColumn>

            <IgbColumn
            Field="ContactName"
            DataType="GridColumnDataType.String">
            </IgbColumn>

            <IgbColumn
            Field="Address"
            DataType="GridColumnDataType.String">
            </IgbColumn>

            <IgbColumn
            Field="City"
            DataType="GridColumnDataType.String">
            </IgbColumn>

            <IgbColumn
            Field="PostalCode"
            DataType="GridColumnDataType.String">
            </IgbColumn>

            <IgbColumn
            Field="Country"
            DataType="GridColumnDataType.String">
            </IgbColumn>

            <IgbColumn
            Field="Phone"
            DataType="GridColumnDataType.String">
            </IgbColumn>

            <IgbColumn
            Field="Fax"
            DataType="GridColumnDataType.String">
            </IgbColumn>

            <IgbRowIsland
            ChildDataKey="Orders"
            AutoGenerate="false">
                <IgbColumn
                Field="OrderID"
                DataType="GridColumnDataType.Number">
                </IgbColumn>

                <IgbColumn
                Field="EmployeeID"
                DataType="GridColumnDataType.Number">
                </IgbColumn>

                <IgbColumn
                Field="OrderDate"
                DataType="GridColumnDataType.Date">
                </IgbColumn>

                <IgbColumn
                Field="RequiredDate"
                DataType="GridColumnDataType.Date">
                </IgbColumn>

                <IgbColumn
                Field="ShippedDate"
                DataType="GridColumnDataType.Date">
                </IgbColumn>

                <IgbColumn
                Field="ShipVia"
                DataType="GridColumnDataType.Number">
                </IgbColumn>

                <IgbColumn
                Field="Freight"
                DataType="GridColumnDataType.Number">
                </IgbColumn>

                <IgbColumn
                Field="ShipName"
                DataType="GridColumnDataType.String">
                </IgbColumn>

                <IgbColumn
                Field="ShipAddress"
                DataType="GridColumnDataType.String">
                </IgbColumn>

                <IgbColumn
                Field="ShipCity"
                DataType="GridColumnDataType.String">
                </IgbColumn>

                <IgbColumn
                Field="ShipPostalCode"
                DataType="GridColumnDataType.String">
                </IgbColumn>

                <IgbColumn
                Field="ShipCountry"
                DataType="GridColumnDataType.String">
                </IgbColumn>

                <IgbRowIsland
                ChildDataKey="OrderDetails"
                AutoGenerate="false">
                    <IgbColumn
                    Field="ProductID"
                    DataType="GridColumnDataType.Number">
                    </IgbColumn>

                    <IgbColumn
                    Field="UnitPrice"
                    DataType="GridColumnDataType.Number">
                    </IgbColumn>

                    <IgbColumn
                    Field="Quantity"
                    DataType="GridColumnDataType.Number">
                    </IgbColumn>

                    <IgbColumn
                    Field="Discount"
                    DataType="GridColumnDataType.Number">
                    </IgbColumn>

                </IgbRowIsland>

            </IgbRowIsland>

        </IgbHierarchicalGrid>

    </div>
</div>

@code {

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var propertyEditor = this.propertyEditor;
        var sizeEditor = this.sizeEditor;
        var hierarchicalGrid = this.hierarchicalGrid;

        this.BindElements = () => {
            propertyEditor.Target = this.hierarchicalGrid;
        };
        this.BindElements();

    }

    private IgbPropertyEditorPanel propertyEditor;
    private IgbPropertyEditorPropertyDescription sizeEditor;
    private IgbHierarchicalGrid hierarchicalGrid;

    private HierarchicalCustomers _hierarchicalCustomers = null;
    public HierarchicalCustomers HierarchicalCustomers
    {
        get
        {
            if (_hierarchicalCustomers == null)
            {
                _hierarchicalCustomers = new HierarchicalCustomers();
            }
            return _hierarchicalCustomers;
        }
    }

}