@using IgniteUI.Blazor.Controls;


<div class="container vertical">
    <div class="legend-title">
        Facebook Consolidated Statements of Income
    </div>

    <div class="container vertical fill">
        <IgbDataChart
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false"
        Name="chart"
        @ref="chart">
            <IgbCategoryXAxis
            Interval="1"
            DataSource="CompanyIncomeData"
            Overlap="1"
            Label="Category"
            Name="xAxis"
            @ref="xAxis">
            </IgbCategoryXAxis>
            
            <IgbNumericYAxis
            MinimumValue="0"
            MaximumValue="60"
            Title="Millions of Dollars"
            TitleAngle="90"
            TitleLeftMargin="10"
            Name="yAxis"
            @ref="yAxis">
            </IgbNumericYAxis>
            
            <IgbWaterfallSeries
            XAxisName="xAxis"
            YAxisName="yAxis"
            ValueMemberPath="Costs"
            IsTransitionInEnabled="true"
            DataSource="CompanyIncomeData"
            ShowDefaultTooltip="true"
            Title="Value"
            Name="WaterfallSeries1"
            @ref="waterfallSeries1">
            </IgbWaterfallSeries>
            
            <IgbWaterfallSeries
            Title="Value"
            XAxisName="xAxis"
            YAxisName="yAxis"
            DataSource="CompanyIncomeData"
            ValueMemberPath="NetIncome"
            ShowDefaultTooltip="true"
            IsTransitionInEnabled="true"
            Brush="#7446b9"
            Outline="#7446b9"
            Name="WaterfallSeries2"
            @ref="waterfallSeries2">
            </IgbWaterfallSeries>
            
        </IgbDataChart>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var chart = this.chart;
        var xAxis = this.xAxis;
        var yAxis = this.yAxis;
        var waterfallSeries1 = this.waterfallSeries1;
        var waterfallSeries2 = this.waterfallSeries2;



	}

    private IgbDataChart chart;
    private IgbCategoryXAxis xAxis;
    private IgbNumericYAxis yAxis;
    private IgbWaterfallSeries waterfallSeries1;
    private IgbWaterfallSeries waterfallSeries2;

    private CompanyIncomeData _companyIncomeData = null;
    public CompanyIncomeData CompanyIncomeData
    {
        get
        {
            if (_companyIncomeData == null)
            {
                _companyIncomeData = new CompanyIncomeData(); 
            }
            return _companyIncomeData;
        }
    }
    
}