@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container sample center" style="flex-direction: row; gap: 8px">
    <IgbChip Variant="ChipVariant.Primary" Selectable="true" Removable="true"> Primary
    </IgbChip>

    <IgbChip Variant="ChipVariant.Info" Selectable="true" Removable="true"> Info
    </IgbChip>

    <IgbChip Variant="ChipVariant.Success" Selectable="true" Removable="true"> Success
    </IgbChip>

    <IgbChip Variant="ChipVariant.Warning" Selectable="true" Removable="true"> Warning
    </IgbChip>

    <IgbChip Variant="ChipVariant.Danger" Selectable="true" Removable="true"> Danger
    </IgbChip>
</div>

@code {

    protected override void OnInitialized()
    {
        IgbChipModule.Register(IgniteUIBlazor);
    }
}