@using IgniteUI.Blazor.Controls


<div class="container sample center" style="flex-direction: row; gap: 8px">
    <IgbChip Variant="StyleVariant.Primary" Selectable="true" Removable="true"> Primary
    </IgbChip>

    <IgbChip Variant="StyleVariant.Info" Selectable="true" Removable="true"> Info
    </IgbChip>

    <IgbChip Variant="StyleVariant.Success" Selectable="true" Removable="true"> Success
    </IgbChip>

    <IgbChip Variant="StyleVariant.Warning" Selectable="true" Removable="true"> Warning
    </IgbChip>

    <IgbChip Variant="StyleVariant.Danger" Selectable="true" Removable="true"> Danger
    </IgbChip>
</div>

@code {

}