@page "/CategoryChartMarkerOptions"

@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor;
@inject IJSRuntime JSRuntime;

<div class="igContainer">
    <div class="igOptions">
        <span className="igOptions-label">Chart Type: </span>
        <select @onchange="OnChartTypeChanged">
            <option>Auto</option>
            <option>Area</option>
            <option>Column</option>
            <option>Point</option>
            <option>Line</option>
            <option>Spline</option>
            <option>SplineArea</option>
            <option>StepArea</option>
            <option>StepLine</option>
            <option>Waterfall</option>
        </select>
        <span className="igOptions-label"> Marker Type: </span>
        <select @onchange="OnMarkerTypeChanged">
            <option>Automatic</option>
            <option>Circle</option>
            <option>Triangle</option>
            <option>Pyramid</option>
            <option>Square</option>
            <option>Diamond</option>
            <option>Pentagon</option>
            <option>Hexagon</option>
            <option>Tetragram</option>
            <option>Pentagram</option>
            <option>Hexagram</option>
            <option>None</option>
        </select>
    </div>
    <div class="igComponent">
        @if (DataSource != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           DataSource="DataSource"
                           ChartTitle="Olympic Medals By Country"
                           IsSeriesHighlightingEnabled="true"
                           ChartType="@ChartType"
                           YAxisMinimumValue="0">
            </CategoryChart>

            @*MarkerTypes="@MarkerTypes"*@
        }

    </div>
</div>

@code {

    private List<OlympicMedals> DataSource;
    private CategoryChartType ChartType;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CategoryChartModule.Register(InfragisticsBlazor);

        var olympicMedals = new List<OlympicMedals>();
        olympicMedals.Add(new OlympicMedals() { Year = "1996", USA = 148, CHN = 110, RUS = 95 });
        olympicMedals.Add(new OlympicMedals() { Year = "2000", USA = 142, CHN = 115, RUS = 91 });
        olympicMedals.Add(new OlympicMedals() { Year = "2004", USA = 134, CHN = 121, RUS = 86 });
        olympicMedals.Add(new OlympicMedals() { Year = "2008", USA = 131, CHN = 129, RUS = 65 });
        olympicMedals.Add(new OlympicMedals() { Year = "2012", USA = 135, CHN = 115, RUS = 77 });
        olympicMedals.Add(new OlympicMedals() { Year = "2016", USA = 146, CHN = 112, RUS = 88 });

        DataSource = olympicMedals;

        this.ChartType = CategoryChartType.Auto;
    }

    private void OnChartTypeChanged(ChangeEventArgs args)
    {
        string str = args.Value.ToString();
        switch (str)
        {
            case "Automatic":
                {
                    ChartType = CategoryChartType.Auto;
                    break;
                }
            case "Area":
                {
                    ChartType = CategoryChartType.Area;
                    break;
                }
            case "Column":
                {
                    ChartType = CategoryChartType.Column;
                    break;
                }
            case "Point":
                {
                    ChartType = CategoryChartType.Point;
                    break;
                }
            case "Line":
                {
                    ChartType = CategoryChartType.Line;
                    break;
                }
            case "Spline":
                {
                    ChartType = CategoryChartType.Spline;
                    break;
                }
            case "SplineArea":
                {
                    ChartType = CategoryChartType.SplineArea;
                    break;
                }
            case "StepArea":
                {
                    ChartType = CategoryChartType.StepArea;
                    break;
                }
            case "StepLine":
                {
                    ChartType = CategoryChartType.StepLine;
                    break;
                }
            case "Waterfall":
                {
                    ChartType = CategoryChartType.Waterfall;
                    break;
                }
        }
    }

    private void OnMarkerTypeChanged(ChangeEventArgs args)
    {
        string str = args.Value.ToString();
        switch (str)
        {
            case "Automatic":
                {
                    break;
                }
            case "Circle":
                {
                    break;
                }
            case "Triangle":
                {
                    break;
                }
            case "Pyramid":
                {
                    break;
                }
            case "Square":
                {
                    break;
                }
            case "Diamond":
                {
                    break;
                }
            case "Pentagon":
                {
                    break;
                }
            case "Hexagon":
                {
                    break;
                }
            case "Tetragram":
                {
                    break;
                }
            case "Pentagram":
                {
                    break;
                }
            case "Hexagram":
                {
                    break;
                }
            case "None":
                {
                    break;
                }
        }
    }
}
