@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
	
	    <div class="legend-title">
        Total Population of Selected Countries
    </div>
    
	     <div class="legend">
        <IgbLegend
        Orientation="LegendOrientation.Horizontal"
        Name="Legend"
        @ref="legend">
        </IgbLegend>
    </div>
	
    <div class="container vertical fill">
        <IgbDataChart
        
        Name="chart"
        @ref="chart">
            <IgbNumericXAxis
            IsLogarithmic="true"
            AbbreviateLargeNumbers="true"
            Title="Population"
            Name="xAxis"
            @ref="xAxis">
            </IgbNumericXAxis>
            <IgbNumericYAxis
            IsLogarithmic="true"
            AbbreviateLargeNumbers="true"
            Title="GDP per Capita"
            Name="yAxis"
            @ref="yAxis">
            </IgbNumericYAxis>
            <IgbBubbleSeries
            RadiusMemberPath="Population"
            XAxisName="xAxis"
            YAxisName="yAxis"
            XMemberPath="Population"
            YMemberPath="GDP"
            MarkerType="MarkerType.Circle"
            DataSource="CountryStatsAfrica"
            ShowDefaultTooltip="true"
            Title="African Countries"
            Name="BubbleSeries1"
            @ref="bubbleSeries1">
            </IgbBubbleSeries>
            <IgbBubbleSeries
            Title="European Countries"
            XAxisName="xAxis"
            YAxisName="yAxis"
            XMemberPath="Population"
            YMemberPath="GDP"
            RadiusMemberPath="Population"
            DataSource="CountryStatsEurope"
            MarkerType="MarkerType.Circle"
            ShowDefaultTooltip="true"
            Name="BubbleSeries2"
            @ref="bubbleSeries2">
            </IgbBubbleSeries>
        </IgbDataChart>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }

	private Action BindElements { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		var legend = this.legend;
		var chart = this.chart;
		var xAxis = this.xAxis;
		var yAxis = this.yAxis;
		var bubbleSeries1 = this.bubbleSeries1;
		var bubbleSeries2 = this.bubbleSeries2;

        this.BindElements = () => {
            chart.Legend = this.legend;
        };
        this.BindElements();
	}

	private IgbLegend legend;
	private IgbDataChart chart;
	private IgbNumericXAxis xAxis;
	private IgbNumericYAxis yAxis;
	private IgbBubbleSeries bubbleSeries1;
	private IgbBubbleSeries bubbleSeries2;


    private CountryStatsAfrica _countryStatsAfrica = null;
    public CountryStatsAfrica CountryStatsAfrica
    {
        get
        {
            if (_countryStatsAfrica == null)
            {
                _countryStatsAfrica = new CountryStatsAfrica(); 
            }
            return _countryStatsAfrica;
        }
    }
    
    private CountryStatsEurope _countryStatsEurope = null;
    public CountryStatsEurope CountryStatsEurope
    {
        get
        {
            if (_countryStatsEurope == null)
            {
                _countryStatsEurope = new CountryStatsEurope(); 
            }
            return _countryStatsEurope;
        }
    }
    
}