@using IgniteUI.Blazor.Controls

@inject IJSRuntime JS

<div class="container vertical">
    <div class="options vertical">
        <IgbPropertyEditorPanel
        Name="PropertyEditor"
        @ref="propertyEditor"

        DescriptionType="WebGrid"
        IsHorizontal="true"
        IsWrappingEnabled="true">
            <IgbPropertyEditorPropertyDescription
            ValueType="PropertyEditorValueType.StringValue"
            Label="Change Copy Separator"
            PropertyPath="ClipboardOptions.Separator">
            </IgbPropertyEditorPropertyDescription>

            <IgbPropertyEditorPropertyDescription
            PropertyPath="ClipboardOptions.Enabled"
            Name="ClipboardEnabledEditor"
            @ref="clipboardEnabledEditor"
            Label="Grid Copy Behavior"
            ValueType="PropertyEditorValueType.Boolean1"
            PrimitiveValue="true">
            </IgbPropertyEditorPropertyDescription>

            <IgbPropertyEditorPropertyDescription
            PropertyPath="ClipboardOptions.CopyHeaders"
            Name="ClipboardHeadersEditor"
            @ref="clipboardHeadersEditor"
            Label="Copying of Header Labels"
            ValueType="PropertyEditorValueType.Boolean1"
            PrimitiveValue="true">
            </IgbPropertyEditorPropertyDescription>

            <IgbPropertyEditorPropertyDescription
            PropertyPath="ClipboardOptions.CopyFormatters"
            Name="ClipboardFormattersEditor"
            @ref="clipboardFormattersEditor"
            Label="Copying Column Formatters"
            ValueType="PropertyEditorValueType.Boolean1"
            PrimitiveValue="true">
            </IgbPropertyEditorPropertyDescription>

            <IgbPropertyEditorPropertyDescription
            ValueType="PropertyEditorValueType.Button"
            PrimitiveValue="@("Clear Selection")"
            ButtonClickedScript="WebGridClearSelection"
            Name="propertyEditorPropertyDescription1"
            @ref="propertyEditorPropertyDescription1">
            </IgbPropertyEditorPropertyDescription>

        </IgbPropertyEditorPanel>

    </div>
    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Name="grid"
        @ref="grid"
        Data="NwindData"
        RowEditable="true"
        ColumnInitScript="WebGridClipboardOperationsColumnInit">
            <IgbColumn
            Field="ProductID"
            Header="Product ID">
            </IgbColumn>

            <IgbColumn
            Field="ProductName"
            Header="Product Name">
            </IgbColumn>

            <IgbColumn
            Field="SupplierID"
            Header="Supplier ID">
            </IgbColumn>

            <IgbColumn
            Field="CategoryID"
            Header="Category ID">
            </IgbColumn>

            <IgbColumn
            Field="QuantityPerUnit"
            Header="Quantity Per Unit">
            </IgbColumn>

            <IgbColumn
            Field="UnitPrice"
            Header="Unit Price">
            </IgbColumn>

            <IgbColumn
            Field="UnitsInStock"
            Header="Units In Stock">
            </IgbColumn>

        </IgbGrid>

    </div>
</div>

@code {

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var propertyEditor = this.propertyEditor;
        var clipboardEnabledEditor = this.clipboardEnabledEditor;
        var clipboardHeadersEditor = this.clipboardHeadersEditor;
        var clipboardFormattersEditor = this.clipboardFormattersEditor;
        var propertyEditorPropertyDescription1 = this.propertyEditorPropertyDescription1;
        var grid = this.grid;

        this.BindElements = () => {
            propertyEditor.Target = this.grid;
        };
        this.BindElements();

    }

    private IgbPropertyEditorPanel propertyEditor;
    private IgbPropertyEditorPropertyDescription clipboardEnabledEditor;
    private IgbPropertyEditorPropertyDescription clipboardHeadersEditor;
    private IgbPropertyEditorPropertyDescription clipboardFormattersEditor;
    private IgbPropertyEditorPropertyDescription propertyEditorPropertyDescription1;
    private IgbGrid grid;

    private NwindData _nwindData = null;
    public NwindData NwindData
    {
        get
        {
            if (_nwindData == null)
            {
                _nwindData = new NwindData();
            }
            return _nwindData;
        }
    }

}