/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

@tailwind utilities;

:root {
    --color-form-ink: #344b65;
    --color-form-error: #ff134a;
    --color-form-border: #d2dbe8;
}
