
/* Tabs header background */
igc-tabs::part(headers-content) {
    background-color: var(--ig-gray-200);
    border-bottom: 1px solid var(--ig-success-400);
}

/* Default tab header text */
igc-tab::part(content) {
    color: var(--ig-gray-800);
    font-weight: 600;
}

/* Selected tab header */
igc-tab[selected]::part(tab-header) {
    background-color: var(--ig-success-100);
    border-bottom: 2px solid var(--ig-success-600);
}

/* Selected tab label text */
igc-tab[selected]::part(content) {
    color: var(--ig-success-800);
    font-weight: 700;
}

/* Tab panel content */
igc-tab[selected] {
    color: var(--ig-error-700);
}
