@inject IJSRuntime JSRuntime;
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <IgbDockManager @ref="dockManager" Layout="Layout" height="100%" width="100%">
            <div slot="content1" class="container vertical">
                <iframe src="https://infragistics.com/webcomponents-demos/charts/doughnut-chart-overview"
                        class="container vertical" seamless frameBorder="0" >
                </iframe>
            </div>
            <div slot="content2" class="container vertical">
                <iframe src="https://infragistics.com/webcomponents-demos/gauges/radial-gauge-needle"
                        class="container vertical" seamless frameBorder="0" >
                </iframe>
            </div>
            <div slot="content3" class="container vertical">
                <iframe src="https://infragistics.com/webcomponents-demos/maps/geo-map-binding-data-csv"
                        class="container vertical" seamless frameBorder="0" >
                </iframe>
            </div>
        </IgbDockManager>
    </div>
</div>

@code {

    public IgbDockManager dockManager { get; set; }
    public IgbDockManagerLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        IgbDockManagerModule.Register(IgniteUIBlazor);

        Layout = new IgbDockManagerLayout();
        Layout.RootPane = new IgbSplitPane();
        Layout.RootPane.PaneType = DockManagerPaneType.SplitPane;
        Layout.RootPane.Orientation = SplitPaneOrientation.Horizontal;
        Layout.RootPane.Panes = new IgbDockManagerPaneCollection(null, null)
        {
            new IgbSplitPane()
            {
                PaneType = DockManagerPaneType.SplitPane,
                Orientation = SplitPaneOrientation.Horizontal,
                Size = 300,
                Panes = new IgbDockManagerPaneCollection(null, null)
                {
                    new IgbContentPane
                    {
                        PaneType = DockManagerPaneType.ContentPane,
                        Header = "EMBEDDED RADIAL GAUGE",
                        ContentId = "content1",
                    },
                    new IgbContentPane
                    {
                        PaneType = DockManagerPaneType.ContentPane,
                        Header = "EMBEDDED DOUGHNUT CHART",
                        ContentId = "content2",
                    },
                    new IgbContentPane
                    {
                        PaneType = DockManagerPaneType.ContentPane,
                        Header = "EMBEDDED GEOGRAPHIC MAP",
                        ContentId = "content3",
                    }
                }
             }
        };
    }
}
