@inject IJSRuntime JSRuntime;

<div class="container vertical">
    <div class="container vertical">
        <igc-dockmanager @ref="dockManager" id="dockManager" height="100%" width="100%">
            @*NOTE: code in DockManagerEmbedding.js file sets layout of these DIV elements:*@
            <div slot="content1" class="container vertical">
                <iframe src="https://infragistics.com/webcomponents-demos/charts/doughnut-chart-overview"
                        class="container vertical" seamless frameBorder="0" >
                </iframe>
            </div>
            <div slot="content2" class="container vertical">
                <iframe src="https://infragistics.com/webcomponents-demos/gauges/radial-gauge-needle"
                        class="container vertical" seamless frameBorder="0" >
                </iframe>
            </div>
            <div slot="content3" class="container vertical">
                <iframe src="https://infragistics.com/react-demos/maps/geo-map-binding-data-csv"
                        class="container vertical" seamless frameBorder="0" >
                </iframe>
            </div>
        </igc-dockmanager>
    </div>
</div>

@code {

    ElementReference dockManager;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // open DockManagerEmbedding.bundle.js file to see how the arrange funciton is implemented
            await JSRuntime.InvokeVoidAsync("DockManagerEmbedding.arrange", dockManager);
        }
    }
}
