@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
	
	    <div class="legend-title">
        Monthly Temperature Range in LA and NYC
    </div>
    
	     <div class="legend">
        <IgbLegend
        Orientation="LegendOrientation.Horizontal"
        Name="Legend"
        @ref="legend">
        </IgbLegend>
    </div>
	
    <div class="container vertical fill">
        <IgbDataChart
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false"
        Name="chart"
        @ref="chart">
            <IgbCategoryXAxis
            Interval="1"
            DataSource="TemperatureRangeData"
            Label="Month"
            Name="xAxis"
            @ref="xAxis">
            </IgbCategoryXAxis>
            <IgbNumericYAxis
            Title="Temperature (in Celsius)"
            TitleAngle="90"
            TitleLeftMargin="10"
            Name="yAxis"
            @ref="yAxis">
            </IgbNumericYAxis>
            <IgbRangeColumnSeries
            XAxisName="xAxis"
            YAxisName="yAxis"
            LowMemberPath="LowLA"
            HighMemberPath="HighLA"
            DataSource="TemperatureRangeData"
            Title="Los Angeles"
            Name="series1"
            @ref="series1">
            </IgbRangeColumnSeries>
            <IgbRangeColumnSeries
            XAxisName="xAxis"
            YAxisName="yAxis"
            Title="New York City"
            LowMemberPath="LowNY"
            HighMemberPath="HighNY"
            DataSource="TemperatureRangeData"
            Name="series2"
            @ref="series2">
            </IgbRangeColumnSeries>
        </IgbDataChart>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }

	private Action BindElements { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		var legend = this.legend;
		var chart = this.chart;
		var xAxis = this.xAxis;
		var yAxis = this.yAxis;
		var series1 = this.series1;
		var series2 = this.series2;

        this.BindElements = () => {
            chart.Legend = this.legend;
        };
        this.BindElements();
	}

	private IgbLegend legend;
	private IgbDataChart chart;
	private IgbCategoryXAxis xAxis;
	private IgbNumericYAxis yAxis;
	private IgbRangeColumnSeries series1;
	private IgbRangeColumnSeries series2;


    private TemperatureRangeData _temperatureRangeData = null;
    public TemperatureRangeData TemperatureRangeData
    {
        get
        {
            if (_temperatureRangeData == null)
            {
                _temperatureRangeData = new TemperatureRangeData(); 
            }
            return _temperatureRangeData;
        }
    }
    
}