@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Monthly Temperature Range in LA and NYC for 2020 (in Celsius)</span>
        <div class="legend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="container vertical">
        <DataChart Height="100%" Width="100%"
                   Legend="Legend"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <CategoryXAxis Name="xAxis" Label="Month" Interval="1" DataSource="Data" />
            <NumericYAxis Name="yAxis" Title="Temperature (in Celsius)" TitleLeftMargin="10" />

            <RangeColumnSeries XAxisName="xAxis" Title="Los Angeles"
                               YAxisName="yAxis"
                               DataSource="Data"
                               LowMemberPath="LA_Low"
                               HighMemberPath="LA_High" />

            <RangeColumnSeries XAxisName="xAxis" Title="New York City"
                               YAxisName="yAxis"
                               DataSource="Data"
                               LowMemberPath="NY_Low"
                               HighMemberPath="NY_High" />
        </DataChart>

    </div>
</div>

@code {

    private Legend _Legend;
    private Legend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    private List<CityTemperatureInfo> Data = new CityTemperatureData();

    protected override void OnInitialized()
    {
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartCategoryModule.Register(IgniteUIBlazor);
        DataChartCategoryCoreModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
    }

}