@using IgniteUI.Blazor.Controls


<div class="container horizontal" style="gap: 10px;">
    <IgbAvatar 
        src="https://static.infragistics.com/xplatform/images/people/men/1.jpg" 
        alt="A photo of a man." 
        className='size-large'/>

    <div className="sizes">
        <IgbAvatar Initials="L" class="size-large" />
        <IgbAvatar Initials="M" class="size-medium" />
        <IgbAvatar Initials="S" class="size-small" />
    </div>
</div>
@code {

}