@using IgniteUI.Blazor.Controls


<div class="container vertical">

    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="FinancialDataAll"
        Id="grid"
        AllowFiltering="true"
        Name="grid"
        @ref="grid">
            <IgbColumn
            Field="Category"
            Width="120px">
            </IgbColumn>
            
            <IgbColumn
            Field="Type"
            Filterable="false"
            Width="150px">
            </IgbColumn>
            
            <IgbColumn
            Field="Open"
            Width="120px"
            DataType="GridColumnDataType.Currency">
            </IgbColumn>
            
            <IgbColumn
            Field="Price"
            Width="120px"
            DataType="GridColumnDataType.Currency">
            </IgbColumn>
            
            <IgbColumn
            Field="Change"
            Width="120px"
            DataType="GridColumnDataType.Number">
            </IgbColumn>
            
            <IgbColumn
            Field="ChangePercent"
            Header="Change(%)"
            Width="120px"
            DataType="GridColumnDataType.Number">
            </IgbColumn>
            
            <IgbColumn
            Field="AnnualChange"
            Header="Change On Year(%)"
            Width="150px"
            DataType="GridColumnDataType.Number">
            </IgbColumn>
            
            <IgbColumn
            Field="Buy"
            Width="130px"
            DataType="GridColumnDataType.Currency">
            </IgbColumn>
            
            <IgbColumn
            Field="Sell"
            Width="130px"
            DataType="GridColumnDataType.Currency">
            </IgbColumn>
            
            <IgbColumn
            Field="Spread"
            Width="130px"
            DataType="GridColumnDataType.Number">
            </IgbColumn>
            
            <IgbColumn
            Field="Volume"
            Width="130px"
            DataType="GridColumnDataType.Number">
            </IgbColumn>
            
            <IgbColumn
            Field="High"
            Width="130px"
            DataType="GridColumnDataType.Currency">
            </IgbColumn>
            
            <IgbColumn
            Field="Low"
            Width="130px"
            DataType="GridColumnDataType.Currency">
            </IgbColumn>
            
            <IgbColumn
            Field="AnnualHigh"
            Header="High(Y)"
            Width="130px"
            DataType="GridColumnDataType.Currency">
            </IgbColumn>
            
            <IgbColumn
            Field="AnnualLow"
            Header="Low(Y)"
            Width="130px"
            DataType="GridColumnDataType.Currency">
            </IgbColumn>
            
            <IgbColumn
            Field="AnnualStart"
            Header="Start(Y)"
            Width="130px"
            DataType="GridColumnDataType.Currency">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>
</div>

@code {


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;


    }

    private IgbGrid grid;

    private FinancialDataAll _financialDataAll = null;
    public FinancialDataAll FinancialDataAll
    {
        get
        {
            if (_financialDataAll == null)
            {
                _financialDataAll = new FinancialDataAll(); 
            }
            return _financialDataAll;
        }
    }
    
}