@using IgniteUI.Blazor.Controls;


<div class="container vertical">
    <div class="legend-title">
        Renewable Electricity Generated
    </div>

    <div class="container vertical fill">
        <IgbDataChart
        Name="chart"
        @ref="chart">
            <IgbCategoryXAxis
            DataSource="CountryRenewableElectricity"
            Label="Year"
            Name="xAxis"
            @ref="xAxis">
            </IgbCategoryXAxis>
            
            <IgbNumericYAxis
            Title="TWh"
            Name="yAxis"
            @ref="yAxis">
            </IgbNumericYAxis>
            
            <IgbLineSeries
            XAxisName="xAxis"
            YAxisName="yAxis"
            ValueMemberPath="America"
            DataSource="CountryRenewableElectricity"
            Title="Electricity"
            Name="LineSeries1"
            @ref="lineSeries1">
            </IgbLineSeries>
            
            <IgbCalloutLayer
            LabelMemberPath="Label"
            XMemberPath="Index"
            YMemberPath="Value"
            CalloutCornerRadius="5"
            CalloutPaddingLeft="20"
            CalloutPaddingTop="10"
            CalloutPaddingRight="20"
            CalloutPaddingBottom="10"
            DataSource="CountryRenewableCallouts"
            Name="CalloutLayer1"
            @ref="calloutLayer1">
            </IgbCalloutLayer>
            
            <IgbFinalValueLayer
            AxisAnnotationBackgroundCornerRadius="10"
            AxisAnnotationPaddingLeft="10"
            AxisAnnotationPaddingTop="10"
            AxisAnnotationPaddingRight="10"
            AxisAnnotationPaddingBottom="10"
            Name="FinalValueLayer"
            @ref="finalValueLayer">
            </IgbFinalValueLayer>
            
            <IgbCrosshairLayer
            IsAxisAnnotationEnabled="true"
            XAxisAnnotationBackgroundCornerRadius="10"
            YAxisAnnotationBackgroundCornerRadius="10"
            YAxisAnnotationInterpolatedValuePrecision="0"
            Name="CrosshairLayer"
            @ref="crosshairLayer">
            </IgbCrosshairLayer>
            
            <IgbDataToolTipLayer
            Name="Tooltips"
            @ref="tooltips">
            </IgbDataToolTipLayer>
            
        </IgbDataChart>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var chart = this.chart;
        var xAxis = this.xAxis;
        var yAxis = this.yAxis;
        var lineSeries1 = this.lineSeries1;
        var calloutLayer1 = this.calloutLayer1;
        var finalValueLayer = this.finalValueLayer;
        var crosshairLayer = this.crosshairLayer;
        var tooltips = this.tooltips;



	}

    private IgbDataChart chart;
    private IgbCategoryXAxis xAxis;
    private IgbNumericYAxis yAxis;
    private IgbLineSeries lineSeries1;
    private IgbCalloutLayer calloutLayer1;
    private IgbFinalValueLayer finalValueLayer;
    private IgbCrosshairLayer crosshairLayer;
    private IgbDataToolTipLayer tooltips;

    private CountryRenewableElectricity _countryRenewableElectricity = null;
    public CountryRenewableElectricity CountryRenewableElectricity
    {
        get
        {
            if (_countryRenewableElectricity == null)
            {
                _countryRenewableElectricity = new CountryRenewableElectricity(); 
            }
            return _countryRenewableElectricity;
        }
    }
    
    private CountryRenewableCallouts _countryRenewableCallouts = null;
    public CountryRenewableCallouts CountryRenewableCallouts
    {
        get
        {
            if (_countryRenewableCallouts == null)
            {
                _countryRenewableCallouts = new CountryRenewableCallouts(); 
            }
            return _countryRenewableCallouts;
        }
    }
    
}