@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="legend-title">
        Wind Speed vs Boat Speed
    </div>
    <div class="legend">
        <IgbLegend
        Orientation="LegendOrientation.Horizontal"
        Name="Legend"
        @ref="legend">
        </IgbLegend>
        
    </div>

    <div class="container vertical fill">
        <IgbDataChart
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false"
        Name="chart"
        @ref="chart">
            <IgbNumericAngleAxis
            StartAngleOffset="-90"
            MinimumValue="0"
            MaximumValue="360"
            Interval="30"
            Name="angleAxis"
            @ref="angleAxis">
            </IgbNumericAngleAxis>
            
            <IgbNumericRadiusAxis
            RadiusExtentScale="0.9"
            InnerRadiusExtentScale="0.1"
            MinimumValue="0"
            MaximumValue="100"
            Interval="25"
            Name="radiusAxis"
            @ref="radiusAxis">
            </IgbNumericRadiusAxis>
            
            <IgbPolarAreaSeries
            AngleMemberPath="Direction"
            RadiusMemberPath="WindSpeed"
            AngleAxisName="angleAxis"
            RadiusAxisName="radiusAxis"
            MarkerType="MarkerType.Circle"
            DataSource="BoatSailingData"
            Thickness="1"
            AreaFillOpacity="0.8"
            ShowDefaultTooltip="false"
            Title="Wind Speed"
            Name="PolarAreaSeries1"
            @ref="polarAreaSeries1">
            </IgbPolarAreaSeries>
            
            <IgbPolarAreaSeries
            DataSource="BoatSailingData"
            AngleAxisName="angleAxis"
            RadiusAxisName="radiusAxis"
            AngleMemberPath="Direction"
            RadiusMemberPath="BoatSpeed"
            ShowDefaultTooltip="false"
            AreaFillOpacity="0.8"
            Thickness="1"
            Title="Boat Speed"
            MarkerType="MarkerType.Circle"
            Name="PolarAreaSeries2"
            @ref="polarAreaSeries2">
            </IgbPolarAreaSeries>
            
            <IgbDataToolTipLayer
            Name="DataToolTipLayer"
            @ref="dataToolTipLayer">
            </IgbDataToolTipLayer>
            
        </IgbDataChart>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

        await Task.Delay(1);
    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var legend = this.legend;
        var chart = this.chart;
        var angleAxis = this.angleAxis;
        var radiusAxis = this.radiusAxis;
        var polarAreaSeries1 = this.polarAreaSeries1;
        var polarAreaSeries2 = this.polarAreaSeries2;
        var dataToolTipLayer = this.dataToolTipLayer;

        this.BindElements = () => {
            chart.Legend = this.legend;
        };
        this.BindElements();

        if (firstRender) {
        }

        await Task.Delay(1);
	}

    private IgbLegend legend;
    private IgbDataChart chart;
    private IgbNumericAngleAxis angleAxis;
    private IgbNumericRadiusAxis radiusAxis;
    private IgbPolarAreaSeries polarAreaSeries1;
    private IgbPolarAreaSeries polarAreaSeries2;
    private IgbDataToolTipLayer dataToolTipLayer;

    private BoatSailingData _boatSailingData = null;
    public BoatSailingData BoatSailingData
    {
        get
        {
            if (_boatSailingData == null)
            {
                _boatSailingData = new BoatSailingData(); 
            }
            return _boatSailingData;
        }
    }
    
}