@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <div class="legend-title">
        Wind Speed vs Boat Speed
    </div>

    <div class="container vertical fill">
        <!-- insert content -->
        <!-- end content -->
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //insert bindingInit
        //end bindingInit

    }

    //insert bindingFields
    //end bindingFields

}