@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container sample center">
    <h1>Greetings, @userName</h1>
    <IgbInput @bind-value="userName" DisplayType="@InputType.Email" Label="Input Name" Placeholder="eg. John Doe">
        <span slot="prefix">User</span>
    </IgbInput>
</div>

@code {

    string userName = "Bradley";

    protected override void OnInitialized()
    {
        IgbInputModule.Register(IgniteUIBlazor);
    }
}