@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Annual Number of Births by World Region</span>
    </div>
    <div class="container vertical">
        @if (Data != null)
        {
            <IgbDataChart Height="100%" Width="100%" IsVerticalZoomEnabled="false" IsHorizontalZoomEnabled="false">
                <IgbCategoryXAxis Name="xAxis" DataSource="Data" Label="Year" Gap="0.75" />
                <IgbNumericYAxis Name="yAxis" MinimumValue="0" MaximumValue="140" Interval="20" Title="Millions of Births" TitleLeftMargin="10" LabelFormat="{0} m" />

            <IgbStackedSplineAreaSeries MarkerType="MarkerType.Circle" XAxisName="xAxis" YAxisName="yAxis" DataSource="Data" ShowDefaultTooltip="false">
                <IgbStackedFragmentSeries ValueMemberPath="Asia" />
                <IgbStackedFragmentSeries ValueMemberPath="Africa" />
                <IgbStackedFragmentSeries ValueMemberPath="Europe" />
                <IgbStackedFragmentSeries ValueMemberPath="NorthAmerica" />
                <IgbStackedFragmentSeries ValueMemberPath="SouthAmerica" />
                <IgbStackedFragmentSeries ValueMemberPath="Oceania" />
            </IgbStackedSplineAreaSeries>
        </IgbDataChart>
        }
    </div>
</div>

@code {

    public List<AnnualBirthRateRegionalInfo> Data = new AnnualBirthRateRegionalData();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbDataChartStackedModule.Register(IgniteUIBlazor);
        IgbStackedFragmentSeriesModule.Register(IgniteUIBlazor);
    }
}
