@using IgniteUI.Blazor.Controls

<div class="container sample center">
    <style>
        .button-container {
            display: flex;
            margin-top: 16px;
            gap: 8px;
        }
    </style>

    <IgbCombo 
        T="string"
        Label="Cities" 
        Placeholder="Pick a city" 
        Data="Data" 
        ValueKey="Id" 
        DisplayKey="Name"
        @ref="Combo"
              @bind-value="selectedValue">
    </IgbCombo>

    <div class="button-container">
        <IgbButton @onclick="SelectUKCities">Select UK Cities</IgbButton>
        <IgbButton @onclick="DeselectUKCities">Deselect UK Cities</IgbButton>
        <IgbButton @onclick="SelectAll">Select All</IgbButton>
        <IgbButton @onclick="DeselectAll">Deselect All</IgbButton>
    </div>

    <p>Selected Id:
        @string.Join(", ", selectedValue)</p>

    <p>
        Selected Names:
        @string.Join(", ", Data.Where(c => selectedValue.Contains(c.Id))
                .Select(c => c.Name))
    </p>

</div>

@code {
    private List<City> Data;
    private IgbCombo<string> Combo;
    private object[] UKCities; 
    private string[] selectedValue = new string[] {  };


    protected override void OnInitialized() {
        this.Data = SampleData.Cities;
        this.UKCities = new object[] { "UK01", "UK02", "UK03", "UK04", "UK05" };
    }

    public void SelectUKCities() {
        this.Combo.Select(UKCities);
    }

    public void DeselectUKCities() {
        this.Combo.Deselect(UKCities);
    }

    public void SelectAll() {
        this.Combo.Select(new object[] {});
    }

    public void DeselectAll() {
        this.Combo.Deselect(new object[] {});
    }
}
