@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="container vertical">
        @if (Data != null)
        {
            <IgbDataChart Height="100%" Width="100%">
                <IgbCategoryXAxis Name="xAxis" DataSource="Data" Label="Label" Interval="1"  />
                <IgbNumericYAxis Name="yAxis" MinimumValue="20" MaximumValue="120" />

                <!-- The onDataChartSeriesMarkerTemplate script is implemented in the wwwroot/DataChartSeriesMarkerTemplate.js file-->
                <IgbColumnSeries XAxisName="xAxis" YAxisName="yAxis" DataSource="Data"
                              ValueMemberPath="Value" MarkerTemplateScript="onDataChartSeriesMarkerTemplate" />
            </IgbDataChart>
        }
    </div>
</div>

@code {

    private List<MarkerTemplateDataPoint> Data;

    protected override void OnInitialized()
    {
        // initializing data
        var data = new List<MarkerTemplateDataPoint>();
        var values = new int[] { 80, 50, 75, 100, 80, 40, 80, 75, 80, 85, 50, 85, 50, 75, 100, 80, 40, 80, 75, 80, 85, 50, 85, 50, 75, 100 };

        for (int i = 0; i < values.Length; i++)
        {
            data.Add(new MarkerTemplateDataPoint() { Label = i.ToString(), Value = values[i] });
        }

        this.Data = data;
    }

    public class MarkerTemplateDataPoint
    {
        public string Label { get; set; }
        public int Value { get; set; }
    }
}
