@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <IgbLinearProgress Value=100 Variant=@ProgressBaseVariant.Primary/>

    <IgbLinearProgress Value=100 Variant=@ProgressBaseVariant.Success Striped=true/>

    <IgbLinearProgress Value=100 Variant=@ProgressBaseVariant.Danger />

    <IgbLinearProgress Value=100 Variant=@ProgressBaseVariant.Info Striped=true />

    <IgbLinearProgress Value=100 Variant=@ProgressBaseVariant.Warning />
</div>

@code {


}