@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical" style="align-items: center">

    <style>
        igc-card {
            background-color: #011627;
        }

        igc-card-content,
        igc-card-header::part(title) {
            color: #FEFEFE;
        }

        igc-card-header::part(subtitle) {
            color: #ECAA53;
            opacity: 0.9;
        }

        igc-icon-button::part(icon) {
            fill: #ECAA53;
        }
    </style>

    <div class="card-wrapper" style="max-width: 320px; min-width: 220px;">
        <IgbCard>
           <IgbCardMedia Height="180px">
                <img src="https://images.unsplash.com/photo-1541516160071-4bb0c5af65ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
            </IgbCardMedia>

            <IgbCardHeader>
                <h3 slot="title">Jane Doe</h3>
                <h5 slot="subtitle">Professional Photographer</h5>
            </IgbCardHeader>

            <IgbCardContent>
                <p>Hi! I'm Jane, photographer and filmmaker.
                Photography is a way of feeling, of touching,
                of loving. What you have caught on film is captured forever...
                it remembers little things, long after you have
                forgotten everything.</p>
            </IgbCardContent>

            <IgbCardActions>
                <div slot="end">
                    <IgbIconButton name="twitter">
                        <IgbRipple />
                    </IgbIconButton>
                    <IgbIconButton name="facebook">
                        <IgbRipple />
                    </IgbIconButton>
                    <IgbIconButton name="instagram">
                        <IgbRipple />
                    </IgbIconButton>                       
                </div>
            </IgbCardActions>
        </IgbCard>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        IgbCardModule.Register(IgniteUIBlazor);
        IgbIconButtonModule.Register(IgniteUIBlazor);
        IgbRippleModule.Register(IgniteUIBlazor);
    }
}