@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <LinearGauge Height="120px" Width="100%"
                     Value="80"
                     MinimumValue="0"
                     MaximumValue="100"
                     Interval="10"
                     TransitionDuration="500"
                     LabelInterval="10"
                     LabelExtent="0.15"
                     ScaleStrokeThickness="0"
                     ScaleBrush="#E0DFDF"
                     ScaleOutline="#E0DFDF"
                     ScaleInnerExtent="0.25"
                     ScaleOuterExtent="0.65"
                     ScaleStartExtent="0.05"
                     ScaleEndExtent="0.95"
                     TickBrush="white"
                     TickStrokeThickness="2"
                     TickStartExtent="0.25"
                     TickEndExtent="0.65"
                     MinorTickBrush="white"
                     MinorTickStrokeThickness="2"
                     MinorTickCount="4"
                     MinorTickStartExtent="0.25"
                     MinorTickEndExtent="0.65"
                     IsNeedleDraggingEnabled="false"
                     NeedleBrush="transparent"
                     NeedleOutline="transparent"
                     BackingBrush="transparent"
                     BackingOutline="transparent">
            <LinearGraphRange Brush="Green"
                              Outline="Green"
                              StartValue="0"
                              EndValue="80"
                              InnerStartExtent="0.25"
                              InnerEndExtent="0.25"
                              OuterStartExtent="0.65"
                              OuterEndExtent="0.65">
            </LinearGraphRange>
        </LinearGauge>
        <LinearGauge Height="120px" Width="100%"
                     Value="50"
                     MinimumValue="0"
                     MaximumValue="100"
                     Interval="10"
                     TransitionDuration="500"
                     LabelInterval="10"
                     LabelExtent="0.15"
                     ScaleStrokeThickness="0"
                     ScaleBrush="#E0DFDF"
                     ScaleOutline="#E0DFDF"
                     ScaleInnerExtent="0.25"
                     ScaleOuterExtent="0.65"
                     ScaleStartExtent="0.05"
                     ScaleEndExtent="0.95"
                     TickBrush="white"
                     TickStrokeThickness="2"
                     TickStartExtent="0.25"
                     TickEndExtent="0.65"
                     MinorTickBrush="white"
                     MinorTickStrokeThickness="2"
                     MinorTickCount="4"
                     MinorTickStartExtent="0.25"
                     MinorTickEndExtent="0.65"
                     IsNeedleDraggingEnabled="false"
                     NeedleBrush="transparent"
                     NeedleOutline="transparent"
                     BackingBrush="transparent"
                     BackingOutline="transparent">
            <LinearGraphRange Brush="Orange"
                              Outline="Orange"
                              StartValue="0"
                              EndValue="50"
                              InnerStartExtent="0.25"
                              InnerEndExtent="0.25"
                              OuterStartExtent="0.65"
                              OuterEndExtent="0.65">
            </LinearGraphRange>
        </LinearGauge>
        <LinearGauge Height="120px" Width="100%"
                     Value="30"
                     MinimumValue="0"
                     MaximumValue="100"
                     Interval="10"
                     TransitionDuration="500"
                     LabelInterval="10"
                     LabelExtent="0.15"
                     ScaleStrokeThickness="0"
                     ScaleBrush="#E0DFDF"
                     ScaleOutline="#E0DFDF"
                     ScaleInnerExtent="0.25"
                     ScaleOuterExtent="0.65"
                     ScaleStartExtent="0.05"
                     ScaleEndExtent="0.95"
                     TickBrush="white"
                     TickStrokeThickness="2"
                     TickStartExtent="0.25"
                     TickEndExtent="0.65"
                     MinorTickBrush="white"
                     MinorTickStrokeThickness="2"
                     MinorTickCount="4"
                     MinorTickStartExtent="0.25"
                     MinorTickEndExtent="0.65"
                     IsNeedleDraggingEnabled="false"
                     NeedleBrush="transparent"
                     NeedleOutline="transparent"
                     BackingBrush="transparent"
                     BackingOutline="transparent">
            <LinearGraphRange Brush="Red"
                              Outline="Red"
                              StartValue="0"
                              EndValue="30"
                              InnerStartExtent="0.25"
                              InnerEndExtent="0.25"
                              OuterStartExtent="0.65"
                              OuterEndExtent="0.65">
            </LinearGraphRange>
        </LinearGauge>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        LinearGaugeModule.Register(IgniteUIBlazor);
    }
}