/*
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css/samples/shared.v6.css
*/

.customIcon {
    display: flex;
    width: 100%;
    justify-content: center;
}

.customIconSpan {
    cursor: pointer;
}

