/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

.container.sample {
    display: flex;
    place-content: center;
    place-items: center;
}

.states {
    display: flex;
    align-items: flex-end;
    gap: 4.5rem;
}

.state {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.state igc-checkbox {
    pointer-events: none;
}

.state igc-checkbox::part(base) {
    cursor: default;
}

.state-label {
    font: 500 14px / 24px "Aktiv Grotesk", sans-serif;
    letter-spacing: 0.1px;
    color: var(--ig-gray-600);
}