
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Global Electricity Demand by Energy Use</span>
        <div class="legend">
            <IgbItemLegend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>

    <div class="container vertical">
        @if (Data != null)
        {
            <IgbPieChart Height="100%" Width="100%"
                      @ref="Chart"
                      DataSource="Data"
                      LabelMemberPath="Summary"
                      ValueMemberPath="MarketShare"
                      LegendLabelMemberPath="Summary"
                      Outlines="white"
                      LabelsPosition="LabelsPosition.OutsideEnd"
                      RadiusFactor="0.7"
                      LabelExtent="30">
            </IgbPieChart>
        }
    </div>
</div>

@code {

    public IgbPieChart Chart;
    public IgbItemLegend Legend;
    public List<DataItem> Data;

    protected override void OnInitialized()
    {
        IgbPieChartModule.Register(IgniteUIBlazor);
        IgbItemLegendModule.Register(IgniteUIBlazor);

        this.Data = new List<DataItem>();
        this.Data.Add(new DataItem { MarketShare = 37, Category = "Cooling", });
        this.Data.Add(new DataItem { MarketShare = 25, Category = "Residential", });
        this.Data.Add(new DataItem { MarketShare = 12, Category = "Heating", });
        this.Data.Add(new DataItem { MarketShare = 11, Category = "Lighting", });
        this.Data.Add(new DataItem { MarketShare = 15, Category = "Other", });
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (Chart != null && Legend != null && !firstRender)
        {
            Chart.Legend = Legend;
        }
    }
    public class DataItem
    {
        public string Category { get; set; }
        public double MarketShare { get; set; }
        public string Summary { get { return Category + " " + MarketShare + "%"; } }
    }


}