@using IgniteUI.Blazor.Controls;

@inject IIgniteUIBlazor IgniteUIBlazor
@inject IJSRuntime JS

<div class="container vertical">

    <div class="container vertical fill">
        <IgbSparkline
        DataSource="SparklineMixedData"
        ValueMemberPath="Value"
        LabelMemberPath="Label"
        DisplayType="SparklineDisplayType.Line"
        Name="chart"
        @ref="chart">
        </IgbSparkline>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var chart = this.chart;



	}

    private IgbSparkline chart;

    private SparklineMixedData _sparklineMixedData = null;
    public SparklineMixedData SparklineMixedData
    {
        get
        {
            if (_sparklineMixedData == null)
            {
                _sparklineMixedData = new SparklineMixedData(); 
            }
            return _sparklineMixedData;
        }
    }
    
}