@using System.Collections.ObjectModel
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igOptions">
        <label class="igOptions-label">Refresh Interval: </label>
        <label class="igOptions-value">@RefreshInfo</label>
        <input class="igOptions-slider" type="range" min="10" max="500"
               value=@RefreshInterval
               @onchange="OnRefreshFrequencyChanged" />
        <label class="igOptions-label">Data Points: </label>
        <label class="igOptions-value">@DataInfo</label>
        <input class="igOptions-slider" type="range" min="1000" max="50000" step="100"
               value=@DataPoints @onchange="OnDataPointsChanged" />
        <button @onclick="OnDataGenerateClick">Generate Data</button>
    </div>

    <div class="igComponent">
        @if (DataSource != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           DataSource="DataSource"
                           ChartType="CategoryChartType.Line">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private ObservableCollection<CategoryDataItem> DataSource;

    private int RefreshInterval = 10;
    private int DataIndex = 0;
    private double RefreshMilliseconds = 10;
    private double DataPoints = 10000;
    private string RefreshInfo;
    private string DataInfo;

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);

        this.DataInfo = CategoryDataSource.ToShortString(this.DataPoints);
        this.RefreshInfo = (this.RefreshMilliseconds / 1000).ToString() + "s";

        OnDataGenerateClick();
    }

    private void OnDataGenerateClick()
    {
        var dataList = CategoryDataSource.Generate(100, (int)this.DataPoints, false);

        this.DataSource = new ObservableCollection<CategoryDataItem>(dataList);

        this.DataIndex = this.DataSource.Count;
        SetupInterval();
    }

    private void OnDataPointsChanged(ChangeEventArgs args)
    {
        double num = double.Parse(args.Value.ToString());

        if(num < 1000)
        {
            num = 1000;
        }
        if(num > 50000)
        {
            num = 50000;
        }

        string info = CategoryDataSource.ToShortString(num);
        this.DataPoints = num;
        this.DataInfo = info;
    }

    private void OnRefreshFrequencyChanged(ChangeEventArgs args)
    {
        double num = double.Parse(args.Value.ToString());

        if (num < 10)
        {
            num = 10;
        }
        if (num > 500)
        {
            num = 500;
        }

        this.RefreshMilliseconds = num;
        this.RefreshInfo = (this.RefreshMilliseconds / 1000).ToString() + "s";

        if (this.DataSource.Count > 0)
        {
            SetupInterval();
        }
    }

    private void SetupInterval()
    {
        Task.Delay((int)this.RefreshMilliseconds).ContinueWith((t) => OnTick());
    }

    private void OnTick()
    {
        this.DataIndex++;

        var item = this.DataSource[0];
        var newItem = CategoryDataSource.GetNewItem(this.DataSource, this.DataIndex);

        this.DataSource.Add(newItem);

        Task.Delay((int)this.RefreshMilliseconds).ContinueWith((t) => OnTick());
    }
}