@using IgniteUI.Blazor.Controls


<div class="container horizontal" style="gap: 10px;">
    <IgbAvatar Initials="S" class="size-small" />
    <IgbAvatar Initials="M" class="size-medium" />
    <IgbAvatar Initials="L" class="size-large" />
</div>

@code {

}