@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igOptions-horizotnal">
        <label class="igOptions-label" style="margin-left: 25px">X-Axis Gap</label>
        <label class="igOptions-value" >@XAxisGapValue</label>
        <input class="igOptions-slider" type="range" min="0" max="1" step="0.1" value="1" @oninput="OnXAxisGapSliderChange"/>
    </div>
    <div class="igComponent">
        @if (Data != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           DataSource="Data"
                           ChartType="CategoryChartType.Column"
                           ChartTitle="New York Central Park Average Maximum Temperature (Celsius)"
                           TitleAlignment="HorizontalAlignment.Left"
                           TitleLeftMargin="25"
                           TitleTopMargin="10"
                           TitleBottomMargin="10"
						   IsHorizontalZoomEnabled="false"
                           IsVerticalZoomEnabled="false"
                           XAxisInterval="1"
                           XAxisGap="@XAxisGapValue">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<TemperatureInfo> Data = new TemperatureData();

    private double XAxisGapValue = 1;

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
    }

    private void OnXAxisGapSliderChange(ChangeEventArgs args)
    {
        this.XAxisGapValue = double.Parse(args.Value.ToString());
    }
}