
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

    <div class="container vertical">
        <div class="container vertical">
            <RadialGauge Height="100%" Width="100%"
                         BackingShape="RadialGaugeBackingShape.Fitted"
                         BackingBrush="#FCFCFC"
                         BackingOutline="DodgerBlue"
                         BackingOversweep="5"
                         BackingCornerRadius="10"
                         BackingStrokeThickness="5"
                         BackingOuterExtent="0.8"
                         BackingInnerExtent="0.15"

                         ScaleStartAngle="135"
                         ScaleEndAngle="45"
                         ScaleBrush="#DDDDDD"

                         MinimumValue="0"
                         MaximumValue="80"
                         Value="50"
                         Interval="10">
            </RadialGauge>
        </div>
    </div>

@code {

    protected override void OnInitialized()
    {
        IgbRadialGaugeModule.Register(IgniteUIBlazor);
    }

}