@using IgniteUI.Blazor.Controls

<div class="container sample center">
    <IgbRating Label="Rate Experience" Max="5" Step=".5" Size="@SizableComponentSize.Large" HoverPreview></IgbRating>
</div>

@code { }
