/* 
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css//samples/
*/

igc-button-group igc-toggle-button igc-icon {
	color: #000;
	fill: #000;
}

igc-button-group igc-toggle-button igc-icon::part(icon) {
	color: #000;
	fill: #000;
}