@using IgniteUI.Blazor.Controls

<style>
    igc-avatar {
        --ig-size: var(--ig-size-medium);
    }
</style>

<div class="container sample">
    <IgbAvatar id="avatar" Shape="AvatarShape.Circle" Src="https://www.infragistics.com/angular-demos-lob/assets/images/avatar/10.jpg" />
    <IgbTooltip Placement="PopoverPlacement.BottomStart" Anchor="avatar" DisableArrow="true">
        Her name is Madelyn James
    </IgbTooltip>
</div>

@code { }