.container {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.container h3 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 20px;
    color: #666;
}

.grid-lite-sample {
    height: 100%;
    width: 100%;
}

.switch-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
