@page "/samples/charts/financial-chart-multiple-data"
@page         "/charts/financial-chart-multiple-data"
@* this namespace is required for Infragistics controls *@
@using Infragistics.Blazor.Controls

@inject IInfragisticsBlazor InfragisticsBlazor

<div class="igContainer">
    <div class="igComponent">

        @if (DataSource != null)
        {
            <FinancialChart Width="100%"
                Height="100%"
                ChartType=FinancialChartType.Line
                Thickness=2
                DataSource="DataSource"
                ChartTitle="Tesla vs Amazon vs Microsoft Changes"
                Subtitle="Between 2013 and 2017"
                YAxisMode="FinancialChartYAxisMode.PercentChange"
                YAxisTitle="Percent Changed Since 2013"
             />
        }
    </div>
</div>

@code {

    protected List<StockPrice[]> DataSource;

    protected override async Task OnInitializedAsync()
    {
        FinancialChartModule.Register(InfragisticsBlazor);
        this.DataSource = await StocksHistory.GetMultipleStocks();
    }
}