@using IgniteUI.Blazor.Controls

<style>
    igc-avatar {
        --ig-size: var(--ig-size-medium);
    }

    igc-tooltip::part(base) {
        background-color: var(--ig-primary-300);
        color: var(--ig-primary-300-contrast);
    }

    igc-tooltip::part(bottom) {
        border-bottom-color: var(--ig-primary-300);
    }
</style>

<div class="container sample">
    <IgbAvatar id="avatar" Shape="AvatarShape.Circle" Src="https://www.infragistics.com/angular-demos-lob/assets/images/avatar/10.jpg" />
    <IgbTooltip Placement="PopoverPlacement.BottomStart" Anchor="avatar">
        Her name is Madelyn James
    </IgbTooltip>
</div>

@code { }