@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <IgbDataChart Height="100%" Width="100%"
                   ChartTitle="Where Online Shoppers Start Their Search"
                   TitleHorizontalAlignment="HorizontalAlignment.Left"
                   TitleLeftMargin="25"
                   TitleTopMargin="10"
                   TitleBottomMargin="10"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <IgbCategoryYAxis Name="yAxis" Label="Shop" DataSource="Data" IsInverted="true" Gap="0.75" />
            <IgbNumericXAxis Name="xAxis" LabelFormat="{0}%" />
            <IgbBarSeries XAxisName="xAxis"
                       YAxisName="yAxis"
                       DataSource="Data"
                       ValueMemberPath="Percent"
                       ShowDefaultTooltip="true"
                       IsTransitionInEnabled="true"
                       IsHighlightingEnabled="true">
            </IgbBarSeries>
        </IgbDataChart>
    </div>
</div>

@code {

    private List<OnlineShoppingInfo> Data = new OnlineShoppingData();

    protected override void OnInitialized()
    {
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbDataChartVerticalCategoryModule.Register(IgniteUIBlazor);
        IgbNumberFormatSpecifierModule.Register(IgniteUIBlazor);
    }
}