@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
	
	    <div class="legend-title">
        Where Online Shoppers Start Their Search
    </div>
    
	
    <div class="container vertical fill">
        <IgbDataChart
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false"
        Name="Chart"
        @ref="chart">
            <IgbCategoryYAxis
            DataSource="OnlineShoppingSearches"
            Gap="0.5"
            Overlap="-0.1"
            IsInverted="true"
            UseEnhancedIntervalManagement="true"
            EnhancedIntervalPreferMoreCategoryLabels="true"
            Label="Shop"
            Name="yAxis"
            @ref="yAxis">
            </IgbCategoryYAxis>
            <IgbNumericXAxis
            LabelFormat="{0}%"
            Name="xAxis"
            @ref="xAxis">
            </IgbNumericXAxis>
            <IgbCategoryHighlightLayer
            Name="CategoryHighlightLayer"
            @ref="categoryHighlightLayer">
            </IgbCategoryHighlightLayer>
            <IgbBarSeries
            XAxisName="xAxis"
            YAxisName="yAxis"
            ValueMemberPath="Percent"
            IsTransitionInEnabled="true"
            DataSource="OnlineShoppingSearches"
            IsHighlightingEnabled="true"
            ShowDefaultTooltip="true"
            Name="BarSeries1"
            @ref="barSeries1">
            </IgbBarSeries>
            <IgbDataToolTipLayer
            Name="Tooltips"
            @ref="tooltips">
            </IgbDataToolTipLayer>
        </IgbDataChart>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }

	private Action BindElements { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		var chart = this.chart;
		var yAxis = this.yAxis;
		var xAxis = this.xAxis;
		var categoryHighlightLayer = this.categoryHighlightLayer;
		var barSeries1 = this.barSeries1;
		var tooltips = this.tooltips;

        this.BindElements = () => {
        };
        this.BindElements();
	}

	private IgbDataChart chart;
	private IgbCategoryYAxis yAxis;
	private IgbNumericXAxis xAxis;
	private IgbCategoryHighlightLayer categoryHighlightLayer;
	private IgbBarSeries barSeries1;
	private IgbDataToolTipLayer tooltips;


    private OnlineShoppingSearches _onlineShoppingSearches = null;
    public OnlineShoppingSearches OnlineShoppingSearches
    {
        get
        {
            if (_onlineShoppingSearches == null)
            {
                _onlineShoppingSearches = new OnlineShoppingSearches(); 
            }
            return _onlineShoppingSearches;
        }
    }
    
}