@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <div class="legend-title">
        Where Online Shoppers Start Their Search
    </div>

    <div class="container vertical fill">
        <IgbDataChart
        Name="Chart"
        @ref="chart"
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false">
            <IgbCategoryYAxis
            Name="yAxis"
            @ref="yAxis"
            Label="Shop"
            UseEnhancedIntervalManagement="true"
            EnhancedIntervalPreferMoreCategoryLabels="true"
            DataSource="OnlineShoppingSearches"
            IsInverted="true"
            Gap="0.5"
            Overlap="-0.1">
            </IgbCategoryYAxis>

            <IgbNumericXAxis
            Name="xAxis"
            @ref="xAxis"
            LabelFormat="{0}%">
            </IgbNumericXAxis>

            <IgbCategoryHighlightLayer
            Name="CategoryHighlightLayer"
            @ref="categoryHighlightLayer">
            </IgbCategoryHighlightLayer>

            <IgbBarSeries
            Name="BarSeries1"
            @ref="barSeries1"
            XAxisName="xAxis"
            YAxisName="yAxis"
            ValueMemberPath="Percent"
            DataSource="OnlineShoppingSearches"
            ShowDefaultTooltip="true"
            IsTransitionInEnabled="true"
            IsHighlightingEnabled="true">
            </IgbBarSeries>

            <IgbDataToolTipLayer
            Name="Tooltips"
            @ref="tooltips">
            </IgbDataToolTipLayer>

        </IgbDataChart>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var chart = this.chart;
        var yAxis = this.yAxis;
        var xAxis = this.xAxis;
        var categoryHighlightLayer = this.categoryHighlightLayer;
        var barSeries1 = this.barSeries1;
        var tooltips = this.tooltips;

    }

    private IgbDataChart chart;
    private IgbCategoryYAxis yAxis;
    private IgbNumericXAxis xAxis;
    private IgbCategoryHighlightLayer categoryHighlightLayer;
    private IgbBarSeries barSeries1;
    private IgbDataToolTipLayer tooltips;

    private OnlineShoppingSearches _onlineShoppingSearches = null;
    public OnlineShoppingSearches OnlineShoppingSearches
    {
        get
        {
            if (_onlineShoppingSearches == null)
            {
                _onlineShoppingSearches = new OnlineShoppingSearches();
            }
            return _onlineShoppingSearches;
        }
    }

}