@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
	<div class="options vertical">
        <IgbPropertyEditorPanel
        
        DescriptionType="CategoryChart"
        IsHorizontal="true"
        IsWrappingEnabled="true"
        Name="propertyEditorPanel1"
        @ref="propertyEditorPanel1">
            <IgbPropertyEditorPropertyDescription
            PropertyPath="XAxisTickLength"
            Label="X Axis Tick Length"
            ValueType="PropertyEditorValueType.Slider"
            ShouldOverrideDefaultEditor="true"
            PrimitiveValue="10"
            Min="0"
            Max="20"
            Name="XAxisTickLength"
            @ref="xAxisTickLength">
            </IgbPropertyEditorPropertyDescription>
        </IgbPropertyEditorPanel>
    </div>
	<div class="legend-title">
        Renewable Electricity Generated
    </div>
	<div class="legend">
        <IgbLegend
        Orientation="LegendOrientation.Horizontal"
        Name="Legend"
        @ref="legend">
        </IgbLegend>
    </div>
    <div class="container vertical fill">
        <IgbCategoryChart
        ChartType="CategoryChartType.Line"
        XAxisTickLength="10"
        YAxisTickLength="0"
        XAxisTickStroke="gray"
        YAxisTickStroke="#00000000"
        XAxisTickStrokeThickness="1"
        YAxisTickStrokeThickness="0"
        DataSource="CountryRenewableElectricity"
        IncludedProperties="@(new string[] { "Year", "Europe", "China", "America" })"
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false"
        ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series"
        Name="chart"
        @ref="chart">
        </IgbCategoryChart>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }

	private Action BindElements { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		var legend = this.legend;
		var propertyEditorPanel1 = this.propertyEditorPanel1;
		var xAxisTickLength = this.xAxisTickLength;
		var chart = this.chart;

        this.BindElements = () => {
            propertyEditorPanel1.Target = this.chart;
            chart.Legend = this.legend;
        };
        this.BindElements();
	}

	private IgbLegend legend;
	private IgbPropertyEditorPanel propertyEditorPanel1;
	private IgbPropertyEditorPropertyDescription xAxisTickLength;
	private IgbCategoryChart chart;


    private CountryRenewableElectricity _countryRenewableElectricity = null;
    public CountryRenewableElectricity CountryRenewableElectricity
    {
        get
        {
            if (_countryRenewableElectricity == null)
            {
                _countryRenewableElectricity = new CountryRenewableElectricity(); 
            }
            return _countryRenewableElectricity;
        }
    }
    
}