@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container sample center">
    <IgbInput DisplayType="@InputType.Email" Label="Subscribe" Placeholder="john.doe@mail.com">
        <span slot="prefix">Email</span>
    </IgbInput>
</div>

@code {

    protected override void OnInitialized()
    {
        IgbInputModule.Register(IgniteUIBlazor);
    }
}