@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div style="border: 1px solid gainsboro;">
        <IgbCalendar @ref="CalendarRef" DisabledDates="@DisabledDateDescriptor" />
    </div>
</div>

@code {
    public IgbCalendar CalendarRef { get; set; }

    public IgbDateRangeDescriptor[] DisabledDateDescriptor { get; set; }

    protected override void OnInitialized()
    {
        var today = DateTime.Today;

        DateTime[] range = new DateTime[] { new DateTime(today.Year, today.Month, 3), new DateTime(today.Year, today.Month, 8) };

        IgbDateRangeDescriptor dateDescriptor = new IgbDateRangeDescriptor() { DateRange = range, RangeType = DateRangeType.Specific };

        this.DisabledDateDescriptor = new IgbDateRangeDescriptor[] { dateDescriptor };

    }
}