
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div style="border: 1px solid gainsboro;">
        <IgbCalendar @ref="CalendarRef">
        </IgbCalendar>
    </div>
</div>

@code {
    public IgbCalendar CalendarRef { get; set; }

    protected override void OnInitialized()
    {
        IgbCalendarModule.Register(IgniteUIBlazor);
        //TODO
        //var today = new DateTime();
        //var range = [
        //    new DateTime(today.Year, today.Month, 3),
        //    new DateTime(today.Year, today.Month, 8)
        //];
        //this.CalendarRef.DisabledDates = [{ type: DateRangeType.Between, dateRange: range }];
    }
}