@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div style="border: 1px solid gainsboro;">
        <IgbCalendar @ref="CalendarRef" DisabledDates="@DisabledDateDescriptor" />        
    </div>
</div>

@code {
    public IgbCalendar CalendarRef { get; set; }

    public IgbDateRangeDescriptor DisabledDateDescriptor { get; set; }

    protected override void OnInitialized()
    {
        IgbCalendarModule.Register(IgniteUIBlazor);

        var today = DateTime.Today;

        var range = new[] { new DateTime(today.Year, today.Month, 3), new DateTime(today.Year, today.Month, 8) };

        IgbDateRangeDescriptor dateDescriptor = new IgbDateRangeDescriptor() { DateRange = range, RangeType = DateRangeType.Specific };

        this.DisabledDateDescriptor = dateDescriptor;

        //this.CalendarRef.DisabledDates = dateDescriptor;
    }

    //protected override void OnAfterRender(bool firstRender)
    //{
    //    base.OnAfterRender(firstRender);

    //    if (firstRender && this.CalendarRef != null)
    //    {
    //        var today = DateTime.Today;

    //        var range = new[] { new DateTime(today.Year, today.Month, 3), new DateTime(today.Year, today.Month, 8) };            

    //        IgbDateRangeDescriptor dateDescriptor = new IgbDateRangeDescriptor() { DateRange = range, RangeType = DateRangeType.Specific };

    //        this.CalendarRef.DisabledDates = dateDescriptor;

    //        StateHasChanged();
    //    }
    //}
}