
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">

    <div class="options vertical">
        <span class="legend-title">Renewable Electricity Generated</span>
        <div class="legend">
            <IgbLegend @ref="Legend" Orientation="LegendOrientation.Horizontal" >
            </IgbLegend>
        </div>
    </div>
    <div class="container vertical">
        @if (Data != null)
        {
            <IgbCategoryChart Height="100%" Width="100%"
                @ref="@Chart"
                Legend="Legend"
                ChartType="CategoryChartType.StepLine"
                DataSource="Data"
                IsCategoryHighlightingEnabled="true"
                IsSeriesHighlightingEnabled="true"
                ToolTipType="ToolTipType.Category"
                IsTransitionInEnabled="true"
				IsHorizontalZoomEnabled="false"
                IsVerticalZoomEnabled="false"
                XAxisInterval="1"
                YAxisTitle="TWh">
            </IgbCategoryChart>
        }
    </div>
</div>

@code {

    private IgbCategoryChart _Chart;
    private IgbCategoryChart Chart
    {
        get { return _Chart; }
        set
        {
            _Chart = value;
            if (this.Chart != null)
            {
                this.Chart.MarkerTypes.Clear();
                this.Chart.MarkerTypes.Add(MarkerType.Triangle);
                this.Chart.MarkerBrushes = "White";
                this.Chart.MarkerOutlines = "rgb(140, 231, 217) rgb(238, 88, 121) rgb(115, 86, 86)";
                this.Chart.Brushes = "rgb(140, 231, 217) rgb(238, 88, 121) rgb(115, 86, 86)";
				this.Chart.Outlines = "rgb(140, 231, 217) rgb(238, 88, 121) rgb(115, 86, 86)";

                StateHasChanged();
            }
        }
    }
    private List<EnergyRenewableInfo> Data;
    private IgbLegend legend;
    private IgbLegend Legend
    {
        get { return legend; }
        set
        {
            legend = value;
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        IgbCategoryChartModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbLegendModule.Register(IgniteUIBlazor);
        this.Data = new EnergyRenewableData();
    }
}