
@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <style>
        .container {
            background: var(--ig-surface-600);
        }

        igc-button {
            width: 40%;
            margin: auto;
            background: var(--ig-surface-50);
        }
    </style>
    <IgbButton Variant="ButtonVariant.Flat">Flat</IgbButton>
</div>

@code {


}