@using IgniteUI.Blazor.Controls
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JS

<div class="container vertical ig-typography">
    <div class="container vertical fill">
        <IgbGrid AutoGenerate="false"
                 Data="NwindData"
                 PrimaryKey="ProductID"
                 Name="grid1"
                 Id="grid1"
                 CellSelection="GridSelectionMode.Single"
                 @onkeydown="OnKeydown"
                 ActiveNodeChangeScript="onActiveNodeChange"
                 @ref="grid1">

            <IgbColumn Field="ProductID" Header="Product ID" Editable="true" Groupable="true" Hidden="true" />
            <IgbColumn Field="ProductName" Header="Product Name" DataType="GridColumnDataType.String" Editable="true" />
            <IgbColumn Field="UnitPrice" Header="Unit Price" DataType="GridColumnDataType.Number" Editable="true" />
            <IgbColumn Field="QuantityPerUnit" Header="Quantity Per Unit" Groupable="true" DataType="GridColumnDataType.String" Editable="true" />
            <IgbColumn Field="ReorderLevel" Header="Reorder Level" DataType="GridColumnDataType.Number" Groupable="true" Editable="true" />
        </IgbGrid>
    </div>
</div>

@code {
    private IgbGrid grid1;

    async Task OnKeydown(KeyboardEventArgs e)
    {
        await JS.InvokeVoidAsync("keydownHandler", e);
    }

    private NwindData _nwindData;
    public NwindData NwindData => _nwindData ??= new NwindData();
}
