@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igOptions">
        <div>
            <span class="igLegend-title">Annual Percentage Change in Energy Generation in 2019</span>
        </div>
        <div>
            <span class="igLegend-title">Showing the Annual Percentage Change in Energy Generation in 2019 compared to 2018</span>
        </div>
        <div class="igLegend">
            <Legend @ref="LegendRef" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="igComponent">
        <DataChart Height="100%" Width="100%"
                   Legend="LegendRef"
                   IsHorizontalZoomEnabled="true"
                   IsVerticalZoomEnabled="true">

            <CategoryXAxis Name="xAxis" DataSource="DataSource" Label="Location" MajorStrokeThickness="1" MajorStroke="LightGray" Interval="1"
                           CrossingAxisName="yAxis" CrossingValue="0" Gap=".5"/>
            <NumericYAxis Name="yAxis" MinimumValue="-20" MaximumValue="30" Interval="10"/>

            <ColumnSeries XAxisName="xAxis" YAxisName="yAxis" DataSource="DataSource" ValueMemberPath="Solar" Title="Solar" 
                          MarkerTemplateScript="onColumnChartStylingMarkerTemplate" ShowDefaultTooltip="true"/>
            <ColumnSeries XAxisName="xAxis" YAxisName="yAxis" DataSource="DataSource" ValueMemberPath="Coal" Title="Coal"
                          MarkerTemplateScript="onColumnChartStylingMarkerTemplate" ShowDefaultTooltip="true"/>
            <ColumnSeries XAxisName="xAxis" YAxisName="yAxis" DataSource="DataSource" ValueMemberPath="Hydropower" Title="Hydropower"
                          MarkerTemplateScript="onColumnChartStylingMarkerTemplate" ShowDefaultTooltip="true"/>
            <ColumnSeries XAxisName="xAxis" YAxisName="yAxis" DataSource="DataSource" ValueMemberPath="Wind" Title="Wind"
                          MarkerTemplateScript="onColumnChartStylingMarkerTemplate" ShowDefaultTooltip="true"/>
            <ColumnSeries XAxisName="xAxis" YAxisName="yAxis" DataSource="DataSource" ValueMemberPath="Nuclear" Title="Nuclear"
                          MarkerTemplateScript="onColumnChartStylingMarkerTemplate" ShowDefaultTooltip="true"/>

            <CategoryHighlightLayer />

            <CategoryToolTipLayer />

        </DataChart>
    </div>
</div>

@code {

    private Legend _Legend;
    private Legend LegendRef
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    private List<EnergyChangePercentageInfo> DataSource = new EnergyChangePercentageData();

    protected override void OnInitialized()
    {
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartCategoryCoreModule.Register(IgniteUIBlazor);
        DataChartCategoryModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        CategoryHighlightLayerModule.Register(IgniteUIBlazor);
        CategoryToolTipLayerModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
    }
}