@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Annual Percentage Change in Energy Generation in 2019</span>
        <div class="legend">
            <IgbLegend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="container vertical">
        <IgbDataChart Height="100%" Width="100%"
                   Legend="Legend"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <IgbCategoryXAxis Name="xAxis" DataSource="Data" Label="Location" MajorStrokeThickness="1" MajorStroke="LightGray" Interval="1"
                           CrossingAxisName="yAxis" CrossingValue="0" Gap=".5"/>
            <IgbNumericYAxis Name="yAxis" MinimumValue="-20" MaximumValue="30" Interval="10"/>

            <IgbColumnSeries XAxisName="xAxis" YAxisName="yAxis" DataSource="Data" ValueMemberPath="Solar" Title="Solar"
                          MarkerTemplateScript="onColumnChartStylingMarkerTemplate" ShowDefaultTooltip="true"/>
            <IgbColumnSeries XAxisName="xAxis" YAxisName="yAxis" DataSource="Data" ValueMemberPath="Coal" Title="Coal"
                          MarkerTemplateScript="onColumnChartStylingMarkerTemplate" ShowDefaultTooltip="true"/>
            <IgbColumnSeries XAxisName="xAxis" YAxisName="yAxis" DataSource="Data" ValueMemberPath="Hydro" Title="Hydro"
                          MarkerTemplateScript="onColumnChartStylingMarkerTemplate" ShowDefaultTooltip="true"/>
            <IgbColumnSeries XAxisName="xAxis" YAxisName="yAxis" DataSource="Data" ValueMemberPath="Wind" Title="Wind"
                          MarkerTemplateScript="onColumnChartStylingMarkerTemplate" ShowDefaultTooltip="true"/>
            <IgbColumnSeries XAxisName="xAxis" YAxisName="yAxis" DataSource="Data" ValueMemberPath="Nuclear" Title="Nuclear"
                          MarkerTemplateScript="onColumnChartStylingMarkerTemplate" ShowDefaultTooltip="true"/>

            <CategoryHighlightLayer />

            <CategoryToolTipLayer />

        </IgbDataChart>
    </div>
</div>

@code {

    private IgbLegend _Legend;
    private IgbLegend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    private List<EnergyChangeInfo> Data = new EnergyChangeData();

    protected override void OnInitialized()
    {
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbCategoryHighlightLayerModule.Register(IgniteUIBlazor);
        IgbCategoryToolTipLayerModule.Register(IgniteUIBlazor);
        IgbLegendModule.Register(IgniteUIBlazor);
    }
}