@using IgniteUI.Blazor.Controls;


<div class="container vertical">

    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="NwindData"
        PrimaryKey="ProductID"
        AllowFiltering="true"
        DisplayDensity="DisplayDensity.Cosy"
        Name="grid1"
        @ref="grid1">
            <IgbPaginator
            PerPage="10">
            </IgbPaginator>
            
            <IgbColumn
            Field="ProductID"
            Header="Product ID"
            Sortable="true"
            Editable="true"
            Resizable="true"
            HasSummary="true"
            DataType="GridColumnDataType.Number">
            </IgbColumn>
            
            <IgbColumn
            Field="ProductName"
            Header="Product Name"
            Sortable="true"
            Editable="true"
            Resizable="true"
            HasSummary="true"
            DataType="GridColumnDataType.String">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitPrice"
            Header="Unit Price"
            Sortable="true"
            Editable="true"
            Resizable="true"
            HasSummary="true"
            DataType="GridColumnDataType.Number">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitsInStock"
            Header="Units in Stock"
            Sortable="true"
            Editable="true"
            Resizable="true"
            HasSummary="true"
            DataType="GridColumnDataType.Number">
            </IgbColumn>
            
            <IgbColumn
            Field="OrderDate"
            Header="Order Date"
            Sortable="true"
            Editable="true"
            Resizable="true"
            HasSummary="true"
            DataType="GridColumnDataType.Date">
            </IgbColumn>
            
            <IgbColumn
            Field="Discontinued"
            Header="Discontinued"
            Sortable="true"
            Editable="true"
            HasSummary="true"
            DataType="GridColumnDataType.Boolean">
            </IgbColumn>
            
            <IgbColumn
            Field="ReorderLevel"
            Header="Reorder Level"
            Sortable="true"
            Editable="true"
            Filterable="true"
            HasSummary="true"
            DataType="GridColumnDataType.Number">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid1 = this.grid1;



	}

    private IgbGrid grid1;

    private NwindData _nwindData = null;
    public NwindData NwindData
    {
        get
        {
            if (_nwindData == null)
            {
                _nwindData = new NwindData(); 
            }
            return _nwindData;
        }
    }
    
}