@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

#root, html, body, main {
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    background: white;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.app {
    height: 100%;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;
}

.app-loading {
    height: 100px;
    width: 100px;
    padding: 0rem;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.app-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.app-error-dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.igContainer,
.igContainer-horizontal,
.igContainer-vertical {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-self: stretch;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 200px;
    height: 100%;
    width: 100%;
    padding: 0rem;
    margin: 0px;
}

.igContainer-vertical {
    display: flex;
    flex-flow: column;
}

.igContainer-horizontal {
    display: flex;
    flex-flow: row;
}

/* used to layout a component in center of its parent */
.igContainer-center {
    background: white;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* used to overlay multiple components on top of each other */
.igContainer-relative {
    background: white;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;
    margin: 0px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative
}

.igContainer-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.igComponent {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.igOptions,
.igOptions-horizontal,
.igOptions-vertical {
    margin: 0px;
    padding: 0px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: calc(100% - 1rem);
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    color: #585858;
}

.igOptions-horizontal {
    flex-direction: row;
    align-items: center;
}

.igOptions-vertical {
    flex-direction: column;
    align-items: stretch;
}

.igOptions-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}

.igOptions > label,
.igOptions-label {
    margin-top: 0px;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 5px;
    vertical-align: middle;
    padding: 0px;
    display: inline-block;
    white-space: nowrap;
}

.igOptions-value {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
    width: 40px;
    padding: 0px;
}

.igOptions > slider,
.igOptions-slider {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 20px;
    vertical-align: bottom;
    padding-top: 0px;
    min-width: 60px;
    display: inline-block;
}

.igOptions > button {
    margin: 0.25rem;
    color: #fff;
    background: #1a70c7;
    border: 0px solid #1b6ec2;
    border-radius: .25rem;
    padding: .375rem .75rem;
    vertical-align: middle;
    cursor: pointer;
}

.igOptions > button:hover {
    background: #2a78c7;
}
.igOptions > button:active {
    background: #4c8fd4;
}
.igOptions > button:focus {
    outline: none;
}

.igOptions > text,
.igOptions-input-text {
    margin-left: 10px;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.igOptions > select,
.igOptions-input-select {
    font-size: 11pt;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    vertical-align: middle;
    padding: 4px;
    display: inline-block;
}

.igLegend {
    --legend-item-overflow: hidden;
    width: calc(100% - 1rem);
    font-size: 0.75rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}

.igLegend-title {
    width: 100%;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    font-size: 1rem;
    color: #494949;
}

/* ==================================================================================== */
/* igOverlay styles used to overlay elements in front of sample container */
/* ==================================================================================== */

.igOverlay-top-left,
.igOverlay-top-right,
.igOverlay-top-center,
.igOverlay-center,
.igOverlay-bottom-left,
.igOverlay-bottom-center,
.igOverlay-bottom-right {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.5rem;
    color: black;
    background: rgba(148, 148, 148, 0.5);
    /* background: white; */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
           -o-user-select: none;
              user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.igOverlay-top-left {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.igOverlay-top-right {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
}

.igOverlay-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.igOverlay-center-label {
    display: block;
    font-size: 3rem;
}

.igOverlay-top-center {
    position: absolute;
    top: 0.25rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

.igOverlay-bottom-center {
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

.igOverlay-bottom-left {
    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
}

.igOverlay-bottom-right {
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
}


.igOverlay-row {
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.igOverlay-label {
    display: block;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    font-weight: 600;
}

.igOverlay-field {
    text-align: left;
    width: 5rem;
}

.igOverlay-value {
    text-align: end;
}

.igOverlay-title {
    color: black;
    display: block;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

/* ==================================================================================== */
/* tooltip styles used in custom tooltips of charts and maps components */
/* ==================================================================================== */

.tooltipBox {
    font-size: 0.75rem;
    font-weight: normal;
    color: Black;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
}

.tooltipTitle {
    display: block;
    color: Black;
    font-weight: bold;
    font-size: 0.75rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    margin-left: 0px;
}

.tooltipTable {
    display: table;
    margin: 0px;
    width: 100%;
    height: 100%;
    border-spacing: 5px;
    font-size: 0.75rem;
}

.tooltipHorizontal {
    display: flex;
    flex-direction: row;
}

.tooltipVertical {
    display: flex;
    flex-direction: column;
}

.tooltipRow {
    display: table-row;
}

.tooltipVal {
    display: table-cell;
    text-align: "right";
    font-weight: bold;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    padding-left: 5px;
}

.tooltipLbl {
    display: table-cell;
    text-align: "left";
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
}

.tooltipFlagImage {
    display: inline-block;
    object-fit: fill;
    height: 50px;
    width: 70px;
    margin-right: 5px;
}

.tooltipFlagBoarder {
    display: inline-block;
    padding: 0px;
    border-width: 0.5;
    border-color: rgb(177, 177, 177);
    border-style: solid;
    height: 50px;
    width: 70px;
}
