@using IgniteUI.Blazor.Controls


<div class="container vertical">

    <div class="options vertical">

        <span class="legend-title">Legend: </span>
        <div class="legend">
            <IgbLegend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>

        <div class="overlay-right" >
            <div class="options horizontal" >
                <label class="options-label">Category Type: </label>
                <select value=@SeriesType @onchange="OnSeriesTypeChanged">
                    <option>Column</option>
                    <option>Area</option>
                    <option>Bar</option>
                    <option>Point</option>
                    <option>Line</option>
                    <option>Spline</option>
                    <option>Spline Area</option>
                    <option>Step Area</option>
                    <option>Step Line</option>
                    <option>Waterfall</option>
                </select>
            </div>
        </div>

    </div>

    <div class="container vertical">
        @if (Data != null)
        {
        <IgbDataChart Height="100%" Width="100%"
                   ChartTitle="Total Olympic Medals"
                   Subtitle="United States vs China vs Russia"
                   TitleTopMargin="10"
                   IsHorizontalZoomEnabled="true"
                   IsVerticalZoomEnabled="true"
                   Legend="Legend"
                   @ref="Chart">

            @if (SeriesType != "Bar")
            {
                <IgbCategoryXAxis Name="xAxis" Label="Year" DataSource="Data"
                               Title="Olympic Years" Gap="0.2" Overlap="-0.05" />
                <IgbNumericYAxis Name="yAxis" Title="Olympic Medals" TitleLeftMargin="10" />
            }

            @if (SeriesType == "Bar")
            {
                <IgbNumericXAxis Name="xAxis2" Label="Year"
                              Title="Olympic Years" />
                <IgbCategoryYAxis Name="yAxis2" Title="Olympic Medals" TitleLeftMargin="10" DataSource="Data" Gap="0.2" Overlap="-0.05" />

                <IgbBarSeries Name="series1"
                           ValueMemberPath="USA"
                           Title="USA"
                           XAxisName="xAxis2"
                           YAxisName="yAxis2"
                           DataSource="Data">
                </IgbBarSeries>

                <IgbBarSeries Name="series2"
                           ValueMemberPath="RUS"
                           Title="Russia"
                           XAxisName="xAxis2"
                           YAxisName="yAxis2"
                           DataSource="Data">
                </IgbBarSeries>
            }


            @if (SeriesType == "Column")
            {
                <IgbColumnSeries Name="series1"
                              ValueMemberPath="USA"
                              Title="USA"
                              XAxisName="xAxis"
                              YAxisName="yAxis"
                              DataSource="Data">
                </IgbColumnSeries>

                <IgbColumnSeries Name="series2"
                              ValueMemberPath="RUS"
                              Title="Russia"
                              XAxisName="xAxis"
                              YAxisName="yAxis"
                              DataSource="Data">
                </IgbColumnSeries>
            }

            @if (SeriesType == "Area")
            {
                <IgbAreaSeries Name="series1"
                            ValueMemberPath="USA"
                            Title="USA"
                            XAxisName="xAxis"
                            YAxisName="yAxis"
                            DataSource="Data">
                </IgbAreaSeries>

                <IgbAreaSeries Name="series2"
                            ValueMemberPath="RUS"
                            Title="Russia"
                            XAxisName="xAxis"
                            YAxisName="yAxis"
                            DataSource="Data">
                </IgbAreaSeries>
            }

            @if (SeriesType == "Point")
            {
                <IgbPointSeries Name="series1"
                             ValueMemberPath="USA"
                             Title="USA"
                             XAxisName="xAxis"
                             YAxisName="yAxis"
                             DataSource="Data">
                </IgbPointSeries>

                <IgbPointSeries Name="series2"
                             ValueMemberPath="RUS"
                             Title="Russia"
                             XAxisName="xAxis"
                             YAxisName="yAxis"
                             DataSource="Data">
                </IgbPointSeries>
            }

            @if (SeriesType == "Line")
            {
                <IgbLineSeries Name="series1"
                            ValueMemberPath="USA"
                            Title="USA"
                            XAxisName="xAxis"
                            YAxisName="yAxis"
                            DataSource="Data">
                </IgbLineSeries>

                <IgbLineSeries Name="series2"
                            ValueMemberPath="RUS"
                            Title="Russia"
                            XAxisName="xAxis"
                            YAxisName="yAxis"
                            DataSource="Data">
                </IgbLineSeries>
            }

            @if (SeriesType == "Spline")
            {
                <IgbSplineSeries Name="series1"
                              ValueMemberPath="USA"
                              Title="USA"
                              XAxisName="xAxis"
                              YAxisName="yAxis"
                              DataSource="Data">
                </IgbSplineSeries>

                <IgbSplineSeries Name="series2"
                              ValueMemberPath="RUS"
                              Title="Russia"
                              XAxisName="xAxis"
                              YAxisName="yAxis"
                              DataSource="Data">
                </IgbSplineSeries>
            }

            @if (SeriesType == "Spline Area")
            {
                <IgbSplineAreaSeries Name="series1"
                                  ValueMemberPath="USA"
                                  Title="USA"
                                  XAxisName="xAxis"
                                  YAxisName="yAxis"
                                  DataSource="Data">
                </IgbSplineAreaSeries>

                <IgbSplineAreaSeries Name="series2"
                                  ValueMemberPath="RUS"
                                  Title="Russia"
                                  XAxisName="xAxis"
                                  YAxisName="yAxis"
                                  DataSource="Data">
                </IgbSplineAreaSeries>
            }

            @if (SeriesType == "Step Area")
            {
                <IgbStepAreaSeries Name="series1"
                                ValueMemberPath="USA"
                                Title="USA"
                                XAxisName="xAxis"
                                YAxisName="yAxis"
                                DataSource="Data">
                </IgbStepAreaSeries>

                <IgbStepAreaSeries Name="series2"
                                ValueMemberPath="RUS"
                                Title="Russia"
                                XAxisName="xAxis"
                                YAxisName="yAxis"
                                DataSource="Data">
                </IgbStepAreaSeries>
            }

            @if (SeriesType == "Step Line")
            {
                <IgbStepLineSeries Name="series1"
                                ValueMemberPath="USA"
                                Title="USA"
                                XAxisName="xAxis"
                                YAxisName="yAxis"
                                DataSource="Data">
                </IgbStepLineSeries>

                <IgbStepLineSeries Name="series2"
                                ValueMemberPath="RUS"
                                Title="Russia"
                                XAxisName="xAxis"
                                YAxisName="yAxis"
                                DataSource="Data">
                </IgbStepLineSeries>
            }

            @if (SeriesType == "Waterfall")
            {
                <IgbWaterfallSeries Name="series1"
                                 ValueMemberPath="USA"
                                 Title="USA"
                                 XAxisName="xAxis"
                                 YAxisName="yAxis"
                                 DataSource="Data">
                </IgbWaterfallSeries>

                <IgbWaterfallSeries Name="series2"
                                 ValueMemberPath="RUS"
                                 Title="Russia"
                                 XAxisName="xAxis"
                                 YAxisName="yAxis"
                                 DataSource="Data">
                </IgbWaterfallSeries>
            }
        </IgbDataChart>
        }
        </div>
</div>

@code {

    private List<SampleCategoryItem> Data;
    private IgbDataChart _Chart;
    private IgbDataChart Chart
    {
        get { return _Chart; }
        set
        {
            _Chart = value;
            SeriesType = "Column";
            StateHasChanged();
        }
    }

    private IgbLegend legend;
    private IgbLegend Legend
    {
        get { return legend; }
        set
        {
            legend = value;
            StateHasChanged();
        }
    }
    private string seriesType;
    private string SeriesType
    {
        get { return seriesType; }
        set
        {
            seriesType = value;
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        Data = SampleCategoryData.Create();
    }

    public void OnSeriesTypeChanged(ChangeEventArgs e)
    {
        var selectedSeries = e.Value.ToString();
        SeriesType = selectedSeries;
    }
}