@* this namespace is required for Infragistics controls *@
@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igComponent">
            <FinancialChart Width="100%"
                Height="100%"
                ChartType=FinancialChartType.Line
                Thickness="2"
                XAxisMode="FinancialChartXAxisMode.Ordinal"
                YAxisMode="FinancialChartYAxisMode.Numeric"
                YAxisExtent="60"
                DataSourceScript="getFCHighVolumeData"
                />
    </div>
</div>

@code {


    protected override void OnInitialized()
    {
        FinancialChartModule.Register(IgniteUIBlazor);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dateStart = DateTime.Now.AddYears(-20);
            var dateEnd = DateTime.Now.Date;

            await IgniteUIBlazor.JsRuntime.InvokeVoidAsync("setFCGenerationRange", dateStart, dateEnd);
        }

        await base.OnAfterRenderAsync(firstRender);    
    }

}