/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

.container.sample {
    display: flex;
    place-content: center;
    place-items: center;
}

.rating-card {
    width: 15rem;
    box-shadow: var(--ig-elevation-2);
}

.rating-card igc-card-content {
    display: flex;
    padding-bottom: 0.5rem;
}
