@using IgniteUI.Blazor.Controls

<div class="container sample center">
    <IgbCombo T="string" Data="Data" ValueKey="Id" DisplayKey="Name"></IgbCombo>
</div>

@code {
    private List<City> Data;

    protected override void OnInitialized() {
        this.Data = SampleData.Cities;
    }
}
