/*
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css//samples/
*/

igc-avatar {
    --size: 40px;
    --ig-avatar-background: var(--ig-gray-400);
    --ig-avatar-color: var(--ig-gray-800);
}

igc-badge igc-icon {
    color: var(--ig-gray-50);
}

.badge-star igc-icon {
    color: var(--ig-gray-900);
}

.icon-wrapper > igc-badge {
    --ig-size: var(--ig-size-medium);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.avatar-wrapper igc-badge {
    --ig-size: var(--ig-size-small);
    position: absolute;
    inset-block-start: -4px;
    inset-inline-end: -6px;
}

.icon-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.badge-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 7rem;
}

.badge-icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    min-width: 56px;
}

.badge-icon-item span {
    color: var(--ig-gray-600);
    font-family: "Aktiv Grotesk", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.3px;
    transform: translateY(4px);
}

.badge-icon-item:last-child span {
    white-space: nowrap;
}

.avatar-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
