
@using IgniteUI.Blazor.Controls


<div class="container vertical" style="width: 25rem; height: 1.5rem; border: 1px solid gainsboro">
    <IgbRadio Invalid="true">Invalid</IgbRadio>
</div>

@code {

}