@using IgniteUI.Blazor.Controls;
@using IgniteUI.Blazor.Controls;
@using System;


<div class="container vertical">
    <div class="options vertical">
        <IgbPropertyEditorPanel

        DescriptionType="WebGrid"
        IsHorizontal="true"
        IsWrappingEnabled="true"
        Name="PropertyEditor"
        @ref="propertyEditor">
            <IgbPropertyEditorPropertyDescription
            Label="Export Multi-Column Headers"
            ValueType="PropertyEditorValueType.Boolean1"
            ShouldOverrideDefaultEditor="true"
            PrimitiveValue="true"
            Name="exportHeaders"
            @ref="exportHeaders">
            </IgbPropertyEditorPropertyDescription>

        </IgbPropertyEditorPanel>

    </div>

    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="CustomersData"
        Moving="true"
        AllowFiltering="true"
        DisplayDensity="DisplayDensity.Compact"
        Name="grid"
        @ref="grid">
            <IgbGridToolbar
            >
                <IgbGridToolbarActions
                >
                    <IgbGridToolbarHiding
                    >
                    </IgbGridToolbarHiding>

                    <IgbGridToolbarPinning
                    >
                    </IgbGridToolbarPinning>

                    <IgbGridToolbarExporter
                    ExportCSV="false"
                    ExportExcel="true"
                    ExportStarted="WebGridExportEventMultiColumnHeaders"
                    Name="gridToolbarExporter1"
                    @ref="gridToolbarExporter1">
                    </IgbGridToolbarExporter>

                </IgbGridToolbarActions>

            </IgbGridToolbar>

            <IgbColumn
            Field="ID"
            Header="ID"
            Filterable="false"
            Resizable="true"
            Name="ID"
            @ref="iD">
            </IgbColumn>

            <IgbColumnGroup
            Header="General Information"
            Collapsible="true"
            Expanded="true"
            Name="GeneralInformation"
            @ref="generalInformation">
                <IgbColumn
                Name="CompanyName"
                @ref="companyName"
                VisibleWhenCollapsed="true">
                </IgbColumn>

                <IgbColumnGroup
                Name="PersonalDetails"
                @ref="personalDetails"
                Header="Personal Details"
                Collapsible="true"
                Expanded="true"
                VisibleWhenCollapsed="true">
                    <IgbColumn
                    Name="ContactName"
                    @ref="contactName"
                    Field="ContactName">
                    </IgbColumn>

                    <IgbColumn
                    Name="ContactTitle"
                    @ref="contactTitle"
                    Field="ContactTitle">
                    </IgbColumn>

                </IgbColumnGroup>

            </IgbColumnGroup>

            <IgbColumnGroup
            Name="AddressInformation"
            @ref="addressInformation"
            Header="Address Information">
                <IgbColumnGroup
                Name="Location"
                @ref="location"
                Header="Location"
                Collapsible="true"
                Expanded="false"
                VisibleWhenCollapsed="true">
                    <IgbColumn
                    Name="Country"
                    @ref="country"
                    Field="Country"
                    VisibleWhenCollapsed="true"
                    Hidden="true">
                    </IgbColumn>

                    <IgbColumn
                    Name="Region"
                    @ref="region"
                    Field="Region"
                    VisibleWhenCollapsed="false"
                    Hidden="true">
                    </IgbColumn>

                    <IgbColumn
                    Name="City"
                    @ref="city"
                    Field="City"
                    VisibleWhenCollapsed="false"
                    Hidden="true">
                    </IgbColumn>

                    <IgbColumn
                    Name="Address"
                    @ref="address"
                    Field="Address"
                    VisibleWhenCollapsed="false"
                    Hidden="true">
                    </IgbColumn>

                </IgbColumnGroup>

                <IgbColumnGroup
                Name="ContactInformation"
                @ref="contactInformation"
                Header="Contact Information">
                    <IgbColumn
                    Name="Phone"
                    @ref="phone"
                    Field="Phone">
                    </IgbColumn>

                    <IgbColumn
                    Name="Fax"
                    @ref="fax"
                    Field="Fax">
                    </IgbColumn>

                    <IgbColumn
                    Name="PostalCode"
                    @ref="postalCode"
                    Field="PostalCode">
                    </IgbColumn>

                </IgbColumnGroup>

            </IgbColumnGroup>

        </IgbGrid>

    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var propertyEditor = this.propertyEditor;
        var exportHeaders = this.exportHeaders;
        var grid = this.grid;
        var gridToolbarExporter1 = this.gridToolbarExporter1;
        var iD = this.iD;
        var generalInformation = this.generalInformation;
        var companyName = this.companyName;
        var personalDetails = this.personalDetails;
        var contactName = this.contactName;
        var contactTitle = this.contactTitle;
        var addressInformation = this.addressInformation;
        var location = this.location;
        var country = this.country;
        var region = this.region;
        var city = this.city;
        var address = this.address;
        var contactInformation = this.contactInformation;
        var phone = this.phone;
        var fax = this.fax;
        var postalCode = this.postalCode;

        this.BindElements = () => {
            propertyEditor.Target = this.grid;
        };
        this.BindElements();


    }

    private IgbPropertyEditorPanel propertyEditor;
    private IgbPropertyEditorPropertyDescription exportHeaders;
    private IgbGrid grid;
    private IgbGridToolbarExporter gridToolbarExporter1;
    private IgbColumn iD;
    private IgbColumnGroup generalInformation;
    private IgbColumn companyName;
    private IgbColumnGroup personalDetails;
    private IgbColumn contactName;
    private IgbColumn contactTitle;
    private IgbColumnGroup addressInformation;
    private IgbColumnGroup location;
    private IgbColumn country;
    private IgbColumn region;
    private IgbColumn city;
    private IgbColumn address;
    private IgbColumnGroup contactInformation;
    private IgbColumn phone;
    private IgbColumn fax;
    private IgbColumn postalCode;


    public void WebGridExportEventMultiColumnHeaders(IgbExporterEventEventArgs args)
    {
        bool exportMultiHeaders = (bool)exportHeaders.GetCurrentPrimitiveValue();
        args.Detail.Options.IgnoreMultiColumnHeaders = !exportMultiHeaders;
    }

    private CustomersData _customersData = null;
    public CustomersData CustomersData
    {
        get
        {
            if (_customersData == null)
            {
                _customersData = new CustomersData();
            }
            return _customersData;
        }
    }

}