
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="button-container">
        <IgbButton Variant="ButtonBaseVariant.Flat">Flat</IgbButton>
        <IgbButton Variant="ButtonBaseVariant.Contained">Contained</IgbButton>
        <IgbButton Variant="ButtonBaseVariant.Outlined">Outlined</IgbButton>
    </div>
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbButtonModule.Register(IgniteUIBlazor);
    }
}