@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <IgbCheckbox Indeterminate=true>Label</IgbCheckbox>
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbCheckboxModule.Register(IgniteUIBlazor);
    }
}