
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer-horizontal">
    <div class="igContainer-vertical">
        <span class="igLegend-title">Global Electricity Demand by Energy Use</span>
        <div class="igLegend">
            <ItemLegend @ref="Legend"  />
        </div>
    </div>

    <div class="igComponent">

        @if (DataSource != null)
        {
            <PieChart Height="100%" Width="100%"
                      @ref="Chart"
                      DataSource="DataSource"
                      LabelMemberPath="Summary"
                      ValueMemberPath="MarketShare"
                      LegendLabelMemberPath="Summary"
                      Outlines="white"
                      RadiusFactor="0.7"
                      StartAngle="0"
                      SliceClick="OnSliceClick"
                      AllowSliceExplosion="true"
                      LabelsPosition="@LabelsPosition.OutsideEnd"
                      LabelExtent="30"
                      ExplodedSlices="ExplodedSlices"
                      >
            </PieChart>
        }

    </div>
</div>

@code {

    private List<DataItem> DataSource;
    public PieChart Chart;
    public ItemLegend Legend;
    public int[] ExplodedSlices { get; set; } = new int[1];

    protected override void OnInitialized()
    {
        PieChartModule.Register(IgniteUIBlazor);
        ItemLegendModule.Register(IgniteUIBlazor);

        var dataItems = new List<DataItem>();
        dataItems.Add(new DataItem() { MarketShare = 25, Company = "Residential Appliance",  });
        dataItems.Add(new DataItem() { MarketShare = 12, Company = "Heating", });
        dataItems.Add(new DataItem() { MarketShare = 8, Company = "Lighting", });
        dataItems.Add(new DataItem() { MarketShare = 18, Company = "Other Services", });
        dataItems.Add(new DataItem() { MarketShare = 37, Company = "Space Cooling", });


        DataSource = dataItems;
    }


    public class DataItem
    {
        public string Company { get; set; }
        public double MarketShare { get; set; }

        public string Summary { get { return Company + " " + MarketShare + "%"; } }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        Chart.Legend = Legend;
    }

    protected void OnSliceClick(SliceClickEventArgs e)
    {
        ExplodedSlices = new int[] { e.Index };
    }
}