@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="container vertical">
        <IgbBulletGraph Height="80px" Width="100%"
                     MinimumValue="0" Value="70" Interval="10"
                     MaximumValue="100" TargetValue="90"
                     LabelInterval="10"
                     LabelExtent="0.025"
                     LabelsPreTerminal="0"
                     LabelsPostInitial="0"
                     FontBrush="DodgerBlue"
                     Font="11px Verdana">
        </IgbBulletGraph>
    </div>
</div>

@code {

}