
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;


<div class="container vertical">


        @if (DataSource != null)
        {
            <DoughnutChart Height="100%" Width="100%">
                <RingSeries DataSource="@DataSource"
                            LabelMemberPath="Summary"
                            ValueMemberPath="MarketShare"
                            LegendLabelMemberPath="Company"
                            Outlines="white"
                            SelectedSliceStroke="white"
                            SelectedSliceFill="rgb(143,143,143)"
                            SelectedSliceOpacity="1.0"
                            SelectedSliceStrokeThickness="2"
                            RadiusFactor="0.9"
                            StartAngle="0">
                </RingSeries>
            </DoughnutChart>
        }

</div>


@code {

    // NOTE here, you can add properties to store values and data for this component
    private List<DataItem> DataSource;
    // TODO uncomment
    // private string SelectedSlices = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        // Console.WriteLine("Sample runtime: " + IgniteUIBlazor.JsRuntime);
        Console.WriteLine("Sample OnInitialized...");
        DoughnutChartModule.Register(IgniteUIBlazor);

        var dataItems = new List<DataItem>();
        dataItems.Add(new DataItem() { MarketShare = 30, Company = "Google", });
        dataItems.Add(new DataItem() { MarketShare = 25, Company = "Apple", });
        dataItems.Add(new DataItem() { MarketShare = 20, Company = "Microsoft", });
        dataItems.Add(new DataItem() { MarketShare = 15, Company = "Samsung", });
        dataItems.Add(new DataItem() { MarketShare = 10, Company = "Other", });

        DataSource = dataItems;

    }

    public class DataItem
    {
        public string Company { get; set; }
        public double MarketShare { get; set; }

        public string Summary { get { return Company + " " + MarketShare + "%"; } }
    }

    // NOTE here is example of even handler that update a field that is bound in HTML code above
    protected void OnSliceClick()
    {
        Console.WriteLine("Sample OnButtonClick");

        // TODO get Selected Slices and update SelectedSlices variable
        // SelectedSlices = "";
    }
}
