@page "/SampleVertical"



<div class="container vertical-vertical">

    <div class="container vertical">
        container vertical 1
    </div>
    <div class="container vertical">
        container vertical 2
    </div>
    <div class="container vertical">
        container vertical 3
    </div>
</div>