@page "/SampleCenter"

<div class="container vertical igCenter">
     <div class="container vertical">
        container vertical 1
    </div>
    <div class="container vertical">
        container vertical 2
    </div>
</div>