@* this namespace is required for Infragistics controls *@
@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor;
@inject IJSRuntime JSRuntime;

@* NOTE use this HTML code to design a sample *@
<div class="igContainer">
    <div class="igOptions">
        @* TODO add options (if any) for IG control here otherwise remove DIV with igOptions *@
        <button class="btn btn-primary" @onclick="OnButtonClick">Click me</button>
    </div>

    <div class="igComponent">

        @* TODO add IG control here *@
        <p>Current count: @CurrentCount</p>
    </div>
</div>

@* NOTE you can change this C# code to affect behaviour of this page: *@
@code {

    // NOTE here, you can add properties to store values and data for this component
    private int CurrentCount;

    // NOTE here, you can Initialize properties/state/data of the sample
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Sample OnInitializedAsync...");

        CurrentCount = 10;

        await Task.Delay(10);
    }

    // NOTE here is example of even handler that update a field that is bound in HTML code above
    protected void OnButtonClick()
    {
        Console.WriteLine("Sample OnButtonClick");

        CurrentCount++;

        // NOTE you can also call this function to force rending of the component
        // this.StateHasChanged();
    }
}
