@page "/SampleWithOptions"


@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;


<div class="container vertical">
    <div class="options horizotnal">
        <button @onclick="OnButtonClick">Click me</button>
        <button @onclick="OnButtonClick">Click me</button>
    </div>

    <div class="container vertical">

        <div>TODO add IG control here</div>
    </div>
</div>


@code {

    // NOTE here, you can add properties to store values and data for this component
    private int CurrentCount;

    // NOTE here, you can Initialize properties/state/data of the sample
    protected override void OnInitialized()
    {
        Console.WriteLine("Sample OnInitializedAsync...");

        CurrentCount = 10;
    }

    // NOTE here is example of even handler that update a field that is bound in HTML code above
    protected void OnButtonClick()
    {
        Console.WriteLine("Sample OnButtonClick");

        CurrentCount++;

        // NOTE you can also call this function to force rending of the component
        // this.StateHasChanged();
    }
}
