@page "/SampleWithOptionsAndData"

@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;
@inject HttpClient Http

<div class="container vertical">
    <div class="options horizotnal">
        <button @onclick="OnButtonClick">Click me</button>
    </div>

    <div class="container vertical">

        @if (DataSource != null)
        {
            <div>TODO add IG control here</div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dataItem in DataSource)
                    {
                        <tr>
                            <td>@dataItem.name</td>
                            <td>@dataItem.country</td>
                            <td>@dataItem.lat</td>
                            <td>@dataItem.lon</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>


@code {

    // NOTE here, you can add properties to store values and data for this component
    private int CurrentCount;
    private WorldCity[] DataSource;

    // NOTE here, you can Initialize properties/state/data of the sample
    protected override void OnInitialized()
    {
        Console.WriteLine("Sample OnInitializedAsync...");

        CurrentCount = 10;

        // NOTE samples should be loading data from CDN URLs:
        // DataSource = await Http.GetJsonAsync<WorldCity[]>("http://static.infragistics.com/xplatform/data/WorldCities.json");
        // DataSource = DataSource.Take(20).ToArray();
        // DataSource = await Http.GetJsonAsync<WeatherForecast[]>("data/WeatherForecast.json");
        DataSource = new WorldCity[] { new WorldCity() };

    }

    // NOTE here is example of even handler that update a field that is bound in HTML code above
    protected void OnButtonClick()
    {
        Console.WriteLine("Sample OnButtonClick");

        CurrentCount++;

        // NOTE you can also call this function to force rending of the component
        // this.StateHasChanged();
    }
}
