@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
	
	    <div class="legend-title">
        Where Online Shoppers Start Their Search
    </div>
    
	
    <div class="container vertical fill">
        <IgbDataChart
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false"
        Name="Chart"
        @ref="chart">
            <IgbCategoryYAxis
            DataSource="OnlineShoppingSearches"
            Gap="0.75"
            IsInverted="true"
            Label="Shop"
            Name="yAxis"
            @ref="yAxis">
            </IgbCategoryYAxis>
            <IgbNumericXAxis
            MinimumValue="0"
            MaximumValue="80"
            Interval="20"
            LabelFormat="{0}%"
            Name="xAxis"
            @ref="xAxis">
            </IgbNumericXAxis>
            <IgbCategoryHighlightLayer
            Name="CategoryHighlightLayer"
            @ref="categoryHighlightLayer">
            </IgbCategoryHighlightLayer>
            <IgbBarSeries
            XAxisName="xAxis"
            YAxisName="yAxis"
            ValueMemberPath="Percent"
            IsTransitionInEnabled="true"
            DataSource="OnlineShoppingSearches"
            Brush="#a786068a"
            Outline="#85068a"
            Thickness="2"
            IsHighlightingEnabled="true"
            AreaFillOpacity="0.5"
            ShowDefaultTooltip="true"
            Name="BarSeries1"
            @ref="barSeries1">
            </IgbBarSeries>
            <IgbCalloutLayer
            LabelMemberPath="Label"
            XMemberPath="X"
            YMemberPath="Y"
            ContentMemberPath="Label"
            CalloutTextColor="#85068a"
            CalloutBackground="#00000000"
            CalloutLeaderBrush="#00000000"
            DataSource="OnlineShoppingSearches"
            Name="CalloutLayer1"
            @ref="calloutLayer1">
            </IgbCalloutLayer>
            <IgbDataToolTipLayer
            Name="Tooltips"
            @ref="tooltips">
            </IgbDataToolTipLayer>
        </IgbDataChart>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }

	private Action BindElements { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		var chart = this.chart;
		var yAxis = this.yAxis;
		var xAxis = this.xAxis;
		var categoryHighlightLayer = this.categoryHighlightLayer;
		var barSeries1 = this.barSeries1;
		var calloutLayer1 = this.calloutLayer1;
		var tooltips = this.tooltips;

        this.BindElements = () => {
        };
        this.BindElements();
	}

	private IgbDataChart chart;
	private IgbCategoryYAxis yAxis;
	private IgbNumericXAxis xAxis;
	private IgbCategoryHighlightLayer categoryHighlightLayer;
	private IgbBarSeries barSeries1;
	private IgbCalloutLayer calloutLayer1;
	private IgbDataToolTipLayer tooltips;


    private OnlineShoppingSearches _onlineShoppingSearches = null;
    public OnlineShoppingSearches OnlineShoppingSearches
    {
        get
        {
            if (_onlineShoppingSearches == null)
            {
                _onlineShoppingSearches = new OnlineShoppingSearches(); 
            }
            return _onlineShoppingSearches;
        }
    }
    
}