@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.sb-app {
    height: 100%;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    /* align-self: center; */
    display: flex;
    flex-direction: row;
}
/*
.sb-progress {
    height: 60px;
    width: 60px;
    padding: 1rem;
    align-self: center;
} */

.sb-loading {
    height: 100px;
    width:  100px;
    padding: 0rem;
    /* padding-top: 2rem; */
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.sb-error-ui {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.sb-error-dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.sb-root {
    height: 100%;
    width: 100%;
    /* background: rgb(134, 134, 134); */
    /* padding: 1rem; */
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: hidden;
}

.sb-main {
    height: 100%;
    width: 100%;
    /* background: rgb(148, 243, 124); */
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin: 0rem;
}

.sb-container {
    overflow-y: auto;
    overflow-x: auto;
    /* background-color: rgb(250, 178, 178); */

    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
    /* box-sizing: content-box; */
}

.sb-home {
    padding: 1rem;
}
.sb-home-title {
    font-size: 2rem;
}
.sb-home-info {
    font-size: 1rem;
}
.sb-home-image {
    height: 160px;
    width: 160px;
    padding: 1rem;
    align-self: center;
}

.sb-note {
    display: block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    background: #363536;
    color: #0ad001;
    padding: 1rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    border-radius: 4px;
    border-width: 0px;
    align-self: stretch;
}

.sb-note strong {
    white-space: pre;
    font-family: Consolas;
    font-weight: bold;
    color: #ffff0b;
}

.sb-note > div {
    padding-top: 1rem;
}


.sb-toolbar {
    background: rgb(5, 39, 103);
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sb-toolbar-name {
    padding-left: 0.5rem;

    width: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        -o-user-select: none;
            user-select: none; /* Non-prefixed version, currently*/
}

.sb-toolbar-toggle {
    background: transparent;
    color: rgb(216, 216, 216);
    padding: 0.5rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    /* width: 1.5rem; */
    border-radius: 4px;
    cursor: pointer;
}

.sb-toolbar-toggle:hover {
    /* background: dodgerblue;
    color: #ffffff !important; */
    /* background: rgba(204, 204, 204, 0.123); */
    background: rgba(107, 107, 107, 0.705);
    transition: "all 0.0s";
    color: rgb(255, 254, 254);
}



.sb-sidebar-header {
    /* background: rgba(204, 204, 204, 0.123); */
    align-items: center;
    /*margin: 0.5rem;*/
    /*height: 2.25rem;*/
    /* padding: 0.5rem; */
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.1rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.sb-sidebar-menu {
    /* nav flex-column */
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    /* overflow-x: scroll; */
    /* background: rgb(117, 0, 128); */
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    color: #d7d7d7;
    /* padding: 1rem; */
    padding: 0rem;
    height: 100%;
    min-width: 250px;
    /* min-width: 250px; */

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        -o-user-select: none;
            user-select: none; /* Non-prefixed version, currently*/
}

.sb-sidebar-group {
    /* background: rgba(107, 107, 107, 0.705); */
    /* background: rgba(204, 204, 204, 0.123); */
    color: #d7d7d7;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    width: calc(100% - 1rem);
    /* min-width: 275px; */
    border-radius: 4px;

    /* overflow: hidden; */
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.sb-sidebar-control {
    text-overflow: ellipsis;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;

    background: rgba(204, 204, 204, 0.123);
    color: #d7d7d7;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    width: calc(100% - 1rem);
    border-radius: 4px;
}

.sb-sidebar-link,
.sb-sidebar-home {
    /* text-overflow: ellipsis; */
    /* text-transform: capitalize; */
    cursor: pointer;
    white-space: nowrap;

    /* background: rgba(204, 204, 204, 0.123); */
    color: #d7d7d7;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0rem;
    /* width: calc(100% - 1rem); */
    border-radius: 4px;
}

.sb-sidebar-home {
    /* color: red; */
    padding-left: 0.25rem;
}

#sb-sidebar-icon {
    background: red;
    padding-right: 1rem;
}

#sb-sidebar-list {
    /* nav flex-column */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    /* background: green; */
    /* color: #e0e0e0; */
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    /* padding: 1rem; */
    /* padding: 0rem; */
    height: 100%;
    color: #dbdbdb;
}

#sb-sidebar-list span {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#sb-sidebar-list a {
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    /* padding: 2px; */
    /* padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 0px; */
    /* color: #272727 !important; */
    /* color: dodgerblue; */
}

#sb-sidebar-list a:hover {
    background: rgba(107, 107, 107, 0.705);
    transition: "all 0.0s";
    color: white;
}

#sb-sidebar-list a:active {
    background: rgba(107, 107, 107, 0.705);
    transition: "all 0.0s";
    color: white;
}

#sb-sidebar-list div:hover {
    background: rgba(107, 107, 107, 0.705);
    transition: "all 0.0s";
    color: white;
}

  /* scrollbar styles */
#sb-sidebar-list::-webkit-scrollbar
{
    width: 12px;
    /* background: #eeeeee; */
    background: #444444;
    margin-top: 8px;
    margin-right: 5px;
    /* height: calc(100% - 5px); */
    /* background: #2ff12f; */
}

#sb-sidebar-list::-webkit-scrollbar-track
{
    margin-top: 0px;
    border-radius: 0px;
    background: transparent;
    /* background: red; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}

#sb-sidebar-list::-webkit-scrollbar-thumb
{
    width: 10px;
    border-radius: 10px;
    background: #424242;
    background: #868686;
    /* background: #c2c2c2; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
}

#sb-sidebar-list::-webkit-scrollbar-thumb:hover {
    background: #242323;
    background: #6d6c6c;
    background: #a1a1a1;
}

