@using IgniteUI.Blazor.Controls

@inject IJSRuntime JS

<div class="container vertical">
    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="CustomersData"
        PrimaryKey="ID"
        Name="grid"
        @ref="grid">
            <IgbColumn
            Header="ID"
            Field="ID">
            </IgbColumn>

            <IgbColumn
            Field="ContactName"
            Header="Contact"
            Editable="true"
            BodyTemplateScript="WebGridCompositeContactCellTemplate"
            InlineEditorTemplateScript="WebGridCompositeContactEditCellTemplate"
            Width="250px"
            Resizable="false"
            Name="column1"
            @ref="column1">
            </IgbColumn>

            <IgbColumn
            Header="Address"
            Field="Address"
            Editable="true"
            BodyTemplateScript="WebGridCompositeAddressCellTemplate"
            InlineEditorTemplateScript="WebGridCompositeAddressEditCellTemplate"
            Width="250px"
            Resizable="false"
            Name="column2"
            @ref="column2">
            </IgbColumn>

            <IgbColumn
            Header="Country"
            Field="Country">
            </IgbColumn>

            <IgbColumn
            Header="Region"
            Field="Region">
            </IgbColumn>

            <IgbColumn
            Header="Phone"
            Field="Phone">
            </IgbColumn>

            <IgbColumn
            Header="Fax"
            Field="Fax">
            </IgbColumn>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;
        var column1 = this.column1;
        var column2 = this.column2;

    }

    private IgbGrid grid;
    private IgbColumn column1;
    private IgbColumn column2;

    private CustomersData _customersData = null;
    public CustomersData CustomersData
    {
        get
        {
            if (_customersData == null)
            {
                _customersData = new CustomersData();
            }
            return _customersData;
        }
    }

}