/*
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css/samples/shared.v6.css
*/

.activeRow {
    border-top: 2px solid #fc81b8;
    border-left: 3px solid #e41c77;
}

