/* shared styles are loaded from: */

/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

.flex {
  display: flex;
}

.h-full {
  height: 100%;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.rounded-2xl {
  border-radius: 1rem;
}

.border {
  border-width: 1px;
}

.border-\[var\(--ig-primary-500\)\] {
  border-color: var(--ig-primary-500) !important;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.filter-panel {
  --ig-primary-800: #004699;
  box-sizing: border-box;
  width: 218px;
  font-family: "Aktiv Grotesk", sans-serif;
}

igc-accordion {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

igc-expansion-panel {
  border: 0;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid var(--ig-gray-200);
}

igc-expansion-panel:last-of-type {
  border-bottom: 0;
}

igc-expansion-panel:last-of-type .section-options {
  padding-bottom: 0;
}

igc-expansion-panel::part(header) {
  padding: 0.25rem 1rem 0.5rem;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: var(--ig-primary-800);
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
}

igc-expansion-panel::part(content) {
  padding: 0;
  border: 0;
  background: transparent;
}

igc-expansion-panel::part(title) {
  color: var(--ig-primary-800);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.panel-title {
  color: var(--ig-primary-800);
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}

igc-expansion-panel::part(indicator) {
  color: var(--ig-gray-800);
}

.section-options {
  gap: 1rem;
  margin: -0.5rem 0 -1rem;
  padding: 0 0 1rem;
}

.filter-option {
  --size: 20px;
}

.filter-option::part(label) {
  color: var(--ig-gray-800);
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
}

.filter-option::part(indicator) {
  --tick-color: var(--ig-gray-50);
  --indicator-size: 1rem;
}

.filter-option::part(control) {
  --size: 20px;
  --empty-color: var(--ig-gray-400);
  --border-radius: 0.125rem;
}

.filter-option::part(control checked)::after {
  --fill-color: var(--ig-primary-500);
}

.filter-option:hover::part(control) {
  --empty-color: var(--ig-primary-500);
}
