
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div id="root" style="display: flex;">
        <IgbNavDrawer id="navDrawer" style="position: relative">
            <IgbNavDrawerHeaderItem>
                Sample Drawer
            </IgbNavDrawerHeaderItem>

            <IgbNavDrawerItem>
                <IgbIcon @ref="@HomeIcon" IconName="home" Collection="material">@*slot="icon"*@ </IgbIcon>
                <span slot="content">Home</span>
            </IgbNavDrawerItem>

            <IgbNavDrawerItem>
                <IgbIcon @ref="SearchIcon" IconName="search" Collection="material">@*slot="icon"*@ </IgbIcon>
                <span slot="content">Search</span>
            </IgbNavDrawerItem>
        </IgbNavDrawer>

        <div id="content" style="width: 100%">
            <IgbRadioGroup id="radio-group" Alignment="RadioGroupAlignment.Horizontal">
                <IgbRadio Value="start" LabelPosition="RadioLabelPosition.After" Checked="true">Start</IgbRadio>
                <IgbRadio Value="end" LabelPosition="RadioLabelPosition.After">End</IgbRadio>
                <IgbRadio Value="top" LabelPosition="RadioLabelPosition.After">Top</IgbRadio>
                <IgbRadio Value="bottom" LabelPosition="RadioLabelPosition.After">Bottom</IgbRadio>
            </IgbRadioGroup>

            <IgbNavbar>
                <IgbIcon @ref="MenuIcon" IconName="menu" Collection="material">@*slot="start"*@</IgbIcon>
                <h2>Home</h2>
            </IgbNavbar>
        </div>
    </div></div>

@code {

    public IgbIcon HomeIcon { get; set; }
    public IgbIcon SearchIcon { get; set; }
    public IgbIcon MenuIcon { get; set; }

    protected override void OnInitialized()
    {
        IgbNavbarModule.Register(IgniteUIBlazor);
        IgbNavDrawerModule.Register(IgniteUIBlazor);
        IgbNavDrawerHeaderItemModule.Register(IgniteUIBlazor);
        IgbNavDrawerItemModule.Register(IgniteUIBlazor);
        IgbIconModule.Register(IgniteUIBlazor);
        IgbRadioGroupModule.Register(IgniteUIBlazor);
        IgbRadioModule.Register(IgniteUIBlazor);

        //  const menu = document.getElementById('menu');
        //  const navDrawer = document.querySelector('igc-nav-drawer') as IgcNavDrawerComponent;

        //  menu!.addEventListener('click', () =>
        //  {
        //      navDrawer.show();
        //  })

        //document.getElementById('root')!.onclick = (e) =>
        //{
        //    if (e.target === document.getElementById('content'))
        //    {
        //        navDrawer.hide();
        //    }
        //}

        //const radioGroup = document.getElementById('radio-group') as IgcRadioGroupComponent;

        //  radioGroup.addEventListener('click', (radio: any) => {
        //      navDrawer.position = radio.target.value;
        //  });
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (this.HomeIcon != null && firstRender)
        {
            this.HomeIcon.EnsureReady().ContinueWith(new Action<Task>((e) =>
            {
                this.HomeIcon.RegisterIcon("home",
                    "https://unpkg.com/material-design-icons@3.0.1/action/svg/production/ic_home_24px.svg",
                    "material");
            }));
        }

        if (this.SearchIcon != null && firstRender)
        {
            this.SearchIcon.EnsureReady().ContinueWith(new Action<Task>((e) =>
            {
                this.SearchIcon.RegisterIcon("search",
                    "https://unpkg.com/material-design-icons@3.0.1/action/svg/production/ic_search_24px.svg",
                    "material");
            }));
        }

        if (this.MenuIcon != null && firstRender)
        {
            this.MenuIcon.EnsureReady().ContinueWith(new Action<Task>((e) =>
            {
                this.MenuIcon.RegisterIcon("menu",
                    "https://unpkg.com/material-design-icons@3.0.1/navigation/svg/production/ic_menu_24px.svg",
                    "material");
            }));
        }
    }
}