@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="container vertical">
        <IgbBulletGraph Height="80px" Width="100%"
            MinimumValue="0" 
            Value="70"
            TargetValue="90"
            Interval="10"
            MaximumValue="100" 
            LabelInterval="10"
            LabelExtent="0.025"
            LabelsPreTerminal="0"
            LabelsPostInitial="0"
            HighlightValueDisplayMode="HighlightedValueDisplayMode.Overlay"
            HighlightValue=25>
        </IgbBulletGraph>
    </div>
</div>

@code {

}