@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <div class="container vertical fill">
        <IgbDashboardTile
        Name="dashboard"
        @ref="dashboard"
        TileTitle="World Cities"
        DataSource="WorldCities">
        </IgbDashboardTile>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var dashboard = this.dashboard;

    }

    private IgbDashboardTile dashboard;

    private WorldCities _worldCities = null;
    public WorldCities WorldCities
    {
        get
        {
            if (_worldCities == null)
            {
                _worldCities = new WorldCities();
            }
            return _worldCities;
        }
    }

}