/*
CSS styles are loaded from the shared CSS file located at:
https://static.infragistics.com/xplatform/css/samples/
*/

.horizontal {
    gap: 10px;
    flex-basis: fit-content;
    flex-wrap: wrap;
}

.sampleContainer {
    padding: 0.5rem
}