@using IgniteUI.Blazor.Controls

@inject IJSRuntime JS

<div class="container vertical">

    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Id="grid"
        Data="CustomersData"
        ColumnResizedScript="WebGridColumnResized"
        Name="grid"
        @ref="grid">
            <IgbColumn
            Field="ID"
            Header="ID"
            Name="ID"
            @ref="iD">
            </IgbColumn>

            <IgbColumn
            Name="CompanyName"
            @ref="companyName"
            Field="CompanyName"
            Header="Company"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Name="ContactName"
            @ref="contactName"
            Field="ContactName"
            Header="Name"
            Resizable="true"
            MinWidth="60px"
            MaxWidth="230px">
            </IgbColumn>

            <IgbColumn
            Name="ContactTitle"
            @ref="contactTitle"
            Field="ContactTitle"
            Header="Title"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Name="Address"
            @ref="address"
            Field="Address"
            Header="Address"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Name="City"
            @ref="city"
            Field="City"
            Header="City">
            </IgbColumn>

            <IgbColumn
            Name="Region"
            @ref="region"
            Field="Region"
            Header="Region"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Name="PostalCode"
            @ref="postalCode"
            Field="PostalCode"
            Header="Postal Code"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Name="Country"
            @ref="country"
            Field="Country"
            Header="Country"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Name="Phone"
            @ref="phone"
            Field="Phone"
            Header="Phone"
            Resizable="true">
            </IgbColumn>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;
        var iD = this.iD;
        var companyName = this.companyName;
        var contactName = this.contactName;
        var contactTitle = this.contactTitle;
        var address = this.address;
        var city = this.city;
        var region = this.region;
        var postalCode = this.postalCode;
        var country = this.country;
        var phone = this.phone;

    }

    private IgbGrid grid;
    private IgbColumn iD;
    private IgbColumn companyName;
    private IgbColumn contactName;
    private IgbColumn contactTitle;
    private IgbColumn address;
    private IgbColumn city;
    private IgbColumn region;
    private IgbColumn postalCode;
    private IgbColumn country;
    private IgbColumn phone;

    private CustomersData _customersData = null;
    public CustomersData CustomersData
    {
        get
        {
            if (_customersData == null)
            {
                _customersData = new CustomersData();
            }
            return _customersData;
        }
    }

}