@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div style="width: 16rem; border: 1px solid gainsboro">
        <style>
            :root {
                --igc-primary-h: 60deg;
                --igc-primary-s: 100%;
                --igc-primary-l: 25%;
            }

            igc-radio::part(control) {
                --size: 18px;
            }
        </style>
        <IgbRadioGroup>
            <IgbRadio name="fruit">Apple</IgbRadio>
            <IgbRadio name="fruit" Checked="true">Banana</IgbRadio>
            <IgbRadio name="fruit">Mango</IgbRadio>
            <IgbRadio name="fruit">Orange</IgbRadio>
        </IgbRadioGroup>
    </div>
</div>

@code {


}
