
@using IgniteUI.Blazor.Controls


<div class="container sample">
    <IgbSelect>
        <IgbSelectItem>Item 1</IgbSelectItem>
        <IgbSelectItem>Item 2</IgbSelectItem>
        <IgbDivider></IgbDivider>
        <IgbSelectItem>Item 3</IgbSelectItem>
    </IgbSelect>
</div>

@code {    
}