
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">

    <div class="options vertical">
        <span class="legend-title">Google vs Microsoft Stock Prices</span>
        <div class="legend">
            <IgbLegend @ref="FinancialLegend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>

    <div class="container vertical">

            <IgbFinancialChart
                @ref="Chart"
                Width="100%"
                Height="100%"
                ChartType="FinancialChartType.Bar"
                Thickness=2
                ExcludedProperties="@(new string[] { "Date" })"
                DataSource="Data"
                ZoomSliderType="FinancialChartZoomSliderType.Bar"
                IsToolbarVisible="true"
                YAxisMode="FinancialChartYAxisMode.PercentChange"/>

    </div>
</div>

@code {

    public List<StockPrice[]> Data;
    public IgbLegend FinancialLegend { get; set; }
    public IgbFinancialChart Chart;

    protected override async Task OnInitializedAsync()
    {
        IgbFinancialChartModule.Register(IgniteUIBlazor);
        IgbLegendModule.Register(IgniteUIBlazor);
        this.Data = await StocksHistory.GetMultipleStocks();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (Chart != null && FinancialLegend != null && !firstRender)
            Chart.Legend = FinancialLegend;

    }
}
