@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <IgbTabs>
        @for(int i=1; i<=20; i++)
        {
            string tabName = "Tab " + i.ToString();
            string tabContent = "Tab Content " + i.ToString();

            <IgbTab Label=@tabName>@tabContent</IgbTab>
        }
    </IgbTabs>
</div>

@code {

}