@using IgniteUI.Blazor.Controls


<style>
    igc-slider,
    igc-range-slider {
        padding: 30px 30px  0px 30px;
        flex-grow: 1;
    }

    .slider-container {
        display: flex;
        align-items: baseline;
    }

    .slider-label {
        width: 100px;
        text-align: end;
    }
</style>

<div class="container sample center">
    <div class="slider-container">
        <span class="slider-label">Slider</span>
        <IgbSlider Value="40">
        </IgbSlider>
    </div>
    <div class="slider-container">
        <span class="slider-label"> Range Slider</span>
        <IgbRangeSlider Lower="20" Upper="70">
        </IgbRangeSlider>
    </div>
</div>

@code {



}
