@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor
@inject NavigationManager NavManager

<div class="igContainer-horizontal">
    <GeographicMap Height="100%" Width="100%" Zoomable="true" BackgroundContent="@AerialImagery">
    </GeographicMap>
    @*<GeographicMap Height="100%" Width="100%" Zoomable="true" BackgroundContent="@AerialWithLabelsImagery">
    </GeographicMap>
    <GeographicMap Height="100%" Width="100%" Zoomable="true" BackgroundContent="@RoadImagery">
    </GeographicMap>*@
</div>

@code {

    private BingMapsMapImagery AerialImagery;
    private BingMapsMapImagery AerialWithLabelsImagery;
    private BingMapsMapImagery RoadImagery;

    protected override void OnInitialized()
    {
        GeographicMapModule.Register(IgniteUIBlazor);

        this.AerialImagery = new BingMapsMapImagery()
        {
            ApiKey = MapUtils.GetBingKey(),
            ImageryStyle = BingMapsImageryStyle.Aerial
        };

        bool isHttpSecured = NavManager.Uri.StartsWith("https");


        if (isHttpSecured)
        {
            //TODO FIX THE ActualBingImageryRestUri
            Console.WriteLine(this.AerialImagery.ActualBingImageryRestUri);
            AerialImagery.BingImageryRestUri = AerialImagery.ActualBingImageryRestUri.Replace("http:", "https:");
        }

        //this.AerialImagery = new BingMapsMapImagery();

        //string httpPrefix = "http";

        //httpPrefix = httpPrefix + "://dev.virtualearth.net/REST/v1/Imagery/Metadata/";

        //BingMapsMapImagery _aerialImagery = new BingMapsMapImagery();
        //_aerialImagery.ApiKey = MapUtils.GetBingKey();
        //_aerialImagery.ImageryStyle = BingMapsImageryStyle.Aerial;
        //_aerialImagery.BingImageryRestUri = httpPrefix;

        //BingMapsMapImagery _aerialWithLabelsImagery = new BingMapsMapImagery();
        //_aerialWithLabelsImagery.ApiKey = MapUtils.GetBingKey();
        //_aerialWithLabelsImagery.ImageryStyle = BingMapsImageryStyle.AerialWithLabels;
        //_aerialWithLabelsImagery.BingImageryRestUri = httpPrefix;

        //BingMapsMapImagery _roadImagery = new BingMapsMapImagery();
        //_roadImagery.ApiKey = MapUtils.GetBingKey();
        //_roadImagery.ImageryStyle = BingMapsImageryStyle.Road;
        //_roadImagery.BingImageryRestUri = httpPrefix;

        //this.AerialImagery = _aerialImagery;
        //this.AerialWithLabelsImagery = _aerialWithLabelsImagery;
        //this.RoadImagery = _roadImagery;

        //Map1.BackgroundContent = this.AerialImagery;
        //Map2.BackgroundContent = this.AerialWithLabelsImagery;
        //Map3.BackgroundContent = this.RoadImagery;
    }
}