@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igOptions">
        <span class="igLegend-title">Highest Grossing Film Franchises and Series Worldwide as of April 2020</span>
        <div class="igLegend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="igComponent">
        @if (Data != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           DataSource="Data"
                           ChartType="CategoryChartType.Column"
                           Legend="Legend"
                           XAxisInterval="1"
                           YAxisTitle="Billions of U.S. Dollars"
                           YAxisTitleLeftMargin="10"
                           YAxisTitleRightMargin="5"
                           YAxisLabelLeftMargin="0"
						   IsHorizontalZoomEnabled="false"
                           IsVerticalZoomEnabled="false">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<FilmFranchiseRevenueInfo> Data = new FilmFranchiseRevenueData();

    private Legend _Legend;
    private Legend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
    }
}
