@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">

        @if (Data != null)
        {
            <label class="legend-title">Sparkline with Line Display Type</label>
            <div class="container" style="padding: 0.5rem;">
                <Sparkline Height="100%" Width="100%" DataSource="Data"
                           DisplayType="SparklineDisplayType.Line"
                           ValueMemberPath="Value"
                           LabelMemberPath="Angle">
                </Sparkline>
            </div>

            <label class="legend-title">Sparkline with Area Display Type</label>
            <div class="container" style="padding: 0.5rem;">
                <Sparkline Height="100%"  Width="100%" DataSource="Data"
                           DisplayType="SparklineDisplayType.Area"
                           ValueMemberPath="Value"
                           LabelMemberPath="Angle">
                </Sparkline>
            </div>

            <label class="legend-title">Sparkline with Column Display Type</label>
            <div class="container" style="padding: 0.5rem;">
               <Sparkline Height="100%" Width="100%" DataSource="Data"
                           DisplayType="SparklineDisplayType.Column"
                           ValueMemberPath="Value"
                           LabelMemberPath="Angle">
                </Sparkline>
            </div>

            <label class="legend-title">Sparkline with Win/Loss Display Type</label>
            <div class="container" style="padding: 0.5rem;">
                <Sparkline Height="100%" Width="100%" DataSource="Data"
                           DisplayType="SparklineDisplayType.WinLoss"
                           ValueMemberPath="Value"
                           LabelMemberPath="Angle">
                </Sparkline>
            </div>
        }

</div>

@code {

    private List<SparklineItem> Data;

    protected override void OnInitialized()
    {
        IgbSparklineModule.Register(IgniteUIBlazor);

        this.Data = SparklineData.Generate();
    }

}