@using Microsoft.AspNetCore.Components.Routing

<div class="sb-sidebar-header">
    <div>Blazor Samples</div>
</div>

<div id="sb-sidebar-list" @onclick="ToggleNavMenu">

    <NavLink class="sb-sidebar-home" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span>Home
    </NavLink>

    <NavLink class="sb-sidebar-link" href="CategoryChartOverview">
        <span class="oi oi-media-play" aria-hidden="true"></span> CategoryChart
    </NavLink>
    <NavLink class="sb-sidebar-link" href="DataGridBindingLocalData">
        <span class="oi oi-media-play" aria-hidden="true"></span> DataGridBindingLocalData
    </NavLink>
    <NavLink class="sb-sidebar-link" href="DoughnutChartSelection">
        <span class="oi oi-media-play" aria-hidden="true"></span> DoughnutChartSelection
    </NavLink>
    <NavLink class="sb-sidebar-link" href="MapDisplayImageryOSM">
        <span class="oi oi-media-play" aria-hidden="true"></span> MapDisplayImageryOSM
    </NavLink>
    <NavLink class="sb-sidebar-link" href="PieChartSelection">
        <span class="oi oi-media-play" aria-hidden="true"></span> PieChartSelection
    </NavLink>
    <NavLink class="sb-sidebar-link" href="RadialGaugeAnimation">
        <span class="oi oi-media-play" aria-hidden="true"></span> RadialGaugeAnimation
    </NavLink>
    <NavLink class="sb-sidebar-link" href="RadialGaugeTypeColumn">
        <span class="oi oi-media-play" aria-hidden="true"></span> RadialGaugeTypeColumn
    </NavLink>
    <NavLink class="sb-sidebar-link" href="SparklineDisplayTypes">
        <span class="oi oi-media-play" aria-hidden="true"></span> SparklineDisplayTypes
    </NavLink>
    <NavLink class="sb-sidebar-link" href="SampleComponent">
        <span class="oi oi-media-play" aria-hidden="true"></span> Sample Component
    </NavLink>
    <NavLink class="sb-sidebar-link" href="SampleHorizontal">
        <span class="oi oi-media-play" aria-hidden="true"></span> Sample Horizontal
    </NavLink>
    <NavLink class="sb-sidebar-link" href="SampleVertical">
        <span class="oi oi-media-play" aria-hidden="true"></span> Sample Vertical
    </NavLink>
    <NavLink class="sb-sidebar-link" href="SampleWithOptions">
        <span class="oi oi-media-play" aria-hidden="true"></span> Sample With Options
    </NavLink>


</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
