<div class="sb-note">
    <div>
        <span class="oi oi-pencil mr-2" aria-hidden="true"></span>

        <span class="text-nowrap">
            TODO implement this sample in <strong>@FileName</strong> under the <strong>Pages</strong> folder
        </span>
    </div>
    <div>
        <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
        <span>
            TODO make sure this sample has 2 page directives with routing paths, e.g.
        </span>
        <div class="sb-code">
            <strong>@@page "/samples/gauges/radial-gauge-animation"</strong>
        </div>
        <div class="sb-code">
            <strong>@@page         "/gauges/radial-gauge-animation"</strong>
        </div>
        <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
        <span class="text-nowrap">
            TODO make sure above routing path is set in <strong>/wwwroot/toc/*.json</strong> file
        </span>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string SampleName { get; set; }

    public string FileName { get; set; }

    protected override void OnParametersSet() {
        var file = this.SampleName;
        file = file.Replace("BulletGraph", "");
        file = file.Replace("LinearGauge", "");
        file = file.Replace("RadialGauge", "");
        file = file.Replace("CategoryChart", "");
        file = file.Replace("DataChart", "");
        file = file.Replace("DataGrid", "");
        file = file.Replace("DoughnutChart", "");
        file = file.Replace("FinancialChart", "");
        file = file.Replace("GeoMap", "");
        file = file.Replace("TreeMap", "");
        file = file.Replace("SparklineChart", "");
        file = file.Replace("Spreadsheet", "");
        file = file.Replace("ExcelLibrary", "");
        file = file.Replace("ZoomSlider", "");

        file = file.Replace("BlazorSamples", "");
        file = file.Replace("Samples", "");
        file = file.Replace("Pages", "");
        file = file.Replace(".", "");
        this.FileName = file + ".razor";
    }

}
