@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igComponent">

        <DataChart Height="100%" Width="100%"
                   Subtitle="Countries GDP vs. Population"
                   SubtitleTopMargin="10"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <NumericXAxis Name="xAxis" IsLogarithmic="true"
                          AbbreviateLargeNumbers="true"
                          TitleBottomMargin="10"
                          Title="Population">
            </NumericXAxis>
            <NumericYAxis Name="yAxis" IsLogarithmic="true"
                          AbbreviateLargeNumbers="true"
                          TitleLeftMargin="10"
                          Title="GDP per Capita">
            </NumericYAxis>

            <ScatterLineSeries XAxisName="xAxis"
                               YAxisName="yAxis"
                               Title="High Income Countrie"
                               DataSource="CountriesWithHighIncome"
                               XMemberPath="Population"
                               YMemberPath="GdpTotal"
                               ShowDefaultTooltip="true"
                               MarkerType=MarkerType.Circle>
            </ScatterLineSeries>

            <ScatterLineSeries XAxisName="xAxis"
                               YAxisName="yAxis"
                               Title="Low Income Countrie"
                               DataSource="CountriesWithLowIncome"
                               XMemberPath="Population"
                               YMemberPath="GdpTotal"
                               ShowDefaultTooltip="true"
                               MarkerType=MarkerType.Circle>
            </ScatterLineSeries>

        </DataChart>

    </div>
</div>

@code {

    private List<Country> CountriesWithHighIncome;
    private List<Country> CountriesWithLowIncome;

    protected override void OnInitialized()
    {
        LegendModule.Register(IgniteUIBlazor);
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartScatterModule.Register(IgniteUIBlazor);
        DataChartScatterCoreModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        NumberAbbreviatorModule.Register(IgniteUIBlazor);

        CountriesWithHighIncome = SampleScatterStats.GetCountriesWithHighIncome();
        CountriesWithLowIncome = SampleScatterStats.GetCountriesWithLowIncome();


    }
}