@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igComponent">
        @if (DataSource != null)
        {
            <DataChart Height="100%" Width="100%"
                       Subtitle="House Floor Plan"
                       SubtitleTopMargin="10"
                       IsHorizontalZoomEnabled="true"
                       IsVerticalZoomEnabled="true">

                <NumericXAxis Name="xAxis"
                              TitleBottomMargin="10"
                              Title=" "
                              MinimumValue="-1" MaximumValue="11" Interval="1">
                </NumericXAxis>
                <NumericYAxis Name="yAxis"
                              TitleLeftMargin="10"
                              Title=" "
                              MinimumValue="-1" MaximumValue="11" Interval="1">
                </NumericYAxis>

                <ScatterPolylineSeries XAxisName="xAxis"
                                      YAxisName="yAxis"
                                      Title="Rooms"
                                      DataSource="@DataSource"
                                      ShapeMemberPath="Points"
                                      ShowDefaultTooltip="true">
                </ScatterPolylineSeries>

            </DataChart>
        }

    </div>
</div>

@code {

    private List<SampleShapeItem> DataSource;

    protected override void OnInitialized()
    {
        LegendModule.Register(IgniteUIBlazor);
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartScatterCoreModule.Register(IgniteUIBlazor);
        DataChartScatterModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        ScatterPolylineSeriesModule.Register(IgniteUIBlazor);

        DataSource = SampleShapeData.Create();
    }
}