/*
CSS styles are loaded from the shared CSS file located at:
https://static.infragistics.com/xplatform/css/samples/
*/

#grid {
    --igx-grid-toolbar-background-color: #2a2b2f;
    --igx-grid-toolbar-title-text-color: #ffcd0f;
    --igx-grid-toolbar-dropdown-background: #2a2b2f;
}

