@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
	
	<div class="legend-title">
        Market Share of Tech Companies
    </div>
	
    <div class="container vertical">
        <IgbDoughnutChart
        Name="chart"
        @ref="chart">
            <IgbRingSeries
            DataSource="CompanyMarketShares"
            ValueMemberPath="Value"
            LabelMemberPath="Summary"
            LegendLabelMemberPath="Category"
            Outlines="white"
            Name="series"
            @ref="series">
            </IgbRingSeries>
        </IgbDoughnutChart>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }

	private Action BindElements { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		var chart = this.chart;
		var series = this.series;

        this.BindElements = () => {
        };
        this.BindElements();
	}

	private IgbDoughnutChart chart;
	private IgbRingSeries series;


    private CompanyMarketShares _companyMarketShares = null;
    public CompanyMarketShares CompanyMarketShares
    {
        get
        {
            if (_companyMarketShares == null)
            {
                _companyMarketShares = new CompanyMarketShares(); 
            }
            return _companyMarketShares;
        }
    }
    
}