@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="legend-title">
        Global Electricity Demand by Energy Use
    </div>
    <div class="legend">
        <IgbItemLegend
        Orientation="LegendOrientation.Horizontal"
        Name="Legend"
        @ref="legend">
        </IgbItemLegend>

    </div>

    <div class="container vertical fill">
        <IgbPieChart
        DataSource="EnergyGlobalDemand"
        ValueMemberPath="Value"
        LabelMemberPath="Summary"
        LegendLabelMemberPath="Category"
        LabelsPosition="LabelsPosition.OutsideEnd"
        RadiusFactor="0.7"
        LabelExtent="30"
        StartAngle="0"
        Brushes="#f7d262 #a8a8b7 #e051a9 #f8a15f #735656"
        Outlines="white"
        Name="chart"
        @ref="chart">
        </IgbPieChart>

    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var legend = this.legend;
        var chart = this.chart;

        this.BindElements = () => {
            chart.Legend = this.legend;
        };
        this.BindElements();


    }

    private IgbItemLegend legend;
    private IgbPieChart chart;

    private EnergyGlobalDemand _energyGlobalDemand = null;
    public EnergyGlobalDemand EnergyGlobalDemand
    {
        get
        {
            if (_energyGlobalDemand == null)
            {
                _energyGlobalDemand = new EnergyGlobalDemand();
            }
            return _energyGlobalDemand;
        }
    }

}