@using IgniteUI.Blazor.Controls

<div class="container sample center">
    <IgbRating 
        Label="Styled rating"
        Value="2.5"
        Step=".5"
        HoverPreview
        Size="@SizableComponentSize.Large">
    </IgbRating>
</div>

@code { }
