@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <div class="container vertical fill">
        <IgbDataChart
        Name="chart"
        @ref="chart"
        IsHorizontalZoomEnabled="true"
        IsVerticalZoomEnabled="true"
        ChartTitle="Public Debt vs. Population"
        Subtitle="GDP per Capita">
            <IgbNumericXAxis
            Name="xAxis"
            @ref="xAxis"
            MinimumValue="10000"
            MaximumValue="10000000000"
            IsLogarithmic="true"
            AbbreviateLargeNumbers="true"
            Title="Population">
            </IgbNumericXAxis>

            <IgbNumericYAxis
            Name="yAxis"
            @ref="yAxis"
            IsLogarithmic="true"
            LogarithmBase="10"
            Title="Public Debt per GDP">
            </IgbNumericYAxis>

            <IgbBubbleSeries
            Name="BubbleSeries1"
            @ref="bubbleSeries1"
            XMemberPath="Population"
            YMemberPath="PublicDebt"
            RadiusMemberPath="GdpPerPerson"
            FillMemberPath="GdpPerPerson"
            XAxisName="xAxis"
            YAxisName="yAxis"
            DataSource="WorldStats"
            MarkerType="MarkerType.Circle"
            MarkerOutline="black"
            ShowDefaultTooltip="true">
                <IgbSizeScale
                IsLogarithmic="false"
                MinimumValue="10"
                MaximumValue="120">
                </IgbSizeScale>

                <IgbValueBrushScale
                IsLogarithmic="false"
                MinimumValue="0"
                MaximumValue="100000"
                Brushes="#1aa1e2 #189ad9 #1692ce #1385bc #0f79ab #0c6b99 #095e88 #055277 #024669 #003f5e">
                </IgbValueBrushScale>

            </IgbBubbleSeries>

        </IgbDataChart>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var chart = this.chart;
        var xAxis = this.xAxis;
        var yAxis = this.yAxis;
        var bubbleSeries1 = this.bubbleSeries1;

    }

    private IgbDataChart chart;
    private IgbNumericXAxis xAxis;
    private IgbNumericYAxis yAxis;
    private IgbBubbleSeries bubbleSeries1;

    private WorldStats _worldStats = null;
    public WorldStats WorldStats
    {
        get
        {
            if (_worldStats == null)
            {
                _worldStats = new WorldStats();
            }
            return _worldStats;
        }
    }

}