
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div id="root" style="display: flex;">
        <IgbNavDrawer id="navDrawer">
            <IgbNavDrawerHeaderItem>
                Sample Drawer
            </IgbNavDrawerHeaderItem>

            <IgbNavDrawer>
                <IgbIcon slot="icon" IconName="home"></IgbIcon>
                <span slot="content">Home</span>
            </IgbNavDrawer>

            <IgbNavDrawer>
                <IgbIcon slot="icon" IconName="search"></IgbIcon>
                <span slot="content">Search</span>
            </IgbNavDrawer>

            <div slot="mini">
                <IgbNavDrawer>
                    <IgbIcon slot="icon" IconName="home"></IgbIcon>
                </IgbNavDrawer>

                <IgbNavDrawerItem>
                    <IgbIcon slot="icon" IconName="search"></IgbIcon>
                </IgbNavDrawerItem>
            </div>
        </IgbNavDrawer>

        <div id="content" style="width: 100%">
            <IgbButton id="toggleBtn" style="margin-left: 50px;">Toggle</IgbButton>
        </div>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        IgbNavDrawerModule.Register(IgniteUIBlazor);
        IgbNavDrawerHeaderItemModule.Register(IgniteUIBlazor);
        IgbNavDrawerItemModule.Register(IgniteUIBlazor);
        IgbIconModule.Register(IgniteUIBlazor);
        IgbButtonModule.Register(IgniteUIBlazor);

        //todo
        //    const btn = document.getElementById('toggleBtn');
        //    const navDrawer = document.querySelector('igc-nav-drawer') as IgcNavDrawerComponent;

        //    btn!.addEventListener('click', () =>
        //    {
        //        navDrawer.toggle();
        //    })

        //  document.getElementById('root')!.onclick = (e) =>
        //  {
        //      if (e.target === document.getElementById('content'))
        //      {
        //          navDrawer.hide();
        //      }
        //  }

        //  registerIcon(
        //    'search',
        //    'https://unpkg.com/material-design-icons@3.0.1/action/svg/production/ic_search_24px.svg'
        //  );

        //    registerIcon(
        //      'home',
        //      'https://unpkg.com/material-design-icons@3.0.1/action/svg/production/ic_home_24px.svg'
        //    );
        //}

    }
}