@using IgniteUI.Blazor.Controls

<div class="container vertical">

    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="LocalData"
        Id="grid"
        Name="grid"
        @ref="grid"
        CellSelection="GridSelectionMode.Multiple"
        ColumnSelection="GridSelectionMode.Multiple">
            <IgbColumn
            Name="Category"
            @ref="category"
            Field="Category"
            Header="Category"
            Selectable="true">
            </IgbColumn>

            <IgbColumn
            Name="MarketShare"
            @ref="marketShare"
            Field="MarketShare"
            Header="Market Share"
            Selectable="true">
            </IgbColumn>

            <IgbColumn
            Name="Summary"
            @ref="summary"
            Field="Summary"
            Header="Summary"
            Selectable="false">
            </IgbColumn>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;
        var category = this.category;
        var marketShare = this.marketShare;
        var summary = this.summary;

    }

    private IgbGrid grid;
    private IgbColumn category;
    private IgbColumn marketShare;
    private IgbColumn summary;

    private LocalData _localData = null;
    public LocalData LocalData
    {
        get
        {
            if (_localData == null)
            {
                _localData = new LocalData();
            }
            return _localData;
        }
    }

}