@using IgniteUI.Blazor.Controls

<div class="container vertical ig-typography">
    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="LocalData"
        Id="grid"
        Name="grid"
        @ref="grid"
        CellSelection="GridSelectionMode.Multiple"
        ColumnSelection="GridSelectionMode.Multiple">
            <IgbColumn
            Field="Category"
            Header="Category"
            Selectable="true">
            </IgbColumn>

            <IgbColumn
            Field="MarketShare"
            Header="Market Share"
            Selectable="true">
            </IgbColumn>

            <IgbColumn
            Field="Summary"
            Header="Summary"
            Selectable="false">
            </IgbColumn>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;

    }

    private IgbGrid grid;

    private LocalData _localData = null;
    public LocalData LocalData
    {
        get
        {
            if (_localData == null)
            {
                _localData = new LocalData();
            }
            return _localData;
        }
    }

}