/* shared styles are loaded from: */

/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

.flex {
  display: flex;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[39px\] {
  width: 39px;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-6 {
  gap: 1.5rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.border {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-\[var\(--color-form-border\)\] {
  border-color: var(--color-form-border);
}

.border-e-\[color\:var\(--ig-input-group-border-color\2c var\(--ig-gray-400\)\)\] {
  border-inline-end-color: var(--ig-input-group-border-color,var(--ig-gray-400));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-\[27px\] {
  padding-left: 27px;
  padding-right: 27px;
}

.py-\[31px\] {
  padding-top: 31px;
  padding-bottom: 31px;
}

.ps-2 {
  padding-inline-start: 0.5rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.leading-4 {
  line-height: 1rem;
}

.tracking-\[0\.4px\] {
  letter-spacing: 0.4px;
}

.text-\[var\(--color-form-error\)\] {
  color: var(--color-form-error);
}

.text-\[var\(--color-form-ink\)\] {
  color: var(--color-form-ink);
}

.\[--ig-body-1-font-size\:0\.875rem\] {
  --ig-body-1-font-size: 0.875rem;
}

.\[--ig-font-family\:\'Aktiv_Grotesk\'\2c Arial\2c sans-serif\] {
  --ig-font-family: 'Aktiv Grotesk',Arial,sans-serif;
}

.\[--ig-input-group-border-color\:var\(--color-form-error\)\] {
  --ig-input-group-border-color: var(--color-form-error);
}

.\[--ig-input-group-error-secondary-color\:var\(--color-form-error\)\] {
  --ig-input-group-error-secondary-color: var(--color-form-error);
}

.\[--ig-input-group-hover-placeholder-color\:var\(--color-form-ink\)\] {
  --ig-input-group-hover-placeholder-color: var(--color-form-ink);
}

.\[--ig-input-group-input-prefix-background--filled\:transparent\] {
  --ig-input-group-input-prefix-background--filled: transparent;
}

.\[--ig-input-group-input-prefix-background--focused\:transparent\] {
  --ig-input-group-input-prefix-background--focused: transparent;
}

.\[--ig-input-group-input-prefix-background\:transparent\] {
  --ig-input-group-input-prefix-background: transparent;
}

.\[--ig-input-group-input-suffix-background--filled\:transparent\] {
  --ig-input-group-input-suffix-background--filled: transparent;
}

.\[--ig-input-group-input-suffix-background--focused\:transparent\] {
  --ig-input-group-input-suffix-background--focused: transparent;
}

.\[--ig-input-group-input-suffix-background\:transparent\] {
  --ig-input-group-input-suffix-background: transparent;
}

.\[--ig-input-group-placeholder-color\:var\(--color-form-ink\)\] {
  --ig-input-group-placeholder-color: var(--color-form-ink);
}

:root {
  --color-form-ink: #344b65;
  --color-form-error: #ff134a;
  --color-form-border: #d2dbe8;
}

.focus-within\:\[--ig-input-group-border-color\:var\(--ig-primary-500\)\]:focus-within {
  --ig-input-group-border-color: var(--ig-primary-500);
}

.\[\&\:\:part\(base\)\]\:h-full::part(base) {
  height: 100%;
}

.\[\&\:\:part\(base\)\]\:w-full::part(base) {
  width: 100%;
}

.\[\&\:\:part\(base\)\]\:min-w-0::part(base) {
  min-width: 0px;
}

.\[\&\:\:part\(base\)\]\:rounded-none::part(base) {
  border-radius: 0px;
}

.\[\&\:\:part\(base\)\]\:p-0::part(base) {
  padding: 0px;
}

.\[\&\:\:part\(input\)\]\:border-e-0::part(input) {
  border-inline-end-width: 0px;
}

.\[\&\:\:part\(input\)\]\:border-s-0::part(input) {
  border-inline-start-width: 0px;
}

.\[\&\:\:part\(input\)\]\:shadow-none::part(input) {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.\[\&\:\:part\(label\)\]\:text-xs::part(label) {
  font-size: 0.75rem;
  line-height: 1rem;
}

.\[\&\:\:part\(label\)\]\:uppercase::part(label) {
  text-transform: uppercase;
}

.\[\&\:\:part\(label\)\]\:leading-4::part(label) {
  line-height: 1rem;
}

.\[\&\:\:part\(label\)\]\:text-\[var\(--color-form-ink\)\]::part(label) {
  color: var(--color-form-ink);
}
