@using IgniteUI.Blazor.Controls;


@inject IIgniteUIBlazor IgniteUIBlazor
@inject IJSRuntime JS

<div class="container vertical">




    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="NwindData"
        Moving="true"
        AllowAdvancedFiltering="true"
        Name="grid"
        @ref="grid">
            <IgbGridToolbar
            >
            </IgbGridToolbar>
            
            <IgbColumn
            Field="ProductName"
            Header="ProductName"
            Sortable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="QuantityPerUnit"
            Header="Quantity Per Unit"
            Sortable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitPrice"
            Header="Unit Price"
            Sortable="true"
            DataType="GridColumnDataType.Currency">
            </IgbColumn>
            
            <IgbColumn
            Field="OrderDate"
            Header="Order Date"
            Sortable="true"
            DataType="GridColumnDataType.Date">
            </IgbColumn>
            
            <IgbColumn
            Field="Discontinued"
            Header="Discontinued"
            Sortable="true"
            DataType="GridColumnDataType.Boolean"
            BodyTemplate="WebGridDiscontinuedCellTemplate"
            Name="column1"
            @ref="column1">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;
        var column1 = this.column1;

        this.BindElements = () => {
        };
        this.BindElements();

        if (firstRender) {
        }
	}

    private IgbGrid grid;
    private IgbColumn column1;

    
    public RenderFragment<IgbCellTemplateContext> WebGridDiscontinuedCellTemplate = (ctx) => {
        return @<div>
            @if (ctx.Cell.Value.ToString().ToLower() == "true")
            {
                <img src="https://www.infragistics.com/angular-demos-lob/assets/images/grid/active.png" title="Continued" alt="Continued" />
            }
            else
            {
                <img src="https://www.infragistics.com/angular-demos-lob/assets/images/grid/expired.png" title="Discontinued" alt="Discontinued" />
            }
        </div>;
    };
    	
    private NwindData _nwindData = null;
    public NwindData NwindData
    {
        get
        {
            if (_nwindData == null)
            {
                _nwindData = new NwindData(); 
            }
            return _nwindData;
        }
    }
    
}