/*
CSS styles are loaded from the shared CSS file located at:
https://static.infragistics.com/xplatform/css/samples/
*/

#grid {
    --ig-size: var(--ig-size-medium);
}

#grid igc-paginator {
    --ig-paginator-border-width: 5px;
    --ig-paginator-background-color: #231c2c;
    --ig-paginator-text-color: #d0ab23;
    --ig-paginator-focused-text-color: #d0ab23;
    --ig-paginator-border-color: #d0ab23;
    --ig-grid-paginator-active-border-color: #d0ab23;
    --ig-icon-color: #d0ab23;
    --ig-input-group-filled-text-color: #d0ab23;
    --ig-input-group-focused-text-color: #d0ab23;
}

