@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <IgbSwitch Change="OnKeepOpenOnEscapeSwitchChange" LabelPosition=CheckboxBaseLabelPosition.Before>KeepOpenOnEscape</IgbSwitch>
    <IgbSwitch Change="OnCloseOnOutsideClickSwitchChange" LabelPosition=CheckboxBaseLabelPosition.Before>CloseOnOutsideClick</IgbSwitch>

    <IgbButton @onclick="ToggleDialog" Variant=@ButtonVariant.Contained>Show Dialog</IgbButton>
    <IgbDialog @ref="_dialog" KeepOpenOnEscape="@KeepOpenOnEscape" CloseOnOutsideClick="@CloseOnOutsideClick" Title="Confirmation">
        <p>Are you sure you want to delete the Annual_Report_2016.pdf and Annual_Report_2017.pdf files?</p>
        <IgbButton slot="footer" @onclick="ToggleDialog" Variant=@ButtonVariant.Flat>Cancel</IgbButton>
        <IgbButton slot="footer" @onclick="ToggleDialog" Variant=@ButtonVariant.Flat>OK</IgbButton>
    </IgbDialog>
</div>

@code {
    private IgbDialog _dialog;

    public bool KeepOpenOnEscape { get; set; }
    public bool CloseOnOutsideClick { get; set; }

    public void OnKeepOpenOnEscapeSwitchChange(IgbComponentBoolValueChangedEventArgs args)
    {
        KeepOpenOnEscape = args.Detail;
    }

    public void OnCloseOnOutsideClickSwitchChange(IgbComponentBoolValueChangedEventArgs args)
    {
        CloseOnOutsideClick = args.Detail;
    }

    private async Task ToggleDialog()
    {
        if (this._dialog != null) await this._dialog.ToggleAsync();
    }
}