@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <IgbSwitch Change="OnKeepOpenOnEscapeSwitchChange" LabelPosition=CheckboxBaseLabelPosition.Before>KeepOpenOnEscape</IgbSwitch>
    <IgbSwitch Change="OnCloseOnOutsideClickSwitchChange" LabelPosition=CheckboxBaseLabelPosition.Before>CloseOnOutsideClick</IgbSwitch>

    <IgbButton @onclick="OnDialogShow" Variant=@ButtonVariant.Contained>Show Dialog</IgbButton>
    <IgbDialog @ref="DialogRef" KeepOpenOnEscape="@KeepOpenOnEscape" CloseOnOutsideClick="@CloseOnOutsideClick" Title="Confirmation">
        <p>Are you sure you want to delete the Annual_Report_2016.pdf and Annual_Report_2017.pdf files?</p>
        <IgbButton slot="footer" @onclick="OnDialogHide" Variant=@ButtonVariant.Flat>Cancel</IgbButton>
        <IgbButton slot="footer" @onclick="OnDialogHide" Variant=@ButtonVariant.Flat>OK</IgbButton>
    </IgbDialog>
</div>

@code {
    public IgbDialog DialogRef;
    public bool KeepOpenOnEscape { get; set; }
    public bool CloseOnOutsideClick { get; set; }

    public void OnKeepOpenOnEscapeSwitchChange(IgbComponentBoolValueChangedEventArgs args)
    {
        KeepOpenOnEscape = args.Detail;
    }

    public void OnCloseOnOutsideClickSwitchChange(IgbComponentBoolValueChangedEventArgs args)
    {
        CloseOnOutsideClick = args.Detail;
    }

    public void OnDialogShow()
    {
        if (this.DialogRef != null)
        {
            this.DialogRef.Show();
        }
    }

    public void OnDialogHide()
    {
        if (this.DialogRef != null)
        {
            this.DialogRef.Hide();
        }
    }
}
