@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <IgbSwitch Change="OnKeepOpenOnEscapeSwitchChange" LabelPosition=ToggleLabelPosition.Before>KeepOpenOnEscape</IgbSwitch>
    <IgbSwitch Change="OnCloseOnOutsideClickSwitchChange" LabelPosition=ToggleLabelPosition.Before>CloseOnOutsideClick</IgbSwitch>

    <IgbButton @onclick="OnDialogShow" Variant=@ButtonVariant.Contained>Show Dialog</IgbButton>
    <IgbDialog @ref="DialogRef" KeepOpenOnEscape="@KeepOpenOnEscape" CloseOnOutsideClick="@CloseOnOutsideClick" Title="Confirmation">
        <p>Are you sure you want to delete the Annual_Report_2016.pdf and Annual_Report_2017.pdf files?</p>
        <IgbButton slot="footer" @onclick="OnDialogHide" Variant=@ButtonVariant.Flat>Cancel</IgbButton>
        <IgbButton slot="footer" @onclick="OnDialogHide" Variant=@ButtonVariant.Flat>OK</IgbButton>
    </IgbDialog>
</div>

@code {
    public IgbDialog DialogRef;
    public bool KeepOpenOnEscape { get; set; }
    public bool CloseOnOutsideClick { get; set; }

    public void OnKeepOpenOnEscapeSwitchChange(IgbCheckboxChangeEventArgs args)
    {
        KeepOpenOnEscape = args.Detail.Checked;
    }

    public void OnCloseOnOutsideClickSwitchChange(IgbCheckboxChangeEventArgs args)
    {
        CloseOnOutsideClick = args.Detail.Checked;
    }

    public async Task OnDialogShow()
    {
        if (this.DialogRef != null)
        {
            await this.DialogRef.ShowAsync();
        }
    }

    public async Task OnDialogHide()
    {
        if (this.DialogRef != null)
        {
            await this.DialogRef.HideAsync();
        }
    }
}
