@* this namespace is required for Infragistics controls *@
@using Infragistics.Blazor.Controls

@inject IInfragisticsBlazor InfragisticsBlazor

<div class="igContainer">
    <div class="igLegend">
        <Legend @ref="FinancialLegend" Orientation="LegendOrientation.Horizontal" >

        </Legend>
    </div>
    <div class="igComponent">

        @if (DataSource != null)
        {
            <FinancialChart
                Width="100%"
                Height="100%"
                Legend="@FinancialLegend"
                ChartType="FinancialChartType.Bar"
                Thickness=2
                DataSource="DataSource"
                ZoomSliderType="FinancialChartZoomSliderType.Bar"
                ChartTitle="Tesla vs Microsoft"
                Subtitle="Between 2013 and 2017"
                IsToolbarVisible="true"
                YAxisMode="FinancialChartYAxisMode.PercentChange"/>
        }

    </div>
</div>

@code {

    protected List<StockPrice[]> DataSource;
    protected Legend FinancialLegend { get; set; }

    protected override async Task OnInitializedAsync()
    {
        FinancialChartModule.Register(InfragisticsBlazor);
        this.DataSource = await StocksHistory.GetMultipleStocks();
    }
}