@using IgniteUI.Blazor.Controls

<div class="container vertical ig-typography">
    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="InvoicesData"
        Name="grid"
        @ref="grid"
        Id="grid">
            <IgbColumnGroup
            Header="Customer Information">
                <IgbColumn
                Field="CustomerName"
                Header="Customer Name"
                VisibleWhenCollapsed="true">
                </IgbColumn>

                <IgbColumn
                Field="CustomerID"
                Header="Customer ID"
                VisibleWhenCollapsed="false">
                </IgbColumn>

                <IgbColumn
                Field="CustomerFirstName"
                Header="First Name"
                VisibleWhenCollapsed="false">
                </IgbColumn>

                <IgbColumn
                Field="CustomerLastName"
                Header="Last Name"
                VisibleWhenCollapsed="false">
                </IgbColumn>

                <IgbColumnGroup
                Header="Customer Address">
                    <IgbColumn
                    Field="CustomerAddress"
                    Header="Full Address"
                    Width="250px"
                    VisibleWhenCollapsed="true">
                    </IgbColumn>

                    <IgbColumn
                    Field="Address"
                    VisibleWhenCollapsed="false">
                    </IgbColumn>

                    <IgbColumn
                    Field="City"
                    VisibleWhenCollapsed="false">
                    </IgbColumn>

                    <IgbColumn
                    Field="Country"
                    VisibleWhenCollapsed="false">
                    </IgbColumn>

                    <IgbColumn
                    Field="PostalCode"
                    Header="Postal Code"
                    VisibleWhenCollapsed="false">
                    </IgbColumn>

                </IgbColumnGroup>

            </IgbColumnGroup>

            <IgbColumn
            Field="ShipperName"
            Header="Shipper Name">
            </IgbColumn>

            <IgbColumn
            Field="OrderDate"
            Header="Order Date">
            </IgbColumn>

            <IgbColumnGroup
            Header="Product Details">
                <IgbColumn
                Field="ProductName"
                Header="Name"
                VisibleWhenCollapsed="true">
                </IgbColumn>

                <IgbColumn
                Field="UnitPrice"
                Header="Unit Price"
                VisibleWhenCollapsed="true">
                </IgbColumn>

                <IgbColumn
                Field="ProductID"
                Header="ID"
                VisibleWhenCollapsed="true">
                </IgbColumn>

                <IgbColumn
                Field="Quantity"
                VisibleWhenCollapsed="false">
                </IgbColumn>

                <IgbColumn
                Field="Quantity"
                VisibleWhenCollapsed="false">
                </IgbColumn>

            </IgbColumnGroup>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;

    }

    private IgbGrid grid;

    private InvoicesData _invoicesData = null;
    public InvoicesData InvoicesData
    {
        get
        {
            if (_invoicesData == null)
            {
                _invoicesData = new InvoicesData();
            }
            return _invoicesData;
        }
    }

}