@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <style>
        .wrapper {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    </style>

    <IgbCheckbox LabelPosition=ToggleLabelPosition.Before>Label</IgbCheckbox>
    <div class="wrapper">
        <span id="checkbox-label">Label</span>
        <IgbCheckbox AriaLabelledby="checkbox-label"/>
    </div>

</div>

@code {


}