@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <style>
        .wrapper {
            display: flex;
            align-items: center;
        }
    </style>

	<div class="wrapper">
		<span id="checkbox-label">Label</span>
		<IgbCheckbox AriaLabelledby="checkbox-label" LabelPosition=CheckboxBaseLabelPosition.Before />
	</div>
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbCheckboxModule.Register(IgniteUIBlazor);
    }
}