/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

.container.sample {
    display: flex;
    place-content: center;
    place-items: center;
}

.security {
    display: block;
    inline-size: 100%;
    max-inline-size: 348px;
    background: var(--ig-surface-500);
    border: 1px solid var(--ig-gray-300);
    border-radius: 16px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
    overflow: hidden;

    &::part(header) {
        padding: 16px;
        gap: 16px;
    }

    &[open]::part(header) {
        border-block-end: 1px solid var(--ig-gray-300);
    }

    &::part(indicator) {
        transform: none;
    }

    &::part(content) {
        padding-left: 5px;
    }

    & igc-switch {
        display: block;
        inline-size: 43px;
        block-size: 24px;
        transform: translateX(2px);
        --track-on-color: var(--ig-primary-200);
        --track-on-hover-color: var(--ig-primary-200);
        --thumb-on-color: var(--ig-primary-400);
        --thumb-on-hover-color: var(--ig-primary-400);

        &::part(base) {
            inline-size: 43px;
            block-size: 24px;
            overflow: visible;
        }

        &::part(control) {
            overflow: visible;
        }
    }

    & igc-radio-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-inline-start: -14px;
    }

    & igc-radio {
        font: 600 12px / 16px "Aktiv Grotesk", sans-serif;
        letter-spacing: 0.15px;
        color: var(--ig-primary-900);

        &::part(control) {
            --fill-color: var(--ig-primary-500);
            --fill-color-border: var(--ig-primary-500);
            --fill-color-hover: var(--ig-primary-500);
            --fill-hover-border-color: var(--ig-primary-500);
        }
    }
}

.option {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: start;
    white-space: normal;

    & .option__label {
        font: 600 16px / 24px "Aktiv Grotesk", sans-serif;
        letter-spacing: 0.15px;
        color: var(--ig-gray-700);
    }

    & .option__hint {
        font: 500 14px / 24px "Aktiv Grotesk", sans-serif;
        letter-spacing: 0.1px;
        color: var(--ig-gray-600);
    }
}
