@using IgniteUI.Blazor.Controls

<div class="container sample center">
    <IgbSelect>
        <IgbSelectItem Value="orange">Orange</IgbSelectItem>
        <IgbSelectItem Value="appple">Apple</IgbSelectItem>
        <IgbSelectItem Value="banana">Banana</IgbSelectItem>
        <IgbSelectItem Value="mango">Mango</IgbSelectItem>
    </IgbSelect>
</div>

@code { }
