@page "/samples/gauges/radial-gauge-tickmarks"
@page         "/gauges/radial-gauge-tickmarks"
@* this is required for Infragistics controls *@
@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor;
@* NOTE use this HTML code to design a sample *@
<div class="igContainer">    
    <div class="igComponent">        
        <RadialGauge Height="100%" Width="100%"
                     TickStartExtent="0.5"
                     TickEndExtent="0.57"
                     TickStrokeThickness="2"
                     TickBrush="DodgerBlue"
                     
                     MinorTickCount="4"
                     MinorTickEndExtent="0.520"
                     MinorTickStartExtent="0.57"
                     MinorTickStrokeThickness="1"
                     MinorTickBrush="DarkViolet"
                     
                     MinimumValue="0"
                     MaximumValue="80"
                     Value="50"
                     Interval="10">
        </RadialGauge>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        // Console.WriteLine("Sample runtime: " + InfragisticsBlazor.JsRuntime);
        Console.WriteLine("Sample OnInitialized...");
        RadialGaugeModule.Register(InfragisticsBlazor);
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Sample OnInitializedAsync...");

        await Task.Delay(10);
    }
}
