@using IgniteUI.Blazor.Controls

<div class="container vertical ig-typography">
    <div class="options vertical">
        <IgbPropertyEditorPanel

        DescriptionType="WebGrid"
        IsHorizontal="true"
        IsWrappingEnabled="false"
        Name="propertyEditorPanel1"
        @ref="propertyEditorPanel1">
            <IgbPropertyEditorPropertyDescription
            PropertyPath="SummaryRowHeight"
            Label="Summary Row Height"
            ValueType="PropertyEditorValueType.Number"
            Name="SummaryRowHeightEditor"
            @ref="summaryRowHeightEditor">
            </IgbPropertyEditorPropertyDescription>

            <IgbPropertyEditorPropertyDescription
            Label="Toggle Summaries"
            ValueType="PropertyEditorValueType.Boolean1"
            PrimitiveValue="true"
            Changed="WebGridHasSummariesChange"
            Name="ToggleSummariesEditor"
            @ref="toggleSummariesEditor">
            </IgbPropertyEditorPropertyDescription>

            <IgbPropertyEditorPropertyDescription
            PropertyPath="DisplayDensity"
            Name="DisplayDensityEditor"
            @ref="displayDensityEditor">
            </IgbPropertyEditorPropertyDescription>

        </IgbPropertyEditorPanel>

    </div>
    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Name="grid"
        @ref="grid"
        Data="NwindData">
            <IgbColumn
            Field="ProductID"
            Header="Product ID"
            Width="10%"
            Groupable="true">
            </IgbColumn>

            <IgbColumn
            Field="ProductName"
            Header="Product Name"
            Width="17%"
            Groupable="true">
            </IgbColumn>

            <IgbColumn
            Field="UnitPrice"
            Header="Price"
            Filterable="false"
            Width="17%"
            Editable="true"
            DataType="GridColumnDataType.Number"
            Groupable="true">
            </IgbColumn>

            <IgbColumn
            Field="UnitsInStock"
            Header="Units in Stock"
            Width="21%"
            DataType="GridColumnDataType.Number"
            Editable="true"
            Groupable="true"
            HasSummary="true"
            Summaries="DiscontinuedSummary"
            Name="column1"
            @ref="column1">
            </IgbColumn>

            <IgbColumn
            Field="Discontinued"
            Header="Discontinued"
            Editable="true"
            Width="17%"
            DataType="GridColumnDataType.Boolean"
            Groupable="true">
            </IgbColumn>

            <IgbColumn
            Field="OrderDate"
            Width="18%"
            DataType="GridColumnDataType.Date"
            Groupable="true"
            HasSummary="true"
            SummaryTemplate="WebGridOrderDateSummaryTemplate"
            Name="column2"
            @ref="column2">
            </IgbColumn>

        </IgbGrid>

    </div>
</div>

@code {

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var propertyEditorPanel1 = this.propertyEditorPanel1;
        var summaryRowHeightEditor = this.summaryRowHeightEditor;
        var toggleSummariesEditor = this.toggleSummariesEditor;
        var displayDensityEditor = this.displayDensityEditor;
        var grid = this.grid;
        var column1 = this.column1;
        var column2 = this.column2;

        this.BindElements = () => {
            propertyEditorPanel1.Target = this.grid;
        };
        this.BindElements();

    }

    private IgbPropertyEditorPanel propertyEditorPanel1;
    private IgbPropertyEditorPropertyDescription summaryRowHeightEditor;
    private IgbPropertyEditorPropertyDescription toggleSummariesEditor;
    private IgbPropertyEditorPropertyDescription displayDensityEditor;
    private IgbGrid grid;
    private IgbColumn column1;
    private IgbColumn column2;

    public void WebGridHasSummariesChange(IgbPropertyEditorPropertyDescriptionChangedEventArgs args)
    {
        bool newValue = bool.Parse(args.NewValue.ToString());

        var column1 = this.grid.ColumnList[3];
        var column2 = this.grid.ColumnList[5];

        column1.HasSummary = newValue;
        column2.HasSummary = newValue;
    }

    public RenderFragment<IgbSummaryTemplateContext> WebGridOrderDateSummaryTemplate = (ctx) => {
        var summaryResults = ctx.Implicit;
        return @<div class="summary-temp">
            <span><strong>@(summaryResults[0].Label)</strong><span>@(summaryResults[0].Result)</span></span>
            <span><strong>@(summaryResults[1].Label)</strong><span>@(summaryResults[1].Result)</span></span>
        </div>;
    };

        private object DiscontinuedSummary = new
        {
            operate = new Func<object[], object[], string, IgbSummaryResult[]>((data, allData, fieldName) =>
            {
                var sum = (object[] data) =>
                {
                    return data.Length > 0 && data.Select(el => (double)el).Where((el) => el != null).Count() > 0 ?
                        data.Select(el => (double)el).Where((el) => el != null).Aggregate((a, b) => a + b) :
                        0;
                };
                var result = new IgbSummaryResult[] { };
                result.Append(new IgbSummaryResult
                {
                    Key = "products",
                    Label = "Producs",
                    Result = data?.Length
                });
                result.Append(new IgbSummaryResult
                {
                    Key = "total",
                    Label = "Total Items",
                    Result = sum(data)
                });
                result.Append(new IgbSummaryResult
                {
                    Key = "discontinued",
                    Label = "Discontinued Producs",
                    Result = allData.Select(r => r.GetType().GetProperty("Discontinued")?.GetValue(r)).Where((rec) => rec != null).Count()
                });
                result.Append(new IgbSummaryResult
                {
                    Key = "totalDiscontinued",
                    Label = "Total Discontinued Items",
                    Result = sum(
                        allData
                        .Where((rec) => rec.GetType().GetProperty("Discontinued")?.GetValue(rec) != null)
                        .Select(r => r.GetType().GetProperty(fieldName)?.GetValue(r)).ToArray()
                    )
                });
                return result;
            })
        };
    private NwindData _nwindData = null;
    public NwindData NwindData
    {
        get
        {
            if (_nwindData == null)
            {
                _nwindData = new NwindData();
            }
            return _nwindData;
        }
    }

}