@using IgniteUI.Blazor.Controls

<style>
    .carousel-container {
        padding: 16px;
    }

    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        object-fit: fill;
        max-width: 90%;
    }

    igc-carousel {
        margin-inline: auto;
        max-width: 75%;
        height: 400px;
    }

    igc-carousel-slide::part(base) {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 75%;
        margin-inline: auto;
    }
</style>

<div class="carousel-container">
  <IgbCarousel>
    <IgbCarouselSlide>
      <div class="image-container">
        <img src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/ignite-ui-angular-indigo-design.png" />
      </div>
    </IgbCarouselSlide>
    <IgbCarouselSlide>
      <div class="image-container">
        <img src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/slider-image-chart.png" />
      </div>
    </IgbCarouselSlide>
    <IgbCarouselSlide >
      <div class="image-container">
        <img src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/ignite-ui-angular-charts.png" />
      </div>
    </IgbCarouselSlide>
  </IgbCarousel>
</div>

@code {

}