
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <style>
        igc-icon-button[variant=contained]:not([disabled])::part(base) {
            padding: 0.75rem;
            color: olive;
            background-color: lightgray;
        }

        igc-icon-button::part(icon) {
            --size: 2rem;
        }
    </style>

    <IgbIconButton Collection="material" Variant="@IconButtonVariant.Contained"/>
</div>

@code {

    protected override void OnInitialized()
    {
        IgbIconButtonModule.Register(IgniteUIBlazor);
    }
}