@using IgniteUI.Blazor.Controls
@using IgniteUI.Blazor.Controls;
@using System;
@using System.Linq;

<div class="container vertical">
    <div class="options vertical">
        <IgbPropertyEditorPanel
        Name="editor"
        @ref="editor"

        DescriptionType="CategoryChart"
        IsHorizontal="true"
        IsWrappingEnabled="true">
            <IgbPropertyEditorPropertyDescription
            PropertyPath="InitialGroupsHandler"
            Name="InitialGroups"
            @ref="initialGroups"
            Label="Initial Groups"
            ValueType="PropertyEditorValueType.EnumValue"
            ShouldOverrideDefaultEditor="true"
            DropDownNames="@(new string[] { "Country", "Product", "MonthName", "Year" })"
            DropDownValues="@(new string[] { "Country", "Product", "MonthName", "Year" })"
            PrimitiveValue="@("Country")"
            Changed="EditorChangeUpdateInitialGroups">
            </IgbPropertyEditorPropertyDescription>

        </IgbPropertyEditorPanel>

    </div>
    <div class="legend-title">
        Renewable Electricity Generated
    </div>
    <div class="container vertical fill">
        <IgbCategoryChart
        Name="chart"
        @ref="chart"
        DataSource="SalesData"
        ChartType="CategoryChartType.Column"
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false"
        CrosshairsDisplayMode="CrosshairsDisplayMode.None"
        InitialGroups="Country"
        InitialSummaries="Sum(Sales) as Sales"
        GroupSorts="Sales Desc">
        </IgbCategoryChart>

    </div>
</div>

@code {

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var editor = this.editor;
        var initialGroups = this.initialGroups;
        var chart = this.chart;

        this.BindElements = () => {
            editor.Target = this.chart;
        };
        this.BindElements();

        if (firstRender) {
            this.PropertyEditorInitAggregationsOnViewInit();
        }
    }

    private IgbPropertyEditorPanel editor;
    private IgbPropertyEditorPropertyDescription initialGroups;
    private IgbCategoryChart chart;

    public void PropertyEditorInitAggregationsOnViewInit()
    {

    	this.editor.EnsureReady().ContinueWith(new Action<Task>((e) =>
    	{
    		var editor = this.editor;

    		var initialSummariesDropdown = new IgbPropertyEditorPropertyDescription();
    		var sortGroupsDropdown = new IgbPropertyEditorPropertyDescription();
    		initialSummariesDropdown.Label = "Initial Summaries";
    		initialSummariesDropdown.ValueType = PropertyEditorValueType.EnumValue;
    		initialSummariesDropdown.ShouldOverrideDefaultEditor = true;
    		initialSummariesDropdown.DropDownNames = ["Sum(Sales) as Sales", "Avg(Sales) as Sales", "Min(Sales) as Sales", "Max(Sales) as Sales", "Count(Sales) as Sales"];
    		initialSummariesDropdown.DropDownValues = ["Sum(Sales) as Sales", "Avg(Sales) as Sales", "Min(Sales) as Sales", "Max(Sales) as Sales", "Count(Sales) as Sales"];
    		sortGroupsDropdown.Label = "Sort Groups";
    		sortGroupsDropdown.ValueType = PropertyEditorValueType.EnumValue;
    		sortGroupsDropdown.ShouldOverrideDefaultEditor = true;
    		sortGroupsDropdown.DropDownNames = ["Sales Asc", "Sales Desc"];
    		sortGroupsDropdown.DropDownValues = ["Sales Asc", "Sales Desc"];

    		editor.Properties.Add(initialSummariesDropdown);
    		editor.Properties.Add(sortGroupsDropdown);

    		initialSummariesDropdown.Changed += this.EditorChangeUpdateInitialSummaries;
    		sortGroupsDropdown.Changed += this.EditorChangeUpdateGroupSorts;
    	}));

    }

    public void EditorChangeUpdateInitialSummaries(IgbPropertyEditorPropertyDescriptionChangedEventArgs args)
    {
    	var chart = this.chart;
    	var intialSummaryVal = args.NewValue.ToString();
    	chart.InitialSummaries = intialSummaryVal;
    }

    public void EditorChangeUpdateGroupSorts(IgbPropertyEditorPropertyDescriptionChangedEventArgs args)
    {
    	var chart = this.chart;
    	var groupSortsVal = args.NewValue.ToString();
    	chart.GroupSorts = groupSortsVal;
    }

    public void EditorChangeUpdateInitialGroups(IgbPropertyEditorPropertyDescriptionChangedEventArgs args)
    {
        var chart = this.chart;
        var initialGroupVal = args.NewValue.ToString();
        chart.InitialGroups = null;
        chart.InitialGroups = initialGroupVal;
    }

    private SalesData _salesData = null;
    public SalesData SalesData
    {
        get
        {
            if (_salesData == null)
            {
                _salesData = new SalesData();
            }
            return _salesData;
        }
    }

}