@page "/RadialGaugeNeedle"
@* this is required for Infragistics controls *@
@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor;
@inject IJSRuntime JSRuntime;
@* NOTE use this HTML code to design a sample *@
<div class="igContainer">    
    <div class="igComponent">        
        <RadialGauge Height="100%" Width="100%"
                     IsNeedleDraggingEnabled="true"
                     IsNeedleDraggingConstrained="true"
                     NeedleShape="RadialGaugeNeedleShape.NeedleWithBulb"
                     NeedleBrush="DodgerBlue"
                     NeedleOutline="DodgerBlue"
                     NeedleEndExtent="0.475"
                     NeedleStrokeThickness="1"
                     
                     NeedlePivotShape="RadialGaugePivotShape.CircleOverlay"
                     NeedlePivotBrush="#9F9FA0"
                     NeedlePivotOutline="#9F9FA0"
                     NeedlePivotWidthRatio="0.2"
                     NeedlePivotStrokeThickness="1"
                     
                     Value="50"
                     MinimumValue="0"
                     MaximumValue="80"
                     Interval="10">
        </RadialGauge>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        // Console.WriteLine("Sample runtime: " + InfragisticsBlazor.JsRuntime);
        Console.WriteLine("Sample OnInitialized...");
        RadialGaugeModule.Register(InfragisticsBlazor);
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Sample OnInitializedAsync...");

        await Task.Delay(10);
    }
}