
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <RadialGauge Height="100%" Width="100%"
                     MinimumValue="0"
                     MaximumValue="360"
                     Value="270"
                     Interval="30"
                     TransitionDuration="500"
                     LabelInterval="30"
                     LabelExtent="0.85"
                     Font="15px Verdana,Arial"
                     ScaleStartAngle="0"
                     ScaleEndAngle="360"
                     ScaleBrush="#E0DFDF"
                     ScaleOversweepShape="RadialGaugeScaleOversweepShape.Circular"
                     ScaleSweepDirection="SweepDirection.Clockwise"
                     ScaleEndExtent="0.7"
                     ScaleStartExtent="0.6"
                     MinorTickCount="4"
                     MinorTickStartExtent="0.6"
                     MinorTickEndExtent="0.65"
                     MinorTickStrokeThickness="1"
                     MinorTickBrush="transparent"
                     TickStartExtent="0.6"
                     TickEndExtent="0.65"
                     TickStrokeThickness="1"
                     TickBrush="#79797A"
                     BackingShape="RadialGaugeBackingShape.Circular"
                     BackingBrush="transparent"
                     BackingOutline="transparent"
                     NeedleShape="RadialGaugeNeedleShape.None"
                     NeedlePivotShape="RadialGaugePivotShape.None"
                     >
        </RadialGauge>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        IgbRadialGaugeModule.Register(IgniteUIBlazor);
    }

}