@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <IgbAvatar Alt="A photo of a man." Src="https://static.infragistics.com/xplatform/images/people/GUY01.png" />    
</div>

@code {

    protected override void OnInitialized()
    {
        IgbAvatarModule.Register(IgniteUIBlazor);
    }
}