@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        @*TODO fix WorldRect="@WorldRect"*@
        <IgbGeographicMap Height="100%" Width="100%" Zoomable="true" >
        </IgbGeographicMap>
    </div>
    <div class="overlay-border overlay-bottom-right">Imagery Tiles - OpenStreetMap</div>
</div>

@code {

    private Rect WorldRect = new Rect() { Left = 0.2, Top = 0.1, Width = 0.7, Height = 0.7 };

    protected override void OnInitialized()
    {
        IgbGeographicMapModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
    }
}