@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <GeographicMap Height="100%" Width="100%" Zoomable="true">
            <GeographicContourLineSeries LongitudeMemberPath="Lon"
                                         LatitudeMemberPath="Lat"
                                         ValueMemberPath="Value"
                                         FillScale="@BrushScale"
                                         DataSource="Data"
                                         Thickness="2">
            </GeographicContourLineSeries>
        </GeographicMap>
    </div>
</div>

@code {
    private List<WorldLocation> Data;
    private ValueBrushScale BrushScale;

    protected override void OnInitialized()
    {
        IgbGeographicMapModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);

        var brushes = "";
        brushes += "rgba(32, 146, 252, 0.5) "; // semi-transparent blue
        brushes += "rgba(14, 194, 14, 0.5) ";  // semi-transparent green
        brushes += "rgba(252, 120, 32, 0.5) "; // semi-transparent orange
        brushes += "rgba(252, 32, 32, 0.5) ";  // semi-transparent red

        this.BrushScale = new ValueBrushScale();
        this.BrushScale.Brushes = brushes;
        this.BrushScale.MinimumValue = 0;
        this.BrushScale.MaximumValue = 30;

        this.Data = WorldTemperatures.Load();

        Console.WriteLine("WorldTemperatures " + this.Data.Count);
    }

}