@using IgniteUI.Blazor.Controls

@inject IJSRuntime JS

<div class="container vertical">

    <div class="container vertical fill">
        <IgbTreeGrid
        AutoGenerate="false"
        Data="NwindData"
        PrimaryKey="ProductID"
        CellEditScript="WebGridEditingEventsCellEdit"
        Name="treeGrid1"
        @ref="treeGrid1">
            <IgbColumn
            Field="ProductName"
            Header="Product Name"
            DataType="GridColumnDataType.String">
            </IgbColumn>

            <IgbColumn
            Field="UnitPrice"
            Header="Unit Price"
            DataType="GridColumnDataType.Number"
            Editable="true">
            </IgbColumn>

            <IgbColumn
            Name="UnitsInStock"
            @ref="unitsInStock"
            Field="UnitsInStock"
            Header="Units In Stock"
            DataType="GridColumnDataType.Number"
            Editable="true">
            </IgbColumn>

            <IgbColumn
            Name="UnitsOnOrder"
            @ref="unitsOnOrder"
            Field="UnitsOnOrder"
            Header="Units on Order"
            DataType="GridColumnDataType.Number"
            Editable="true">
            </IgbColumn>

        </IgbTreeGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var treeGrid1 = this.treeGrid1;
        var unitsInStock = this.unitsInStock;
        var unitsOnOrder = this.unitsOnOrder;

    }

    private IgbTreeGrid treeGrid1;
    private IgbColumn unitsInStock;
    private IgbColumn unitsOnOrder;

    private NwindData _nwindData = null;
    public NwindData NwindData
    {
        get
        {
            if (_nwindData == null)
            {
                _nwindData = new NwindData();
            }
            return _nwindData;
        }
    }

}