/*
CSS styles are loaded from the shared CSS file located at:
https://static.infragistics.com/xplatform/css/samples/
*/
.fill {
    padding: 16px;
}

.summaries-buttons {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.summaries-container {
  height: 10% !important;
}

.summaries-title {
    font-weight: bold;
}

.summary-button {
    margin-right: 1rem;
}

igc-dialog::part(title) {
    color: #1E6DFE;
}

.summaries-dialog-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.summaries-dialog-items igc-checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
