@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

    <div class="igContainer">       
        <div class="igComponent">

            <Treemap Height="100%" Width="100%"
                     DataSource="@Data"
                     ParentIdMemberPath="Parent"
                     IdMemberPath="Name"
                     LabelMemberPath="Name"
                     ValueMemberPath="Pop"
                     FillScaleMode="@TreemapFillScaleMode.Value"
                     FillScaleMinimumValue="0"
                     FillScaleMaximumValue="1500000000"
                     FillBrushes="#4e62cf, #8a58d6"
                     IsFillScaleLogarithmic="true"
                     RootTitle="Countries">
            </Treemap>
            @**@
        </div>
    </div>

@code {

    protected List<CountryInfo> Data;

    protected override void OnInitialized()
    {
        TreemapModule.Register(IgniteUIBlazor);

        this.Data = CountryTreeData.Create();
    }
}
