@using IgniteUI.Blazor.Controls;

@inject IIgniteUIBlazor IgniteUIBlazor
@inject IJSRuntime JS

<div class="container vertical">
    <div class="legend-title">
        Comparing Population of Countries
    </div>

    <div class="container vertical fill">
        <IgbTreemap
        ValueMemberPath="Population"
        RootTitle="Countries"
        ParentIdMemberPath="Parent"
        LabelMemberPath="Name"
        IdMemberPath="Name"
        DataSource="CountyHierarchicalData"
        FillBrushes="#4e62cf #8a58d6"
        FillScaleMode="TreemapFillScaleMode.Value"
        IsFillScaleLogarithmic="true"
        FillScaleMinimumValue="0"
        FillScaleMaximumValue="1500000000"
        HeaderDisplayMode="TreemapHeaderDisplayMode.Overlay"
        ParentNodeLeftPadding="0"
        ParentNodeTopPadding="0"
        ParentNodeRightPadding="0"
        ParentNodeBottomPadding="0"
        Outline="black"
        StrokeThickness="1"
        Name="treemap"
        @ref="treemap">
        </IgbTreemap>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var treemap = this.treemap;



	}

    private IgbTreemap treemap;

    private CountyHierarchicalData _countyHierarchicalData = null;
    public CountyHierarchicalData CountyHierarchicalData
    {
        get
        {
            if (_countyHierarchicalData == null)
            {
                _countyHierarchicalData = new CountyHierarchicalData(); 
            }
            return _countyHierarchicalData;
        }
    }
    
}