@using IgniteUI.Blazor.Controls

<style>
    igc-button-group {
        width: 200px;
    }

    igc-ripple {
        --color: gray;
    }
</style>

<div class="container sample">
    <IgbButtonGroup Alignment="ContentOrientation.Vertical">
        <IgbToggleButton Value="sofia">
            Sofia
            <IgbRipple />
        </IgbToggleButton>
        <IgbToggleButton Value="london">
            London
            <IgbRipple />
        </IgbToggleButton>
        <IgbToggleButton Value="new york" Selected="true">
            New York
            <IgbRipple />
        </IgbToggleButton>
        <IgbToggleButton Value="tokyo">
            Tokyo
            <IgbRipple />
        </IgbToggleButton>
    </IgbButtonGroup>
</div>

 @code {

}