
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical" style="display: list-item">
    <IgbIconButton Collection="material" Variant="@IconButtonVariant.Flat" />
    <IgbIconButton Collection="material" Variant="@IconButtonVariant.Contained" />
    <IgbIconButton Collection="material" Variant="@IconButtonVariant.Outlined" />
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbIconButtonModule.Register(IgniteUIBlazor);
    }
}