
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <RadialGauge Height="100%" Width="100%"
                     MinimumValue="0" Value="80"
                     MaximumValue="80" Interval="10"
                     RangeBrushes="#A4BD29, #F86232"
                     RangeOutlines="#A4BD29, #F86232">
            <RadialGaugeRange StartValue="10"
                              EndValue="25"
                              InnerStartExtent="0.50"
                              InnerEndExtent="0.50"
                              OuterStartExtent="0.57"
                              OuterEndExtent="0.57">
            </RadialGaugeRange>
            <RadialGaugeRange StartValue="25"
                              EndValue="40"
                              InnerStartExtent="0.50"
                              InnerEndExtent="0.50"
                              OuterStartExtent="0.57"
                              OuterEndExtent="0.57">
            </RadialGaugeRange>
        </RadialGauge>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        IgbRadialGaugeModule.Register(IgniteUIBlazor);
    }

}