
@using IgniteUI.Blazor.Controls



<div class="container vertical">

    <div class="container vertical">

        @if (Data != null)
        {
            <IgbFinancialChart Width="100%"
                            Height="100%"
                            ChartType=FinancialChartType.Candle
                            DataSource="Data"
                            ZoomSliderType="FinancialChartZoomSliderType.Candle"
                            VolumeType="FinancialChartVolumeType.Area"
                            OverlayBrushes="rgba(5, 138, 0, 0.17)"
                            OverlayOutlines="rgba(5, 138, 0, 0.4)"
                            OverlayThickness=1 />
        }
        @*TODO OverlayTypes="FinancialOverlayType.PriceChannel"*@

    </div>
</div>

@code {

    List<StockItem> Data;

    protected override void OnInitialized()
    {
        var today = DateTime.Now;
        var year = today.Year;
        var month = today.Month;
        var dateEnd = new DateTime(year, month, 1);
        var dateStart = new DateTime(year - 1, month, 1);
        this.Data = StocksUtility.GetStocksBetween(dateStart, dateEnd);
    }
}