@using IgniteUI.Blazor.Controls


<style>
    igc-slider
    {
        padding: 30px 30px  0px 30px;
        flex-grow: 1;
    }
</style>

<div class="container sample center">
    <IgbSlider
        PrimaryTicks="6"
        SecondaryTicks="1"
        TickOrientation="SliderTickOrientation.Mirror"
        HideSecondaryLabels="true">
    </IgbSlider>
</div>

@code {


}
