@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">

        <DataChart Height="100%" Width="100%"
                   ChartTitle="Total Olympic Medals"
                   Subtitle="United States vs China vs Russia"
                   TitleTopMargin="10"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <CategoryXAxis Name="xAxis" Label="Year" DataSource="Data"
                           Title="Olympic Years" Gap="0.2" Overlap="-0.05"/>
            <NumericYAxis Name="yAxis" Title="Olympic Medals" TitleLeftMargin="10" />

            <ColumnSeries XAxisName="xAxis"
                          YAxisName="yAxis"
                          DataSource="Data"
                          ValueMemberPath="USA" Title="USA"
                          AreaFillOpacity="1"
                          ShowDefaultTooltip="true"
                          IsTransitionInEnabled="true"
                          IsHighlightingEnabled="true"
                          MarkerType=MarkerType.None>
            </ColumnSeries>
            <ColumnSeries XAxisName="xAxis"
                          YAxisName="yAxis"
                          DataSource="Data"
                          ValueMemberPath="CHN" Title="China"
                          AreaFillOpacity="1"
                          ShowDefaultTooltip="true"
                          IsTransitionInEnabled="true"
                          IsHighlightingEnabled="true"
                          MarkerType=MarkerType.None>
            </ColumnSeries>
            <ColumnSeries XAxisName="xAxis"
                          YAxisName="yAxis"
                          DataSource="Data"
                          ValueMemberPath="RUS" Title="Russia"
                          AreaFillOpacity="1"
                          ShowDefaultTooltip="true"
                          IsTransitionInEnabled="true"
                          IsHighlightingEnabled="true"
                          MarkerType=MarkerType.None>
            </ColumnSeries>
        </DataChart>

    </div>
</div>

@code {

    private List<SampleCategoryItem> Data;

    protected override void OnInitialized()
    {
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);

        Data = SampleCategoryData.Create();


    }
}