/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

.container.sample {
    display: flex;
    place-content: center;
    place-items: center;
}

.layouts {
    display: flex;
    align-items: center;
    gap: 3.75rem;
}

.layout {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.layout-label {
    font: 500 14px / 24px "Aktiv Grotesk", sans-serif;
    letter-spacing: 0.1px;
    color: var(--ig-gray-600);
}

igc-rating {
    --ig-rating-label-color: var(--ig-gray-700);
}
