/* 
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css//samples/
*/

igc-tree-item {
    --background-active: var(--ig-secondary-500);
    --foreground-active: var(--ig-secondary-500-contrast);
}
  