@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">

        <DataChart Height="100%" Width="100%"
                   Subtitle="Wind Speed vs Boat Speed"
                   SubtitleTopMargin="10"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">
            <CategoryAngleAxis Name="angleAxis" DataSource="Data"
                               Label="Department" />
            <NumericRadiusAxis Name="radiusAxis"
                               InnerRadiusExtentScale="0.1"
                               MinimumValue="0"/>

            <RadialColumnSeries Name="series1"
                                DataSource="Data"
                                AngleAxisName="angleAxis"
                                ValueMemberPath="Budget"
                                ValueAxisName="radiusAxis"
                                ShowDefaultTooltip="true"
                                AreaFillOpacity="0.8"
                                Thickness="1"
                                Title="Budget"
                                MarkerType="MarkerType.Circle" />
            <RadialColumnSeries Name="series2"
                                DataSource="Data"
                                AngleAxisName="angleAxis"
                                ValueMemberPath="Spending"
                                ValueAxisName="radiusAxis"
                                ShowDefaultTooltip="true"
                                AreaFillOpacity="0.8"
                                Thickness="1"
                                Title="Spending"
                                MarkerType="MarkerType.Circle" />
        </DataChart>

    </div>
</div>

@code {

    private List<SampleRadialItem> Data;

    protected override void OnInitialized()
    {
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartRadialModule.Register(IgniteUIBlazor);
        DataChartRadialCoreModule.Register(IgniteUIBlazor);

        DataChartExtendedAxesModule.Register(IgniteUIBlazor);
        DataChartCategoryModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);

        Data = SampleRadialData.Create();
    }

}