@using IgniteUI.Blazor.Controls


<div class="container sample center">
    <div class="options horizontal">
       <IgbButton style="margin-right: 20px;" @onclick=OnClick>Toggle Dropdown</IgbButton>

       <IgbDropdown @ref="DropDownRef" KeepOpenOnOutsideClick="true" PositionStrategy="DropdownPositionStrategy.Fixed">
           <IgbButton @ref="ButtonRef" slot="target" style="margin-right: 20px;">Dropdown</IgbButton>

           <IgbDropdownItem>Option 1</IgbDropdownItem>
           <IgbDropdownItem>Option 2</IgbDropdownItem>
           <IgbDropdownItem>Option 3</IgbDropdownItem>
       </IgbDropdown>
    </div>
</div>

@code {

    IgbDropdown DropDownRef { get; set; }
    IgbButton ButtonRef { get; set; }

    private void OnClick(MouseEventArgs e)
    {
        this.DropDownRef.Toggle();
    }
}
