@using IgniteUI.Blazor.Controls;


@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">




    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Id="grid"
        Data="InvoicesData"
        GroupingExpressions="Infragistics.Controls.Description.CodeGenerationItemBuilder"
        GroupRowTemplate="GroupByRowTemplate"
        RowSelection="GridSelectionMode.Multiple"
        Name="grid"
        @ref="grid">
            <IgbPaginator
            PerPage="10">
            </IgbPaginator>
            
            <IgbColumn
            Field="ShipCountry"
            Header="Ship Country"
            Groupable="true"
            Width="200px">
            </IgbColumn>
            
            <IgbColumn
            Field="ShipCity"
            Header="Ship City"
            Width="250px"
            Groupable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitPrice"
            Header="Unit Price"
            Width="150px"
            Groupable="true"
            DataType="GridColumnDataType.Number">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override void OnInitialized()
    {
    }

    private Action BindElements { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        var grid = this.grid;

        this.BindElements = () => {
        };
        this.BindElements();
    }

    private IgbGrid grid;

    private InvoicesData _invoicesData = null;
    public InvoicesData InvoicesData
    {
        get
        {
            if (_invoicesData == null)
            {
                _invoicesData = new InvoicesData(); 
            }
            return _invoicesData;
        }
    }
    
}