@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical" style="align-items: center">
    <div class="card-wrapper" style="max-width: 20rem; min-width: 13.75rem;">
        <IgbCard>
            <IgbCardMedia>
                <img src="https://images.unsplash.com/photo-1518235506717-e1ed3306a89b?ixlib=rb-1.2.1&auto=format&fit=crop&w=640&q=50">
            </IgbCardMedia>
            <IgbCardHeader>
                <h3 slot="title">New York City</h3>
                <h5 slot="subtitle">City in New York</h5>
            </IgbCardHeader>
            
            <IgbCardContent>
               <p>New York City comprises 5 boroughs sitting where the
                   Hudson River meets the Atlantic Ocean. At its core is Manhattan,
                   a densely populated borough that's among the world's major commercial,
                   financial and cultural centers.</p>
            </IgbCardContent>

            <IgbCardActions>
                <IgbButton slot="start">
                    <IgbRipple />
                    Read more
                </IgbButton>
                <div slot="end">
                    <IgbIconButton name="twitter">
                        <IgbRipple />
                    </IgbIconButton>
                    <IgbIconButton name="facebook" >
                        <IgbRipple />
                    </IgbIconButton>
                </div>
            </IgbCardActions>
        </IgbCard>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        IgbButtonModule.Register(IgniteUIBlazor);
        IgbCardModule.Register(IgniteUIBlazor);
        IgbIconModule.Register(IgniteUIBlazor);
        IgbIconButtonModule.Register(IgniteUIBlazor);
        IgbRippleModule.Register(IgniteUIBlazor);
    }
}