@using IgniteUI.Blazor.Controls

<div class="container vertical ig-typography">
    <div class="container vertical fill">
        <IgbPivotGrid
        Data="PivotSalesData"
        Name="grid"
        @ref="grid"
        PivotConfiguration="PivotConfiguration1">
        </IgbPivotGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;

    }

    private IgbPivotGrid grid;
    private IgbPivotConfiguration _pivotConfiguration1 = null;
    public IgbPivotConfiguration PivotConfiguration1
    {
        get
        {
            if (this._pivotConfiguration1 == null)
            {
                var pivotConfiguration1 = new IgbPivotConfiguration();
                pivotConfiguration1.Columns = Infragistics.Controls.Description.CodeGenerationItemBuilder;
                pivotConfiguration1.Rows = Infragistics.Controls.Description.CodeGenerationItemBuilder;
                pivotConfiguration1.Values = Infragistics.Controls.Description.CodeGenerationItemBuilder;
                this._pivotConfiguration1 = pivotConfiguration1;
            }
            return this._pivotConfiguration1;
        }
    }

    private PivotSalesData _pivotSalesData = null;
    public PivotSalesData PivotSalesData
    {
        get
        {
            if (_pivotSalesData == null)
            {
                _pivotSalesData = new PivotSalesData();
            }
            return _pivotSalesData;
        }
    }

}