@using IgniteUI.Blazor.Controls

@inject IJSRuntime JS

<div class="container vertical">

    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Id="grid"
        Data="CompanyData"
        GridKeydownScript="WebGridMRLCustomNavigationEvent"
        DisplayDensity="DisplayDensity.Cosy"
        Name="grid"
        @ref="grid">
            <IgbColumnLayout
            Header="Company"
            Name="CompanyInfo"
            @ref="companyInfo">
                <IgbColumn
                Field="Company"
                Header="Company"
                ColEnd="3"
                RowStart="1"
                ColStart="1"
                Name="Company"
                @ref="company">
                </IgbColumn>

                <IgbColumn
                Name="Country"
                @ref="country"
                Field="Country"
                Header="Country"
                RowStart="2"
                ColStart="1">
                </IgbColumn>

                <IgbColumn
                Name="City"
                @ref="city"
                Field="City"
                Header="City"
                RowStart="2"
                ColStart="2">
                </IgbColumn>

                <IgbColumn
                Name="Address"
                @ref="address"
                Field="Address"
                Header="Address"
                RowStart="3"
                ColStart="1"
                ColEnd="3">
                </IgbColumn>

            </IgbColumnLayout>

            <IgbColumnLayout
            Name="Sales"
            @ref="sales"
            Header="Sales">
                <IgbColumn
                Name="LifetimeSales"
                @ref="lifetimeSales"
                Field="LifetimeSales"
                Header="Lifetime Sales"
                RowStart="1"
                ColStart="1"
                ColEnd="3"
                RowEnd="3">
                </IgbColumn>

                <IgbColumn
                Name="Quarterly"
                @ref="quarterly"
                Field="QuarterlySales"
                Header="Quarterly"
                RowStart="3"
                ColStart="1">
                </IgbColumn>

                <IgbColumn
                Name="Yearly"
                @ref="yearly"
                Field="YearlySales"
                Header="Yearly"
                RowStart="3"
                ColStart="2">
                </IgbColumn>

            </IgbColumnLayout>

            <IgbColumnLayout
            Name="MarketPotentialInfo"
            @ref="marketPotentialInfo"
            Header="Market Potential">
                <IgbColumn
                Name="MarketPotential"
                @ref="marketPotential"
                Field="MarketPotential"
                Header="Market Potential"
                RowStart="1"
                ColStart="1"
                RowEnd="4">
                </IgbColumn>

            </IgbColumnLayout>

            <IgbColumnLayout
            Name="Assets"
            @ref="assets"
            Header="Assets">
                <IgbColumn
                Name="AssetsCash"
                @ref="assetsCash"
                Field="AssetsCash"
                Header="Assets Cash"
                RowStart="1"
                ColStart="1">
                </IgbColumn>

                <IgbColumn
                Name="AccountsReceivable"
                @ref="accountsReceivable"
                Field="AccountsReceivable"
                Header="Accounts Receivable"
                RowStart="1"
                ColStart="2"
                ColEnd="4">
                </IgbColumn>

                <IgbColumn
                Name="AssetsBooks"
                @ref="assetsBooks"
                Field="AssetsBooks"
                Header="Assets Books"
                RowStart="2"
                ColStart="1"
                ColEnd="4"
                RowEnd="4">
                </IgbColumn>

            </IgbColumnLayout>

        </IgbGrid>

    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;
        var companyInfo = this.companyInfo;
        var company = this.company;
        var country = this.country;
        var city = this.city;
        var address = this.address;
        var sales = this.sales;
        var lifetimeSales = this.lifetimeSales;
        var quarterly = this.quarterly;
        var yearly = this.yearly;
        var marketPotentialInfo = this.marketPotentialInfo;
        var marketPotential = this.marketPotential;
        var assets = this.assets;
        var assetsCash = this.assetsCash;
        var accountsReceivable = this.accountsReceivable;
        var assetsBooks = this.assetsBooks;



    }

    private IgbGrid grid;
    private IgbColumnLayout companyInfo;
    private IgbColumn company;
    private IgbColumn country;
    private IgbColumn city;
    private IgbColumn address;
    private IgbColumnLayout sales;
    private IgbColumn lifetimeSales;
    private IgbColumn quarterly;
    private IgbColumn yearly;
    private IgbColumnLayout marketPotentialInfo;
    private IgbColumn marketPotential;
    private IgbColumnLayout assets;
    private IgbColumn assetsCash;
    private IgbColumn accountsReceivable;
    private IgbColumn assetsBooks;

    private CompanyData _companyData = null;
    public CompanyData CompanyData
    {
        get
        {
            if (_companyData == null)
            {
                _companyData = new CompanyData();
            }
            return _companyData;
        }
    }

}