@using IgniteUI.Blazor.Controls

@inject IJSRuntime JS

<div class="container vertical ig-typography">
    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Name="grid"
        @ref="grid"
        Id="grid"
        Data="CompanyData"
        GridKeydownScript="WebGridMRLCustomNavigationEvent">
            <IgbColumnLayout
            Name="CompanyInfo"
            @ref="companyInfo"
            Header="Company">
                <IgbColumn
                Field="Company"
                Header="Company"
                RowStart="1"
                ColStart="1"
                ColEnd="3">
                </IgbColumn>

                <IgbColumn
                Field="Country"
                Header="Country"
                RowStart="2"
                ColStart="1">
                </IgbColumn>

                <IgbColumn
                Field="City"
                Header="City"
                RowStart="2"
                ColStart="2">
                </IgbColumn>

                <IgbColumn
                Field="Address"
                Header="Address"
                RowStart="3"
                ColStart="1"
                ColEnd="3">
                </IgbColumn>

            </IgbColumnLayout>

            <IgbColumnLayout
            Name="Sales"
            @ref="sales"
            Header="Sales">
                <IgbColumn
                Field="LifetimeSales"
                Header="Lifetime Sales"
                RowStart="1"
                RowEnd="3"
                ColStart="1"
                ColEnd="3">
                </IgbColumn>

                <IgbColumn
                Field="QuarterlySales"
                Header="Quarterly"
                RowStart="3"
                ColStart="1">
                </IgbColumn>

                <IgbColumn
                Field="YearlySales"
                Header="Yearly"
                RowStart="3"
                ColStart="2">
                </IgbColumn>

            </IgbColumnLayout>

            <IgbColumnLayout
            Name="MarketPotentialInfo"
            @ref="marketPotentialInfo"
            Header="Market Potential">
                <IgbColumn
                Field="MarketPotential"
                Header="Market Potential"
                RowStart="1"
                RowEnd="4"
                ColStart="1">
                </IgbColumn>

            </IgbColumnLayout>

            <IgbColumnLayout
            Name="Assets"
            @ref="assets"
            Header="Assets">
                <IgbColumn
                Field="AssetsCash"
                Header="Assets Cash"
                RowStart="1"
                ColStart="1">
                </IgbColumn>

                <IgbColumn
                Field="AccountsReceivable"
                Header="Accounts Receivable"
                RowStart="1"
                ColStart="2"
                ColEnd="4">
                </IgbColumn>

                <IgbColumn
                Field="AssetsBooks"
                Header="Assets Books"
                RowStart="2"
                RowEnd="4"
                ColStart="1"
                ColEnd="4">
                </IgbColumn>

            </IgbColumnLayout>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;
        var companyInfo = this.companyInfo;
        var sales = this.sales;
        var marketPotentialInfo = this.marketPotentialInfo;
        var assets = this.assets;

    }

    private IgbGrid grid;
    private IgbColumnLayout companyInfo;
    private IgbColumnLayout sales;
    private IgbColumnLayout marketPotentialInfo;
    private IgbColumnLayout assets;

    private CompanyData _companyData = null;
    public CompanyData CompanyData
    {
        get
        {
            if (_companyData == null)
            {
                _companyData = new CompanyData();
            }
            return _companyData;
        }
    }

}