@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        @if (Data != null)
        {
            // note you can use IncludedProperties and/or ExcludedProperties
            // to sepcify which data column to plot in the chart:
            // - "Year" string column for X-Axis
            // - "Europe" int  column for Y-Axis
            <IgbCategoryChart Height="100%" Width="100%"
                           DataSource="Data"
                           IncludedProperties="@(new string[] { "Year", "Europe" })"
                           ChartType="CategoryChartType.Area"
                           ChartTitle="Renewable Electricity Generated"
                           TitleAlignment="HorizontalAlignment.Left"
                           TitleLeftMargin="25"
                           TitleTopMargin="10"
                           TitleBottomMargin="10"
                           YAxisTitle="TWh"
                           YAxisTitleLeftMargin="10"
                           YAxisTitleRightMargin="5"
                           YAxisLabelLeftMargin="0"
                           IsHorizontalZoomEnabled="false"
                           IsVerticalZoomEnabled="false"
                           ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series">
            </IgbCategoryChart>
        }
    </div>
</div>

@code {

    private List<EnergyRenewableInfo> Data = new EnergyRenewableData();

    protected override void OnInitialized()
    {
        IgbCategoryChartModule.Register(IgniteUIBlazor);
        IgbLegendModule.Register(IgniteUIBlazor);
    }
}