@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igOptions">
        <span class="igLegend-title">Highest Grossing Film Franchises and Series Worldwide as of April 2020</span>
        <div class="igLegend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="igComponent">
        <DataChart Height="100%" Width="100%"
                   Legend="Legend"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <CategoryYAxis Name="yAxis" Label="Franchise" DataSource="Data" IsInverted="true" Gap="0.5" Overlap="-0.1"/>
            <NumericXAxis Name="xAxis" Title="Billions of U.S Dollars" />

            <BarSeries XAxisName="xAxis"
                       YAxisName="yAxis"
                       DataSource="Data"
                       ValueMemberPath="TotalWorldBoxOfficeRevenue"
                       Title="Total World Box Office Revenue"
                       ShowDefaultTooltip="true"
                       IsTransitionInEnabled="true"
                       IsHighlightingEnabled="true">
            </BarSeries>
            <BarSeries XAxisName="xAxis"
                       YAxisName="yAxis"
                       DataSource="Data"
                       ValueMemberPath="HighestGrossingMovieInSeries"
                       Title="Highest Grossing Movie in Series"
                       ShowDefaultTooltip="true"
                       IsTransitionInEnabled="true"
                       IsHighlightingEnabled="true">
            </BarSeries>
        </DataChart>
    </div>
</div>

@code {

    private List<FilmFranchiseRevenueInfo> Data = new FilmFranchiseRevenueData();

    private Legend _Legend;
    private Legend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    protected override void OnInitialized()
    {
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartCategoryCoreModule.Register(IgniteUIBlazor);
        DataChartCategoryModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        DataChartVerticalCategoryModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
    }
}