@using IgniteUI.Blazor.Controls;


@inject IIgniteUIBlazor IgniteUIBlazor

<style>
    .cellAlignSyle {
        text-align: right;
        float:right;
    }
    .cellAlignSyle > span {
        float:right;
    }
    .up {
        color: green;
    }
    .down {
        color: red;
    }
    .grid__wrapper {
    padding: 16px;
    }
    .currency-badge-container {
        width: 80px; 
        float: right;
    }
    .badge-left {
        float: left;
    }
</style>
<style>
	.cellAlignSyle {
		text-align: right;
		float:right;
	}
	.cellAlignSyle > span {
		float:right;
	}
	.up {
		color: green;
	}
	.down {
		color: red;
	}
	.grid__wrapper {
	  padding: 16px;
	}
</style>
<div class="container vertical">




    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="FinancialDataAll"
        Moving="true"
        Name="grid"
        @ref="grid">
            <IgbPaginator
            PerPage="10">
            </IgbPaginator>
            
            <IgbColumn
            Field="Category"
            Width="200px"
            Pinned="true"
            HeaderTemplateScript="WebGridPinHeaderTemplate"
            Name="Category"
            @ref="category">
            </IgbColumn>
            
            <IgbColumn
            Field="Type"
            Pinned="true"
            HeaderTemplateScript="WebGridPinHeaderTemplate"
            Name="Type"
            @ref="type">
            </IgbColumn>
            
            <IgbColumn
            Field="Price"
            DataType="GridColumnDataType.Number"
            HeaderTemplateScript="WebGridPinHeaderTemplate"
            Name="Price"
            @ref="price">
            </IgbColumn>
            
            <IgbColumn
            Field="Buy"
            DataType="GridColumnDataType.Number"
            HeaderTemplateScript="WebGridPinHeaderTemplate"
            Name="Buy"
            @ref="buy">
            </IgbColumn>
            
            <IgbColumn
            Field="Sell"
            DataType="GridColumnDataType.Number"
            HeaderTemplateScript="WebGridPinHeaderTemplate"
            Name="Sell"
            @ref="sell">
            </IgbColumn>
            
            <IgbColumn
            Field="Spread"
            DataType="GridColumnDataType.Number"
            HeaderTemplateScript="WebGridPinHeaderTemplate"
            Name="Spread"
            @ref="spread">
            </IgbColumn>
            
            <IgbColumn
            Field="Change"
            DataType="GridColumnDataType.Number"
            BodyTemplate="WebGridCurrencyCellTemplate"
            HeaderTemplateScript="WebGridPinHeaderTemplate"
            Name="Change"
            @ref="change">
            </IgbColumn>
            
            <IgbColumn
            Field="Change(%)"
            Width="150px"
            DataType="GridColumnDataType.Number"
            BodyTemplate="WebGridChangePercentTemplate"
            HeaderTemplateScript="WebGridPinHeaderTemplate"
            Name="Change(%)"
            @ref="change(%)">
            </IgbColumn>
            
            <IgbColumn
            Field="Change On Year(%)"
            Width="170px"
            DataType="GridColumnDataType.Number"
            BodyTemplate="WebGridCurrencyCellTemplate"
            HeaderTemplateScript="WebGridPinHeaderTemplate"
            Name="Change On Year(%)"
            @ref="change On Year(%)">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override void OnInitialized()
    {
    }

    private Action BindElements { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        var grid = this.grid;
        var category = this.category;
        var type = this.type;
        var price = this.price;
        var buy = this.buy;
        var sell = this.sell;
        var spread = this.spread;
        var change = this.change;
        var change(%) = this.change(%);
        var change On Year(%) = this.change On Year(%);

        this.BindElements = () => {
        };
        this.BindElements();
    }

    private IgbGrid grid;
    private IgbColumn category;
    private IgbColumn type;
    private IgbColumn price;
    private IgbColumn buy;
    private IgbColumn sell;
    private IgbColumn spread;
    private IgbColumn change;
    private IgbColumn change(%);
    private IgbColumn change On Year(%);

    
    public RenderFragment<IgbCellTemplateContext> WebGridCurrencyCellTemplate = (ctx) => {
        return @<div class="currency-badge-container">
            @if (Convert.ToDouble(ctx.Cell.Value) > 0) 
            {
                <IgbBadge Variant="BadgeVariant.Success" Shape="BadgeShape.Rounded" Position="bottom-right" Icon="arrow_upward" class="badge-left">
                    <IgbIcon @ref="IconRef" Size="SizableComponentSize.Small" IconName="arrow_upward" Collection="material" Name="icon" Id="icon"/>
                </IgbBadge>
            }
            @if (Convert.ToDouble(ctx.Cell.Value) < 0) 
            {
                <IgbBadge Variant="BadgeVariant.Danger" Shape="BadgeShape.Rounded" Position="bottom-right" Icon="arrow_downward" class="error badge-left">
                    <IgbIcon @ref="IconRef" Size="SizableComponentSize.Small" IconName="arrow_downward" Collection="material" Name="icon" Id="icon"/>
                </IgbBadge>
            }
            <span class=@(Convert.ToDouble(ctx.Cell.Value) > 0 ? "cellAlignSyle up" : "cellAlignSyle down")>@formatNumber(ctx.Cell.Value)</span>
        </div>;
    };
    	
    
    public RenderFragment<IgbCellTemplateContext> WebGridChangePercentTemplate = (ctx) => {
        return @<div>
    			<span class=@(Convert.ToDouble(ctx.Cell.Value) > 0 ? "cellAlignSyle up" : "cellAlignSyle down")>@formatNumber(ctx.Cell.Value)</span>
        </div>;
    };
    	
        private static string formatNumber(object value)
        {
            return Math.Round(Convert.ToDouble(value)).ToString();
        }
        private static string formatNumber(object value)
        {
            return Math.Round(Convert.ToSingle(value), 2).ToString();
        }
    private FinancialDataAll _financialDataAll = null;
    public FinancialDataAll FinancialDataAll
    {
        get
        {
            if (_financialDataAll == null)
            {
                _financialDataAll = new FinancialDataAll(); 
            }
            return _financialDataAll;
        }
    }
    
}