
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igOptions">
        <span class="igLegend-title">Renewable Electricity Generated</span>
        <div class="igLegend">
            <Legend @ref="LegendRef" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="igComponent">
        @if (DataSource != null)
        {
            <CategoryChart Height="100%" Width="100%"
                DataSource="DataSource"
                Legend="@LegendRef"
                ChartType="CategoryChartType.StepArea"
                TitleAlignment="HorizontalAlignment.Left"
                TitleLeftMargin="25"
                TitleTopMargin="10"
                TitleBottomMargin="10"
                IsCategoryHighlightingEnabled="true"
                IsSeriesHighlightingEnabled="true"
                ToolTipType="ToolTipType.Category"
                IsTransitionInEnabled="true"
				IsHorizontalZoomEnabled="false"
                IsVerticalZoomEnabled="false"
                XAxisInterval="1"
                YAxisTitle="TWh">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<EnergyRenewableInfo> DataSource;

    private Legend legend;
    private Legend LegendRef
    {
        get { return legend; }
        set
        {
            legend = value;
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);

        this.DataSource = new EnergyRenewableData();
    }
}