@using IgniteUI.Blazor.Controls
using IgniteUI.Blazor.Controls;
using System;

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
	
	
	
    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="NwindData"
        PrimaryKey="ProductID"
        CellEdit="WebGridEditingEventsCellEdit"
        Name="grid1"
        @ref="grid1">
            <IgbColumn
            Field="ProductName"
            Header="Product Name"
            DataType="GridColumnDataType.String">
            </IgbColumn>
            <IgbColumn
            Field="UnitPrice"
            Header="Unit Price"
            DataType="GridColumnDataType.Number"
            Editable="true">
            </IgbColumn>
            <IgbColumn
            Field="UnitsInStock"
            Header="Units In Stock"
            DataType="GridColumnDataType.Number"
            Editable="true"
            Name="UnitsInStock"
            @ref="unitsInStock">
            </IgbColumn>
            <IgbColumn
            Field="UnitsOnOrder"
            Header="Units on Order"
            DataType="GridColumnDataType.Number"
            Editable="true"
            Name="UnitsOnOrder"
            @ref="unitsOnOrder">
            </IgbColumn>
        </IgbGrid>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }

	private Action BindElements { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		var grid1 = this.grid1;
		var unitsInStock = this.unitsInStock;
		var unitsOnOrder = this.unitsOnOrder;

        this.BindElements = () => {
        };
        this.BindElements();
	}

	private IgbGrid grid1;
	private IgbColumn unitsInStock;
	private IgbColumn unitsOnOrder;

    
    public void WebGridEditingEventsCellEdit(IgbGridEditEventArgs args)
    {
    	Console.WriteLine("TEST" + args);
        //TODO    
    }
        
    private NwindData _nwindData = null;
    public NwindData NwindData
    {
        get
        {
            if (_nwindData == null)
            {
                _nwindData = new NwindData(); 
            }
            return _nwindData;
        }
    }
    
}