@using IgniteUI.Blazor.Controls;


@inject IIgniteUIBlazor IgniteUIBlazor
@inject IJSRuntime JS

<div class="container vertical">




    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="NwindData"
        PrimaryKey="ProductID"
        CellEditScript="WebGridEditingEventsCellEdit"
        Name="grid1"
        @ref="grid1">
            <IgbColumn
            Field="ProductName"
            Header="Product Name"
            DataType="GridColumnDataType.String">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitPrice"
            Header="Unit Price"
            Editable="true"
            DataType="GridColumnDataType.Number">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitsInStock"
            Header="Units In Stock"
            Editable="true"
            DataType="GridColumnDataType.Number"
            Name="UnitsInStock"
            @ref="unitsInStock">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitsOnOrder"
            Header="Units on Order"
            Editable="true"
            DataType="GridColumnDataType.Number"
            Name="UnitsOnOrder"
            @ref="unitsOnOrder">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid1 = this.grid1;
        var unitsInStock = this.unitsInStock;
        var unitsOnOrder = this.unitsOnOrder;

        this.BindElements = () => {
        };
        this.BindElements();

        if (firstRender) {
        }
	}

    private IgbGrid grid1;
    private IgbColumn unitsInStock;
    private IgbColumn unitsOnOrder;

    private NwindData _nwindData = null;
    public NwindData NwindData
    {
        get
        {
            if (_nwindData == null)
            {
                _nwindData = new NwindData(); 
            }
            return _nwindData;
        }
    }
    
}