@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;

<div class="container vertical">
    <div class="container vertical">

        @if (Data != null)
        {
            <div style="overflow: hidden">
                 <IgbGrid Height="500px" Width="100%" Data="Data" AutoGenerate=false CellEdit=OnCellEdit>
                     <IgbGridColumn Field="ProductID" />
                     <IgbGridColumn Field="ProductName" Editable=true/>
                     <IgbGridColumn Field="OrderItems" Editable=true/>
                     <IgbGridColumn Field="OrderValue" Editable=true/>
                </IgbGrid>

                <IgbToast>You cannot order more than the units in stock!</IgbToast>

            </div>
        }
    </div>
</div>

@code {

    private NWindData Data;

    private Random Rand = new Random();

    public IgbDataGrid GridRef { get; set; }    

    protected override void OnInitialized()
    {
        base.OnInitialized();

        IgbGridModule.Register(IgniteUIBlazor);
        IgbToastModule.Register(IgniteUIBlazor);

        this.Data = new NWindData();
    }    

    public void OnCellEdit(IgbGridEditEventArgs args)
    {
        // TODO Event not hit?
        Console.WriteLine("CELL EDIT EVENT HIT!");
    }   
}
