@using IgniteUI.Blazor.Controls


<div class="container sample center">
    <style>
        igc-highlight {
            --background: var(--ig-gray-700);
            --foreground: var(--ig-gray-700-contrast);
            --background-active: var(--ig-warn-500);
            --foreground-active: var(--ig-warn-500-contrast);
        }

        igc-divider {
            margin-block-start: 20px;
        }
    </style>
    <div class="search-bar">
        <IgbInput Label="Search" ValueChanging="OnValueChanging" Value="@inputText">
            <IgbIconButton slot="suffix" Variant="IconButtonVariant.Flat" IconName="navigate_before" Collection="internal" @onclick="Prev"></IgbIconButton>
            <IgbIconButton slot="suffix" Variant="IconButtonVariant.Flat" IconName="navigate_next" Collection="internal" @onclick="Next"></IgbIconButton>
        </IgbInput>
    </div>
    <IgbDivider></IgbDivider>
    <IgbHighlight @ref="HighlightRef" SearchText="@searchText">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae doloribus
            odit id excepturi ipsum provident eaque dignissimos beatae! Rerum vero
            distinctio libero, quasi magni quod natus nesciunt doloremque temporibus
            voluptate?
        </p>
    </IgbHighlight>
</div>

@code {
    private IgbHighlight HighlightRef { get; set; }
    private string searchText = "ipsum";
    private string inputText = "";
    private bool reapplySearch = true;

    protected override void OnParametersSet()
    {
        searchText = "ipsum";
        inputText = "";
        reapplySearch = true;
    }

    private void OnValueChanging(string newValue)
    {
        inputText = newValue;
        searchText = newValue;
        reapplySearch = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (reapplySearch && HighlightRef != null)
        {
            reapplySearch = false;
            await HighlightRef.EnsureReady();
            HighlightRef.SearchText = searchText;
            await HighlightRef.SearchAsync();
        }
    }

    private async void Prev()
    {
        if (HighlightRef != null)
            await HighlightRef.PreviousAsync(new IgbHighlightNavigation { PreventScroll = true });
    }

    private async void Next()
    {
        if (HighlightRef != null)
            await HighlightRef.NextAsync(new IgbHighlightNavigation { PreventScroll = true });
    }
}
