@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">

    <div class="igComponent">
        @if (DataSource != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           DataSource="DataSource"
                           ChartType="CategoryChartType.Line"
                           YAxisTitle="TWh"
                           YAxisTitleLeftMargin="5">                           
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<EnergyChartData> DataSource;

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);

        // initalizing data
        var _data = new List<EnergyChartData>();
        _data.Add(new EnergyChartData() { Year = "2009", Europe = 31, China = 21,  USA = 19 });
        _data.Add(new EnergyChartData() { Year = "2010", Europe = 43, China = 26,  USA = 24 });
        _data.Add(new EnergyChartData() { Year = "2011", Europe = 66, China = 29,  USA = 28 });
        _data.Add(new EnergyChartData() { Year = "2012", Europe = 69, China = 32,  USA = 26 });
        _data.Add(new EnergyChartData() { Year = "2013", Europe = 58, China = 47,  USA = 38 });
        _data.Add(new EnergyChartData() { Year = "2014", Europe = 40, China = 46,  USA = 31 });
        _data.Add(new EnergyChartData() { Year = "2015", Europe = 78, China = 50,  USA = 19 });
        _data.Add(new EnergyChartData() { Year = "2016", Europe = 13, China = 90,  USA = 52 });
        _data.Add(new EnergyChartData() { Year = "2017", Europe = 78, China = 132, USA = 50 });
        _data.Add(new EnergyChartData() { Year = "2018", Europe = 40, China = 134, USA = 34 });
        _data.Add(new EnergyChartData() { Year = "2019", Europe = 80, China = 96,  USA = 38 });

        this.DataSource = _data;
    }

    public class EnergyChartData
    {
        public string Year { get; set; }
        public int Europe { get; set; }
        public int China { get; set; }
        public int USA { get; set; }
    }
}
