@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <IgbList>
        <IgbListHeader>Contacts</IgbListHeader>
        <IgbListItem>
            <span slot="title">Terrance Orta</span>
            <span slot="subtitle">770-504-2217</span>
        </IgbListItem>
        <IgbListItem>
            <span slot="title">Richard Mahoney</span>
            <span slot="subtitle">423-676-2869</span>
        </IgbListItem>
        <IgbListItem>
            <span slot="title">Donna Price</span>
            <span slot="subtitle">859-496-2817</span>
        </IgbListItem>
    </IgbList>
</div>

@code {

}