@using  IgniteUI.Blazor.Controls
@using  Infragistics.Samples
@using  Infragistics.Samples.Core.Navigation
@inject Infragistics.Samples.Core.SampleBrowser SB

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BrowserLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(BrowserLayout)">
            <SampleNotFound></SampleNotFound>
            @*<p class="no-selection">Sorry, there's nothing at this address.</p>*@
        </LayoutView>
    </NotFound>
</Router>

@code {

    protected override async Task OnInitializedAsync()
    {
        // Console.WriteLine("SB App");
        SB.AppName = "Blazor Client Samples";
        //SB.AppBaseUri = "/blazor-client/samples";
        SB.AppBaseUri = "/samples";
        SB.HomeTitle = "Home"; // "Blazor Samples running on Client-Side";

        var igType = typeof(IgniteUIBlazor);
        var igAssembly = igType.Assembly;
        var igVersion = igAssembly.GetName().Version;
        if (igVersion != null)
            SB.IgVersion = igVersion.Major + "." + igVersion.Minor + "." + igVersion.Build;
        Console.WriteLine("SB uses IG version: " + SB.IgVersion);

        await Task.Delay(1);
    }
}