@*<Samples.Pages.CategoryChartOverview />*@
@*<Samples.Pages.DataGridBindingLocalData />*@
@*<Samples.Pages.DataGridFetchedData />*@
@*<Samples.Pages.DoughnutChartSelection />*@
@*<Samples.Pages.MapDisplayImageryOSM />*@
@*<Samples.Pages.PieChartSelection />*@
@*<Samples.Pages.RadialGaugeTypeColumn />*@
@*<Samples.Pages.SparklineDisplayTypes />*@
 
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BrowserLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(BrowserLayout)">
            <p class="no-selection">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
