@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">

        <DataChart Height="100%" Width="100%"
                   Subtitle="Company Budget per Category"
                   SubtitleTopMargin="10"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <CategoryXAxis Name="xAxis" Label="Category" DataSource="Data"/>
            <NumericYAxis Name="yAxis" Title="Amount (in USD)" TitleLeftMargin="10" AbbreviateLargeNumbers="true"/>

            <WaterfallSeries XAxisName="xAxis"
                        YAxisName="yAxis"
                        DataSource="Data"
                        ValueMemberPath="Value" Title="Value"
                        AreaFillOpacity="1"
                        ShowDefaultTooltip="true"
                        IsTransitionInEnabled="true" >
            </WaterfallSeries>
        </DataChart>

    </div>
</div>

@code {

    private List<BudgetItem> Data;

    protected override void OnInitialized()
    {
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartCategoryModule.Register(IgniteUIBlazor);
        DataChartCategoryCoreModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        NumberAbbreviatorModule.Register(IgniteUIBlazor);

        Data = GetDataSource();
    }

    public List<BudgetItem> GetDataSource() {
        var data = new List<BudgetItem>();
        data.Add(new BudgetItem { Value = 600000000, Category = "Online Sales" });
        data.Add(new BudgetItem { Value = 800000000, Category = "Store Sales" });
        data.Add(new BudgetItem { Value = 900000000, Category = "Royalties" });
        data.Add(new BudgetItem { Value = 600000000, Category = "Salaries" });
        data.Add(new BudgetItem { Value = 500000000, Category = "Bonuses" });
        data.Add(new BudgetItem { Value = 400000000, Category = "Fixed Cost" });
        data.Add(new BudgetItem { Value = 200000000, Category = "Variable Cost" });
        data.Add(new BudgetItem { Value = 100000000, Category = "Taxes" });
        data.Add(new BudgetItem { Value = 400000000, Category = "Total Income" });
        return data;
    }

    public class BudgetItem {

        public double Value { get; set; }
        public string Category { get; set; }
    }

}