@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">

        <IgbDataChart Height="100%" Width="100%"
                   ChartTitle="Total Olympic Medals"
                   Subtitle="United States vs China vs Russia"
                   TitleTopMargin="10"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <IgbCategoryYAxis Name="yAxis" Label="Year" DataSource="Data"
                           Title="Olympic Years" TitleLeftMargin="10" TitleRightMargin="0"
                           Gap="0.2" Overlap="-0.05"/>
            <IgbNumericXAxis  Name="xAxis" Title="Olympic Medals" />

            <IgbBarSeries XAxisName="xAxis"
                       YAxisName="yAxis"
                       DataSource="Data"
                       ValueMemberPath="USA" Title="USA"
                       AreaFillOpacity="1"
                       ShowDefaultTooltip="true"
                       IsTransitionInEnabled="true"
                       IsHighlightingEnabled="true">
            </IgbBarSeries>
            <IgbBarSeries XAxisName="xAxis"
                       YAxisName="yAxis"
                       DataSource="Data"
                       ValueMemberPath="CHN" Title="China"
                       AreaFillOpacity="1"
                       ShowDefaultTooltip="true"
                       IsTransitionInEnabled="true"
                       IsHighlightingEnabled="true">
            </IgbBarSeries>
            <IgbBarSeries XAxisName="xAxis"
                       YAxisName="yAxis"
                       DataSource="Data"
                       ValueMemberPath="RUS" Title="Russia"
                       AreaFillOpacity="1"
                       ShowDefaultTooltip="true"
                       IsTransitionInEnabled="true"
                       IsHighlightingEnabled="true">
            </IgbBarSeries>
        </IgbDataChart>

    </div>
</div>

@code {

    private List<SampleCategoryItem> Data;

    protected override void OnInitialized()
    {
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbDataChartVerticalCategoryModule.Register(IgniteUIBlazor);

        Data = SampleCategoryData.Create();


    }
}