/* 
CSS styles are loaded from the shared CSS file located at:
https://static.infragistics.com/xplatform/css/samples/
*/


igc-radio::part(base checked):focus-within igc-radio::part(control) {
    background: rgba(128,128,0, .32);
}

igc-radio::part(control checked)::before {
    background: olive;
}

igc-radio::part(control checked)::after {
    border-color: olive;
}