/* 
CSS styles are loaded from the shared CSS file located at:
https://static.infragistics.com/xplatform/css/samples/
*/


igc-radio::part(control) {
    --size: 18px;
  }
  
  igc-radio-group {
    padding: 12px;
  }
  
  igc-radio::part(checked)::after {
    background-color: var(--ig-success-500);
  }
  
  igc-radio::part(label) {
    color: var(--ig-secondary-800);
  }