@using IgniteUI.Blazor.Controls

<div class="container vertical ig-typography">
    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Name="grid"
        @ref="grid"
        Data="NwindData"
        RowEditable="true"
        AllowFiltering="true"
        Pinning="PinningConfig1"
        PrimaryKey="ProductID">
            <IgbActionStrip
            Name="actionStrip"
            @ref="actionStrip">
                <IgbGridPinningActions
                >
                </IgbGridPinningActions>

                <IgbGridEditingActions
                EditRow="true"
                DeleteRow="true"
                AddRow="true">
                </IgbGridEditingActions>

            </IgbActionStrip>

            <IgbColumn
            Name="ProductName"
            @ref="productName"
            Field="ProductName"
            Header="Product Name">
            </IgbColumn>

            <IgbColumn
            Name="UnitPrice"
            @ref="unitPrice"
            Field="UnitPrice"
            Header="Unit Price">
            </IgbColumn>

            <IgbColumn
            Name="UnitsOnOrder"
            @ref="unitsOnOrder"
            Field="UnitsOnOrder"
            Header="Units On Order">
            </IgbColumn>

            <IgbColumn
            Name="UnitsInStock"
            @ref="unitsInStock"
            Field="UnitsInStock"
            Header="Units In Stock">
            </IgbColumn>

            <IgbColumn
            Name="QuantityPerUnit"
            @ref="quantityPerUnit"
            Field="QuantityPerUnit"
            Header="Quantity Per Unit">
            </IgbColumn>

            <IgbColumn
            Name="ReorderLevel"
            @ref="reorderLevel"
            Field="ReorderLevel"
            Header="Reorder Level">
            </IgbColumn>

            <IgbColumn
            Name="Discontinued"
            @ref="discontinued"
            Field="Discontinued"
            Header="Discontinued">
            </IgbColumn>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;
        var actionStrip = this.actionStrip;
        var productName = this.productName;
        var unitPrice = this.unitPrice;
        var unitsOnOrder = this.unitsOnOrder;
        var unitsInStock = this.unitsInStock;
        var quantityPerUnit = this.quantityPerUnit;
        var reorderLevel = this.reorderLevel;
        var discontinued = this.discontinued;

    }

    private IgbGrid grid;
    private IgbPinningConfig _pinningConfig1 = null;
    public IgbPinningConfig PinningConfig1
    {
        get
        {
            if (this._pinningConfig1 == null)
            {
                var pinningConfig1 = new IgbPinningConfig();
                pinningConfig1.Rows = RowPinningPosition.Top;
                this._pinningConfig1 = pinningConfig1;
            }
            return this._pinningConfig1;
        }
    }
    private IgbActionStrip actionStrip;
    private IgbColumn productName;
    private IgbColumn unitPrice;
    private IgbColumn unitsOnOrder;
    private IgbColumn unitsInStock;
    private IgbColumn quantityPerUnit;
    private IgbColumn reorderLevel;
    private IgbColumn discontinued;

    private NwindData _nwindData = null;
    public NwindData NwindData
    {
        get
        {
            if (_nwindData == null)
            {
                _nwindData = new NwindData();
            }
            return _nwindData;
        }
    }

}