@using IgniteUI.Blazor.Controls

@inject IJSRuntime JS

<div class="container vertical ig-typography">
    <div class="container vertical fill">
        <IgbGrid
        Name="grid"
        @ref="grid"
        Data="CustomersDataLocal"
        PrimaryKey="ID"
        CellSelection="GridSelectionMode.None">
            <IgbColumn
            Width="70px"
            Filterable="false"
            Pinned="true"
            BodyTemplateScript="WebGridRowPinCellTemplate"
            Name="column1"
            @ref="column1">
            </IgbColumn>

            <IgbColumn
            Field="ID"
            Width="150px"
            Hidden="true">
            </IgbColumn>

            <IgbColumn
            Field="Company"
            Header="Company"
            Width="350px">
            </IgbColumn>

            <IgbColumn
            Field="ContactName"
            Header="Name">
            </IgbColumn>

            <IgbColumn
            Field="ContactTitle"
            Header="Contact Tiasdsadtle">
            </IgbColumn>

            <IgbColumn
            Field="Address">
            </IgbColumn>

            <IgbColumn
            Field="City">
            </IgbColumn>

            <IgbColumn
            Field="PostalCode"
            Header="Postal Code">
            </IgbColumn>

            <IgbColumn
            Field="Phone">
            </IgbColumn>

            <IgbColumn
            Field="Fax">
            </IgbColumn>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;
        var column1 = this.column1;

    }

    private IgbGrid grid;
    private IgbColumn column1;

    private CustomersDataLocal _customersDataLocal = null;
    public CustomersDataLocal CustomersDataLocal
    {
        get
        {
            if (_customersDataLocal == null)
            {
                _customersDataLocal = new CustomersDataLocal();
            }
            return _customersDataLocal;
        }
    }

}