@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container sample" style="align-items: center">
    <div class="card-wrapper" style="max-width: 400px; min-width: 250px;">
        <IgbCard>
            <div class="card-horizontal" style="display: flex; flex-direction: row; flex: 1 1 0%;">
                <div>
                    <IgbCardHeader>
                        <img slot="thumbnail" src="https://static.infragistics.com/xplatform/images/music/rozes.jpg" width="64" height="64"/>
                        <h5 slot="title">Rozes</h5>
                        <h5 slot="subtitle">Under the Grave (2016)</h5>
                    </IgbCardHeader>
                    <IgbCardContent>
                        <p>
                            As I have always said: I write what's real and what's true,
                            even if it means throwing myself under the bus.
                        </p>
                    </IgbCardContent>
                </div>
                <div class="divider" style="border-right: 1px solid darkgray;"></div>
                <IgbCardActions style="justify-content: center;">
                    <span class="material-icons">skip_previous</span>
                    <span class="material-icons">play_arrow</span>
                    <span class="material-icons">skip_next</span>
                </IgbCardActions>
            </div>
        </IgbCard>
    </div>
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbCardModule.Register(IgniteUIBlazor);
    }
}