@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor

<div class="igContainer-horizontal">
    <GeographicMap Height="100%" Width="100%" Zoomable="true" BackgroundContent="@StreetMapImagery">
    </GeographicMap>
    <GeographicMap Height="100%" Width="100%" Zoomable="true" BackgroundContent="@OceansImagery">
    </GeographicMap>
    <GeographicMap Height="100%" Width="100%" Zoomable="true" BackgroundContent="@TopographicImagery">
    </GeographicMap>
</div>

@code {

    private ArcGISOnlineMapImagery StreetMapImagery;
    private ArcGISOnlineMapImagery OceansImagery;
    private ArcGISOnlineMapImagery TopographicImagery;

    protected override void OnInitialized()
    {
        GeographicMapModule.Register(InfragisticsBlazor);

        ArcGISOnlineMapImagery image1 = new ArcGISOnlineMapImagery()
        {
            MapServerUri = EsriStyle.WorldStreetMap
        };

        ArcGISOnlineMapImagery image2 = new ArcGISOnlineMapImagery()
        {
            MapServerUri = EsriStyle.WorldOceansMap
        };

        ArcGISOnlineMapImagery image3 = new ArcGISOnlineMapImagery()
        {
            MapServerUri = EsriStyle.WorldTopographicMap
        };

        this.StreetMapImagery = image1;
        this.OceansImagery = image2;
        this.TopographicImagery = image3;
    }
}