@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Population Demographic of Africa by Age</span>
        <div class="legend">
            <IgbLegend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>

    <div class="container horizontal" >
         <IgbDataChart Height="100%" Width="100%"  @ref="Chart1"
                    IsHorizontalZoomEnabled="false" GridMode="GridMode.BeforeSeries"
                    IsVerticalZoomEnabled="false">
             <IgbNumericXAxis()  Name="xAxis" Title="Males (Millions)" IsInverted="true" />
             <IgbCategoryYAxis Name="yAxis" Label="Age" DataSource="Data" Gap="0.4" Interval="1"
                            LabelLocation="AxisLabelsLocation.OutsideRight"
                            LabelTextColor="Transparent" LabelExtent="10" />
             <IgbBarSeries XAxisName="xAxis"
                        YAxisName="yAxis" Brush="#1885F7" Outline="#1885F7"
                        DataSource="Data"
                        ValueMemberPath="Male" Title="Males"
                        ShowDefaultTooltip="true"
                        IsTransitionInEnabled="true"
                        IsHighlightingEnabled="true">
             </IgbBarSeries>
         </IgbDataChart>
         <IgbDataChart Height="100%" Width="100%" @ref="Chart2"
                    IsHorizontalZoomEnabled="false" GridMode="GridMode.BeforeSeries"
                    IsVerticalZoomEnabled="false">
             <IgbNumericXAxis()  Name="xAxis" Title="Female (Millions)" IsInverted="false"   />
             <IgbCategoryYAxis Name="yAxis" Label="Age" DataSource="Data" Gap="0.4" Interval="1"
                            LabelLocation="AxisLabelsLocation.OutsideLeft"
                            LabelHorizontalAlignment="HorizontalAlignment.Center"
                            LabelRightMargin="5" LabelLeftMargin="0"/>
             <IgbBarSeries XAxisName="xAxis"
                        YAxisName="yAxis" Brush="#D93EF4" Outline="#D93EF4"
                        DataSource="Data"
                        ValueMemberPath="Female" Title="Females"
                        ShowDefaultTooltip="true"
                        IsTransitionInEnabled="true"
                        IsHighlightingEnabled="true">
             </IgbBarSeries>
         </IgbDataChart>
    </div>
</div>

@code {

    private IgbDataChart Chart1;
    private IgbDataChart Chart2;
    private IgbLegend Legend;

    private List<Population> Data = new List<Population>();

    protected override void OnInitialized()
    {
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryModule.Register(IgniteUIBlazor);
        IgbDataChartVerticalCategoryModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbLegendModule.Register(IgniteUIBlazor);

        var rand = new Random();
        for (int i = 0; i <= 80; i+=5)
        {
            var variant = 2 + Math.Abs(rand.Next(1, 5) / 10.0);
            var population = new Population();
            population.Age = i;
            population.Male =    Math.Abs(190 - (i * variant)) / 5.0;
            population.Female =  Math.Abs(190 - (i * variant)) / 5.0;
            this.Data.Add(population);
        }
    }

    public class Population
    {
        public double Male { get; set; }
        public double Female { get; set; }
        public int Age { get; set; }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (this.Chart1 != null && this.Legend != null && !firstRender) {
            this.Chart1.Legend = this.Legend;
        }

        if (this.Chart2 != null && this.Legend != null && !firstRender) {
            this.Chart2.Legend = this.Legend;
        }
    }

}
