@using IgniteUI.Blazor.Controls

<div class="container vertical ig-typography">
    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="FinancialDataAll"
        Name="grid"
        @ref="grid"
        Id="grid">
            <IgbColumn
            Field="Settlement"
            Sortable="true">
            </IgbColumn>

            <IgbColumn
            Field="Type"
            Sortable="true">
            </IgbColumn>

            <IgbColumn
            Field="Region"
            Sortable="true">
            </IgbColumn>

            <IgbColumn
            Field="Country"
            Sortable="true">
            </IgbColumn>

            <IgbColumn
            Field="Price"
            DataType="GridColumnDataType.Currency"
            Sortable="true">
            </IgbColumn>

            <IgbColumn
            Field="Buy"
            DataType="GridColumnDataType.Currency"
            Sortable="true">
            </IgbColumn>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;

    }

    private IgbGrid grid;

    private FinancialDataAll _financialDataAll = null;
    public FinancialDataAll FinancialDataAll
    {
        get
        {
            if (_financialDataAll == null)
            {
                _financialDataAll = new FinancialDataAll();
            }
            return _financialDataAll;
        }
    }

}