
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <IgbRadioGroup>
        <IgbRadio>Apple</IgbRadio>
        <IgbRadio Disabled="true">Banana</IgbRadio>
        <IgbRadio>Mango</IgbRadio>
        <IgbRadio>Orange</IgbRadio>
    </IgbRadioGroup>
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbRadioGroupModule.Register(IgniteUIBlazor);
        IgbRadioModule.Register(IgniteUIBlazor);
    }
}