
@using IgniteUI.Blazor.Controls

<style>
    p {
        text-align: justify;
    }

    .content {
        display: flex;
        gap: 16px;
    }
</style>

<div class="container sample center">
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa officiis
            suscipit veniam vitae. Ab ad, dolores iure nostrum quo ratione rerum
            sapiente ullam. Adipisci alias architecto eligendi est, expedita,
            explicabo fugiat iure laudantium minima molestiae molestias nam
            obcaecati placeat provident, quam repellendus vitae! Cupiditate eveniet,
            facere harum hic quisquam sed.
        </p>
        <IgbDivider vertical></IgbDivider>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa officiis
            suscipit veniam vitae. Ab ad, dolores iure nostrum quo ratione rerum
            sapiente ullam. Adipisci alias architecto eligendi est, expedita,
            explicabo fugiat iure laudantium minima molestiae molestias nam
            obcaecati placeat provident, quam repellendus vitae! Cupiditate eveniet,
            facere harum hic quisquam sed.
        </p>
    </div>
</div>
