/*
CSS styles are loaded from the shared CSS file located at:
https://static.infragistics.com/xplatform/css/samples/
*/

.upFont {
    color: green !important;
}

.downFont {
    color: red !important;
}

.topSpeed {
    color: royalblue !important;
}

