
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <FinancialChart @ref="Chart"
                        Width="100%"
                        Height="100%"
                        IsToolbarVisible="false"
                        ChartType="FinancialChartType.Candle"
                        DataSource="Data"
                        ChartTitle="S&P 500"
                        TitleAlignment="HorizontalAlignment.Left"
                        TitleLeftMargin="25"
                        TitleTopMargin="10"
                        TitleBottomMargin="10"
                        Subtitle="CME - CME Delayed Price, Currency in USD"
                        SubtitleAlignment="HorizontalAlignment.Left"
                        SubtitleLeftMargin="25"
                        SubtitleTopMargin="5"
                        SubtitleBottomMargin="10"
                        YAxisLabelLocation="YAxisLabelLocation.OutsideLeft"
                        YAxisMode="FinancialChartYAxisMode.Numeric"
                        YAxisTitle="Financial Prices"
                        YAxisTitleLeftMargin="10"
                        YAxisTitleRightMargin="5"
                        YAxisLabelLeftMargin="0"
                        ZoomSliderType="FinancialChartZoomSliderType.None" />
    </div>
</div>

@code {

    public List<StockIndexInfo> Data = new StockIndexData();
    public FinancialChart Chart;

    protected override async Task OnInitializedAsync()
    {
        FinancialChartModule.Register(IgniteUIBlazor);
        await Task.Delay(1);
    }
}
