@page "/samples/gauges/radial-gauge-type-half"
@page         "/gauges/radial-gauge-type-half"
@* this is required for Infragistics controls *@
@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor
@* NOTE use this HTML code to design a sample *@
<div class="igContainer">
    <div class="igComponent">
        <RadialGauge Height="100%" Width="100%"
                     TransitionDuration="500"
                     MinimumValue="100"
                     MaximumValue="200"
                     Value="125"
                     ScaleStartAngle="180"
                     ScaleEndAngle="0"
                     ScaleBrush="transparent"
                     ScaleSweepDirection="SweepDirection.Clockwise"
                     BackingOutline="white"
                     BackingBrush="white"
                     BackingShape="RadialGaugeBackingShape.Fitted"
                     NeedleEndExtent="0.8"
                     NeedleShape="RadialGaugeNeedleShape.Triangle"
                     NeedlePivotShape="RadialGaugePivotShape.CircleOverlay"
                     NeedlePivotWidthRatio="0.1"
                     NeedleBrush="#79797A"
                     NeedleOutline="#79797A"
                     NeedlePivotBrush="#79797A"
                     NeedlePivotOutline="#79797A"
                     TickBrush="transparent"
                     MinorTickBrush="transparent"
                     LabelInterval="20"
                     LabelExtent="0.935"
                     Font="13px Verdana,Arial"
                     RangeBrushes="#32F845, #BF32F8"
                     RangeOutlines="#32F845, #BF32F8">
            <RadialGaugeRange StartValue="100"
                              EndValue="150"
                              InnerStartExtent="0.3"
                              InnerEndExtent="0.3"
                              OuterStartExtent="0.875"
                              OuterEndExtent="0.875">
            </RadialGaugeRange>
            <RadialGaugeRange StartValue="100"
                              EndValue="150"
                              InnerStartExtent="0.3"
                              InnerEndExtent="0.3"
                              OuterStartExtent="0.875"
                              OuterEndExtent="0.875">
            </RadialGaugeRange>
        </RadialGauge>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        // Console.WriteLine("Sample runtime: " + InfragisticsBlazor.JsRuntime);
        Console.WriteLine("Sample OnInitialized...");
        RadialGaugeModule.Register(InfragisticsBlazor);
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Sample OnInitializedAsync...");

        await Task.Delay(10);
    }
}