@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

    <div class="container vertical">
        <div class="container vertical">
            @if (CountrData != null)
            {
                <MultiColumnComboBox Height="50px" Width="400px"
                    DataSource="CountrData"
                    Fields="DisplayFields"
                    TextField="Country"
                    Placeholder="Choose a country"/>
            }
        </div>
    </div>

@code {

    protected List<ComboBoxItem> CountrData;
    protected string[] DisplayFields = new string[] { "Country", "Pop", "Continent" };

    protected override void OnInitialized()
    {
        IgbMultiColumnComboBoxModule.Register(IgniteUIBlazor);

        this.CountrData = SampleComboData.Create();

    }
}
