@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

    <div class="container vertical">
        <div class="container vertical">
            @if (CountrData != null)
            {
                <IgbMultiColumnComboBox Height="50px" Width="400px"
                    DataSource="CountrData"
                    Fields="DisplayFields"
                    TextField="Country"
                    Placeholder="Choose a country"
                    DefaultColumnWidth="200"/>
            }
        </div>
    </div>

@code {

    protected List<ComboBoxItem> CountrData;

    protected override void OnInitialized()
    {
        IgbMultiColumnComboBoxModule.Register(IgniteUIBlazor);

        this.CountrData = SampleComboData.Create();

    }
}
