/* 
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css//samples/
*/

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
