@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        @if (Data != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           DataSource="Data"
                           ChartType="CategoryChartType.Column"
                           ChartTitle="New York Central Park Average Maximum Temperature (Celsius)"
                           TitleAlignment="HorizontalAlignment.Left"
                           TitleLeftMargin="25"
                           TitleTopMargin="10"
                           TitleBottomMargin="10"
                           XAxisInterval="1"
                           YAxisTitle="Temperature in Degrees Celsius"
                           YAxisTitleLeftMargin="10"
                           YAxisTitleRightMargin="5"
                           YAxisLabelLeftMargin="0"
						   IsHorizontalZoomEnabled="false"
                           IsVerticalZoomEnabled="false">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<TemperatureInfo> Data = new TemperatureData();

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
    }
}