
@using Microsoft.AspNetCore.Components
@using Infragistics.Samples.Shared.Navigation
@inject Infragistics.Samples.Shared.Services.SampleBrowser SB

@using Microsoft.Extensions.Logging;
@inject ILogger<App> logger;

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @*MainLayout*@
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BrowserLayout)" />
    </Found>
    <NotFound>
        @*MainLayout*@
        <LayoutView Layout="@typeof(BrowserLayout)">
            <SampleNotFound></SampleNotFound>
            @*<p>Sorry, there's nothing at this address.</p>*@
        </LayoutView>
    </NotFound>
</Router>

@code {

    protected override async Task OnInitializedAsync()
    {
        logger.LogWarning(    "SB App WARN OnInitializedAsync");
        logger.LogInformation("SB App INFO OnInitializedAsync");

        Console.WriteLine("SB App");
        SB.AppName = "Blazor Server Samples";
        SB.AppBaseUri = "/blazor-server/samples";
        SB.HomeTitle = "Home"; // "Blazor Samples running on Server-Side";


        await Task.Delay(1);
    }
}
