@using IgniteUI.Blazor.Controls
@inject IJSRuntime JS;

<div class="container vertical">
    <div id="aboveContentSplit">
        <div id="aboveContentLeftContainer">
            <IgbToolbar @ref="toolbar" Orientation="ToolbarOrientation.Horizontal" />
        </div>        
    </div>
    <div class="container vertical fill">
        <IgbDataChart IsHorizontalZoomEnabled="true"
        IsVerticalZoomEnabled="true" UserAnnotationInformationRequested="OnUserAnnotationInfoRequested"
        UserAnnotationToolTipContentUpdatingScript="onUserAnnotationToolTipContentUpdatingScript"
        ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series"
                      IsUserAnnotationsEnabled="true"
        @ref="chart">
            <IgbCategoryXAxis Name="xAxis" DataSource="CountryRenewableElectricity"
            Interval="1" Label="Year">
            </IgbCategoryXAxis>

            <IgbNumericYAxis Name="yAxis" Title="TWh" />

            <IgbLineSeries Title="Electricity"
            XAxisName="xAxis"
            YAxisName="yAxis"
            DataSource="CountryRenewableElectricity"
            ValueMemberPath="America">
            </IgbLineSeries>

            <IgbLineSeries Title="Electricity"
            XAxisName="xAxis"
            YAxisName="yAxis"
            DataSource="CountryRenewableElectricity"
            ValueMemberPath="Europe">
            </IgbLineSeries>

            <IgbLineSeries Title="Electricity"
            XAxisName="xAxis"
            YAxisName="yAxis"
            DataSource="CountryRenewableElectricity"
            ValueMemberPath="China">
            </IgbLineSeries>
        </IgbDataChart>

        <div class="annotationPopup">
            <div>
                <label>Label:</label>
                <IgbInput @ref=AnnotationInput DisplayType="@InputType.Text" />
            </div>

            <div>
                <label>Details:</label>
                <IgbTextarea @ref=AnnotationTextArea />
            </div>

            <div>
                <label>Badge Color:</label>
                <IgbColorEditor id="annotationBadgeColorEditor"  />

                <label>Main Color:</label>
                <IgbColorEditor id="annotationMainColorEditor" />
            </div>

            <div>
                <button @onclick="OnDoneButtonClick">Done</button>
                <button @onclick="OnCancelButtonClick">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code {

    private Action BindElements { get; set; }
    private IgbInput AnnotationInput{ get; set; }
    private IgbTextarea AnnotationTextArea{ get; set; }    
    private IgbUserAnnotationInformation CurrentAnnotationInformation{ get; set; }
    private IgbToolbar toolbar;
    private IgbDataChart chart;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var toolbar = this.toolbar;
        var chart = this.chart;           

        this.BindElements = () => {
            toolbar.Target = this.chart;                
        };
        this.BindElements();
    }

    public void OnUserAnnotationInfoRequested(IgbUserAnnotationInformationEventArgs e){
        this.CurrentAnnotationInformation = e.AnnotationInfo;
        JS.InvokeVoidAsync("toggleDialogState", new object[] { true });        
    }

    public async void OnDoneButtonClick(MouseEventArgs e){

        this.CurrentAnnotationInformation.Label = this.AnnotationInput.GetCurrentValue();
        this.CurrentAnnotationInformation.AnnotationData = this.AnnotationTextArea.GetCurrentValue();

        string badgeColor = await JS.InvokeAsync<string>("getBadgeColor");
        string mainColor = await JS.InvokeAsync<string>("getMainColor");

        this.CurrentAnnotationInformation.BadgeColor = badgeColor;
        this.CurrentAnnotationInformation.MainColor = mainColor;

        await this.chart.FinishAnnotationFlowAsync(this.CurrentAnnotationInformation);

        await JS.InvokeVoidAsync("toggleDialogState", new object[] { false });                
    }

    public void OnCancelButtonClick(MouseEventArgs e)
    {
        this.chart.CancelAnnotationFlow(this.CurrentAnnotationInformation.AnnotationId);
        JS.InvokeVoidAsync("toggleDialogState", new object[] { false });
    }    

    private CountryRenewableElectricity _countryRenewableElectricity = null;
    public CountryRenewableElectricity CountryRenewableElectricity
    {
        get
        {
            if (_countryRenewableElectricity == null)
            {
                _countryRenewableElectricity = new CountryRenewableElectricity();
            }
            return _countryRenewableElectricity;
        }
    }
}