@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor

<div class="igContainer">

    <div class="igLegend">
		<ItemLegend @ref="Legend"/>
	</div>

    <div class="igComponent">

        @if (DataSource != null)
        {
            <DoughnutChart Height="100%" Width="100%" @ref="Chart">
                <RingSeries DataSource="@DataSource"
                            LabelMemberPath="Summary"
                            ValueMemberPath="MarketShare"
                            LegendLabelMemberPath="Company"
                            Outlines="white">
                </RingSeries>
            </DoughnutChart>
        }

    </div>
</div>

@code {

    public DoughnutChart Chart;
    public ItemLegend Legend;
    public List<DataItem> DataSource;

    protected override void OnInitialized()
    {
        DoughnutChartModule.Register(InfragisticsBlazor);

        var dataItems = new List<DataItem>();
        dataItems.Add(new DataItem() { MarketShare = 30, Company = "Google", });
        dataItems.Add(new DataItem() { MarketShare = 25, Company = "Apple", });
        dataItems.Add(new DataItem() { MarketShare = 20, Company = "Microsoft", });
        dataItems.Add(new DataItem() { MarketShare = 15, Company = "Samsung", });
        dataItems.Add(new DataItem() { MarketShare = 10, Company = "Other", });

        DataSource = dataItems;
        //TODO
        //Chart.Legend = this.Legend;

    }

    public class DataItem
    {
        public string Company { get; set; }
        public double MarketShare { get; set; }
        public string Summary { get { return Company + " " + MarketShare + "%"; } }
    }

}