@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">

    <div class="igLegend">
		<ItemLegend @ref="@Legend"/>
	</div>

    <div class="igComponent">

        @if (DataSource != null)
        {
            <DoughnutChart Height="100%" Width="100%" @ref="Chart">
                <RingSeries DataSource="@DataSource"
                            LabelMemberPath="Summary"
                            ValueMemberPath="MarketShare"
                            LegendLabelMemberPath="Company"                           
                            Outlines="white">
                    <ItemLegend />
                </RingSeries>
            </DoughnutChart>
        }

    </div>
</div>

@code {


    public ItemLegend Legend;
    public DoughnutChart Chart;
    public List<DataItem> DataSource;

    protected override void OnInitialized()
    {
        DoughnutChartModule.Register(IgniteUIBlazor);
        ItemLegendModule.Register(IgniteUIBlazor);


        var dataItems = new List<DataItem>();
        dataItems.Add(new DataItem() { MarketShare = 30, Company = "Google", });
        dataItems.Add(new DataItem() { MarketShare = 25, Company = "Apple", });
        dataItems.Add(new DataItem() { MarketShare = 20, Company = "Microsoft", });
        dataItems.Add(new DataItem() { MarketShare = 15, Company = "Samsung", });
        dataItems.Add(new DataItem() { MarketShare = 10, Company = "Other", });

        DataSource = dataItems;

    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        Chart.ActualSeries[0].Legend = Legend;

    }

    public class DataItem
    {
        public string Company { get; set; }
        public double MarketShare { get; set; }
        public string Summary { get { return Company + " " + MarketShare + "%"; } }
    }

}