
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <IgbNavbar>Ignite UI for Web Components</IgbNavbar>
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbNavbarModule.Register(IgniteUIBlazor);
    }
}