@using IgniteUI.Blazor.Controls


<div class="container vertical">

    <div class="container vertical fill">
        <IgbFinancialChart
        IsHorizontalZoomEnabled="true"
        ChartType="FinancialChartType.Candle"
        ZoomSliderType="FinancialChartZoomSliderType.None"
        IsVerticalZoomEnabled="true"
        DataToolTipIncludedColumns="@(new string[] { "Open", "Close", "High", "Low", "Change" })"
        DataToolTipHeaderFormatTime="DataLegendHeaderTimeMode.None"
        DataSource="MultipleStocks"
        ToolTipType="ToolTipType.Data"
        Name="chart"
        @ref="chart">
        </IgbFinancialChart>

    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var chart = this.chart;



    }

    private IgbFinancialChart chart;

    private MultipleStocks _multipleStocks = null;
    public MultipleStocks MultipleStocks
    {
        get
        {
            if (_multipleStocks == null)
            {
                MultipleStocks.Fetch().ContinueWith((t) => {_multipleStocks = t.Result;  StateHasChanged(); });
            }
            return _multipleStocks;
        }
    }

}