@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;

<div class="container vertical">
        @if (Data != null)
        {
          <DataChart Height="100%" Width="100%" Subtitle="Energy Source of Biggest Countries"
                     IsHorizontalZoomEnabled="false" IsVerticalZoomEnabled="false"
                     SeriesMouseEnterScript="onSeriesMouseEnter">
              @*note the onSeriesMouseEnter" function is implemented .JS file in wwwroot folder*@

              <CategoryXAxis Name="xAxis" DataSource="Data" Label="Country"></CategoryXAxis>
              <NumericYAxis  Name="yAxis"></NumericYAxis>

              <ColumnSeries Title="Coal" XAxisName="xAxis" YAxisName="yAxis" ValueMemberPath="Coal"
                            DataSource="Data" ShowDefaultTooltip="false"/>
              <ColumnSeries Title="Hydro" XAxisName="xAxis" YAxisName="yAxis" ValueMemberPath="Hydro"
                            DataSource="Data" ShowDefaultTooltip="false"/>
              <ColumnSeries Title="Nuclear" XAxisName="xAxis" YAxisName="yAxis" ValueMemberPath="Nuclear"
                            DataSource="Data" ShowDefaultTooltip="false"/>
              <ColumnSeries Title="Gas" XAxisName="xAxis" YAxisName="yAxis" ValueMemberPath="Gas"
                            DataSource="Data" ShowDefaultTooltip="false"/>
              <ColumnSeries Title="Oil" XAxisName="xAxis" YAxisName="yAxis" ValueMemberPath="Oil"
                            DataSource="Data" ShowDefaultTooltip="false"/>
          </DataChart>

        }
</div>

@code {

    private List<EnergyProductionData.Energy> Data;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartCategoryModule.Register(IgniteUIBlazor);
        NumberAbbreviatorModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);

        this.Data = EnergyProductionData.Generate();
    }
}
