@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;

<div class="container vertical">
        @if (Data != null)
        {
          <IgbDataChart Height="100%" Width="100%" Subtitle="Energy Source of Biggest Countries"
                     IsHorizontalZoomEnabled="false" IsVerticalZoomEnabled="false"
                     SeriesMouseEnterScript="onSeriesMouseEnter">
              @*note the onSeriesMouseEnter" function is implemented .JS file in wwwroot folder*@

              <IgbCategoryXAxis Name="xAxis" DataSource="Data" Label="Country"></IgbCategoryXAxis>
              <IgbNumericYAxis  Name="yAxis"></IgbNumericYAxis>

              <IgbColumnSeries Title="Coal" XAxisName="xAxis" YAxisName="yAxis" ValueMemberPath="Coal"
                            DataSource="Data" ShowDefaultTooltip="false"/>
              <IgbColumnSeries Title="Hydro" XAxisName="xAxis" YAxisName="yAxis" ValueMemberPath="Hydro"
                            DataSource="Data" ShowDefaultTooltip="false"/>
              <IgbColumnSeries Title="Nuclear" XAxisName="xAxis" YAxisName="yAxis" ValueMemberPath="Nuclear"
                            DataSource="Data" ShowDefaultTooltip="false"/>
              <IgbColumnSeries Title="Gas" XAxisName="xAxis" YAxisName="yAxis" ValueMemberPath="Gas"
                            DataSource="Data" ShowDefaultTooltip="false"/>
              <IgbColumnSeries Title="Oil" XAxisName="xAxis" YAxisName="yAxis" ValueMemberPath="Oil"
                            DataSource="Data" ShowDefaultTooltip="false"/>
          </IgbDataChart>

        }
</div>

@code {

    private List<EnergyProductionData.Energy> Data;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryModule.Register(IgniteUIBlazor);
        IgbNumberAbbreviatorModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);

        this.Data = EnergyProductionData.Generate();
    }
}
