@using IgniteUI.Blazor.Controls


<div class="container sample center">
    <IgbDropdown>
        <IgbButton slot="target">Option</IgbButton>
        <IgbDropdownItem>Option 1</IgbDropdownItem>
        <IgbDropdownItem>Option 2</IgbDropdownItem>
        <IgbDropdownItem>Option 3</IgbDropdownItem>
    </IgbDropdown>
</div>

@code {


}
