@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="root">

    <style>
        #circular-progress {
            margin: 20px;
            --diameter: 50px;
        }
    </style>

    <IgbCircularProgress id="circular-progress" Value=100/>
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbCircularProgressModule.Register(IgniteUIBlazor);
    }
}