@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igOptions-horizontal" >
        <label>X-Axis Label Angle: </label>
        <label class="igOptions-value" >@XAxisLabelAngle</label>
        <input type="range" min="0" max="270" step="10" value="0" @oninput="OnXAxisLabelAngleChange"/>
        <label>Y-Axis Label Angle: </label>
        <label class="igOptions-value" >@YAxisLabelAngle</label>
        <input type="range" min="0" max="270" step="10" value="0" @oninput="OnYAxisLabelAngleChange" />
    </div>
    <div class="igOptions-vertical">
        <span class="igLegend-title">Renewable Electricity Generated</span>
        <div class="igLegend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="igComponent">
        @if (Data != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           Legend="Legend"
                           DataSource="Data"
                           ChartType="CategoryChartType.Line"
                           IsHorizontalZoomEnabled="false"
                           IsVerticalZoomEnabled="false"
                           XAxisLabelAngle="@XAxisLabelAngle"
                           XAxisLabelTextColor="Gray"
                           XAxisLabelTextStyle="10pt Verdana"
                           XAxisLabelTopMargin="5"
                           YAxisLabelAngle="@YAxisLabelAngle"
                           YAxisLabelTextColor="Gray"
                           YAxisLabelTextStyle="10pt Verdana"
                           YAxisLabelRightMargin="5">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private Legend _Legend;
    private Legend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    private int XAxisLabelAngle = 0;
    private int YAxisLabelAngle = 0;

    private List<EnergyRenewableInfo> Data = new EnergyRenewableData();

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
    }

    private void OnXAxisLabelAngleChange(ChangeEventArgs args)
    {
        this.XAxisLabelAngle = int.Parse(args.Value.ToString());
    }

    private void OnYAxisLabelAngleChange(ChangeEventArgs args)
    {
        this.YAxisLabelAngle = int.Parse(args.Value.ToString());
    }
}
