@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="root">
    <IgbCircularProgress Indeterminate=true/>
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbCircularProgressModule.Register(IgniteUIBlazor);
    }
}