@using IgniteUI.Blazor.Controls


<div class="root">

    <style>
        #circularProgress{
            --diameter: 50px;
        }
    </style>

    <IgbCircularProgress id="circularProgress" Indeterminate=true />
</div>

@code {

}