@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="root">

    <style>
        #circularProgress{
            --diameter: 50px;
        }
    </style>

    <IgbCircularProgress id="circularProgress" Indeterminate=true />
</div>

@code {
    
    protected override void OnInitialized()
    {
        IgbCircularProgressModule.Register(IgniteUIBlazor);
    }
}