@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igComponent">

        <DataChart Height="100%" Width="100%"
                   Subtitle="Countries GDP vs. Population"
                   SubtitleTopMargin="10"
                   IsHorizontalZoomEnabled="true"
                   IsVerticalZoomEnabled="true">

            <NumericXAxis Name="xAxis" IsLogarithmic="true"
                          AbbreviateLargeNumbers="true"
                          TitleBottomMargin="10"
                          Title="Population">
            </NumericXAxis>
            <NumericYAxis Name="yAxis" IsLogarithmic="true"
                          AbbreviateLargeNumbers="true"
                          TitleLeftMargin="10"
                          Title="GDP per Capita">
            </NumericYAxis>

            <BubbleSeries XAxisName="xAxis"
                          YAxisName="yAxis"
                          Title="Large Countrie"
                          DataSource="@CountriesWithLargePop"
                          XMemberPath="Population"
                          YMemberPath="GdpTotal"
                          RadiusMemberPath="GdpPerCapita"
                          RadiusScale="@SizeScale"
                          ShowDefaultTooltip="true"
                          MarkerType=@MarkerType.Circle>
            </BubbleSeries>

            <BubbleSeries XAxisName="xAxis"
                          YAxisName="yAxis"
                          Title="Small Countrie"
                          DataSource="@CountriesWithSmallPop"
                          XMemberPath="Population"
                          YMemberPath="GdpTotal"
                          RadiusMemberPath="GdpPerCapita"
                          RadiusScale="@SizeScale"
                          ShowDefaultTooltip="true"
                          MarkerType=@MarkerType.Circle>
            </BubbleSeries>

        </DataChart>

    </div>
</div>

@code {

    private List<Country> CountriesWithSmallPop;
    private List<Country> CountriesWithLargePop;
    private SizeScale SizeScale;

    protected override void OnInitialized()
    {
        LegendModule.Register(IgniteUIBlazor);
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartScatterModule.Register(IgniteUIBlazor);
        DataChartScatterCoreModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        NumberAbbreviatorModule.Register(IgniteUIBlazor);

        this.SizeScale = new SizeScale();
        this.SizeScale.MinimumValue = 10;
        this.SizeScale.MaximumValue = 50;

        CountriesWithSmallPop = SampleScatterStats.GetCountriesWithSmallPop();
        CountriesWithLargePop = SampleScatterStats.GetCountriesWithLargePop();

        //Console.WriteLine("DataSource " + DataSource.Count);
    }
}