/* 
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css//samples/
*/

igc-badge::part(base) {
    --background-color: var(--ig-error-A100);
    --border-radius: 2px;
}
