/* 
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css//samples/
*/

igc-badge::part(base) {
    background: var(--ig-primary-500);
    color: var(--ig-primary-500-contrast);
    border-radius: 2px;
}
