@using IgniteUI.Blazor.Controls;
@using IgniteUI.Blazor.Controls;
@using System;


@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">

    <div class="options vertical">
        <IgbPropertyEditorPanel
        
        DescriptionType="WebGrid"
        IsHorizontal="true"
        IsWrappingEnabled="false"
        Name="propertyEditorPanel1"
        @ref="propertyEditorPanel1">
            <IgbPropertyEditorPropertyDescription
            Label=""
            ValueType="PropertyEditorValueType.Button"
            PrimitiveValue="@("Undo")"
            ButtonClicked="WebGridUndo"
            Name="propertyEditorPropertyDescription1"
            @ref="propertyEditorPropertyDescription1">
            </IgbPropertyEditorPropertyDescription>
            
            <IgbPropertyEditorPropertyDescription
            Label=""
            ValueType="PropertyEditorValueType.Button"
            PrimitiveValue="@("Redo")"
            ButtonClicked="WebGridRedo"
            Name="propertyEditorPropertyDescription2"
            @ref="propertyEditorPropertyDescription2">
            </IgbPropertyEditorPropertyDescription>
            
            <IgbPropertyEditorPropertyDescription
            Label=""
            ValueType="PropertyEditorValueType.Button"
            PrimitiveValue="@("Commit")"
            ButtonClicked="WebGridCommit"
            Name="propertyEditorPropertyDescription3"
            @ref="propertyEditorPropertyDescription3">
            </IgbPropertyEditorPropertyDescription>
            
        </IgbPropertyEditorPanel>
        
    </div>



    <div class="container vertical fill">
        <IgbGrid
        Data="NwindData"
        PrimaryKey="ProductID"
        RowEditable="true"
        BatchEditing="true"
        Name="grid"
        @ref="grid">
            <IgbColumn
            Field="ProductID"
            Header="Product ID"
            Name="ProductID"
            @ref="productID">
            </IgbColumn>
            
            <IgbColumn
            Field="ProductName"
            Header="Product Name"
            Name="ProductName"
            @ref="productName">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitPrice"
            Header="Unit Price"
            Name="UnitPrice"
            @ref="unitPrice">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitsOnOrder"
            Header="Units On Order"
            Name="UnitsOnOrder"
            @ref="unitsOnOrder">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitsInStock"
            Header="Units In Stock"
            Name="UnitsInStock"
            @ref="unitsInStock">
            </IgbColumn>
            
            <IgbColumn
            Field="QuantityPerUnit"
            Header="Quantity Per Unit"
            Name="QuantityPerUnit"
            @ref="quantityPerUnit">
            </IgbColumn>
            
            <IgbColumn
            Field="ReorderLevel"
            Header="Reorder Level"
            Name="ReorderLevel"
            @ref="reorderLevel">
            </IgbColumn>
            
            <IgbColumn
            Field="SupplierID"
            Header="Supplier ID"
            Name="SupplierID"
            @ref="supplierID">
            </IgbColumn>
            
            <IgbColumn
            Field="CategoryID"
            Header="Category ID"
            Name="CategoryID"
            @ref="categoryID">
            </IgbColumn>
            
            <IgbColumn
            Field="Discontinued"
            Header="Discontinued"
            Name="Discontinued"
            @ref="discontinued">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override void OnInitialized()
    {
    }

    private Action BindElements { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        var propertyEditorPanel1 = this.propertyEditorPanel1;
        var propertyEditorPropertyDescription1 = this.propertyEditorPropertyDescription1;
        var propertyEditorPropertyDescription2 = this.propertyEditorPropertyDescription2;
        var propertyEditorPropertyDescription3 = this.propertyEditorPropertyDescription3;
        var grid = this.grid;
        var productID = this.productID;
        var productName = this.productName;
        var unitPrice = this.unitPrice;
        var unitsOnOrder = this.unitsOnOrder;
        var unitsInStock = this.unitsInStock;
        var quantityPerUnit = this.quantityPerUnit;
        var reorderLevel = this.reorderLevel;
        var supplierID = this.supplierID;
        var categoryID = this.categoryID;
        var discontinued = this.discontinued;

        this.BindElements = () => {
            propertyEditorPanel1.Target = this.grid;
        };
        this.BindElements();
    }

    private IgbPropertyEditorPanel propertyEditorPanel1;
    private IgbPropertyEditorPropertyDescription propertyEditorPropertyDescription1;
    private IgbPropertyEditorPropertyDescription propertyEditorPropertyDescription2;
    private IgbPropertyEditorPropertyDescription propertyEditorPropertyDescription3;
    private IgbGrid grid;
    private IgbColumn productID;
    private IgbColumn productName;
    private IgbColumn unitPrice;
    private IgbColumn unitsOnOrder;
    private IgbColumn unitsInStock;
    private IgbColumn quantityPerUnit;
    private IgbColumn reorderLevel;
    private IgbColumn supplierID;
    private IgbColumn categoryID;
    private IgbColumn discontinued;

    
    public void WebGridUndo(IgbPropertyEditorPropertyDescriptionButtonClickEventArgs args)
    {
    	Console.WriteLine("test");
    
    	//TODO
    
    	// this.grid.endEdit(true);
        // this.grid.transactions.undo();
    }
        
    
    public void WebGridRedo(IgbPropertyEditorPropertyDescriptionButtonClickEventArgs args)
    {
    	Console.WriteLine("test");
    
    	//TODO
    
    	// this.grid.endEdit(true);
        // this.grid.transactions.redo();
    
    }
        
    
    public void WebGridCommit(IgbPropertyEditorPropertyDescriptionButtonClickEventArgs args)
    {
    	Console.WriteLine("test");
    
    	//TODO
    
    	// this.grid.transactions.commit(this.data);
        // this.dialog.close();
    }
        
    private NwindData _nwindData = null;
    public NwindData NwindData
    {
        get
        {
            if (_nwindData == null)
            {
                _nwindData = new NwindData(); 
            }
            return _nwindData;
        }
    }
    
}