@using IgniteUI.Blazor.Controls

<div class="container sample center">
    <IgbRating class="size-large" Label="Rate Experience" Single>
        <IgbRatingSymbol>
          <span>😣</span>
          <span slot="empty">😣</span>
        </IgbRatingSymbol>
        <IgbRatingSymbol>
          <span>😔</span>
          <span slot="empty">😔</span>
        </IgbRatingSymbol>
        <IgbRatingSymbol>
          <span>😐</span>
          <span slot="empty">😐</span>
        </IgbRatingSymbol>
        <IgbRatingSymbol>
          <span>🙂</span>
          <span slot="empty">🙂</span>
        </IgbRatingSymbol>
        <IgbRatingSymbol>
          <span>😆</span>
          <span slot="empty">😆</span>
        </IgbRatingSymbol>
    </IgbRating>
</div>

@code { }
