@page "/MapMarkerTemplate"

@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor;
@inject IJSRuntime JSRuntime;

<div class="igContainer">    
    <div class="igComponent">
        <GeographicMap Height="100%" Width="100%" Zoomable="true">
        </GeographicMap>
    </div>    
</div>

@code {

    //TODO!!

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GeographicMapModule.Register(InfragisticsBlazor);
    }
}
