@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="options horizontal">
        <label>
            Date Formats:
            <select @bind="DateFormat">
                <option>@DateFormats.DateLong</option>
                <option>@DateFormats.DateShort</option>
            </select>
        </label>
    </div>
    <div class="container vertical">
        <IgbXDatePicker @ref="DatePicker" Height="60px" Width="300px"
                    Value="@SelectedDate"
                    DateFormat="@DateFormat"
                    AllowTextInput="false" />
    </div>
</div>

@code {

    public DateTime SelectedDate { get; set; }
    public IgbXDatePicker DatePicker { get; set; }
    public DateFormats DateFormat { get; set; }

    protected override void OnInitialized()
    {
        this.SelectedDate = DateTime.Today;
        this.DateFormat = DateFormats.DateLong;
    }
}
