@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <div class="container vertical fill">
        <IgbColorEditor
        Name="colorEditor"
        @ref="colorEditor">
        </IgbColorEditor>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var colorEditor = this.colorEditor;

    }

    private IgbColorEditor colorEditor;

}