@using IgniteUI.Blazor.Controls

<div class="container vertical">

    <div class="container vertical fill">
        <IgbGrid
        Name="grid"
        @ref="grid"
        Id="grid"
        Data="CustomersData"
        ColumnSelection="GridSelectionMode.Multiple">
            <IgbColumnGroup
            Header="General Information">
                <IgbColumn
                Field="CompanyName"
                Header="Company">
                </IgbColumn>

                <IgbColumnGroup
                Header="Personal Details">
                    <IgbColumn
                    Field="ContactName"
                    Header="Name"
                    Hidden="true">
                    </IgbColumn>

                    <IgbColumn
                    Field="ContactTitle"
                    Header="Title"
                    Selectable="false">
                    </IgbColumn>

                </IgbColumnGroup>

            </IgbColumnGroup>

            <IgbColumn
            Field="ID">
            </IgbColumn>

            <IgbColumnGroup
            Header="Country Information">
                <IgbColumnGroup
                Header="Region Information">
                    <IgbColumn
                    Field="Country"
                    Selectable="false">
                    </IgbColumn>

                    <IgbColumn
                    Field="City">
                    </IgbColumn>

                    <IgbColumn
                    Field="PostalCode">
                    </IgbColumn>

                </IgbColumnGroup>

                <IgbColumnGroup
                Header="City Information">
                    <IgbColumn
                    Field="Fax"
                    Selectable="false">
                    </IgbColumn>

                    <IgbColumn
                    Field="Address"
                    Selectable="false">
                    </IgbColumn>

                </IgbColumnGroup>

            </IgbColumnGroup>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;

    }

    private IgbGrid grid;

    private CustomersData _customersData = null;
    public CustomersData CustomersData
    {
        get
        {
            if (_customersData == null)
            {
                _customersData = new CustomersData();
            }
            return _customersData;
        }
    }

}