@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;

<div class="igContainer">

    <div class="igComponent">

        @if (DataSource != null)
        {
            <DataGrid Height="100%" Width="100%"
                      DefaultColumnMinWidth="120"
                      DataSource="@DataSource"
                      AutoGenerateColumns="false">
                        <TextColumn Field="ID" Width="110" />
                        <TextColumn Field="FirstName" Width="190" />
                        <TextColumn Field="LastName" Width="190" />
                        <DateTimeColumn Field="Birthday" Width="170" />
                        <NumericColumn Field="Age" Width="120" />
                        <ImageColumn Field="CountryFlag" />
                        <TextColumn Field="Street" Width="160" />
                        <TextColumn Field="City" Width="260" />
                        <TextColumn Field="Country" Width="170" />
                        <NumericColumn Field="Salary" Width="170" />
                        <NumericColumn Field="Sales" Width="120" />
                        <NumericColumn Field="Salary" Width="120" PositivePrefix="$"
                                       ShowGroupingSeparator="true"
                                       MaxFractionDigits="0"
                                       MinFractionDigits="0" />
            </DataGrid>
        }

    </div>
</div>

@code {

    private List<Employee> DataSource;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataGridModule.Register(IgniteUIBlazor);

        this.DataSource = EmployeeData.Create(200, false);

    }

}
