
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igOptions-horizontal">
        <button @onclick="onAnimationToggle">Animate Chart</button>
    </div>
    <div class="igComponent">
        @if (Data != null)
        {
            <PieChart Height="100%" Width="100%"
                DataSource="Data"
                LabelMemberPath="Company"
                ValueMemberPath="MarketShare"
                LabelsPosition="LabelsPosition.InsideEnd"
                StartAngle="StartAngle"
                LabelExtent="LabelExtent"
                RadiusFactor="RadiusFactor">
            </PieChart>
        }
    </div>
</div>

@code {

    private List<DataItem> Data;
    public double StartAngle = 0;
    public double RadiusFactor = 0.1;
    public double LabelExtent = 0.7;
    public Boolean isAnimating = false;

    public void onAnimationToggle()
    {
        if (!this.isAnimating)
        {
            this.StartAngle = 0;
            this.RadiusFactor = 0.1;
            this.isAnimating = true;

            Task.Delay(16).ContinueWith((t) => OnTimerTick());
        }
        else
        {
            this.isAnimating = false;
        }
    }

    private void OnTimerTick()
    {
        if (this.isAnimating)
        {
            if (this.RadiusFactor < 1.0)
                this.RadiusFactor += 0.0025;

            if (this.StartAngle < 360)
                this.StartAngle++;

            if (this.RadiusFactor >= 1.0 &&
                this.StartAngle >= 360)
            {
                this.isAnimating = false;
            }

            Task.Delay(16).ContinueWith((t) => OnTimerTick());
            this.StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        PieChartModule.Register(IgniteUIBlazor);

        var dataItems = new List<DataItem>();
        dataItems.Add(new DataItem() { MarketShare = 25, Company = "Residential Appliance", });
        dataItems.Add(new DataItem() { MarketShare = 12, Company = "Heating", });
        dataItems.Add(new DataItem() { MarketShare = 8,  Company = "Lighting", });
        dataItems.Add(new DataItem() { MarketShare = 18, Company = "Other Services", });
        dataItems.Add(new DataItem() { MarketShare = 37, Company = "Space Cooling", });

        Data = dataItems;

        this.onAnimationToggle();
    }

    public class DataItem
    {
        public string Company { get; set; }
        public double MarketShare { get; set; }
    }
}