@using IgniteUI.Blazor.Controls;


@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">




    <div class="container vertical fill">
        <IgbGrid
        Data="NwindData"
        PrimaryKey="ProductID"
        RowEditable="true"
        BatchEditing="true"
        Name="grid"
        @ref="grid">
            <IgbColumn
            Field="ProductID"
            Header="Product ID"
            Name="ProductID"
            @ref="productID">
            </IgbColumn>
            
            <IgbColumn
            Field="ProductName"
            Header="Product Name"
            Name="ProductName"
            @ref="productName">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitPrice"
            Header="Unit Price"
            Name="UnitPrice"
            @ref="unitPrice">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitsOnOrder"
            Header="Units On Order"
            Name="UnitsOnOrder"
            @ref="unitsOnOrder">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitsInStock"
            Header="Units In Stock"
            Name="UnitsInStock"
            @ref="unitsInStock">
            </IgbColumn>
            
            <IgbColumn
            Field="QuantityPerUnit"
            Header="Quantity Per Unit"
            Name="QuantityPerUnit"
            @ref="quantityPerUnit">
            </IgbColumn>
            
            <IgbColumn
            Field="ReorderLevel"
            Header="Reorder Level"
            Name="ReorderLevel"
            @ref="reorderLevel">
            </IgbColumn>
            
            <IgbColumn
            Field="SupplierID"
            Header="Supplier ID"
            Name="SupplierID"
            @ref="supplierID">
            </IgbColumn>
            
            <IgbColumn
            Field="CategoryID"
            Header="Category ID"
            Name="CategoryID"
            @ref="categoryID">
            </IgbColumn>
            
            <IgbColumn
            Field="Discontinued"
            Header="Discontinued"
            Name="Discontinued"
            @ref="discontinued">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override void OnInitialized()
    {
    }

    private Action BindElements { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        var grid = this.grid;
        var productID = this.productID;
        var productName = this.productName;
        var unitPrice = this.unitPrice;
        var unitsOnOrder = this.unitsOnOrder;
        var unitsInStock = this.unitsInStock;
        var quantityPerUnit = this.quantityPerUnit;
        var reorderLevel = this.reorderLevel;
        var supplierID = this.supplierID;
        var categoryID = this.categoryID;
        var discontinued = this.discontinued;

        this.BindElements = () => {
        };
        this.BindElements();
    }

    private IgbGrid grid;
    private IgbColumn productID;
    private IgbColumn productName;
    private IgbColumn unitPrice;
    private IgbColumn unitsOnOrder;
    private IgbColumn unitsInStock;
    private IgbColumn quantityPerUnit;
    private IgbColumn reorderLevel;
    private IgbColumn supplierID;
    private IgbColumn categoryID;
    private IgbColumn discontinued;

    private NwindData _nwindData = null;
    public NwindData NwindData
    {
        get
        {
            if (_nwindData == null)
            {
                _nwindData = new NwindData(); 
            }
            return _nwindData;
        }
    }
    
}