@using IgniteUI.Blazor.Controls

<div class="container vertical ig-typography">
    <div class="container vertical fill">

        <IgbHierarchicalGrid
            Id="hGrid"
            PrimaryKey="customerId"
            Height="600px"
            RenderedScript="OnGridRendered"
        >
            <IgbColumn Field="customerId" Hidden="true"></IgbColumn>
            <IgbColumn Field="companyName" Header="Company Name"></IgbColumn>
            <IgbColumn Field="contactName" Header="Contact Name"></IgbColumn>
            <IgbColumn Field="contactTitle" Header="Contact Title"></IgbColumn>
            <IgbColumn Field="address.country" Header="Country"></IgbColumn>
            <IgbColumn Field="address.phone" Header="Phone"></IgbColumn>

            <IgbRowIsland ChildDataKey="Orders" PrimaryKey="orderId" GridCreatedScript="OnGridCreated">
                <IgbColumn Field="orderId" Hidden="true"></IgbColumn>
                <IgbColumn Field="shipAddress.country" Header="Ship Country"></IgbColumn>
                <IgbColumn Field="shipAddress.city" Header="Ship City"></IgbColumn>
                <IgbColumn Field="shipAddress.street" Header="Ship Address"></IgbColumn>
                <IgbColumn Field="orderDate" Header="Order Date" DataType="GridColumnDataType.Date"></IgbColumn>

                <IgbRowIsland ChildDataKey="Details" PrimaryKey="productId" GridCreatedScript="OnGridCreated">
                    <IgbColumn Field="productId" Hidden="true"></IgbColumn>
                    <IgbColumn Field="quantity" Header="Quantity"></IgbColumn>
                    <IgbColumn Field="unitPrice" Header="Unit Price"></IgbColumn>
                    <IgbColumn Field="discount" Header="Discount"></IgbColumn>
                </IgbRowIsland>
            </IgbRowIsland>
        </IgbHierarchicalGrid>

    </div>
</div>

@code {

}