.states-container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.sample-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    min-height: 5.5rem;
}

igc-button-group {
    display: inline-block;
    max-width: 400px;
}

.sample-layout igc-toggle-button {
    min-width: 100px;
}

.sample-layout igc-icon {
    --ig-size: 20px;
    --igc-icon-size: 20px;
}
