/* shared styles are loaded from: */
/* https://dl.infragistics.com/x/css/samples/shared.v8.css */

igc-ripple {
    --color: gray;
}

.button-group-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    min-height: 6rem;
}

.button-group-layout igc-toggle-button {
    min-width: 100px;
}

.button-group-layout igc-icon {
    --size: 20px;
}
