@using IgniteUI.Blazor.Controls

@inject IJSRuntime JS

<div class="container vertical">
    <div class="options vertical">
        <IgbPropertyEditorPanel
        
        DescriptionType="WebTreeGrid"
        IsHorizontal="true"
        IsWrappingEnabled="true"
        Name="PropertyEditor"
        @ref="propertyEditor">
            <IgbPropertyEditorPropertyDescription
            PropertyPath="ClipboardOptions.Separator"
            Label="Change Copy Separator"
            ValueType="PropertyEditorValueType.StringValue">
            </IgbPropertyEditorPropertyDescription>
            
            <IgbPropertyEditorPropertyDescription
            ValueType="PropertyEditorValueType.Boolean1"
            Label="Grid Copy Behavior"
            PropertyPath="ClipboardOptions.Enabled"
            PrimitiveValue="true"
            Name="ClipboardEnabledEditor"
            @ref="clipboardEnabledEditor">
            </IgbPropertyEditorPropertyDescription>
            
            <IgbPropertyEditorPropertyDescription
            ValueType="PropertyEditorValueType.Boolean1"
            Label="Copying of Header Labels"
            PropertyPath="ClipboardOptions.CopyHeaders"
            PrimitiveValue="true"
            Name="ClipboardHeadersEditor"
            @ref="clipboardHeadersEditor">
            </IgbPropertyEditorPropertyDescription>
            
            <IgbPropertyEditorPropertyDescription
            ValueType="PropertyEditorValueType.Boolean1"
            Label="Copying Column Formatters"
            PropertyPath="ClipboardOptions.CopyFormatters"
            PrimitiveValue="true"
            Name="ClipboardFormattersEditor"
            @ref="clipboardFormattersEditor">
            </IgbPropertyEditorPropertyDescription>
            
            <IgbPropertyEditorPropertyDescription
            ValueType="PropertyEditorValueType.Button"
            PrimitiveValue="@("Clear Selection")"
            ButtonClickedScript="WebGridClearSelection"
            Name="propertyEditorPropertyDescription1"
            @ref="propertyEditorPropertyDescription1">
            </IgbPropertyEditorPropertyDescription>
            
        </IgbPropertyEditorPanel>
        
    </div>

    <div class="container vertical fill">
        <IgbTreeGrid
        AutoGenerate="false"
        ForeignKey="ParentID"
        Id="treeGrid"
        Data="EmployeesFlatDetails"
        PrimaryKey="ID"
        ColumnInitScript="WebGridClipboardOperationsColumnInit"
        Name="treeGrid"
        @ref="treeGrid">
            <IgbColumn
            Field="ID"
            Sortable="true"
            DataType="GridColumnDataType.Number">
            </IgbColumn>
            
            <IgbColumn
            Field="Name"
            DataType="GridColumnDataType.String"
            Sortable="true"
            DisableHiding="true">
            </IgbColumn>
            
            <IgbColumn
            Field="Title"
            DataType="GridColumnDataType.String"
            Sortable="true"
            DisableHiding="true">
            </IgbColumn>
            
            <IgbColumn
            Field="HireDate"
            DataType="GridColumnDataType.Date"
            Sortable="true"
            Hidden="true">
            </IgbColumn>
            
            <IgbColumn
            Field="Age"
            DataType="GridColumnDataType.Number"
            Sortable="true"
            Hidden="true">
            </IgbColumn>
            
            <IgbColumn
            Field="Address"
            DataType="GridColumnDataType.String"
            Sortable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="City"
            DataType="GridColumnDataType.String"
            Sortable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="Country"
            DataType="GridColumnDataType.String"
            Sortable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="Fax"
            DataType="GridColumnDataType.String"
            Sortable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="PostalCode"
            DataType="GridColumnDataType.String"
            Sortable="true"
            Header="Postal Code">
            </IgbColumn>
            
            <IgbColumn
            Field="Phone"
            DataType="GridColumnDataType.String"
            Sortable="true">
            </IgbColumn>
            
        </IgbTreeGrid>
        
    </div>
</div>

@code {

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var propertyEditor = this.propertyEditor;
        var clipboardEnabledEditor = this.clipboardEnabledEditor;
        var clipboardHeadersEditor = this.clipboardHeadersEditor;
        var clipboardFormattersEditor = this.clipboardFormattersEditor;
        var propertyEditorPropertyDescription1 = this.propertyEditorPropertyDescription1;
        var treeGrid = this.treeGrid;

        this.BindElements = () => {
            propertyEditor.Target = this.treeGrid;
        };
        this.BindElements();

    }

    private IgbPropertyEditorPanel propertyEditor;
    private IgbPropertyEditorPropertyDescription clipboardEnabledEditor;
    private IgbPropertyEditorPropertyDescription clipboardHeadersEditor;
    private IgbPropertyEditorPropertyDescription clipboardFormattersEditor;
    private IgbPropertyEditorPropertyDescription propertyEditorPropertyDescription1;
    private IgbTreeGrid treeGrid;

    private EmployeesFlatDetails _employeesFlatDetails = null;
    public EmployeesFlatDetails EmployeesFlatDetails
    {
        get
        {
            if (_employeesFlatDetails == null)
            {
                _employeesFlatDetails = new EmployeesFlatDetails(); 
            }
            return _employeesFlatDetails;
        }
    }
    
}