@using IgniteUI.Blazor.Controls;


@inject IIgniteUIBlazor IgniteUIBlazor
@inject IJSRuntime JS

<div class="container vertical">




    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="CustomersData"
        PrimaryKey="ID"
        RowDraggable="true"
        CellSelection="GridSelectionMode.None"
        Name="grid"
        @ref="grid">
            <IgbPinningConfig
            Rows="RowPinningPosition.Top">
            </IgbPinningConfig>
            
            <IgbColumn
            Field="CompanyName"
            Header="Company Name">
            </IgbColumn>
            
            <IgbColumn
            Field="ContactName"
            Header="Contact Name">
            </IgbColumn>
            
            <IgbColumn
            Field="ContactTitle"
            Header="Contact Title">
            </IgbColumn>
            
            <IgbColumn
            Field="Address">
            </IgbColumn>
            
            <IgbColumn
            Field="City">
            </IgbColumn>
            
            <IgbColumn
            Field="PostalCode">
            </IgbColumn>
            
            <IgbColumn
            Field="Phone">
            </IgbColumn>
            
            <IgbColumn
            Field="Fax">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;

        this.BindElements = () => {
        };
        this.BindElements();

        if (firstRender) {
        }
	}

    private IgbGrid grid;

    private CustomersData _customersData = null;
    public CustomersData CustomersData
    {
        get
        {
            if (_customersData == null)
            {
                _customersData = new CustomersData(); 
            }
            return _customersData;
        }
    }
    
}