
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Renewable Electricity Generated</span>
        <div class="legend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>

    <div class="container vertical">
        @if (Data != null)
        {
            <CategoryChart Height="100%" Width="100%"
                ChartType="CategoryChartType.Spline"
                DataSource="Data"
                Legend="Legend"
                YAxisTitle="TWh"
                ToolTipType="ToolTipType.Category"
				IsTransitionInEnabled="true"
				IsHorizontalZoomEnabled="false"
                IsVerticalZoomEnabled="false">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private Legend _Legend;
    private Legend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    private List<EnergyRenewableInfo> Data;

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
        this.Data = new EnergyRenewableData();
    }
}