@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor

<div class="igContainer">
    <div class="igComponent">

        <DataChart Height="100%" Width="100%"
                   Subtitle="Average Temperatures between 1900-2020"
                   SubtitleTopMargin="10"
                   IsHorizontalZoomEnabled="true"
                   IsVerticalZoomEnabled="true">

            <CategoryXAxis Name="xAxis" Label="Year" DataSource="@DataSource"/>
            <NumericYAxis  Name="yAxis" Title="Temperature (in Celcius)"
                           TitleLeftMargin="10" />

            <RangeColumnSeries XAxisName="xAxis" Title="Temperature"
                               YAxisName="yAxis"
                               DataSource="@DataSource"
                               LowMemberPath="Low"
                               HighMemberPath="High"
                               ShowDefaultTooltip="true"
                               IsTransitionInEnabled="true"
                               Thickness="1"
                               Brush="rgba(129, 66, 245, 0.7)"
                               Outline="rgba(129, 66, 245, 0.9)">
            </RangeColumnSeries>
        </DataChart>

    </div>
</div>

@code {

    private List<SampleRangeItem> DataSource;

    protected override void OnInitialized()
    {
        DataChartCoreModule.Register(InfragisticsBlazor);
        DataChartCategoryModule.Register(InfragisticsBlazor);
        DataChartCategoryCoreModule.Register(InfragisticsBlazor);
        DataChartInteractivityModule.Register(InfragisticsBlazor);

        DataSource = SampleRangeData.Create();
    }

}