@* this namespace is required for Infragistics controls *@
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;

<div class="igContainer">

    <div class="igComponent">
        <div class="igOptions">
            <span class="igOptions-item">Section Header Display Mode: </span>
            <select class="igOptions-item" @bind="SectionHeaderClickAction">
                <option>@DataSourceSectionHeaderDisplayMode.Combined</option>
                <option>@DataSourceSectionHeaderDisplayMode.Split</option>
            </select>

    </div>

        @if (DataSource != null)
        {
            <DataGrid @ref=@DataGridRef Height="100%" Width="100%"
                      DataSource="@DataSource"
                      AutoGenerateColumns="false"
                      IsGroupCollapsable="true"
                      GroupHeaderDisplayMode="@SectionHeaderClickAction">
                <TextColumn Field="Name" Width="120" />
                <NumericColumn Field="Age" Width="110" />
                <DateTimeColumn Field="Birthday" HorizontalAlignment="CellContentHorizontalAlignment.Center" Width="160"/>
                <ImageColumn IsEditable="false" Field="CountryFlag" HeaderText="Country" Width="160"
                                PaddingTop="5" PaddingBottom="5" ContentOpacity="1" HorizontalAlignment="CellContentHorizontalAlignment.Center"/>
                <TextColumn Field="Street" />
                <NumericColumn Field="Salary" HeaderText="Salary" Width="130"
                                PositivePrefix="$" ShowGroupingSeparator="true"/>
                <TextColumn Field="City" />
                <NumericColumn Field="Salary" PositivePrefix="$" ShowGroupingSeparator="true" MaxFractionDigits="0" MinFractionDigits="0" />
            </DataGrid>
        }

    </div>
</div>

@code {

    private List<Employee> DataSource;
    private DataGrid grid;
    private DataSourceSectionHeaderDisplayMode SectionHeaderClickAction { get; set; } = DataSourceSectionHeaderDisplayMode.Combined;

    public DataGrid DataGridRef
    {
        get
        {
            return grid;
        }
        set
        {
            grid = value;
            OnGridCreated();

            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataGridModule.Register(IgniteUIBlazor);
        this.DataSource = EmployeeData.Create(200, false);
    }

    private void OnGridCreated()
    {
        var state = new ColumnGroupDescription { Field = "Country", DisplayName = "Location" };
        var city = new ColumnGroupDescription { Field = "City", DisplayName = "" };
        var income = new ColumnGroupDescription { Field = "Income", DisplayName = "Income" };

        grid.GroupDescriptions.Add(state);
        grid.GroupDescriptions.Add(city);
        grid.GroupDescriptions.Add(income);
    }

}
