@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Percentage Change in Energy Generation in 2019</span>
        <div class="legend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>

    <div class="container vertical">
             <CategoryChart Height="100%" Width="100%"
                           Legend="Legend"
                           DataSource="Data"  
                           ChartType="CategoryChartType.Column"
                           Brushes  ="#9de772 #8b5bb1 #6db1ff #ee5879 #f8a15f"
                           Outlines ="white" 
                           Thickness="2"
                           IsHorizontalZoomEnabled="false"
                           IsVerticalZoomEnabled="false"
                           IsSeriesHighlightingEnabled="true"
                           YAxisMinimumValue="-20" YAxisMaximumValue="30" YAxisInterval="10"
                           XAxisMajorStroke="LightGray" XAxisGap=".5" 
                           SeriesAddedScript="onCategoryChatColumnStylingSeries">
                @*note onCategoryChatColumnStylingSeries function is implemented in CategoryChartColumnStyling.js*@
            </CategoryChart>
    </div>
</div>

@code {
     
    private Legend _Legend;
    private Legend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    private List<EnergyChangeInfo> Data = new EnergyChangeData();

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
    }
}
