/*
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css//samples/
*/
#aboveContentSplit {
    display: flex;
    flex-direction: row;
}
#aboveContentLeftContainer {
    margin-left: 1.25rem;
    display: flex;
    flex-grow: 1;
    justify-content: start;
    align-items: end;
}
#aboveContentRightContainer {
    margin-right: 1.25rem;
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: end;
}

.annotationDialogPopup {
    display: none;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 23rem;
    background-color: white;
    border: 1px black solid;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: 0.05rem 0.05rem 0.5rem 0.05rem gray;
}

.annotationDialogButtons {
    height: auto; 
    justify-content: center; 
    align-items: center; 
    padding: 1rem; 
    gap: 1rem;
}
