@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igComponent">

        <DataChart Height="100%" Width="100%"
                   ChartTitle="Energy Production by Source"
                   TitleTopMargin="10"
                   IsHorizontalZoomEnabled="true"
                   IsVerticalZoomEnabled="true">

            <CategoryXAxis Name="xAxis" Label="Country" DataSource="@DataSource" />
            <NumericYAxis Name="yAxis" Title="Energy (in Billions Wh)" TitleLeftMargin="10" MinimumValue="0"/>

            <StackedSplineSeries XAxisName="xAxis"
                          YAxisName="yAxis"
                          DataSource="@DataSource"
                          AreaFillOpacity="1"
                          ShowDefaultTooltip="true" >
                <StackedFragmentSeries Name="coal" ValueMemberPath="Coal"  />
                <StackedFragmentSeries Name="hydro" ValueMemberPath="Hydro"  />
                <StackedFragmentSeries Name="nuclear" ValueMemberPath="Nuclear"  />
                <StackedFragmentSeries Name="solar" ValueMemberPath="Solar" />
                <StackedFragmentSeries Name="oil" ValueMemberPath="Oil"  />
            </StackedSplineSeries>
        </DataChart>

    </div>
</div>

@code {

    private List<SampleStackedItem> DataSource;
    private string Coal = "Coal";
    private string Hydro = "Hydro";
    private string Nuclear = "Nuclear";
    private string Solar = "Solar";
    private string Oil = "Oil";

    protected override void OnInitialized()
    {
        // TODO fix rendering of StackedSplineSeries
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartCategoryCoreModule.Register(IgniteUIBlazor);
        DataChartCategoryModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        DataChartStackedModule.Register(IgniteUIBlazor);
        ColumnFragmentModule.Register(IgniteUIBlazor);
        StackedSplineSeriesModule.Register(IgniteUIBlazor);
        StackedFragmentSeriesModule.Register(IgniteUIBlazor);

        DataSource = SampleStackedData.Create();

        Console.WriteLine("DataSource " + DataSource.Count);
    }
}