

<div class="container vertical ig-typography">
    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="CustomersData"
        PrimaryKey="ProductID"
        Name="grid"
        @ref="grid">
            <IgbColumn
            Field="ID"
            Width="auto"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Field="CompanyName"
            Header="Company Name"
            Width="auto"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Field="ContactName"
            Header="Name"
            Width="auto"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Field="ContactTitle"
            Header="Title"
            Width="auto"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Field="Address"
            Width="auto"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Field="City"
            Width="auto"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Field="Region"
            Width="auto"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Field="PostalCode"
            Header="Postal Code"
            Width="auto"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Field="Phone"
            Width="auto"
            Resizable="true">
            </IgbColumn>

            <IgbColumn
            Field="Fax"
            Width="auto"
            Resizable="true">
            </IgbColumn>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;

    }

    private IgbGrid grid;

    private CustomersData _customersData = null;
    public CustomersData CustomersData
    {
        get
        {
            if (_customersData == null)
            {
                _customersData = new CustomersData();
            }
            return _customersData;
        }
    }

}