

<div class="container vertical">
    <div class="container vertical fill">
        <IgbFinancialChart
        Name="chart"
        @ref="chart"
        IsToolbarVisible="false"
        IsVerticalZoomEnabled="true"
        IsHorizontalZoomEnabled="true"
        DataSource="MultipleStocks"
        VerticalViewScrollbarMode="SeriesViewerScrollbarMode.Fading"
        HorizontalViewScrollbarMode="SeriesViewerScrollbarMode.Persistent"
        ZoomSliderType="FinancialChartZoomSliderType.None"
        WindowRect="@(new Rect(0, 0, 0.5, 1))">
        </IgbFinancialChart>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var chart = this.chart;

    }

    private IgbFinancialChart chart;

    private MultipleStocks _multipleStocks = null;
    public MultipleStocks MultipleStocks
    {
        get
        {
            if (_multipleStocks == null)
            {
                MultipleStocks.Fetch().ContinueWith((t) => {_multipleStocks = t.Result;  StateHasChanged(); });
            }
            return _multipleStocks;
        }
    }

}