@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Highest Grossing Movie Franchises</span>
        <div class="legend">
            <IgbLegend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="container vertical">
        @if (Data != null)
        {
            <IgbCategoryChart Height="100%" Width="100%"
                           DataSource="Data"
                           IsTransitionInEnabled="true" XAxisInterval="1"
                           ChartType="CategoryChartType.Column"
                           ToolTipType="ToolTipType.None"
                           SeriesPointerEnterScript="onCategoryChatTooltipCreated"
                           SeriesAddedScript="onCategoryChatTooltipSeriesAdded">
            </IgbCategoryChart>
        }
    </div>
</div>

@code {

    private List<FilmFranchiseInfo> Data = new FilmFranchiseData();

    private IgbLegend _Legend;
    private IgbLegend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

}