@using IgniteUI.Blazor.Controls;

@inject IIgniteUIBlazor IgniteUIBlazor
@inject IJSRuntime JS

<div class="container vertical">
    <div class="options vertical">
        <IgbPropertyEditorPanel
        
        DescriptionType="WebGrid"
        IsHorizontal="true"
        IsWrappingEnabled="true"
        Name="PropertyEditor"
        @ref="propertyEditor">
            <IgbPropertyEditorPropertyDescription
            PropertyPath="ColumnSelection"
            Label="Column Selection"
            Name="columnSelectionEditor"
            @ref="columnSelectionEditor">
            </IgbPropertyEditorPropertyDescription>
            
        </IgbPropertyEditorPanel>
        
    </div>

    <div class="container vertical fill">
        <IgbGrid
        Id="grid"
        Data="CustomersData"
        ColumnSelection="GridSelectionMode.Single"
        Name="grid"
        @ref="grid">
            <IgbColumn
            Field="ID">
            </IgbColumn>
            
            <IgbColumn
            Field="CompanyName"
            Header="Company">
            </IgbColumn>
            
            <IgbColumn
            Field="ContactTitle"
            Header="Title"
            Selectable="false">
            </IgbColumn>
            
            <IgbColumn
            Field="City"
            Selectable="false">
            </IgbColumn>
            
            <IgbColumn
            Field="Country">
            </IgbColumn>
            
            <IgbColumn
            Field="PostalCode"
            Header="Postal Code">
            </IgbColumn>
            
            <IgbColumn
            Field="Address"
            Selectable="false">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var propertyEditor = this.propertyEditor;
        var columnSelectionEditor = this.columnSelectionEditor;
        var grid = this.grid;

        this.BindElements = () => {
            propertyEditor.Target = this.grid;
        };
        this.BindElements();


	}

    private IgbPropertyEditorPanel propertyEditor;
    private IgbPropertyEditorPropertyDescription columnSelectionEditor;
    private IgbGrid grid;

    private CustomersData _customersData = null;
    public CustomersData CustomersData
    {
        get
        {
            if (_customersData == null)
            {
                _customersData = new CustomersData(); 
            }
            return _customersData;
        }
    }
    
}