@using IgniteUI.Blazor.Controls

<div class="container sample center">
    <IgbSelect>
        <IgbSelectHeader>Tasks</IgbSelectHeader>
        <IgbSelectItem Value="spec" Selected>Specification</IgbSelectItem>
        <IgbSelectItem Value="implement">Implementation</IgbSelectItem>
        <IgbSelectItem Value="test" Disabled>Testing</IgbSelectItem>
        <IgbSelectItem Value="docs">Documentation</IgbSelectItem>
    </IgbSelect>
</div>

@code { }
