igc-date-time-input::part(input) {
    background-color: var(--ig-primary-100);
    border-color: var(--ig-secondary-500);
    box-shadow: none;
}

igc-date-time-input::part(prefix),
igc-date-time-input::part(suffix) {
    color: var(--ig-primary-600-contrast);
    background-color: var(--ig-primary-500);
    border-color: var(--ig-secondary-500);
}
