@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
	
	<div class="legend-title">
        Total Population of Selected Countries
    </div>
	<div class="legend">
        <IgbLegend
        Orientation="LegendOrientation.Horizontal"
        Name="Legend"
        @ref="legend">
        </IgbLegend>
    </div>
    <div class="container vertical fill">
        <IgbDataChart
        
        Name="chart"
        @ref="chart">
            <IgbNumericXAxis
            Title="Hours Worked per Week"
            Name="xAxis"
            @ref="xAxis">
            </IgbNumericXAxis>
            <IgbNumericYAxis
            IsLogarithmic="true"
            AbbreviateLargeNumbers="true"
            Title="GDP per Capita"
            Name="yAxis"
            @ref="yAxis">
            </IgbNumericYAxis>
            <IgbBubbleSeries
            RadiusMemberPath="Population"
            XAxisName="xAxis"
            YAxisName="yAxis"
            XMemberPath="WorkedHours"
            YMemberPath="GDP"
            MarkerType="MarkerType.Circle"
            MarkerThickness="2"
            MarkerBrush="#bae772"
            MarkerOutline="#bae772"
            DataSource="CountryDemographicAfrican"
            ShowDefaultTooltip="true"
            Title="African Countries"
            Name="BubbleSeries1"
            @ref="bubbleSeries1">
            </IgbBubbleSeries>
            <IgbBubbleSeries
            Title="European Countries"
            XAxisName="xAxis"
            YAxisName="yAxis"
            XMemberPath="WorkedHours"
            YMemberPath="GDP"
            RadiusMemberPath="Population"
            DataSource="CountryDemographicEurope"
            MarkerType="MarkerType.Circle"
            MarkerOutline="#f8ae5f"
            MarkerBrush="#f8ae5f"
            MarkerThickness="2"
            ShowDefaultTooltip="true"
            Name="BubbleSeries2"
            @ref="bubbleSeries2">
            </IgbBubbleSeries>
        </IgbDataChart>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }

	private Action BindElements { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		var legend = this.legend;
		var chart = this.chart;
		var xAxis = this.xAxis;
		var yAxis = this.yAxis;
		var bubbleSeries1 = this.bubbleSeries1;
		var bubbleSeries2 = this.bubbleSeries2;

        this.BindElements = () => {
            chart.Legend = this.legend;
        };
        this.BindElements();
	}

	private IgbLegend legend;
	private IgbDataChart chart;
	private IgbNumericXAxis xAxis;
	private IgbNumericYAxis yAxis;
	private IgbBubbleSeries bubbleSeries1;
	private IgbBubbleSeries bubbleSeries2;


    private SizeScaleItem _sizeScale = null;
    public SizeScaleItem SizeScale
    {
        get
        {
            if (_sizeScale == null)
            {
                _sizeScale = 
                new SizeScaleItem()
                {
                    type = @"SizeScale",
                    minimumValue = 10,
                    maximumValue = 50
                }}
            return _sizeScale;
        }
    }
    
    private CountryDemographicAfrican _countryDemographicAfrican = null;
    public CountryDemographicAfrican CountryDemographicAfrican
    {
        get
        {
            if (_countryDemographicAfrican == null)
            {
                _countryDemographicAfrican = new CountryDemographicAfrican(); 
            }
            return _countryDemographicAfrican;
        }
    }
    
    private CountryDemographicEurope _countryDemographicEurope = null;
    public CountryDemographicEurope CountryDemographicEurope
    {
        get
        {
            if (_countryDemographicEurope == null)
            {
                _countryDemographicEurope = new CountryDemographicEurope(); 
            }
            return _countryDemographicEurope;
        }
    }
    
}