@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Total Population of Selected Countries</span>
        <div class="legend">
            <IgbLegend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="container vertical">

        <IgbDataChart Height="100%" Width="100%"
                   Legend="Legend"
                   IsHorizontalZoomEnabled="true"
                   IsVerticalZoomEnabled="true">

            <IgbNumericYAxis Name="yAxis" Title="GDP per Capita" AbbreviateLargeNumbers="true" IsLogarithmic="true"  />
            <IgbNumericXAxis Name="xAxis" Title="Hours Worked per Week"   />

            <BubbleSeries XAxisName="xAxis"
                          YAxisName="yAxis"
                          DataSource="AfricaData"
                          Title="African Countries"
                          YMemberPath="GDP"
                          XMemberPath="WorkedHours"
                          MarkerType="MarkerType.Circle"
                          MarkerOutline="rgb(186,231,114)"
                          MarkerBrush="rgb(186,231,114)"
                          MarkerFillOpacity="0.5"
                          MarkerThickness="2"
                          RadiusScale="@MarkerSizeScale"
                          RadiusMemberPath="Population"
                          ShowDefaultTooltip="true">
            </BubbleSeries>

            <BubbleSeries XAxisName="xAxis"
                          YAxisName="yAxis"
                          DataSource="EuropeData"
                          Title="European Countries"
                          YMemberPath="GDP"
                          XMemberPath="WorkedHours"
                          MarkerType="MarkerType.Circle"
                          MarkerOutline="rgb(248,174,95)"
                          MarkerBrush="rgb(248,174,95)"
                          MarkerFillOpacity="0.5"
                          MarkerThickness="2"
                          RadiusScale="@MarkerSizeScale"
                          RadiusMemberPath="Population"
                          ShowDefaultTooltip="true">
            </BubbleSeries>

        </IgbDataChart>

    </div>
</div>

@code {

    private IgbLegend _legend;
    public IgbLegend Legend
    {
        get { return _legend; }
        set { _legend = value; StateHasChanged(); }
    }

    private List<CountryStats> AfricaData;
    private List<CountryStats> EuropeData;

    private SizeScale MarkerSizeScale = new SizeScale { MinimumValue = 10, MaximumValue = 50 };

    public void InitializeData()
    {
        var data = new CountryDataStats();

        this.AfricaData = data.Where(d => d.Continent == "Africa").ToList();
        this.EuropeData = data.Where(d => d.Continent == "Europe").ToList();
    }

    protected override void OnInitialized()
    {
        IgbLegendModule.Register(IgniteUIBlazor);
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartScatterModule.Register(IgniteUIBlazor);
        IgbDataChartScatterCoreModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbNumberAbbreviatorModule.Register(IgniteUIBlazor);

        InitializeData();
    }
}