@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <div class="legend">
        <IgbDataLegend
        Name="Legend"
        @ref="legend"
        IncludedColumns="@(new string[] { "Close", "Change", "Value" })"
        ExcludedColumns="@(new string[] { "High", "Low", "Open", "Volume" })"
        LabelDisplayMode="DataLegendLabelMode.Hidden"
        ValueFormatMode="DataLegendValueMode.Currency"
        ValueFormatCulture="en-GB">
        </IgbDataLegend>

    </div>
    <div class="container vertical fill">
        <IgbFinancialChart
        Name="chart"
        @ref="chart"
        ChartType="FinancialChartType.Candle"
        DataSource="MultipleStocks"
        DataToolTipValueFormatMode="DataLegendValueMode.Currency"
        DataToolTipValueFormatCulture="en-GB"
        DataToolTipLabelDisplayMode="DataLegendLabelMode.Hidden"
        DataToolTipIncludedColumns="@(new string[] { "Close", "Change", "Value" })"
        DataToolTipHeaderFormatTime="DataLegendHeaderTimeMode.None"
        ZoomSliderType="FinancialChartZoomSliderType.None"
        YAxisLabelFormat="{0}"
        XAxisLabelFormat="{0}">
            <IgbNumberFormatSpecifier
            Currency="EUR"
            Style="currency"
            Locale="en-GB"
            MinimumFractionDigits="0">
            </IgbNumberFormatSpecifier>

            <IgbDateTimeFormatSpecifier
            Locale="en-GB"
            DateStyle="long">
            </IgbDateTimeFormatSpecifier>

        </IgbFinancialChart>

    </div>
</div>

@code {

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var legend = this.legend;
        var chart = this.chart;

        this.BindElements = () => {
            legend.Target = this.chart;
        };
        this.BindElements();

    }

    private IgbDataLegend legend;
    private IgbFinancialChart chart;

    private MultipleStocks _multipleStocks = null;
    public MultipleStocks MultipleStocks
    {
        get
        {
            if (_multipleStocks == null)
            {
                MultipleStocks.Fetch().ContinueWith((t) => {_multipleStocks = t.Result;  StateHasChanged(); });
            }
            return _multipleStocks;
        }
    }

}