
@inject IJSRuntime JS

<div class="container vertical ig-typography">
    <div class="container vertical fill">
        <IgbTreeGrid
        AutoGenerate="false"
        Data="EmployeesFlatData"
        Name="grid"
        @ref="grid"
        Id="grid"
        RowEditable="true"
        PrimaryKey="ID"
        ForeignKey="ParentID"
        RenderedScript="WebTreeGridRendered"
        RowEditEnterScript="WebGridRowEditEnter"
        RowEditScript="WebGridRowEdit"
        RowEditDoneScript="WebGridRowEditDone"
        RowEditExitScript="WebGridRowEditExit"
        CellEditEnterScript="WebGridCellEditEnter"
        CellEditScript="WebGridCellEdit"
        CellEditDoneScript="WebGridCellEditDone"
        CellEditExitScript="WebGridCellEditExit">
            <IgbColumn
            Field="Name"
            DataType="GridColumnDataType.String"
            Editable="true">
            </IgbColumn>

            <IgbColumn
            Field="Title"
            Header="Job Title"
            DataType="GridColumnDataType.String"
            Editable="true">
            </IgbColumn>

            <IgbColumn
            Field="Age"
            DataType="GridColumnDataType.Number"
            Editable="true">
            </IgbColumn>

        </IgbTreeGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;

    }

    private IgbTreeGrid grid;

    private EmployeesFlatData _employeesFlatData = null;
    public EmployeesFlatData EmployeesFlatData
    {
        get
        {
            if (_employeesFlatData == null)
            {
                _employeesFlatData = new EmployeesFlatData();
            }
            return _employeesFlatData;
        }
    }

}