@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <BulletGraph Height="80px" Width="100%"
                     MinimumValue="0" Value="70" Interval="10"
                     MaximumValue="100" TargetValue="90"

                     TickBrush="DodgerBlue"
                     TicksPreTerminal="0"
                     TicksPostInitial="0"
                     TickStrokeThickness="2"
                     TickStartExtent="0.2"
                     TickEndExtent="0.075"

                     MinorTickCount="4"
                     MinorTickBrush="DarkViolet"
                     MinorTickEndExtent="0.1"
                     MinorTickStartExtent="0.2"
                     MinorTickStrokeThickness="1">
        </BulletGraph>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        BulletGraphModule.Register(IgniteUIBlazor);
    }
}