

@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.blazor-app {
    width: 100%;
    height: 100%;
    margin: 0rem;
    padding: 0rem;
    /* background: gray; */
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    min-width: 100px;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.blazor-loading {
    height: 60px;
    width: 60px;
    padding: 0rem;
    margin-top: calc(50% - 60px);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blazor-error-ui {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.blazor-error-dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
