@* this namespace is required for Infragistics controls *@
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;

<div class="igContainer">

    <div class="igComponent">

        @if (DataSource != null)
        {
            <DataGrid @ref="@DataGridRef" Height="100%" Width="100%"
                      DataSource="@DataSource"
                      AutoGenerateColumns="false"
                      ActivationMode="GridActivationMode.Cell">
                <ImageColumn Field="Photo" Width="140" ContentOpacity="1" HorizontalAlignment="CellContentHorizontalAlignment.Center"/>
                <TextColumn Field="FirstName" HeaderText="First Name" Width="150" />
                <TextColumn Field="LastName" HeaderText="Last Name" Width="140"  />
                <TextColumn Field="City" Width="120" />
                <TextColumn Field="Country" Width="150" />
                <NumericColumn Field="Sales" Width="140" PositivePrefix="$" ShowGroupingSeparator="true" />
                <NumericColumn Field="Age" Width="110" />
                <DateTimeColumn Field="Birthday" Width="170" HorizontalAlignment="CellContentHorizontalAlignment.Right" />
                <NumericColumn Field="Salary" Width="130" PositivePrefix="$" ShowGroupingSeparator="true" />
                <TextColumn Field="Email" HeaderText="Email" Width="150" />
            </DataGrid>
        }

    </div>
</div>

@code {

    private List<Employee> DataSource;
    private DataGrid grid;
    public DataGrid DataGridRef
    {
        get
        {
            return grid;
        }
        set
        {
            grid = value;
            OnGridChanged();
            StateHasChanged();
        }
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataGridModule.Register(IgniteUIBlazor);
        this.DataSource = EmployeeData.Create(200, false);
    }

    private void OnGridChanged()
    {
        grid.PinnedItems.Add(this.DataSource[2] as Employee);
        grid.PinnedItems.Add(this.DataSource[4] as Employee);
    }

}
