@page "/samples/gauges/linear-gauge-needle"
@page         "/gauges/linear-gauge-needle"

@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor

<div class="igContainer">
    <div class="igComponent">
        <LinearGauge Height="80px" Width="100%"
                     MinimumValue="0" Value="50"
                     MaximumValue="100" Interval="10"
                     IsNeedleDraggingEnabled="true"
                     NeedleShape="LinearGraphNeedleShape.Custom"
                     NeedleBrush="DodgerBlue"
                     NeedleOutline="DodgerBlue"
                     NeedleStrokeThickness="1"
                     NeedleBreadth="15"
                     NeedleInnerExtent="0.35"
                     NeedleOuterExtent="0.65"
                     NeedleOuterPointExtent="0.8"
                     NeedleInnerPointExtent="0.325"
                     NeedleInnerPointWidth="0"
                     NeedleOuterPointWidth="0.3"
                     NeedleInnerBaseWidth="0"
                     NeedleOuterBaseWidth="0.07">
        </LinearGauge>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        LinearGaugeModule.Register(InfragisticsBlazor);
    }
}