@using IgniteUI.Blazor.Controls;


@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">




    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="InvoicesData"
        Name="grid"
        @ref="grid">
            <IgbColumn
            Field="OrderID"
            Header="Order ID"
            Name="OrderID"
            @ref="orderID">
            </IgbColumn>
            
            <IgbColumn
            Field="ShipCountry"
            Header="Ship Country"
            Name="ShipCountry"
            @ref="shipCountry">
            </IgbColumn>
            
            <IgbColumn
            Field="OrderDate"
            Header="Order Date"
            Name="OrderDate"
            @ref="orderDate">
            </IgbColumn>
            
            <IgbColumn
            Field="PostalCode"
            Header="Postal Code"
            Name="PostalCode"
            @ref="postalCode">
            </IgbColumn>
            
            <IgbColumn
            Field="Discontinued"
            Header="Discontinued"
            Name="Discontinued"
            @ref="discontinued">
            </IgbColumn>
            
            <IgbColumn
            Field="ShipName"
            Header="Ship Name"
            Name="ShipName"
            @ref="shipName">
            </IgbColumn>
            
            <IgbColumn
            Field="ShipperName"
            Header="Shipper Name"
            Name="ShipperName"
            @ref="shipperName">
            </IgbColumn>
            
            <IgbColumn
            Field="SalesPerson"
            Header="Sales Person"
            Name="SalesPerson"
            @ref="salesPerson">
            </IgbColumn>
            
            <IgbColumn
            Field="UnitPrice"
            Header="Unit Price"
            Name="UnitPrice"
            @ref="unitPrice">
            </IgbColumn>
            
            <IgbColumn
            Field="Quantity"
            Header="Quantity"
            Name="Quantity"
            @ref="quantity">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override void OnInitialized()
    {
    }

    private Action BindElements { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        var grid = this.grid;
        var orderID = this.orderID;
        var shipCountry = this.shipCountry;
        var orderDate = this.orderDate;
        var postalCode = this.postalCode;
        var discontinued = this.discontinued;
        var shipName = this.shipName;
        var shipperName = this.shipperName;
        var salesPerson = this.salesPerson;
        var unitPrice = this.unitPrice;
        var quantity = this.quantity;

        this.BindElements = () => {
        };
        this.BindElements();
    }

    private IgbGrid grid;
    private IgbColumn orderID;
    private IgbColumn shipCountry;
    private IgbColumn orderDate;
    private IgbColumn postalCode;
    private IgbColumn discontinued;
    private IgbColumn shipName;
    private IgbColumn shipperName;
    private IgbColumn salesPerson;
    private IgbColumn unitPrice;
    private IgbColumn quantity;

    private InvoicesData _invoicesData = null;
    public InvoicesData InvoicesData
    {
        get
        {
            if (_invoicesData == null)
            {
                _invoicesData = new InvoicesData(); 
            }
            return _invoicesData;
        }
    }
    
}