@using IgniteUI.Blazor.Controls;


<div class="container vertical">

    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="InvoicesData"
        Name="grid"
        @ref="grid">
            <IgbColumn
            Field="OrderID"
            Header="Order ID"
            Name="OrderID"
            @ref="orderID">
            </IgbColumn>
            
            <IgbColumn
            Name="ShipCountry"
            @ref="shipCountry"
            Field="ShipCountry"
            Header="Ship Country">
            </IgbColumn>
            
            <IgbColumn
            Name="OrderDate"
            @ref="orderDate"
            Field="OrderDate"
            Header="Order Date">
            </IgbColumn>
            
            <IgbColumn
            Name="PostalCode"
            @ref="postalCode"
            Field="PostalCode"
            Header="Postal Code">
            </IgbColumn>
            
            <IgbColumn
            Name="Discontinued"
            @ref="discontinued"
            Field="Discontinued"
            Header="Discontinued">
            </IgbColumn>
            
            <IgbColumn
            Name="ShipName"
            @ref="shipName"
            Field="ShipName"
            Header="Ship Name">
            </IgbColumn>
            
            <IgbColumn
            Name="ShipperName"
            @ref="shipperName"
            Field="ShipperName"
            Header="Shipper Name">
            </IgbColumn>
            
            <IgbColumn
            Name="SalesPerson"
            @ref="salesPerson"
            Field="SalesPerson"
            Header="Sales Person">
            </IgbColumn>
            
            <IgbColumn
            Name="UnitPrice"
            @ref="unitPrice"
            Field="UnitPrice"
            Header="Unit Price">
            </IgbColumn>
            
            <IgbColumn
            Name="Quantity"
            @ref="quantity"
            Field="Quantity"
            Header="Quantity">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;
        var orderID = this.orderID;
        var shipCountry = this.shipCountry;
        var orderDate = this.orderDate;
        var postalCode = this.postalCode;
        var discontinued = this.discontinued;
        var shipName = this.shipName;
        var shipperName = this.shipperName;
        var salesPerson = this.salesPerson;
        var unitPrice = this.unitPrice;
        var quantity = this.quantity;



	}

    private IgbGrid grid;
    private IgbColumn orderID;
    private IgbColumn shipCountry;
    private IgbColumn orderDate;
    private IgbColumn postalCode;
    private IgbColumn discontinued;
    private IgbColumn shipName;
    private IgbColumn shipperName;
    private IgbColumn salesPerson;
    private IgbColumn unitPrice;
    private IgbColumn quantity;

    private InvoicesData _invoicesData = null;
    public InvoicesData InvoicesData
    {
        get
        {
            if (_invoicesData == null)
            {
                _invoicesData = new InvoicesData(); 
            }
            return _invoicesData;
        }
    }
    
}