@using IgniteUI.Blazor.Controls;

@inject IIgniteUIBlazor IgniteUIBlazor
@inject IJSRuntime JS

<div class="container vertical">
    <div class="legend-title">
        Ronaldo vs Messi Player Stats
    </div>
    <div class="legend">
        <IgbLegend
        Orientation="LegendOrientation.Horizontal"
        Name="Legend"
        @ref="legend">
        </IgbLegend>
        
    </div>

    <div class="container vertical fill">
        <IgbDataChart
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false"
        Name="chart"
        @ref="chart">
            <IgbCategoryAngleAxis
            DataSource="FootballPlayerStats"
            Label="Attribute"
            Name="angleAxis"
            @ref="angleAxis">
            </IgbCategoryAngleAxis>
            
            <IgbNumericRadiusAxis
            InnerRadiusExtentScale="0.1"
            MinimumValue="0"
            MaximumValue="10"
            Interval="2"
            Name="radiusAxis"
            @ref="radiusAxis">
            </IgbNumericRadiusAxis>
            
            <IgbRadialPieSeries
            ValueMemberPath="Ronaldo"
            AngleAxisName="angleAxis"
            ValueAxisName="radiusAxis"
            DataSource="FootballPlayerStats"
            Thickness="3"
            AreaFillOpacity="0.8"
            ShowDefaultTooltip="false"
            Title="Ronaldo"
            Name="RadialPieSeries1"
            @ref="radialPieSeries1">
            </IgbRadialPieSeries>
            
            <IgbRadialPieSeries
            DataSource="FootballPlayerStats"
            AngleAxisName="angleAxis"
            ValueAxisName="radiusAxis"
            ValueMemberPath="Messi"
            ShowDefaultTooltip="false"
            AreaFillOpacity="0.8"
            Thickness="3"
            Title="Messi"
            Name="RadialPieSeries2"
            @ref="radialPieSeries2">
            </IgbRadialPieSeries>
            
            <IgbDataToolTipLayer
            Name="DataToolTipLayer"
            @ref="dataToolTipLayer">
            </IgbDataToolTipLayer>
            
        </IgbDataChart>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var legend = this.legend;
        var chart = this.chart;
        var angleAxis = this.angleAxis;
        var radiusAxis = this.radiusAxis;
        var radialPieSeries1 = this.radialPieSeries1;
        var radialPieSeries2 = this.radialPieSeries2;
        var dataToolTipLayer = this.dataToolTipLayer;

        this.BindElements = () => {
            chart.Legend = this.legend;
        };
        this.BindElements();


	}

    private IgbLegend legend;
    private IgbDataChart chart;
    private IgbCategoryAngleAxis angleAxis;
    private IgbNumericRadiusAxis radiusAxis;
    private IgbRadialPieSeries radialPieSeries1;
    private IgbRadialPieSeries radialPieSeries2;
    private IgbDataToolTipLayer dataToolTipLayer;

    private FootballPlayerStats _footballPlayerStats = null;
    public FootballPlayerStats FootballPlayerStats
    {
        get
        {
            if (_footballPlayerStats == null)
            {
                _footballPlayerStats = new FootballPlayerStats(); 
            }
            return _footballPlayerStats;
        }
    }
    
}