@using IgniteUI.Blazor.Controls;

@inject IIgniteUIBlazor IgniteUIBlazor
@inject IJSRuntime JS

<div class="container vertical">

    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Id="grid"
        Data="EmployeesNestedData"
        Name="grid"
        @ref="grid">
            <IgbColumn
            Field="Name"
            Header="Name"
            Width="15%">
            </IgbColumn>
            
            <IgbColumn
            Header="Title"
            Field="Title"
            Width="15%">
            </IgbColumn>
            
            <IgbColumn
            Header="Salary"
            Field="Salary"
            Width="10%">
            </IgbColumn>
            
            <IgbColumn
            Header="Employees"
            Field="Employees"
            Width="30%"
            BodyTemplateScript="WebGridNestedDataCellTemplate"
            Name="column1"
            @ref="column1">
            </IgbColumn>
            
            <IgbColumn
            Header="City"
            Field="City"
            Width="15%">
            </IgbColumn>
            
            <IgbColumn
            Header="Country"
            Field="Country"
            Width="15%">
            </IgbColumn>
            
            <IgbColumn
            Header="Age"
            Field="Age"
            Width="10%">
            </IgbColumn>
            
            <IgbColumn
            Header="Hire Date"
            Field="HireDate"
            DataType="GridColumnDataType.Date">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid = this.grid;
        var column1 = this.column1;



	}

    private IgbGrid grid;
    private IgbColumn column1;

    private EmployeesNestedData _employeesNestedData = null;
    public EmployeesNestedData EmployeesNestedData
    {
        get
        {
            if (_employeesNestedData == null)
            {
                _employeesNestedData = new EmployeesNestedData(); 
            }
            return _employeesNestedData;
        }
    }
    
}