@using IgniteUI.Blazor.Controls

<style>
    igc-carousel {
        margin-inline: auto;
        max-width: 75%;
    }

        igc-carousel::part(indicators) {
            border-radius: 2px;
        }

    .blurred {
        filter: blur(2px);
        opacity: 0.5;
    }
</style>

<div class="container sample">
    <IgbCarousel DisablePauseOnInteraction="true"
                 HideNavigation="true"
                 Interval="2000"
                 Vertical="true"
                 AnimationType="@CarouselAnimationType.Fade">
        <IgbCarouselIndicator>
            <img class="blurred"
                 src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/WonderfulCoastThumb.png"
                 alt="Wonderful Coast Thumb"
                 width="50"
                 height="60" />
            <img slot="active"
                 src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/WonderfulCoastThumb.png"
                 alt="Wonderful Coast Thumb Active"
                 width="50"
                 height="60" />
        </IgbCarouselIndicator>
        <IgbCarouselIndicator>
            <img class="blurred"
                 src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/CulturalDipThumb.png"
                 alt="Cultural Dip Thumb"
                 width="50"
                 height="60" />
            <img slot="active"
                 src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/CulturalDipThumb.png"
                 alt="Cultural Dip Thumb Active"
                 width="50"
                 height="60" />
        </IgbCarouselIndicator>
        <IgbCarouselIndicator>
            <img class="blurred"
                 src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/GoldenBeachesThumb.png"
                 alt="Golden Beaches Thumb"
                 width="50"
                 height="60" />
            <img slot="active"
                 src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/GoldenBeachesThumb.png"
                 alt="Golden Beaches Thumb Active"
                 width="50"
                 height="60" />
        </IgbCarouselIndicator>
        <IgbCarouselIndicator>
            <img class="blurred"
                 src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/IslandOfHistoryThumb.png"
                 alt="Island Of History Thumb"
                 width="50"
                 height="60" />
            <img slot="active"
                 src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/IslandOfHistoryThumb.png"
                 alt="Island Of History Thumb Active"
                 width="50"
                 height="60" />
        </IgbCarouselIndicator>
        <IgbCarouselIndicator>
            <img class="blurred"
                 src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/AmazingBridgeThumb.png"
                 alt="Amazing Bridge Thumb"
                 width="50"
                 height="60" />
            <img slot="active"
                 src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/AmazingBridgeThumb.png"
                 alt="Amazing Bridge Thumb Active"
                 width="50"
                 height="60" />
        </IgbCarouselIndicator>

        <IgbCarouselSlide>
            <img src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/WonderfulCoast.png"
                 alt="Wonderful Coast" />
        </IgbCarouselSlide>
        <IgbCarouselSlide>
            <img src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/CulturalDip.png"
                 alt="Cultural Dip" />
        </IgbCarouselSlide>
        <IgbCarouselSlide>
            <img src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/GoldenBeaches.png"
                 alt="Golden Beaches" />
        </IgbCarouselSlide>
        <IgbCarouselSlide>
            <img src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/IslandOfHistory.png"
                 alt="Island Of History" />
        </IgbCarouselSlide>
        <IgbCarouselSlide>
            <img src="https://www.infragistics.com/angular-demos-lob/assets/images/carousel/AmazingBridge.png"
                 alt="Amazing Bridge" />
        </IgbCarouselSlide>
    </IgbCarousel>
</div>

@code {
}