@using IgniteUI.Blazor.Controls
@using System.Reflection

@inject NavigationManager NavManager

<style>
    igc-dialog::part(content) {
        width: 500px;
    }
</style>

<div class="container vertical">

    <!-- IMAGERY DROPDOWN -->
    <div class="options horizontal">
        <span class="options-label">Imagery Source: </span>

        <select @onchange="OnImagerySourceChanged">
            <option>OpenStreetMaps (Default)</option>

            <!-- Azure full list -->
            <option>AzureMaps Satellite</option>
            <option>AzureMaps Road</option>
            <option>AzureMaps DarkGrey</option>
            <option>AzureMaps TerraOverlay</option>
            <option>AzureMaps HybridRoadOverlay</option>
            <option>AzureMaps HybridDarkGreyOverlay</option>
            <option>AzureMaps LabelsRoadOverlay</option>
            <option>AzureMaps LabelsDarkGreyOverlay</option>
            <option>AzureMaps WeatherInfraredOverlay</option>
            <option>AzureMaps WeatherRadarOverlay</option>
            <option>AzureMaps TrafficDelayOverlay</option>
            <option>AzureMaps TrafficAbsoluteOverlay</option>
            <option>AzureMaps TrafficReducedOverlay</option>
            <option>AzureMaps TrafficRelativeOverlay</option>
            <option>AzureMaps TrafficRelativeDarkOverlay</option>

            <!-- ESRI options -->
            <option>WorldStreetMap (ESRI)</option>
            <option>WorldTopographicMap (ESRI)</option>
            <option>WorldImageryMap (ESRI)</option>
            <option>WorldOceansMap (ESRI)</option>
            <option>WorldNationalGeoMap (ESRI)</option>
            <option>WorldTerrainMap (ESRI)</option>
            <option>WorldDeLormesMap (ESRI)</option>
            <option>WorldLightGrayMap (ESRI)</option>
            <option>WorldShadedReliefMap (ESRI)</option>
            <option>WorldPhysicalMap (ESRI)</option>
            <option>WorldAdminOverlay (ESRI)</option>
            <option>WorldTransportationOverlay (ESRI)</option>
            <option>WorldBoundariesDarkOverlay (ESRI)</option>
            <option>WorldBoundariesLightOverlay (ESRI)</option>
            <option>WorldLabelsLightGrayOverlay (ESRI)</option>
            <option>UsaOwnerOccupiedHousing (ESRI)</option>
            <option>UsaSoilSurvey (ESRI)</option>
            <option>UsaPopulationOlderThanAge64 (ESRI)</option>
            <option>UsaPopulationYoungerThan18 (ESRI)</option>
            <option>UsaPopulationGrowth2015 (ESRI)</option>
            <option>UsaUnemploymentRate (ESRI)</option>
            <option>UsaSocialVulnerability (ESRI)</option>
            <option>UsaRetailSpendingPotential (ESRI)</option>
            <option>UsaPopulationChange2010 (ESRI)</option>
            <option>UsaPopulationChange2000 (ESRI)</option>
            <option>UsaPopulationDensity (ESRI)</option>
            <option>UsaPopulationByGender (ESRI)</option>
            <option>UsaMedianHouseholdIncome (ESRI)</option>
            <option>UsaMedianNetWorth (ESRI)</option>
            <option>UsaMedianHomeValue (ESRI)</option>
            <option>UsaMedianAge (ESRI)</option>
            <option>UsaLaborForceParticipation (ESRI)</option>
            <option>UsaAverageHouseholdSize (ESRI)</option>
            <option>UsaDiversityIndex (ESRI)</option>
            <option>UsaRailNetwork (ESRI)</option>
        </select>

        <IgbButton @onclick="ShowAzureDialog"
                   Variant="@ButtonVariant.Contained">
            Enter Azure Key
        </IgbButton>
    </div>


    <!-- AZURE KEY DIALOG -->
    <IgbDialog @ref="AzureDialog"
               Title="Enter Azure Maps Key"
               Closed="OnAzureKeyClosed">

        <form method="dialog">
            <IgbInput Label="Azure Maps Key"
                      @bind-value="AzureKey" />
        </form>
    </IgbDialog>


    <!-- MAP / PLACEHOLDER -->
    <div class="container vertical">
        @if (ShowAzurePlaceholder)
        {
            <img src="@AzurePlaceholderImage"
                 alt="Azure Maps Placeholder"
                 style="width:100%; height:100%; object-fit:contain;" />
        }
        else
        {
            <IgbGeographicMap Height="100%"
                              Width="100%"
                              Zoomable="true"
                              BackgroundContent="@MapContent">
            </IgbGeographicMap>
        }
    </div>
</div>



@code {

    private IgbGeographicMapImagery MapContent;
    private EsriStyle EsriRef;

    private string AzureKey = "";
    private bool ShowAzurePlaceholder = false;
    private string AzurePlaceholderImage = "";

    private IgbDialog AzureDialog;

    protected override void OnInitialized()
    {
        EsriRef = new EsriStyle();
        MapContent = new IgbOpenStreetMapImagery();
    }


    private async Task ShowAzureDialog()
    {
        if (AzureDialog != null)
            await AzureDialog.ShowAsync();
    }

    private void OnAzureKeyClosed(IgbVoidEventArgs args)
    {
        StateHasChanged();
    }



    private void OnImagerySourceChanged(ChangeEventArgs args)
    {
        string name = args.Value.ToString();

        // ------------------------------------------------------
        // AZURE IMAGERY LIST
        // ------------------------------------------------------
        if (name.StartsWith("AzureMaps"))
        {
            string styleName = name.Replace("AzureMaps ", "");

            if (string.IsNullOrWhiteSpace(AzureKey))
            {
                // Display style-matching placeholder
                if (_placeholderImages.TryGetValue(styleName, out var img))
                    AzurePlaceholderImage = img;
                else
                    AzurePlaceholderImage = _placeholderImages["Road"];

                ShowAzurePlaceholder = true;
                return;
            }

            // Key exists → use map imagery
            ShowAzurePlaceholder = false;

            MapContent = new IgbAzureMapsImagery()
            {
                ApiKey = AzureKey,
                ImageryStyle = ParseAzureStyle(styleName)
            };

            return;
        }


        // ------------------------------------------------------
        // ESRI IMAGERY
        // ------------------------------------------------------
        if (name.Contains("ESRI"))
        {
            ShowAzurePlaceholder = false;

            name = name.Replace(" (ESRI)", "");

            FieldInfo fi = typeof(EsriStyle).GetField(name);
            if (fi != null)
            {
                EsriStyle obj = new EsriStyle();
                string uri = fi.GetValue(obj).ToString();

                MapContent = new IgbArcGISOnlineMapImagery()
                {
                    MapServerUri = uri
                };
            }
            return;
        }


        // ------------------------------------------------------
        // OPENSTREETMAP
        // ------------------------------------------------------
        ShowAzurePlaceholder = false;
        MapContent = new IgbOpenStreetMapImagery();
    }



    // ------------------------------------------------------
    // Convert string → AzureMapsImageryStyle enum
    // ------------------------------------------------------
    private AzureMapsImageryStyle ParseAzureStyle(string name) =>
        name switch
        {
            "Satellite" => AzureMapsImageryStyle.Satellite,
            "Road" => AzureMapsImageryStyle.Road,
            "DarkGrey" => AzureMapsImageryStyle.DarkGrey,
            "TerraOverlay" => AzureMapsImageryStyle.TerraOverlay,
            "HybridRoadOverlay" => AzureMapsImageryStyle.HybridRoadOverlay,
            "HybridDarkGreyOverlay" => AzureMapsImageryStyle.HybridDarkGreyOverlay,
            "LabelsRoadOverlay" => AzureMapsImageryStyle.LabelsRoadOverlay,
            "LabelsDarkGreyOverlay" => AzureMapsImageryStyle.LabelsDarkGreyOverlay,
            "WeatherInfraredOverlay" => AzureMapsImageryStyle.WeatherInfraredOverlay,
            "WeatherRadarOverlay" => AzureMapsImageryStyle.WeatherRadarOverlay,
            "TrafficDelayOverlay" => AzureMapsImageryStyle.TrafficDelayOverlay,
            "TrafficAbsoluteOverlay" => AzureMapsImageryStyle.TrafficAbsoluteOverlay,
            "TrafficReducedOverlay" => AzureMapsImageryStyle.TrafficReducedOverlay,
            "TrafficRelativeOverlay" => AzureMapsImageryStyle.TrafficRelativeOverlay,
            "TrafficRelativeDarkOverlay" => AzureMapsImageryStyle.TrafficRelativeDarkOverlay,
            _ => AzureMapsImageryStyle.Road
        };


    // ------------------------------------------------------
    // Placeholder images for each Azure style
    // ------------------------------------------------------
    private readonly Dictionary<string, string> _placeholderImages = new()
    {
        { "Satellite", "https://dl.infragistics.com/x/img/maps/azure_satellite.png" },
        { "Road", "https://dl.infragistics.com/x/img/maps/azure_road.png" },
        { "DarkGrey", "https://dl.infragistics.com/x/img/maps/azure_darkgrey.png" },
        { "TerraOverlay", "https://dl.infragistics.com/x/img/maps/azure_terra_overlay.png" },
        { "HybridRoadOverlay", "https://dl.infragistics.com/x/img/maps/AzureHybridRoad.png" },
        { "HybridDarkGreyOverlay", "https://dl.infragistics.com/x/img/maps/AzureHybridDarkGrey.png" },
        { "LabelsRoadOverlay", "https://dl.infragistics.com/x/img/maps/azure_labelsroad.png" },
        { "LabelsDarkGreyOverlay", "https://dl.infragistics.com/x/img/maps/azure_labelsdarkgrey.png" },
        { "WeatherInfraredOverlay", "https://dl.infragistics.com/x/img/maps/azure_weather_Infrared_road.png" },
        { "WeatherRadarOverlay", "https://dl.infragistics.com/x/img/maps/azure_weather_radar.png" },
        { "TrafficDelayOverlay", "https://dl.infragistics.com/x/img/maps/azure_trafficdelay.png" },
        { "TrafficAbsoluteOverlay", "https://dl.infragistics.com/x/img/maps/azure_traffic_absolute.png" },
        { "TrafficReducedOverlay", "https://dl.infragistics.com/x/img/maps/azure_traffic_light.png" },
        { "TrafficRelativeOverlay", "https://dl.infragistics.com/x/img/maps/azure_traffic_relative.png" },
        { "TrafficRelativeDarkOverlay", "https://dl.infragistics.com/x/img/maps/azure_traffic_relative_dark.png" }
    };
}
