@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor; 

<div class="igContainer">
    
    <div class="igComponent">

        @if (DataSource != null)
        {
        <DataGrid Height="100%" Width="100%"
                  DataSource="@DataSource"
                  AutoGenerateColumns="false" 
                  ActivationMode="GridActivationMode.Cell">

            <TextColumn Width="140" Field="Category" />
            <TextColumn Width="160" Field="Type" />
            <TextColumn Width="140" Field="Contract" />
            <TextColumn Width="150" Field="Settlement" />
            <TextColumn Width="150" Field="Region" />
            <TextColumn Width="160" Field="Country" />

            <NumericColumn Width="140" Field="Open" HeaderText="Open" ShowGroupingSeparator="true" PositivePrefix="$" MinFractionDigits="2" MaxFractionDigits="2" />
            <NumericColumn Width="140" Field="Price" HeaderText="Close" ShowGroupingSeparator="true" PositivePrefix="$" MinFractionDigits="2" MaxFractionDigits="2" />
            <NumericColumn Width="130" Field="Change" MinFractionDigits="2" MaxFractionDigits="2" />
            <NumericColumn Width="150" Field="ChangePercent" NegativeSuffix="%" PositiveSuffix="%" MinFractionDigits="2" MaxFractionDigits="2" />
            <NumericColumn Width="110" Field="Buy" ShowGroupingSeparator="true" PositivePrefix="$" MinFractionDigits="2" MaxFractionDigits="2" />
            <NumericColumn Width="110" Field="Sell" ShowGroupingSeparator="true" PositivePrefix="$" MinFractionDigits="2" MaxFractionDigits="2" />
            <NumericColumn Width="130" Field="Spread" ShowGroupingSeparator="true" MinFractionDigits="2" MaxFractionDigits="2" />
            <NumericColumn Width="130" Field="Volume" ShowGroupingSeparator="true" MinFractionDigits="0" MaxFractionDigits="0" />
            <NumericColumn Width="130" Field="DailyHigh" ShowGroupingSeparator="true" MinFractionDigits="2" MaxFractionDigits="2" PositivePrefix="$" />
            <NumericColumn Width="130" Field="DailyLow" ShowGroupingSeparator="true" MinFractionDigits="2" MaxFractionDigits="2" PositivePrefix="$" />
            <NumericColumn Width="130" Field="YearlyHigh" ShowGroupingSeparator="true" MinFractionDigits="2" MaxFractionDigits="2" PositivePrefix="$" />
            <NumericColumn Width="130" Field="YearlyLow" ShowGroupingSeparator="true" MinFractionDigits="2" MaxFractionDigits="2" PositivePrefix="$" />
            <NumericColumn Width="130" Field="YearlyStart" ShowGroupingSeparator="true" MinFractionDigits="2" MaxFractionDigits="2" PositivePrefix="$" />

            <DateTimeColumn Width="140" Field="Maturity" HorizontalAlignment="@CellContentHorizontalAlignment.Right" />
            <TextColumn Width="120" Field="Currency" />
            <TextColumn Width="110" Field="Risk" />
            <TextColumn Width="130" Field="Sector" />
            <TextColumn Width="130" Field="Security" />
            <TextColumn Width="170" Field="Issuer" />
                   
        </DataGrid>
        }

         
    </div>
</div>

@code {

    private List<PortfolioInfo> DataSource;  

    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        DataGridModule.Register(InfragisticsBlazor);
        
        this.DataSource = PortfolioData.Create(100); 
    }

}
