@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <IgbGeographicMap Height="100%" Width="100%" Zoomable="true">
            @*<IgbGeographicSymbolSeries DataSource="?"
                                    MarkerType="MarkerType.Circle"
                                    LatitudeMemberPath="latitude"
                                    LongitudeMemberPath="longitude"
                                    MarkerBrush="LightGray"
                                    MarkerOutline="Black"/>*@
        </IgbGeographicMap>
    </div>
</div>

@code {

    //TODO - THIS SAMPLE IN REACT PARSES THE SHAPEDATASOURCE, NOT SURE IF WE ARE GOING THAT ROUTE OR HOW TO DO THIS IN BLAZOR

    private IgbShapeDataSource ShapeData;

    protected override void OnInitialized()
    {
        IgbGeographicMapModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);

        this.ShapeData = new IgbShapeDataSource();
        this.ShapeData.ShapefileSource = "https://static.infragistics.com/xplatform/shapes/WorldCities.shp";
        this.ShapeData.DatabaseSource = "https://static.infragistics.com/xplatform/shapes/WorldCities.dbf";

    }
}