@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="wrapper" style="display: flex; align-items: center;">
        <span id="switch-label">Label</span>
        <IgbSwitch AriaLabelledby="switch-label" LabelPosition="ToggleLabelPosition.Before" />
    </div>
</div>

@code {


}
