
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="wrapper">
        <span id="switch-label">Label</span>
        <IgbSwitch LabelPosition="CheckboxBaseLabelPosition.Before"></IgbSwitch>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        IgbSwitchModule.Register(IgniteUIBlazor);
    }
}
