@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options horizontal">
        <span class="legend-title">Life Expectancy vs Health Expenditure per Capita</span>
    </div>
    <div class="options horizontal">
        <div class="legend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="container vertical">
        <DataChart Height="100%" Width="100%"
                   Legend="Legend"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <NumericYAxis Name="yAxis" Title="Health Expenditure per Capita" 
                          MinimumValue="1000" MaximumValue="7000" Interval="1000" AbbreviateLargeNumbers="true"/>
            <NumericXAxis Name="xAxis" LabelFormat="{0}" Title="Life Expectancy (in years)" 
                          MinimumValue="72" MaximumValue="84" Interval="2"/>

            <ScatterLineSeries XAxisName="xAxis"
                               YAxisName="yAxis"
                               DataSource="DataForGermany"
                               YMemberPath="HealthExpense"
                               XMemberPath="LifeExpectancy"
                               Title="Germany"
                               MarkerType="MarkerType.Circle"
                               ShowDefaultTooltip="true"/>
             
            <ScatterLineSeries XAxisName="xAxis"
                               YAxisName="yAxis"
                               DataSource="DataForFrance"
                               YMemberPath="HealthExpense"
                               XMemberPath="LifeExpectancy"
                               Title="France"
                               MarkerType="MarkerType.Circle"
                               ShowDefaultTooltip="true"/>

            <ScatterLineSeries XAxisName="xAxis"
                               YAxisName="yAxis"
                               DataSource="DataForNorway"
                               YMemberPath="HealthExpense"
                               XMemberPath="LifeExpectancy"
                               Title="Norway"
                               MarkerType="MarkerType.Circle"
                               ShowDefaultTooltip="true"/>
        </DataChart>
    </div>
</div>

@code {

    private Legend _legend;
    public Legend Legend
    {
        get { return _legend; }
        set
        {
            _legend = value;
            StateHasChanged();
        }
    }

    private List<HealthInfo> DataForGermany;
    private List<HealthInfo> DataForFrance;
    private List<HealthInfo> DataForNorway;

    public void InitializeData()
    {
        var data = new HealthData();
        this.DataForGermany = data.Where(c => c.Country == "Germany").ToList();
        this.DataForFrance = data.Where(c => c.Country == "France").ToList();
        this.DataForNorway = data.Where(c => c.Country == "Norway").ToList();
    }

    protected override void OnInitialized()
    {
        IgbLegendModule.Register(IgniteUIBlazor);
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartScatterModule.Register(IgniteUIBlazor);
        IgbDataChartScatterCoreModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbNumberAbbreviatorModule.Register(IgniteUIBlazor);

        InitializeData();
    }
}