
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <RadialGauge Height="100%" Width="100%"
                     TickStartExtent="0.5"
                     TickEndExtent="0.57"
                     TickStrokeThickness="2"
                     TickBrush="DodgerBlue"

                     MinorTickCount="4"
                     MinorTickEndExtent="0.520"
                     MinorTickStartExtent="0.57"
                     MinorTickStrokeThickness="1"
                     MinorTickBrush="DarkViolet"

                     MinimumValue="0"
                     MaximumValue="80"
                     Value="50"
                     Interval="10">
        </RadialGauge>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        IgbRadialGaugeModule.Register(IgniteUIBlazor);
    }

}