@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <div class="legend-title">
        Comparing Top Urban Population Percentages between North America & Asia
    </div>
    <div class="container vertical fill">
        <IgbTreemap
        Name="treemap"
        @ref="treemap"
        RootTitle="Continent"
        LabelVerticalAlignment="VerticalAlignment.Top"
        LabelTopMargin="10"
        DataSource="CountryTopUrbanPopData"
        ParentIdMemberPath="Parent"
        IdMemberPath="Name"
        LabelMemberPath="UrbanPopPercentLabel"
        ValueMemberPath="Population"
        HighlightedValueMemberPath="UrbanPopulation"
        HighlightedValuesDisplayMode=TreemapHighlightedValueDisplayMode.Overlay
        HeaderDisplayMode="TreemapHeaderDisplayMode.Auto"
        TextColor="Black"
        FontSize="25"
        FontWeight="Bold"
        IsFillScaleLogarithmic=true
        FillScaleMode="TreemapFillScaleMode.Value"
        FillBrushes="#FC4100 #FFC55A #00215E #2C4E80">
        </IgbTreemap>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var treemap = this.treemap;
    }

    private IgbTreemap treemap;    

    private CountryTopUrbanPopData _countryTopUrbanPopData = null;
    public CountryTopUrbanPopData CountryTopUrbanPopData
    {
        get
        {
            if (_countryTopUrbanPopData == null)
            {
                _countryTopUrbanPopData = new CountryTopUrbanPopData();
            }
            return _countryTopUrbanPopData;
        }
    }

}