@* this namespace is required for Infragistics controls *@
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">

    <div class="igComponent">

        <span class="igLegend-title">Global Electricity Demand by Energy Use</span>
        <div class="igLegend">
            <ItemLegend @ref="Legend" />
        </div>

        @if (DataSource != null)
        {
            <PieChart Height="100%" Width="100%"
                      @ref="Chart"
                      DataSource="DataSource"
                      LabelMemberPath="Summary"
                      LabelsPosition="@LabelsPosition.OutsideEnd"
                      LabelExtent="30"
                      ValueMemberPath="MarketShare"
                      LegendLabelMemberPath="Summary"
                      Outlines="white"
                      OthersCategoryThreshold="10"
                      OthersCategoryType="OthersCategoryType.Number"
                      OthersCategoryText="Others"
                      RadiusFactor="0.7"
                      StartAngle="0">
            </PieChart>
        }

    </div>
</div>

@code {

    private List<DataItem> DataSource;
    public PieChart Chart;
    public ItemLegend Legend;

    protected override void OnInitialized()
    {
        PieChartModule.Register(IgniteUIBlazor);
        ItemLegendModule.Register(IgniteUIBlazor);

        var dataItems = new List<DataItem>();

        dataItems.Add(new DataItem() { MarketShare = 25, Company = "Residential Appliance", });
        dataItems.Add(new DataItem() { MarketShare = 12, Company = "Heating", });
        dataItems.Add(new DataItem() { MarketShare = 8, Company = "Lighting", });
        dataItems.Add(new DataItem() { MarketShare = 18, Company = "Other Services", });
        dataItems.Add(new DataItem() { MarketShare = 37, Company = "Space Cooling", });

        DataSource = dataItems;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        Chart.Legend = Legend;

    }

    public class DataItem
    {
        public string Company { get; set; }
        public double MarketShare { get; set; }

        public string Summary { get { return Company + " " + MarketShare + "%"; } }
    }
}