@using IgniteUI.Blazor.Controls

@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
	
	    <div class="legend-title">
        Global Electricity Demand by Energy Use
    </div>
    
	     <div class="legend">
        <IgbItemLegend
        Orientation="LegendOrientation.Horizontal"
        Name="Legend"
        @ref="legend">
        </IgbItemLegend>
    </div>
	
    <div class="container vertical fill">
        <IgbPieChart
        DataSource="EnergyGlobalDemand"
        ValueMemberPath="Value"
        LabelMemberPath="Summary"
        LegendLabelMemberPath="Summary"
        LabelsPosition="LabelsPosition.OutsideEnd"
        OthersCategoryThreshold="10"
        OthersCategoryType="OthersCategoryType.Number"
        OthersCategoryText="Others"
        RadiusFactor="0.7"
        LabelExtent="30"
        Outlines="white"
        Name="chart"
        @ref="chart">
        </IgbPieChart>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }

	private Action BindElements { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
		var legend = this.legend;
		var chart = this.chart;

        this.BindElements = () => {
            chart.Legend = this.legend;
        };
        this.BindElements();
	}

	private IgbItemLegend legend;
	private IgbPieChart chart;


    private EnergyGlobalDemand _energyGlobalDemand = null;
    public EnergyGlobalDemand EnergyGlobalDemand
    {
        get
        {
            if (_energyGlobalDemand == null)
            {
                _energyGlobalDemand = new EnergyGlobalDemand(); 
            }
            return _energyGlobalDemand;
        }
    }
    
}