<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Samples</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CategoryChartOverview">
                <span class="oi oi-plus" aria-hidden="true"></span> CategoryChart 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DataGridBindingLocalData">
                <span class="oi oi-plus" aria-hidden="true"></span> DataGrid
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DoughnutChartSelection">
                <span class="oi oi-plus" aria-hidden="true"></span> DoughnutChart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MapDisplayImageryOSM">
                <span class="oi oi-plus" aria-hidden="true"></span> GeoMap
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PieChartSelection">
                <span class="oi oi-plus" aria-hidden="true"></span> PieChart 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RadialGaugeTypeColumn">
                <span class="oi oi-plus" aria-hidden="true"></span> RadialGauge 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SparklineDisplayTypes">
                <span class="oi oi-plus" aria-hidden="true"></span> Sparkline 
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
