
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Global Electricity Demand by Energy Use</span>
        <div class="legend">
            <ItemLegend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>

    <div class="container vertical">
        @if (Data != null)
        {
            <PieChart Height="100%" Width="100%"
                      DataSource="Data"
                      Legend="Legend"
                      LabelMemberPath="Category"
                      LabelsPosition="LabelsPosition.BestFit"
                      ValueMemberPath="MarketShare"
                      RadiusFactor="0.7">
            </PieChart>
        }
    </div>
</div>

@code {

    private List<DataItem> Data;

    private ItemLegend _legend;
    public ItemLegend Legend
    {
        get { return _legend; }
        set { _legend = value; StateHasChanged(); }
    }

    protected override void OnInitialized()
    {
        PieChartModule.Register(IgniteUIBlazor);
        ItemLegendModule.Register(IgniteUIBlazor);

        this.Data = new List<DataItem>();
        this.Data.Add(new DataItem { MarketShare = 37, Category = "Cooling", });
        this.Data.Add(new DataItem { MarketShare = 25, Category = "Residential", });
        this.Data.Add(new DataItem { MarketShare = 12, Category = "Heating", });
        this.Data.Add(new DataItem { MarketShare = 11, Category = "Lighting", });
        this.Data.Add(new DataItem { MarketShare = 15, Category = "Other", });
    }

    public class DataItem
    {
        public string Category { get; set; }
        public double MarketShare { get; set; }
        public string Summary { get { return Category + " " + MarketShare + "%"; } }
    }
}