
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer-vertical">
    <div class="igOptions-vertical">
        <span class="igLegend-title">Global Electricity Demand by Energy Use</span>
        <div class="igLegend">
            <ItemLegend @ref="@Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>

    <div class="igComponent">
        @if (DataSource != null)
        {
            <PieChart Height="100%" Width="100%"
                      DataSource="DataSource"
                      Legend="LegendRef"
                      LabelMemberPath="Department"
                      ValueMemberPath="Spending"
                      RadiusFactor="0.7">
            </PieChart>
        }
    </div>
</div>

@code {

    private List<DataItem> DataSource;

    private ItemLegend _legend;
    public ItemLegend LegendRef
    {
        get { return _legend; }
        set
        {
            _legend = value;
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        PieChartModule.Register(IgniteUIBlazor);
        ItemLegendModule.Register(IgniteUIBlazor);

        var dataItems = new List<DataItem>();
        dataItems.Add(new DataItem() { Spending = 20, Department = "Administration", });
        dataItems.Add(new DataItem() { Spending = 80, Department = "Sales", });
        dataItems.Add(new DataItem() { Spending = 30, Department = "IT", });
        dataItems.Add(new DataItem() { Spending = 80, Department = "Marketing", });
        dataItems.Add(new DataItem() { Spending = 40, Department = "Development", });
        dataItems.Add(new DataItem() { Spending = 60, Department = "Customer Support", });

        DataSource = dataItems;
    }

    public class DataItem
    {
        public string Department { get; set; }
        public double Spending { get; set; }
    }
}