
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">

    <div class="igOptions">
        <span class="igLegend-title">Renewable Electricity Generated</span>
        <div class="igLegend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" >
            </Legend>
        </div>
    </div>
    <div class="igComponent">
        @if (Data != null)
        {
            <CategoryChart Height="100%" Width="100%"
                Legend="Legend"
                ChartType="CategoryChartType.Spline"
                DataSource="Data"
                YAxisTitle="TWh"
                ToolTipType="ToolTipType.Category"
                IsTransitionInEnabled="true"
				IsHorizontalZoomEnabled="false"
                IsVerticalZoomEnabled="false">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<EnergyRenewableInfo> Data;
    private Legend legend;
    private Legend Legend
    {
        get { return legend; }
        set
        {
            legend = value;
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        LegendModule.Register(IgniteUIBlazor);
        this.Data = new EnergyRenewableData();
    }
}