@page "/RadialGaugeScale"
@* this is required for Infragistics controls *@
@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor;
@inject IJSRuntime JSRuntime;
@* NOTE use this HTML code to design a sample *@
<div class="igContainer">    
    <div class="igComponent">        
        <RadialGauge Height="100%" Width="100%"
                     ScaleStartAngle="135"
                     ScaleEndAngle="45"
                     ScaleBrush="DodgerBlue"
                     ScaleSweepDirection="SweepDirection.Clockwise"
                     ScaleOversweep="1"
                     ScaleOversweepShape="RadialGaugeScaleOversweepShape.Fitted"
                     ScaleStartExtent="0.45"
                     ScaleEndExtent="0.575"
                     
                     MinimumValue="0"
                     MaximumValue="80"
                     Value="50"
                     Interval="10">
        </RadialGauge>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        // Console.WriteLine("Sample runtime: " + InfragisticsBlazor.JsRuntime);
        Console.WriteLine("Sample OnInitialized...");
        RadialGaugeModule.Register(InfragisticsBlazor);
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Sample OnInitializedAsync...");

        await Task.Delay(10);
    }
}