@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<style>
    #sample-content {
        width: 300px;
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    #circularProgress {
        margin-right: 50px;
        margin-left: 20px;
        --diameter: 100px;
        --stroke-thickness: 5px;
    }
</style>

<div id="sample-content">   
    <IgbCircularProgress @ref="CircularProgressRef" id="circularProgress" Max=100 Value=@ProgressValue>
        <IgbCircularGradient slot="gradient" Offset="0%"   Color="#ff9a40"/>        
        <IgbCircularGradient slot="gradient" Offset="50%"  Color="#1eccd4"/>        
        <IgbCircularGradient slot="gradient" Offset="100%" Color="#ff0079"/>        
    </IgbCircularProgress>
    <div class="buttonContainer">
        <IgbIconButton @ref="RemoveIconRef" @onclick="OnRemoveIconClick" IconName="remove" Collection="material" />
        <IgbIconButton @ref="AddIconRef" @onclick="OnAddIconClick" IconName="add" Collection="material" />        
    </div>
</div>

@code {

    private IgbCircularProgress CircularProgressRef { get; set; }
    private double ProgressValue { get; set; }

    private IgbIconButton AddIconRef { get; set; }
    private IgbIconButton RemoveIconRef { get; set; }        

    protected override void OnInitialized()
    {
        IgbCircularProgressModule.Register(IgniteUIBlazor);
        IgbIconButtonModule.Register(IgniteUIBlazor);

        this.ProgressValue = 0;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender && this.AddIconRef != null && this.RemoveIconRef != null)
        {
            await this.AddIconRef.EnsureReady();
            await this.RemoveIconRef.EnsureReady();

            string addIcon = "<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/></svg>";
            string removeIcon = "<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M19 13H5v-2h14v2z'/></svg>";

            await this.AddIconRef.RegisterIconFromTextAsync("add", addIcon, "material");
            await this.RemoveIconRef.RegisterIconFromTextAsync("remove", removeIcon, "material");            
        }
    }

    private void OnAddIconClick(MouseEventArgs args)
    {
        this.ProgressValue = this.ProgressValue + 10;
    }

    private void OnRemoveIconClick(MouseEventArgs args)
    {
        if(this.ProgressValue > 0)
        {
            this.ProgressValue = this.ProgressValue - 10;
        }
    }
}