@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <IgbDataChart Height="100%" Width="100%"
                   ChartTitle="Monthly Temperature Range in Los Angeles for 2020 (in Celsius)"
                   TitleHorizontalAlignment="HorizontalAlignment.Left"
                   TitleLeftMargin="25"
                   TitleTopMargin="10"
                   TitleBottomMargin="10"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <IgbCategoryXAxis Name="xAxis" Label="Month" Interval="1" DataSource="Data" />
            <IgbNumericYAxis Name="yAxis" MinimumValue="0" MaximumValue="50" Interval="10" Title="Temperature (in Celsius)" TitleLeftMargin="10" />

            <RangeAreaSeries XAxisName="xAxis" Title="Los Angeles"
                               YAxisName="yAxis"
                               DataSource="Data"
                               LowMemberPath="LA_Low"
                               HighMemberPath="LA_High" />
        </IgbDataChart>
    </div>
</div>

@code {

    private List<CityTemperatureInfo> Data = new CityTemperatureData();

    protected override void OnInitialized()
    {
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryCoreModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
    }
}