@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igComponent">
        <DataChart Height="100%" Width="100%"                  
                   ChartTitle="Monthly Temperature Rnage in Los Angeles for 2020 (in Celsius)"
                   TitleHorizontalAlignment="HorizontalAlignment.Left"
                   TitleLeftMargin="25"
                   TitleTopMargin="10"
                   TitleBottomMargin="10"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <CategoryXAxis Name="xAxis" Label="Month" Interval="1" DataSource="@DataSource" />
            <NumericYAxis Name="yAxis" MinimumValue="0" MaximumValue="50" Interval="10" Title="Temperature (in Celsius)" TitleLeftMargin="10" />

            <RangeAreaSeries XAxisName="xAxis" Title="Los Angeles"
                               YAxisName="yAxis"
                               DataSource="@DataSource"
                               LowMemberPath="LA_Low"
                               HighMemberPath="LA_High" />
        </DataChart>
    </div>
</div>

@code {

    private List<CityTemperatureInfo> DataSource = new CityTemperatureData();

    protected override void OnInitialized()
    {
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartCategoryModule.Register(IgniteUIBlazor);
        DataChartCategoryCoreModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);        
    }
}