@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="legend-title">
        Wind Speed vs Boat Speed
    </div>
    <div class="legend">
        <IgbLegend
        Orientation="LegendOrientation.Horizontal"
        Name="Legend"
        @ref="legend">
        </IgbLegend>

    </div>

    <div class="container vertical fill">
        <IgbDataChart
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false"
        Name="chart"
        @ref="chart">
            <IgbNumericAngleAxis
            StartAngleOffset="-90"
            MinimumValue="0"
            MaximumValue="360"
            Interval="30"
            Name="angleAxis"
            @ref="angleAxis">
            </IgbNumericAngleAxis>

            <IgbNumericRadiusAxis
            RadiusExtentScale="0.9"
            InnerRadiusExtentScale="0.1"
            MinimumValue="0"
            MaximumValue="100"
            Interval="25"
            Name="radiusAxis"
            @ref="radiusAxis">
            </IgbNumericRadiusAxis>

            <IgbPolarLineSeries
            AngleMemberPath="Direction"
            RadiusMemberPath="WindSpeed"
            AngleAxisName="angleAxis"
            RadiusAxisName="radiusAxis"
            MarkerType="MarkerType.Circle"
            DataSource="BoatSailingData"
            Thickness="1"
            ShowDefaultTooltip="false"
            Title="Wind Speed"
            Name="PolarLineSeries1"
            @ref="polarLineSeries1">
            </IgbPolarLineSeries>

            <IgbPolarLineSeries
            DataSource="BoatSailingData"
            AngleAxisName="angleAxis"
            RadiusAxisName="radiusAxis"
            AngleMemberPath="Direction"
            RadiusMemberPath="BoatSpeed"
            ShowDefaultTooltip="false"
            Thickness="1"
            Title="Boat Speed"
            MarkerType="MarkerType.Circle"
            Name="PolarLineSeries2"
            @ref="polarLineSeries2">
            </IgbPolarLineSeries>

            <IgbDataToolTipLayer
            Name="DataToolTipLayer"
            @ref="dataToolTipLayer">
            </IgbDataToolTipLayer>

        </IgbDataChart>

    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var legend = this.legend;
        var chart = this.chart;
        var angleAxis = this.angleAxis;
        var radiusAxis = this.radiusAxis;
        var polarLineSeries1 = this.polarLineSeries1;
        var polarLineSeries2 = this.polarLineSeries2;
        var dataToolTipLayer = this.dataToolTipLayer;

        this.BindElements = () => {
            chart.Legend = this.legend;
        };
        this.BindElements();


    }

    private IgbLegend legend;
    private IgbDataChart chart;
    private IgbNumericAngleAxis angleAxis;
    private IgbNumericRadiusAxis radiusAxis;
    private IgbPolarLineSeries polarLineSeries1;
    private IgbPolarLineSeries polarLineSeries2;
    private IgbDataToolTipLayer dataToolTipLayer;

    private BoatSailingData _boatSailingData = null;
    public BoatSailingData BoatSailingData
    {
        get
        {
            if (_boatSailingData == null)
            {
                _boatSailingData = new BoatSailingData();
            }
            return _boatSailingData;
        }
    }

}