@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Life Expectancy vs Health Expenditure</span>
        <div class="legend">
            <IgbLegend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>
    <div class="container vertical">
        <IgbDataChart Height="100%" Width="100%"
                   Legend="Legend"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <IgbNumericXAxis Name="xAxis" LabelFormat="${0}" Title="Health Expenditure"/>
            <IgbNumericYAxis Name="yAxis" LabelFormat="{0} years" Title="Life Expectancy"/>

            <IgbScatterSplineSeries XAxisName="xAxis"
                               YAxisName="yAxis"
                               DataSource="GermanyData"
                               XMemberPath="HealthExpense"
                               YMemberPath="LifeExpectancy"
                               Title="Germany"
                               MarkerType="MarkerType.Circle"/>

            <IgbScatterSplineSeries XAxisName="xAxis"
                               YAxisName="yAxis"
                               DataSource="FranceData"
                               XMemberPath="HealthExpense"
                               YMemberPath="LifeExpectancy"
                               Title="France"
                               MarkerType="MarkerType.Circle"/>

            <IgbScatterSplineSeries XAxisName="xAxis"
                               YAxisName="yAxis"
                               DataSource="LuxembourgData"
                               XMemberPath="HealthExpense"
                               YMemberPath="LifeExpectancy"
                               Title="Luxembourg"
                               MarkerType="MarkerType.Circle"/>
        </IgbDataChart>
    </div>
</div>

@code {

    private IgbLegend _legend;
    public IgbLegend Legend
    {
        get { return _legend; }
        set
        {
            _legend = value;
            StateHasChanged();
        }
    }

    private List<HealthInfo> GermanyData;
    private List<HealthInfo> FranceData;
    private List<HealthInfo> LuxembourgData;

    public void InitializeData()
    {
        var fullList = new HealthData();
        this.GermanyData = fullList.Where(c => c.Country == "Germany").ToList();
        this.FranceData = fullList.Where(c => c.Country == "France").ToList();
        this.LuxembourgData = fullList.Where(c => c.Country == "Luxembourg").ToList();
    }

    protected override void OnInitialized()
    {
        IgbLegendModule.Register(IgniteUIBlazor);
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartScatterModule.Register(IgniteUIBlazor);
        IgbDataChartScatterCoreModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbNumberAbbreviatorModule.Register(IgniteUIBlazor);

        InitializeData();
    }
}