@page "/MapTypeScatterContourSeries"

@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor;
@inject IJSRuntime JSRuntime;

<div class="igContainer">
    <div class="igOptions">
        @* TODO add options (if any) for IG control here otherwise remove DIV with igOptions *@
    </div>

    <div class="igComponent">
        <GeographicMap Height="100%" Width="100%" Zoomable="true">
        </GeographicMap>
    </div>
</div>

@code {

    //TODO - THIS SAMPLE IN REACT PARSES THE SHAPEDATASOURCE, NOT SURE IF WE ARE GOING THAT ROUTE OR HOW TO DO THIS IN BLAZOR

    private List<GeLocation> DataSource;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GeographicMapModule.Register(InfragisticsBlazor);

        DataSource = new List<GeLocation>();
    }

    public class GeLocation
    {
        public double Lat { get; set; }
        public double Lon { get; set; }
    }
}
