@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">

        <DataChart Height="100%" Width="100%"
                   Subtitle="Average Temperatures between 1900-2020"
                   SubtitleTopMargin="10"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <CategoryXAxis Name="xAxis" Label="Year" DataSource="Data"/>
            <NumericYAxis  Name="yAxis" Title="Temperature (in Celcius)"
                           TitleLeftMargin="10" />

            <RangeColumnSeries XAxisName="xAxis" Title="Temperature"
                               YAxisName="yAxis"
                               DataSource="Data"
                               LowMemberPath="Low"
                               HighMemberPath="High"
                               ShowDefaultTooltip="true"
                               IsTransitionInEnabled="true"
                               Thickness="1"
                               Brush="rgba(129, 66, 245, 0.7)"
                               Outline="rgba(129, 66, 245, 0.9)">
            </RangeColumnSeries>
        </DataChart>

    </div>
</div>

@code {

    private List<SampleRangeItem> Data;

    protected override void OnInitialized()
    {
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryModule.Register(IgniteUIBlazor);
        IgbDataChartCategoryCoreModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);

        Data = SampleRangeData.Create();
    }

}