@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="container vertical">

        <IgbDataChart Height="100%" Width="100%"
                   Subtitle="Average Temperatures between 1900-2020"
                   SubtitleTopMargin="10"
                   IsHorizontalZoomEnabled="false"
                   IsVerticalZoomEnabled="false">

            <IgbCategoryXAxis Name="xAxis" Label="Year" DataSource="Data"/>
            <IgbNumericYAxis  Name="yAxis" Title="Temperature (in Celcius)"
                           TitleLeftMargin="10" />

            <IgbRangeColumnSeries XAxisName="xAxis" Title="Temperature"
                               YAxisName="yAxis"
                               DataSource="Data"
                               LowMemberPath="Low"
                               HighMemberPath="High"
                               ShowDefaultTooltip="true"
                               IsTransitionInEnabled="true"
                               Thickness="1"
                               Brush="rgba(129, 66, 245, 0.7)"
                               Outline="rgba(129, 66, 245, 0.9)">
            </IgbRangeColumnSeries>
        </IgbDataChart>

    </div>
</div>

@code {

    private List<SampleRangeItem> Data;

    protected override void OnInitialized()
    {
        Data = SampleRangeData.Create();
    }

}