@using IgniteUI.Blazor.Controls;


<div class="container vertical">
    <div class="legend-title">
        Distribution of Online Traffic Worldwide, by Device
    </div>
    <div class="legend">
        <IgbLegend
        Orientation="LegendOrientation.Horizontal"
        Name="Legend"
        @ref="legend">
        </IgbLegend>
        
    </div>

    <div class="container vertical fill">
        <IgbDataChart
        IsHorizontalZoomEnabled="false"
        IsVerticalZoomEnabled="false"
        Name="chart"
        @ref="chart">
            <IgbCategoryXAxis
            DataSource="OnlineTrafficByDevice"
            Gap="0.75"
            Label="Category"
            Name="xAxis"
            @ref="xAxis">
            </IgbCategoryXAxis>
            
            <IgbNumericYAxis
            MinimumValue="0"
            Name="yAxis"
            @ref="yAxis">
            </IgbNumericYAxis>
            
            <IgbStacked100ColumnSeries
            XAxisName="xAxis"
            YAxisName="yAxis"
            DataSource="OnlineTrafficByDevice"
            AreaFillOpacity="1"
            ShowDefaultTooltip="true"
            Name="Stacked100ColumnSeries"
            @ref="stacked100ColumnSeries">
                <IgbStackedFragmentSeries
                Name="s1"
                @ref="s1"
                Title="@("Desktop")"
                ValueMemberPath="Desktop">
                </IgbStackedFragmentSeries>
                
                <IgbStackedFragmentSeries
                Name="s2"
                @ref="s2"
                ValueMemberPath="Mobile"
                Title="@("Mobile")">
                </IgbStackedFragmentSeries>
                
                <IgbStackedFragmentSeries
                Name="s3"
                @ref="s3"
                ValueMemberPath="Tablet"
                Title="@("Tablet")">
                </IgbStackedFragmentSeries>
                
            </IgbStacked100ColumnSeries>
            
            <IgbDataToolTipLayer
            Name="DataToolTipLayer"
            @ref="dataToolTipLayer">
            </IgbDataToolTipLayer>
            
        </IgbDataChart>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var legend = this.legend;
        var chart = this.chart;
        var xAxis = this.xAxis;
        var yAxis = this.yAxis;
        var stacked100ColumnSeries = this.stacked100ColumnSeries;
        var s1 = this.s1;
        var s2 = this.s2;
        var s3 = this.s3;
        var dataToolTipLayer = this.dataToolTipLayer;

        this.BindElements = () => {
            chart.Legend = this.legend;
        };
        this.BindElements();


	}

    private IgbLegend legend;
    private IgbDataChart chart;
    private IgbCategoryXAxis xAxis;
    private IgbNumericYAxis yAxis;
    private IgbStacked100ColumnSeries stacked100ColumnSeries;
    private IgbStackedFragmentSeries s1;
    private IgbStackedFragmentSeries s2;
    private IgbStackedFragmentSeries s3;
    private IgbDataToolTipLayer dataToolTipLayer;

    private OnlineTrafficByDevice _onlineTrafficByDevice = null;
    public OnlineTrafficByDevice OnlineTrafficByDevice
    {
        get
        {
            if (_onlineTrafficByDevice == null)
            {
                _onlineTrafficByDevice = new OnlineTrafficByDevice(); 
            }
            return _onlineTrafficByDevice;
        }
    }
    
}