@using IgniteUI.Blazor.Controls


<style>
    igc-expansion-panel {
        width: 500px;
        background-color: #18203b;
        color: white;
        border-radius: 8px;
    }

    igc-button::part(base) {
        color: #18203b;
    }

    igc-button::part(base)::before {
        background-color: #ffd351;
    }

    igc-expansion-panel::part(indicator) {
        color: #ffd351;
    }

    igc-expansion-panel::part(header) {
        background-color: #18203b;
    }

    igc-expansion-panel::part(title),
    igc-expansion-panel::part(subtitle) {
        color: #ffd351;
    }

    igc-button {
        display: flex;
        margin-top: 16px;
    }

    a {
        text-decoration: none;
    }

    img {
        width: 100%;
        margin-bottom: 8px;
        border-radius: 8px;
    }
</style>

<div class="container vertical">
    <IgbExpansionPanel IndicatorPosition="ExpansionPanelIndicatorPosition.End">
        <h1 slot="title">Golden Retriever</h1>
        <h3 slot="subtitle">Medium-large gun dog</h3>
        <img height="100" src="https://i.ibb.co/6ZdY7cn/Untitled-design-3.png" alt="">
        <span>
            The Golden Retriever is a medium-large gun dog that retrieves shot waterfowl, such as ducks
            and upland game birds, during hunting and shooting parties.[3] The name "retriever" refers to the breed's ability
            to retrieve shot game undamaged due to their soft mouth. Golden retrievers have an instinctive love of water, and
            are easy to train to basic or advanced obedience standards.
        </span>
        <IgbButton href="https://en.wikipedia.org/wiki/Golden_Retriever" Variant="ButtonVariant.Contained" Target="ButtonBaseTarget._blank">Read more</IgbButton>
    </IgbExpansionPanel>
</div>