@using IgniteUI.Blazor.Controls;


@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">




    <div class="container vertical fill">
        <IgbGrid
        Data="CustomersData"
        GroupingExpressions="Infragistics.Controls.Description.CodeGenerationItemBuilder"
        PrimaryKey="CompanyName"
        RowEditable="true"
        AllowFiltering="true"
        BatchEditing="true"
        Name="grid"
        @ref="grid">
            <IgbColumn
            Field="ID"
            Filterable="false"
            Width="150px"
            RowEnd="3"
            RowStart="1"
            ColStart="1">
            </IgbColumn>
            
            <IgbColumn
            Field="CompanyName"
            RowStart="1"
            ColStart="1"
            Width="350px"
            Header="Company Name"
            ColEnd="3"
            Sortable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="ContactName"
            RowStart="2"
            ColStart="1"
            Header="Contact Name"
            ColEnd="2"
            Groupable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="ContactTitle"
            RowStart="3"
            ColStart="2"
            Header="Contact Title"
            ColEnd="2"
            Groupable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="Country"
            RowStart="3"
            ColStart="1"
            Filterable="false"
            Width="220px"
            ColEnd="3"
            Groupable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="Region"
            RowStart="1"
            ColStart="3"
            Filterable="false"
            Width="220px"
            ColEnd="5"
            Groupable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="PostalCode"
            RowStart="1"
            ColStart="5"
            Filterable="false"
            Width="220px"
            ColEnd="7"
            Groupable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="City"
            RowStart="2"
            ColStart="1"
            Filterable="false"
            Width="220px"
            ColEnd="4"
            Groupable="true">
            </IgbColumn>
            
            <IgbColumn
            Field="Address"
            RowStart="2"
            ColStart="4"
            Filterable="false"
            ColEnd="7">
            </IgbColumn>
            
            <IgbColumn
            Field="Phone"
            RowStart="1"
            ColStart="1"
            Filterable="false"
            Width="220px"
            ColEnd="2">
            </IgbColumn>
            
            <IgbColumn
            Field="Fax"
            RowStart="2"
            ColStart="1"
            Filterable="false"
            Width="220px"
            ColEnd="2">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override void OnInitialized()
    {
    }

    private Action BindElements { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        var grid = this.grid;

        this.BindElements = () => {
        };
        this.BindElements();
    }

    private IgbGrid grid;

    private CustomersData _customersData = null;
    public CustomersData CustomersData
    {
        get
        {
            if (_customersData == null)
            {
                _customersData = new CustomersData(); 
            }
            return _customersData;
        }
    }
    
}