@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="PlayersData"
        Name="grid1"
        @ref="grid1">
            <IgbGridToolbar
            >
                <IgbGridToolbarActions
                >

                    <IgbButton onclick="clearSort()">Clear Sort</IgbButton>

                    <IgbGridToolbarHiding
                    >
                    </IgbGridToolbarHiding>

                    <IgbGridToolbarPinning
                    >
                    </IgbGridToolbarPinning>
                </IgbGridToolbarActions>

            </IgbGridToolbar>

            <IgbColumn
            Field="Name"
            Header="Athlete"
            Width="200px"
            Sortable="true">
            </IgbColumn>

            <IgbColumn
            Field="CountryName"
            Header="Country"
            Width="200px"
            Sortable="true">
            </IgbColumn>

            <IgbColumn
            Field="BeatsPerMinute"
            Header="Beats Per Minute"
            Sortable="true">
            </IgbColumn>

            <IgbColumn
            Field="TopSpeed"
            Header="Top Speed"
            Sortable="true">
            </IgbColumn>

            <IgbColumn
            Field="AthleteNumber"
            Header="ID"
            Sortable="true">
            </IgbColumn>

            <IgbColumn
            Field="TrackProgress"
            Header="Progress"
            Sortable="true">
            </IgbColumn>

        </IgbGrid>

    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid1 = this.grid1;

    }

    private IgbGrid grid1;
   
    private PlayersData _PlayersData = null;
    public PlayersData PlayersData
    {
        get
        {
            if (_PlayersData == null)
            {
                _PlayersData = new PlayersData();
            }
            return _PlayersData;
        }
    }

}