@using IgniteUI.Blazor.Controls;

@inject IIgniteUIBlazor IgniteUIBlazor
@inject IJSRuntime JS

<div class="container vertical">

    <div class="container vertical fill">
        <IgbGrid
        AutoGenerate="false"
        Data="AthletesData"
        Name="grid1"
        @ref="grid1">
            <IgbGridToolbar
            >
                <IgbGridToolbarActions
                >
                    <IgbGridToolbarHiding
                    >
                    </IgbGridToolbarHiding>
                    
                    <IgbGridToolbarPinning
                    >
                    </IgbGridToolbarPinning>
                    
                </IgbGridToolbarActions>
                
            </IgbGridToolbar>
            
            <IgbColumn
            Field="Name"
            Header="Athlete"
            Width="200px">
            </IgbColumn>
            
            <IgbColumn
            Field="CountryName"
            Header="Country"
            Width="200px">
            </IgbColumn>
            
            <IgbColumn
            Field="BeatsPerMinute"
            Header="Beats Per Minute">
            </IgbColumn>
            
            <IgbColumn
            Field="TopSpeed"
            Header="Top Speed">
            </IgbColumn>
            
            <IgbColumn
            Field="AthleteNumber"
            Header="ID">
            </IgbColumn>
            
            <IgbColumn
            Field="TrackProgress"
            Header="Progress">
            </IgbColumn>
            
        </IgbGrid>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

        await Task.Delay(1);
    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var grid1 = this.grid1;

        this.BindElements = () => {
        };
        this.BindElements();

        if (firstRender) {
        }

        await Task.Delay(1);
	}

    private IgbGrid grid1;

    private AthletesData _athletesData = null;
    public AthletesData AthletesData
    {
        get
        {
            if (_athletesData == null)
            {
                _athletesData = new AthletesData(); 
            }
            return _athletesData;
        }
    }
    
}