@page "/"
@page "/home"
@page "/index"
@page "/samples"
@page "/samples/home"
@page "/samples/index"

<div class="igContainer">
    <div class="igComponent">
        This web application demonstrates samples for Infragistics Blazor Controls running on client-side
    </div>
</div>