@page "/"
@page "/home"
@page "/index"

<div class="igContainer">
    <div class="igOptions-horizontal">
        igOptions-horizontal
    </div>
    <div class="igComponent">
        HOME
    </div>
</div>