@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options horizontal">
        <span class="legend-title">Annual working hours vs. GDP per capita, 2015</span>
    </div>
    <div class="container vertical">
        <DataChart Height="100%" Width="100%"
                   IsHorizontalZoomEnabled="true"
                   IsVerticalZoomEnabled="true">

            <NumericXAxis Name="xAxis" Title="GDP Per Capita" MaximumValue="100000" Interval="50000" AbbreviateLargeNumbers="true" />
            <NumericYAxis Name="yAxis" Title="Average Hours Worked" AbbreviateLargeNumbers="true" MinimumValue="1400.00" MaximumValue="2400.00" Interval="200" />

            <BubbleSeries XAxisName="xAxis"
                          YAxisName="yAxis"
                          DataSource="Data"
                          XMemberPath="GDPPerCapita"
                          YMemberPath="AverageHoursWorked"
                          MarkerType="MarkerType.Circle"
                          RadiusScale="@SizeScale"
                          RadiusMemberPath="TotalPopulation">
            </BubbleSeries>
        </DataChart>
    </div>
</div>

@code {

    private List<GdpVsWorkRateInfo> Data = new GdpVsWorkRateData();
    private SizeScale SizeScale = new SizeScale { MinimumValue = 10, MaximumValue = 50 };

    protected override void OnInitialized()
    {
        IgbDataChartCoreModule.Register(IgniteUIBlazor);
        IgbDataChartScatterModule.Register(IgniteUIBlazor);
        IgbDataChartScatterCoreModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);
        IgbNumberAbbreviatorModule.Register(IgniteUIBlazor);
    }
}