/* 
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css//samples/
*/

igc-badge {
  --size: 18px;

  position: relative;
  right: 12px;
}

igc-avatar {
  margin-top: 6px;
}
