<div class="sb-sidebar-header">
    <div>Blazor Samples</div>
</div>

<div id="sb-sidebar-list" @onclick="ToggleNavMenu">

    <NavLink class="sb-sidebar-home" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span>Home
    </NavLink>

    <NavLink class="sb-sidebar-link" href="RadialGaugeTypeDirection">
        <span class="oi oi-media-play" aria-hidden="true"></span> RadialGaugeTypeDirection
    </NavLink>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
