@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">
        <GeographicMap Height="100%" Width="100%" Zoomable="true">
            <GeographicPolylineSeries ShapefileDataSource="Data"
                                      ShapeFilterResolution="0.0"
                                      ShapeStrokeThickness="3"
                                      ShapeStroke="rgb(82, 82, 82, 0.4)"/>
        </GeographicMap>
    </div>
</div>

@code {

    private ShapeDataSource Data;

    protected override void OnInitialized()
    {
        IgbGeographicMapModule.Register(IgniteUIBlazor);
        IgbDataChartInteractivityModule.Register(IgniteUIBlazor);

        this.Data = new ShapeDataSource()
        {
            ShapefileSource = "https://static.infragistics.com/xplatform/shapes/WorldCableRoutes.shp",
            DatabaseSource = "https://static.infragistics.com/xplatform/shapes/WorldCableRoutes.dbf"
        };
    }
}