/*
CSS styles are loaded from the shared CSS file located at:
https://static.infragistics.com/xplatform/css/samples/
*/

#hierarchicalGrid1 {

    --ig-button-background: #292826;
    --ig-button-foreground:#ffcd0f;
    --ig-button-hover-foreground:#292826;
    --ig-button-hover-background:#ffcd0f;
    --ig-button-focus-foreground:#ffcd0f;
    --ig-button-focus-background:#292826;
    --ig-button-active-background:#ffcd0f;
    --ig-button-active-foreground:#292826;
    --ig-button-border-color:#ffcd0f;
    --ig-button-hover-border-color:#ffcd0f;
    --ig-button-focus-border-color:#ffcd0f;
    --ig-button-active-border-color:#ffcd0f;

    --ig-button-group-item-background:  #292826;
    --ig-button-group-item-text-color: #ffcd0f;
    --ig-button-group-item-border-color: #ffcd0f;
    --ig-button-group-item-selected-background: #ffcd0f;
    --ig-button-group-item-hover-background: #ffcd0f;
    --ig-button-group-item-selected-hover-background: #ffcd0f;
    --ig-button-group-item-disabled-border: #ffcd0f;
    --ig-button-group-item-selected-border-color: #ffcd0f;

    --ig-input-group-idle-text-color: #ffcd0f;
    --ig-input-group-focused-text-color: #ffcd0f;
    --ig-input-group-filled-text-color: #ffcd0f;
    --ig-input-group-idle-bottom-line-color: #ffe482;
    --ig-input-group-focused-secondary-color: #ffcd0f;

    --ig-chip-background: #ffcd0f;
    --ig-chip-text-color: #292826;

    --ig-drop-down-background-color: #292826;
    --ig-drop-down-item-text-color: #ffcd0f;
    --ig-drop-down-hover-item-background: #ffcd0f;
    --ig-drop-down-hover-item-text-color: #292826;
    --ig-drop-down-focused-item-background: #ffcd0f;
    --ig-drop-down-focused-item-text-color: #292826;
    --ig-drop-down-selected-item-background: #ffcd0f;
    --ig-drop-down-selected-item-text-color: #292826;
    --ig-drop-down-selected-focus-item-background: #ffcd0f;
    --ig-drop-down-selected-focus-item-text-color: #292826;
    --ig-drop-down-selected-hover-item-background: #ffcd0f;
    --ig-drop-down-selected-hover-item-text-color: #292826;

    --ig-query-builder-header-foreground: #EDEDED;
    --ig-query-builder-header-background: gray;
    --ig-query-builder-background: #292826;
    --ig-query-builder-foreground: #ffcd0f;
}

* {
    --background-or: red;
    --filtering-row-background: #292826;
}

