@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="container vertical">

        <DataChart Height="100%" Width="100%"
                   Subtitle="Stock Prices Series in Candlestick Display Type"
                   SubtitleTopMargin="10"
                   IsHorizontalZoomEnabled="true"
                   IsVerticalZoomEnabled="true">

            <CategoryXAxis Name="xAxis" Label="Label" DataSource="Data" />
            <NumericYAxis  Name="yAxis" Title="Amount (in USD)" TitleRightMargin="10"
                           LabelRightMargin="10"
                           LabelHorizontalAlignment="HorizontalAlignment.Left"
                           LabelLocation="AxisLabelsLocation.OutsideRight" />

            <FinancialPriceSeries XAxisName="xAxis"
                                  YAxisName="yAxis"
                                  DataSource="Data"
                                  DisplayType="PriceDisplayType.Candlestick"
                                  OpenMemberPath="Open"
                                  CloseMemberPath="Close"
                                  HighMemberPath="High"
                                  LowMemberPath="Low"
                                  VolumeMemberPath="Volume"
                                  ShowDefaultTooltip="true"
                                  IsTransitionInEnabled="true"
                                  Brush="rgba(2, 199, 74, 1.0)"
                                  Outline="rgba(2, 199, 74, 1.0)"
                                  Title="Price" />

        </DataChart>

    </div>
</div>

@code {

    private List<SampleFinancialItem> Data;

    protected override void OnInitialized()
    {
        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartCategoryModule.Register(IgniteUIBlazor);
        DataChartCategoryCoreModule.Register(IgniteUIBlazor);

        DataChartFinancialModule.Register(IgniteUIBlazor);
        DataChartFinancialCoreModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);

        Data = SampleFinancialData.Create();


    }
}