/* 
CSS styles are loaded from the shared CSS file located at:
https://dl.infragistics.com/x/css//samples/
*/

.sample {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 16px;
}

.sample.center {
    align-content: flex-start;
    justify-content: flex-start;
    min-height: 0;
    height: auto;
}

.badge-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.badge-wrapper span {
    color: var(--ig-gray-700);
    font-size: 14px;
}

.size-small {
    --component-size: 1;
}

.size-medium {
    --component-size: 2;
}

.size-large {
    --component-size: 3;
}
