@using IgniteUI.Blazor.Controls

<div class="container vertical">
    <div class="legend">
        <IgbDataLegend
        Name="legend"
        @ref="legend"
        IncludedColumns="@(new string[] { "Open", "Close", "High", "Low", "Change" })"
        LabelTextColor="#4a4a4a"
        UnitsText="K"
        UnitsTextColor="#00ad03"
        UnitsTextFontFamily="Verdana"
        UnitsTextFontWeight="Bold"
        ValueFormatMode="DataLegendValueMode.Currency"
        ValueTextColor="#00ad03"
        ValueTextFontFamily="Verdana"
        ValueTextFontWeight="Bold">
        </IgbDataLegend>

    </div>
    <div class="container vertical fill">
        <IgbFinancialChart
        Name="chart"
        @ref="chart"
        IsVerticalZoomEnabled="true"
        IsHorizontalZoomEnabled="true"
        DataSource="StockGoogle"
        ToolTipType="ToolTipType.None"
        YAxisTitle="Thousands of Dollars ($)"
        ZoomSliderType="FinancialChartZoomSliderType.None">
        </IgbFinancialChart>

    </div>
</div>

@code {

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var legend = this.legend;
        var chart = this.chart;

        this.BindElements = () => {
            legend.Target = this.chart;
        };
        this.BindElements();

    }

    private IgbDataLegend legend;
    private IgbFinancialChart chart;

    private StockGoogle _stockGoogle = null;
    public StockGoogle StockGoogle
    {
        get
        {
            if (_stockGoogle == null)
            {
                _stockGoogle = new StockGoogle();
            }
            return _stockGoogle;
        }
    }

}