@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options vertical">
        <span class="legend-title">Renewable Electricity Generated</span>
        <div class="legend">
            <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
        </div>
    </div>

    <div class="container vertical">
        @if (Data != null)
        {
            // note MarkerTypes property is set in code-behind
            <CategoryChart @ref="Chart" Height="100%" Width="100%"
                           DataSource="Data"
                           ChartType="CategoryChartType.Line"
                           IsHorizontalZoomEnabled="false"
                           IsVerticalZoomEnabled="false"
                           Legend="Legend"
                           YAxisTitle="TWh"
                           YAxisTitleLeftMargin="10"
                           YAxisLabelLeftMargin="0"
                           Thickness="2"
                           MarkerOutlines="#FFFFFF"
                           MarkerBrushes="#ee5879, #c4c4c4, #9af2e4"
                           Brushes="#ee5879, #c4c4c4, #9af2e4">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<EnergyRenewableInfo> Data = new EnergyRenewableData();

    private CategoryChart Chart;

    private Legend _Legend;
    private Legend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    protected override void OnInitialized()
    {
        IgbCategoryChartModule.Register(IgniteUIBlazor);
        IgbLegendModule.Register(IgniteUIBlazor);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (this.Chart != null && !firstRender)
        {
            this.Chart.MarkerTypes.Clear();
            this.Chart.MarkerTypes.Add(MarkerType.Circle);
        }
    }

}