
@using IgniteUI.Blazor.Controls



<div class="container vertical">
    <div class="container vertical">
            <IgbFinancialChart Width="100%"
                Height="100%"
                ChartType=FinancialChartType.Line
                Thickness="2"
                XAxisMode="FinancialChartXAxisMode.Ordinal"
                YAxisMode="FinancialChartYAxisMode.Numeric"
                YAxisExtent="60"
                DataSourceScript="getFCHighVolumeData"
                />
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dateStart = DateTime.Now.AddYears(-20);
            var dateEnd = DateTime.Now.Date;

            await IgniteUIBlazor.JsRuntime.InvokeVoidAsync("setFCGenerationRange", dateStart, dateEnd);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

}