
@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <div class="container vertical">
        <IgbRadialGauge Height="100%" Width="100%"
                     
                     ScaleStartAngle="135"
                     ScaleEndAngle="45"
                     ScaleBrush="#DDDDDD"
                     TitleDisplaysValue=true
                     SubtitleText="MPH"
                     MinimumValue="0"
                     MaximumValue="80"
                     Value="50"
                     Interval="10">
        </IgbRadialGauge>
    </div>
</div>

@code {

}