@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor

<div class="igContainer">
    <div class="igComponent">
        <GeographicMap Height="100%" Width="100%" Zoomable="true">
            @for (int i = 0; i < this.DataSource.Count; i++)
            {
                FlightInfo info = this.DataSource[i];
                List<WorldCity> symbolData = new List<WorldCity>() { info.Origin, info.Dest };

                GeoLocation geoOrigin = new GeoLocation() { Lat = info.Origin.Lat, Lon = info.Origin.Lon };
                GeoLocation geoDest = new GeoLocation() { Lat = info.Dest.Lat, Lon = info.Dest.Lon };

                List<List<Point>> geoPath = WorldUtils.CalcPaths(geoOrigin, geoDest);
                double geoDistance = WorldUtils.CalcDistance(geoOrigin, geoDest);

                Console.WriteLine("Origin" + info.Origin);
                Console.WriteLine("Destination" + info.Dest);

                FlightInfo route = new FlightInfo()
                {
                    Points =  geoPath,
                    Origin = info.Origin,
                    Dest = info.Dest,
                    Distance = geoDistance,
                    Time = geoDistance / 850
                };

                List<FlightInfo> geoRoute = new List<FlightInfo>() { route };

                <GeographicSymbolSeries DataSource="@symbolData" MarkerType="MarkerType.Circle"
                                        LatitudeMemberPath="Lat" LongitudeMemberPath="Lon"
                                        MarkerBrush="White" MarkerOutline="@info.Color"
                                        Thickness="1">
                </GeographicSymbolSeries>

                <GeographicPolylineSeries DataSource="@geoRoute" ShapeMemberPath="Points"
                                          ShapeStrokeThickness="9" ShapeOpacity="0.5"
                                          ShapeStroke="@info.Color">
                </GeographicPolylineSeries>
            }

        </GeographicMap>
    </div>
</div>

@code {

    private List<FlightInfo> DataSource;

    protected override void OnInitialized()
    {
        GeographicMapModule.Register(InfragisticsBlazor);

        WorldCity cityDAL = new WorldCity() { Lat = 32.763, Lon = -96.663, Country = "US", Name = "Dallas" };
        WorldCity citySYD = new WorldCity() { Lat = -33.889, Lon = 151.028, Country = "Australia", Name = "Sydney" };
        WorldCity cityNZL = new WorldCity() { Lat = -36.848, Lon = 174.763, Country = "New Zealand", Name = "Auckland" };
        WorldCity cityQTR = new WorldCity() { Lat = 25.285, Lon = 51.531, Country = "Qatar", Name = "Doha" };
        WorldCity cityPAN = new WorldCity() { Lat = 8.949, Lon = -79.400, Country = "Panama", Name = "Panama" };
        WorldCity cityCHL = new WorldCity() { Lat = -33.475, Lon = -70.647, Country = "Chile", Name = "Santiago" };
        WorldCity cityJAP = new WorldCity() { Lat = 35.683, Lon = 139.809, Country = "Japan", Name = "Tokyo" };
        WorldCity cityALT = new WorldCity() { Lat = 33.795, Lon = -84.349, Country = "US", Name = "Atlanta" };
        WorldCity cityJOH = new WorldCity() { Lat = -26.178, Lon = 28.004, Country = "South Africa", Name = "Johannesburg" };
        WorldCity cityNYC = new WorldCity() { Lat = 40.750, Lon = -74.0999, Country = "US", Name = "New York" };
        WorldCity citySNG = new WorldCity() { Lat = 1.229, Lon = 104.177, Country = "Singapore", Name = "Singapore" };
        WorldCity cityMOS = new WorldCity() { Lat = 55.750, Lon = 37.700, Country = "Russia", Name = "Moscow" };
        WorldCity cityROM = new WorldCity() { Lat = 41.880, Lon = 12.520, Country = "Italy", Name = "Roma" };
        WorldCity cityLAX = new WorldCity() { Lat = 34.000, Lon = -118.25, Country = "US", Name = "Los Angeles" };

        this.DataSource = new List<FlightInfo>() {
            new FlightInfo(){ Origin = cityDAL, Dest = citySNG, Color = "Green" },
            new FlightInfo(){ Origin = cityMOS, Dest = cityNZL, Color = "Red" },
            new FlightInfo(){ Origin = cityCHL, Dest = cityJAP, Color = "Blue" },
            new FlightInfo(){ Origin = cityPAN, Dest = cityROM, Color = "Orange" },
            new FlightInfo(){ Origin = cityALT, Dest = cityJOH, Color = "Black" },
            new FlightInfo(){ Origin = cityNYC, Dest = cityQTR, Color = "Purple" },
            new FlightInfo(){ Origin = cityLAX, Dest = citySYD, Color = "Gray" },
        };
    }
}