@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">

    <div class="igComponent">
        <GeographicMap Height="100%" Width="100%" Zoomable="true">
        </GeographicMap>
    </div>
</div>

@code {

    private List<GeLocation> Data;

    protected override void OnInitialized()
    {
        GeographicMapModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);

        Data = new List<GeLocation>();
    }

    public class GeLocation
    {
        public double Lat { get; set; }
        public double Lon { get; set; }
    }
}