@page "/SampleVertical"



<div class="igContainer-vertical">

    <div class="igComponent">
        igComponent 1
    </div>
    <div class="igComponent">
        igComponent 2
    </div>
    <div class="igComponent">
        igComponent 3
    </div>
</div>