@page "/SampleWithTimer"

@* this namespace is required for Infragistics controls *@
@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor

@inject Samples.Shared.Services.SampleTimer Timer

<div class="igContainer">
    <div class="igOptions">
        @* TODO add options (if any) for IG control here otherwise remove DIV with igOptions *@
        <button @onclick="StartTimer">Start Timer</button>
        <button @onclick="StopTimer">Stop Timer</button>
    </div>

    <div class="igComponent">

        @* TODO add IG control here *@
        <p>Current count: @CurrentCount</p>
    </div>
</div>
 
@code {

    private int CurrentCount;

    protected override void OnInitialized()
    {
        Console.WriteLine("Sample OnInitialized...");

        CurrentCount = 10;
    }

    // NOTE here is example of even handler that update a field that is bound in HTML code above
    protected void StartTimer()
    {
        Console.WriteLine("Sample StartTimer");

        Timer.Start(1000);
        Timer.OnTick += OnTimerTick;
    }

    private void OnTimerTick()
    {
        CurrentCount++;
        //Console.WriteLine("Sample OnTimerTick " + CurrentCount);
        this.StateHasChanged();
    }

    protected void StopTimer()
    {
        Console.WriteLine("Sample StopTimer");

        Timer.Stop();
        CurrentCount = 0;

    }
}
