
@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <IgbRadioGroup>
        <IgbRadio LabelPosition="RadioLabelPosition.Before" Value="apple">Apple</IgbRadio>
        <div style="display: flex; align-items: center">
            <span id="radio-label">Label</span>
            <IgbRadio LabelPosition="RadioLabelPosition.Before"
                       AriaLabelledby="radio-label"
                       Value="orange"></IgbRadio>
        </div>
    </IgbRadioGroup>
</div>

@code {

}